.p-share_channel_dialog__contents {
  .error {
    border: 2px solid $orange !important;
    border-left: 4px solid $orange !important;
  }
}

#fs_modal .p-share_channel_dialog__subheading {
  color: $textDim !important;
}

.p-share_channel_dialog__team_url_suffix {
  background: $bg !important;
  border: 1px solid $bgLight !important;
  border-left: none !important;
}

.p-share_channel_dialog__custom_message_user {
  background: $bg !important;
}

.p-share_channel_dialog__channel_options_header {
  border-bottom: 1px solid $bgLight !important;
  color: $text !important;
}

.p-share_channel_dialog__free_trial_wrapper {
  background-color: $primaryT !important;
}

.unknown_channel {
  background: $bg2 !important;
}