{
  "plugins": ["stylelint-prettier"],
  "rules": {
    "prettier/prettier": true,
    "color-hex-length": "short",
    "string-quotes": "single",
    "number-leading-zero": "always",
    "selector-list-comma-newline-after": "always"
  }
}
