#client-ui .file_list_item,
.tab_container .file_list_item {
  color: $text;

  &:hover, &:focus {
    background: $bgHover;
    color: $textBright;
  }

  // File card
  &.file_list_item--redesign {
    border-color: $borderDim !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  }

  // File card contents
  .contents {
    .title {
      color: $textBright;
    }

    .member,
    .message_sender,
    .service_link,
    .share_info,
    .time {
      color: $textSpecial;
    }
  }

  .star {
    color: $text;
  }
  .star.starred,
  .star:hover {
    color: $yellow;
  }
}

.file_list_item {
  background: $bg !important;
}

// The tabs
.toolbar_container {
  background: $bg !important;
  border-bottom: none;
  color: $text !important;
  @include shadow;
}

#file_list_container {
  background: $bg2;
}

.filetype_icon.email.s30:before,
.filetype_icon.email.s48:before,
.ts_icon_file_email:before {
  color: $primary !important;
}

.searchable_member_list {
  .team_list_item:hover {
    background: none !important;
  }
  .list_items {
    .c-member__display-name {
      color: $text;
    }
  }
}

// Various buttons
#file_comment_submit_btn:after,
#file_listing_bottom_button:after {
  border: 1px solid $borderDim;
}

#file_list_toggle button {
  color: $text !important;
}

.upload_actions .dialog_go {
  color: $text;
  border-color: $borderDim;
  &:after {
    border: 1px solid $borderDim !important;
  }
}

.file_container .preview_actions .btn {
  background: $bg !important;
  color: $text !important;
}
