@import "core/animations";

h1, h2, h3, h4 {
  color: $text;
}

textarea,
input[type="text"],
#file_comment_textarea {
  background-color: $bg !important;
  border-color: $borderDim !important;
  color: $text !important;

  &:focus {
    border-color: $primary !important;
    color: $textBright !important;
  }
}

/* Snippets */
select {
  background-color: $bg;
  color: $text;
  border-color: $borderDim;
}

hr {
  border-top: 1px solid $border;
}

a, a:link, a:visited {
  color: $textSpecial;

  &:hover {
    color: $textSpecial;
  }
}

code {
  color: $textSpecial !important;
  background-color: $bg2 !important;
  border-color: $borderDim !important;
}

pre {
  background: $bg2 !important;
  color: $text !important;
  border-color: $borderDim !important;
}

.btn_link {
  color: $primary !important;
}

// Override custom colors
.sk_fill_blue_bg,
.blue_fill_bg,
.seafoam_green_bg,
.mustard_yellow_bg {
  background: $accent !important;
}

.blue_fill,
.charcoal_grey,
.blue_link,
.indifferent_grey {
  color: $primary !important;
}

.subtle_silver {
  color: $text !important;
}

.greigh {
  color: $text !important;
}

.c-keyboard_key {
  background: $bg;
  border-color: $borderDim;
  box-shadow: 0 1px $borderDim;
  color: $text;
}

.c-button, .c-button--outline {
  background: $bg;
  color: $text;
  box-shadow: inset 0 0 0 1px $borderDim;
}

// Presence Indicators
.presence {
  color: $text;
  &.active {
    color: $green;
  }
}

// Spinners
.ts_icon_spin.ts_icon_spinner:empty,
svg.ts_icon_spinner:empty {
  filter: invert(50%);
}

.bottom_border {
  border-bottom-color: $borderDim !important;
}

.top_border {
  border-top-color: $borderDim !important;
}

// toggles
.ts_toggle {
  .ts_toggle_button {
    background: $bg2;
  }

  .ts_toggle_secondary_label {
    color: $text;
  }

  &.checked {
    .ts_toggle_button {
      background: $accent;
    }

    .ts_toggle_secondary_label {
      color: $textBright;
    }
  }
}

// btns
.btn,
.btn.dialog_go,
.btn_outline {
  background: $bg2 !important;
  color: $text !important;
  border-color: $borderDim !important;

  &:hover {
    background: $bgHover !important;
    color: $primary !important;
    border-color: $border !important;
  }

  &:hover::after {
    color: $primary !important;
    border-color: $border !important;
  }

  &.btn_green {
    background: $primary !important;
    color: $textBright !important;
  }
}

.lazy_filter_select .lfs_input_container {
  border-color: $borderDim !important;
  background: $bg !important;
  color: $text !important;
}

.ql-placeholder {
  color: $text !important;
}

.close_flexpane {
  color: $text !important;
}

.disclosure_triangle {
  color: $text !important;
}

// Highlight words
.c-mrkdwn__mention,
.c-mrkdwn__member--mention,
.c-mrkdwn__broadcast--mention,
.c-mrkdwn__subteam--mention,
.c-mrkdwn__member--link,
.c-mrkdwn__subteam--link,
ts-mention {
  background: $accent;
  color: $textAccent !important;
  padding: 4px;
  &:hover {
    background: $accent;
    color: $textAccent !important;
    opacity: 0.8;
  }
}

// reactions
.c-reaction {
  background: $bg2;
  color: $textAccent !important;
  border: none;
  &:hover {
    background: $bgHover;
    color: $textAccent !important;
  }
  .c-reaction__count {
    color: $primary !important;
  }

  .c-reaction_add {
    background: $bg2;
    border-color: $borderDim;
  }
}

// Label for bots
.bot_label {
  padding: 0 4px !important;
  border-radius: 3px !important;
  border: 1px solid $border;
  color: $textAccent !important;
  background: $primary !important;
}

// New messages banner
.p-message_pane__unread_banner__banner {
  background: $accent !important;
  color: $textBright !important;
}

// unread
.c-message_list__unread_divider {
  &__separator {
    border-color: $red2 !important;
  }

  &__label {
    background: $red2 !important;
    color: $textBright !important;
  }
}

// Snippets, formatting...
#snippet_prompt,
#special_formatting_text,
#typing_text {
  color: $textDim;
}

.member_details_divider {
  border-color: $borderDim !important;
}

// Don't know what are these but they look like mentions
.feature_name_tagging_client {
  .app_preview_link_slug,
  .internal_member_link,
  .internal_user_group_link,
  ts-mention {
    background-color: $accent !important;
    color: $textAccent !important;
  }
}

.very_small_bottom_margin {
  color: $textBright !important;
}

.color_ea2977 {
  color: $primary !important;
}

.close,
.ts_icon_close_filled {
  color: $primary !important;
}
