#msg_input {
  background: transparent !important;
  color: $text !important;
  border-color: $borderDim !important;

  &.offline {
    background-color: $red !important;
  }
}

#msg_input::-webkit-input-placeholder {
  color: $text !important;
}
