.client_container {
  background: $bg !important;
}

@import "main/channel-list";
@import "main/channel-main";
@import "main/channel-details";
@import "main/footer";

.p-message_pane .c-message_list:not(.c-virtual_list--scrollbar):before,
.p-message_pane .c-message_list.c-virtual_list--scrollbar > .c-scrollbar__hider:before {
  border-bottom-color: $borderDim !important;
  background: $bg;
}
