// Menu at the top right
.menu {
  background: $bg2;
  color: $text;
  border-color: $borderDim;

  #monkey_scroll_wrapper_for_menu_items_scroller {
    background: $bg !important;
  }

  .monkey_scroll_bar {
    background: $bg !important;
  }

  .monkey_scroll_handle_inner {
    background: $bg !important;
    border-color: $border !important;
  }

  #menu_items_scroller {
    background: $bg2 !important;
  }

  .section_header .header_label {
    color: $text !important;
    background-color: $bg2 !important;
  }

  .section_header hr {
    border-color: transparent;
  }

  #menu_items {
    .flexpane_menu_item {
      a, a:not(.disabled) {
        background: $bg2 !important;
        color: $text !important;
        border-color: $borderDim !important;
      }
    }

    .flexpane_menu_item.highlighted,
    .flexpane_menu_item:hover {
      a, a:not(.disabled) {
        background: $bgHover !important;
        color: $text !important;
        border: none !important;
      }
    }

    .member_jump_item {
      &:hover a {
        background: $bgHover;
        color: $textBright;
      }
    }

    li {
      a {
        color: $text !important;
      }
      &:hover a {
        background: $bgHover !important;
        color: $textBright !important;
      }
    }
  }

  // Menu section
  .slack_menu_section {
    background: $bg2 !important;
    &::before {
      border-top-color: $borderDim;
    }

    .slack_menu_header_primary,
    .slack_menu_header_secondary {
      color: $textBright;
    }

    .menu_list li {
      &:hover {
        background: $bgHover;
        a {
          background: $bgHover !important;
          color: $textBright;
        }
      }
      a {
        color: $text !important;
      }
    }

  }
}
