@import url('https://fonts.googleapis.com/css?family=Bad+Script|Rajdhani');

:root {
  /* Modify these to change your theme colors: */
  --primary: #E5C17C;
  --accent: #568AF2;
  --text: #ABB2BF;
  --background: #282C34;
  --background-elevated: #3B4048;

  /* These should be less important: */
  --background-hover: lighten(#3B4048, 10%);
  --background-light: #AAA;
  --background-bright: #FFF;

  --border-dim: #666;
  --border-bright: var(--primary);

  --text-bright: #FFF;
  --text-dim: #555c69;
  --text-special: var(--primary);
  --text-accent: var(--text-bright);

  --scrollbar-background: #000;
  --scrollbar-border: var(--primary);

  --yellow: #fc0;
  --green: #98C379;
  --cyan: #56B6C2;
  --blue: #61AFEF;
  --purple: #C678DD;
  --red: #E06C75;
  --red2: #BE5046;
  --orange: #D19A66;
  --orange2: #E5707B;
  --gray: #3E4451;
  --silver: #9da5b4;
  --black: #21252b;
}

$primary: var(--primary);
$accent: var(--accent);
$text: var(--text);
$bg: var(--background);
$bg2: var(--background-elevated);
$bgHover: var(--background-hover);
$bgLight: var(--background-light);
$bgBright: var(--background-bright);
$borderDim: var(--border-dim);
$border: var(--border-bright);
$textBright: var(--text-bright);
$textDim: var(--text-dim);
$textSpecial: var(--text-special);
$textAccent: var(--text-accent);

$yellow: var(--yellow);
$green: var(--green);
$cyan: var(--cyan);
$blue: var(--blue);
$purple: var(--purple);
$red: var(--red);
$red2: var(--red2);
$orange: var(--orange);
$orange2: var(--orange2);
$gray: var(--gray);
$silver: var(--silver);
$black: var(--black);

@mixin shadow {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

@import "general";
@import "banner";
@import "teampicker";
@import "dropzone";
@import "popups";
@import "popovers";
@import "loading";
@import "main";

@import "file-list";
@import "datepicker";
@import "menu";
@import "scrollbar";
@import "modals";
@import "emoji";
@import "main/input";
@import "new_channel";
@import "jumper";

@import "threads";

@import "codemirror";

/* Channels */
.creator_link,
.creator_link:hover,
.channel_link {
  color: $text !important;
}

/* Replace the background for all panels */
#channel_topic_text code,
.toolbar_container {
  background: var(--background) !important;
}

/* All File types active tab */
li.active[class] span {
  color: var(--text-special) !important;
  background-color: transparent;
  opacity: 1;
}

#messages_container.has_top_messages_banner:before {
  background: var(--background) !important;
  color: var(--text) !important;
}

.channel_purpose_text {
  color: var(--text) !important;
}

#convo_container .convo_flexpane_divider .reply_count {
  color: var(--text) !important;
  background-color: var(--background) !important;
  border: 1px solid var(--border-bright) !important;
  border-radius: 1rem;
}

/* Mentions */
.mention_day_container_div .c-message_list__day_divider__label,
.member_data_table {
  border: 1px solid var(--border-dim) !important;
}

/* Conversations */
#convo_container .convo_flexpane_divider .reply_count {
  border-radius: 10px;
  padding: 0px 10px;
}

.mention_day_container_div .day_divider:before {
  background-color: transparent !important;
  border-color: var(--border-dim);
}

.day_container .day_msgs {
  border-top: 1px solid var(--border-bright) !important;
  padding-right: 10px;
  padding-left: 2px;
}

#messages_container::after {
  background: none !important;
}

.file_container:after {
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0, #333 100%) !important;
}

.rxn,
#col_channels_footer,
.c-message .action_hover_container .btn_msg_action,
.file_container,
.file_container .CodeMirror .CodeMirror-code > div:before,
.file_container .CodeMirror .sssh-line:before,
.file_container .sssh-code .CodeMirror-code > div:before,
.file_container .sssh-code .sssh-line:before,
.search_message_result,
.search_result_with_extract,
#search_filters a {
  background: var(--background-elevated) !important;
}

.c-message .action_hover_container .btn_msg_action,
.file_container .CodeMirror .CodeMirror-code > div pre,
.file_container .CodeMirror .sssh-line pre,
.file_container .sssh-code .CodeMirror-code > div pre,
.file_container .sssh-code .sssh-line pre,
.search_message_result .search_message_result_meta a,
.search_message_result .search_message_result_meta .date_links a,
#search_filters.files #filter_files, #search_filters.messages #filter_messages {
  color: var(--text) !important;
  border-color: var(--border-dim) !important;
}

.action_hover_container {
  border: 1px solid var(--border-dim) !important;
}

.ts_tip_float.btn_msg_action:not(:last-child) {
  border-right: 1px solid var(--border-dim) !important;
}

.ts_tip_float.btn_msg_action:hover {
  background-color: var(--background) !important;
}

#quick_switcher_btn {
  /*border-top-color: #333 !important;*/
  background-color: transparent;

}

.rxn,
.search_result_with_extract,
.flexbox_client.flexpane_redesign.flex_pane_showing #col_flex,
.search_segmented_control {
  border-color: var(--border-dim) !important;
}

.search_result_with_extract {
  box-shadow: 0 1px 10px var(--background-elevated) !important;
}

#quick_switcher_btn:active, #quick_switcher_btn:focus, #quick_switcher_btn:hover {
  background-color: var(--background-elevated);
  border-color: var(--background-elevated);
}

.feature_name_tagging_client .c-message .mention,
.c-message .mention,
span.match {
  border: 1px solid var(--border-bright) !important;
  background-color: var(--background-elevated) !important;
  font-weight: bold;
  padding: 2px 4px;
  margin: 2px;
  border-radius: 10px;
}

.mention > .mention {
  /* I'm assuming this is a Slack bug */
  border: none;
}

.mention_rxn {
  border-radius: 5px;
  margin: 1px 5px;
}

.mention_rxn .mention_rxn_summary .app_preview_link,
.mention_rxn .mention_rxn_summary .member_preview_link,
.mention_rxn .mention_rxn_summary .mention_rxn_summary_members,
.section_content,
.member_data_table a,
.member_data_table span,
.member_info_timezone * {
  color: var(--text) !important;
}

#member_mentions h3 a,
.c-deprecated_button--link {
  color: var(--text-special);
}

.c-message a .mention {
  color: var(--text-special) !important;
}

#msgs_scroller_div #end_display_div p {
  color: var(--text);
}

.channels_list_holder ul li a.channel_name,
.channels_list_holder ul li:not(.unread) .group_name,
.channels_list_holder ul li .im_name,
.channels_list_holder ul li .mpim_name,
.channels_list_holder ul li > a:link,
.c-message a.timestamp {
  color: #aaa !important;
}

#channels_scroller.show_which_channel_is_active ul li.active .im_name {
  color: #fff !important;
}

#msgs_div .unread_divider.no_unreads .divider_label {
  background: #000 !important;
  color: #aaa !important;
}

#msgs_div .unread_divider.no_unreads hr {
  border-top-color: #888 !important;
}

.flexpane_redesign #member_mentions {
  background-color: var(--background);
}

.pinned_item .pin_member_name a, .pinned_item {
  color: var(--text) !important;
}

.pinned_item .pinned_message_text .pin_truncate_fade {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, var(--background-elevated)), color-stop(1, rgba(255, 255, 255, 0)));
}

/* files */
.file_container.generic_container .file_header_meta .meta_hover {
  background-color: transparent !important;
}

.file_preview_action.btn.ts_tip, .file_preview_link.btn.file_comment_link {
  border: 1px solid var(--border-bright) !important;
  background-color: var(--background-hover) !important;
  color: var(--text) !important;
}

.file_preview_action.btn.ts_tip:hover, .file_preview_link.btn.file_comment_link:hover {
  background-color: var(--background) !important;
}

/* user mentions for other people */
.app_preview_link_slug.ts_tip,
.internal_member_link.ts_tip,
.internal_user_group_link.ts_tip,
ts-mention.ts_tip {
  color: var(--text-bright);
  background: var(--background-elevated);
  border: 1px solid var(--border-dim);
  padding: 2px 4px;
  margin: 2px;
  border-radius: 10px;
}

.app_preview_link_slug.ts_tip:hover,
.internal_member_link.ts_tip:hover,
.internal_user_group_link.ts_tip:hover,
ts-mention.ts_tip:hover {
  color: var(--text-bright) !important;
  border: 1px solid var(--border-bright);
}

.inline_message_input_container .ql-container.focus,
.inline_message_input_container .ql-container:active {
  border-color: var(--border-dim) !important;
}

/* other */
.special_formatting_quote .quote_bar {
  background: var(--border-bright) !important;
}

#details_toggle.active:hover, #recent_mentions_toggle.active:hover,
#stars_toggle.active:hover {
  background-color: var(--background-hover);
  color: var(--text);
}

#details_toggle.active, #recent_mentions_toggle.active,
#sli_recap_toggle.active, #stars_toggle.active {
  background-color: var(--background-elevated);
  border: 1px solid var(--border-bright);
  color: var(--border-bright);
}

.star_item,
.current_status_input_for_team_menu .current_status_presets {
  border-color: var(--border-dim);
}

#archives_return, .messages_banner {
  color: var(--text);
  background-color: var(--background-elevated);
  border: 1px solid var(--border-bright);
  border-bottom: 0px;
  border-radius: 10px 10px 0 0;
}

.reply_input_container .ql-container {
  background-color: var(--background);
  border-color: var(--border-dim);
}

#threads_msgs_scroller_div ts-thread .c-message {
  margin: 0 !important;
  border-radius: 10px;
}

.section_rollup:hover:not(.is_active) {
  background: var(--background-hover);
  color: inherit;
}

#threads_msgs_scroller_div .threads_caught_up_divider .divider_line,
#threads_msgs_scroller_div .threads_caught_up_divider .divider_label {
  background-color: var(--background-elevated);
  border: 1px solid var(--border-dim);
  color: var(--text);
}

/* unreads */
.unread_empty_state {
  color: var(--text);
}

.unread_group_header,
.sli_briefing, .sli_briefing__header, .sli_briefing__title,
.sli_briefing_view__footer_title, .bottom_mark_all_read,
.c-message__bot_label {
  background-color: var(--background);
  color: var(--text);
  border-color: var(--border-dim);
}

.unread_group_header button {
  color: var(--text-special);
}

/* scroller for threads & unreads */
#threads_msgs_scroller_div:not(.loading):before {
  background: var(--background);
}

#threads_msgs_scroller_div:not(.loading):before {
  background: none;
}

/* thread side panel */

#mentions_scroller {
  background: var(--background) !important;
  color: var(--text) !important;
}

/* global (left sidebar) */

#channel_scroll_down, #channel_scroll_up {
  background-color: var(--background) !important;
  border: 0 1px 1px 1px solid var(--border-bright) !important;
}

#quick_switcher_btn {
  border-color: transparent !important;
}

.lazy_filter_select .lfs_list_container,
.lazy_filter_select .lfs_list .lfs_item.active {
  background-color: var(--background-elevated);
}

/* scroll border fix */
.client_channels_list_container {
  border-right: none;
}

.flex_pane_showing #col_flex {
  border-color: var(--border-dim);
}

/* setting menu fix */
#fs_modal.prefs_modal .global_notification_block {
  background: transparent;
  border: none;
}

#fs_modal.prefs_modal .global_notification_block.selected {
  background: transparent;
  border: 1px solid var(--border-bright);
}

.notification_example.mac {
  color: #555459; /* default color - leave unthemed */
}

.c-member__name,
.c-member__display-name {
  color: var(--text) !important;
}

.c-member__secondary-name {
  color: var(--text) !important;
  opacity: 0.64;
  font-style: italic;
}

.c-member__title {
  color: var(--text) !important;
  opacity: 0.44;
}

.im_browser_row {
  border-top: none !important;
  &:hover {
    background: $bgHover;
  }
}

.supports_css_mask_image .light_theme ts-message .message_content .message_sender {
  font-weight: 900;
  line-height: 18px;
  font-size: large;
  color: $primary !important;
}

feature_archive_deeplink feature_texty winssb light_theme {
  font-weight: 100;
  line-height: 18px;
  font-size: medium;
}

.screenhero_attachment,
.relative,
.help,
.selectable_flex_pane_padder {
  background: $bg !important;
  color: $text;
}

.comment_body,
.channel_prefs_body,
.comment .special_formatting_quote .content,
.comment_body {
  color: $text !important;
}

.contents_container,
.heading_text,
.ql-editor,
.ql-blank,
.ql-placeholder,
.inline_block,
.global_prefs_container,
.list_items
.channel_overrides_row,
.contents,
.btn_outline,
.notification_prefs_section .btn_outline,
.p-shortcuts_flexpane__shortcut_title,
.p-shortcuts_flexpane__title,
#prefs_a11y_font_size,
#prefs_a11y_animations,
#whats_new_tab p {
  color: $text !important;
}

.p-shortcuts_flexpane__shortcut:last-of-type {
  border: none;
}

.p-shortcuts_flexpane__shortcut_title {
  padding: 0 !important;
}

.p-shortcuts_flexpane__shortcut {
  border: none;
}

.p-flexpane_header {
  background: $bg !important;
  color: $text !important;
}

.message_body, .file_container, .initial_comment {
  font-weight: lighter !important;
  font-family: var(--font-family) !important;
  margin-left: 20px !important;
}
