.p-docs_mobile_view--body .c-pillow_file__post__content ul > li[data-checked]:before {
  color: $fg;
}

.p-docs_mobile_view--body .c-pillow_file__post__content ul > li[data-checked='true'] {
  color: $accent;
}

.p-docs_mobile_view--body .c-pillow_file__post__content ul > li[data-checked='true']:before {
  color: $accent;
}

.p-docs_mobile_view--body .c-pillow_file__post__content hr {
  background: $hl;
}
