.p-docs_dialog_share_file .c-docs_share_info {
  color: $text;
}

.p-docs_dialog_share_file .c-docs_already_shared_info {
  border-bottom: 1px solid $borderLight;
}

.p-docs_dialog_share_file .c-docs_shares_list li {
  border-bottom: 1px solid $borderLight;
}

.p-docs_dialog_share_file .c-docs_private_share {
  color: $fg;
}

