@keyframes fade-background-highlight {
  from {
    background-color: $bgHover;
  }
  to {
    background-color: $bg;
  }
}

@keyframes c-highlight {
  from {
    background: $bg;
  }
  to {
    background: $bgLight;
  }
}

@keyframes highlight_page_load {
  from {
    background-color: $bg;
  }

  to {
    background-color: transparent;
  }
}
