.neutral_white_bg {
  background: $bg !important;
}

.sk_black {
  color: $black !important;
}

.sk_black_bg {
  background-color: $black !important;
}

.sk_dark_gray,
.sk_dark_grey {
  color: $gray !important;
}

.sk_dark_gray_bg,
.sk_dark_grey_bg {
  background-color: $gray !important;
}

.sk_light_gray,
.sk_light_grey {
  color: $silver !important;
}

.sk_light_gray_bg,
.sk_light_grey_bg {
  background-color: $silver !important;
}

.sk_soft_gray,
.sk_soft_grey {
  color: $selectFg !important;
}

.sk_soft_gray_bg,
.sk_soft_grey_bg {
  background-color: $selectFg !important;
}

.sk_link_blue {
  color: $blue !important;
}

.sk_link_blue_bg {
  background-color: $blue !important;
}

.sk_hover_blue {
  color: $blue !important;
}

.sk_hover_blue_bg {
  background-color: $blue !important;
}

.sk_fill_blue {
  color: $accent !important;
}

.sk_fill_blue_bg {
  background-color: $accent !important;
}

.sk_sapphire_blue {
  color: $blue !important;
}

.sk_sapphire_blue_bg {
  background-color: $blue !important;
}

.sk_pale_blue {
  color: $blue !important;
}

.sk_pale_blue_bg {
  background-color: $blue !important;
}

.seafoam_green,
.sk_seafoam_green {
  color: $green !important;
}

.seafoam_green_bg,
.sk_seafoam_green_bg {
  background-color: $green !important;
}

.sk_warning_red {
  color: $red !important;
}

.sk_warning_red_bg {
  background-color: $red !important;
}

.sk_pin_orange {
  color: $orange !important;
}

.sk_pin_orange_bg {
  background-color: $orange !important;
}

.subtle_silver {
  color: $text !important;
}

.sk_colonel_mustard {
  color: $orange2 !important;
}

.sk_colonel_mustard_bg {
  background-color: $orange2 !important;
}

.sk_star_yellow {
  color: $yellow !important;
}

.sk_star_yellow_bg {
  background-color: $yellow !important;
}

.sk_aubergine {
  color: $purple !important;
}

.sk_aubergine_bg {
  background-color: $purple !important;
}

.sk_just_orange {
  color: $orange !important;
}

.sk_just_orange_bg {
  background-color: $orange !important;
}

.sk_reddish_orange {
  color: $orange2 !important;
}

.sk_reddish_orange_bg {
  background-color: $orange2 !important;
}

.sk_sapphire_blue {
  color: $blue !important;
}

.sk_sapphire_blue_bg {
  background-color: $blue !important;
}

.sk_indigo {
  color: $purple !important;
}

.sk_indigo_bg {
  background-color: $purple !important;
}

.sk_sky_blue {
  color: $cyan !important;
}

.sk_sky_blue_bg {
  background-color: $cyan !important;
}

.sk_frosty_blue {
  color: $selectFg !important;
}

.sk_frosty_blue_bg {
  background-color: $selectFg !important;
}

.sk_raspberry_red {
  color: $red2 !important;
}

.sk_raspberry_red_bg {
  background-color: $red2 !important;
}

.sk_sunshine_yellow {
  color: $yellow !important;
}

.sk_sunshine_yellow_bg {
  background-color: $yellow !important;
}

.sk_pale_yellow {
  color: $selectFg !important;
}

.sk_pale_yellow_bg {
  background-color: $selectFg !important;
}

.sk_lilypad_green {
  color: $green !important;
}

.sk_lilypad_green_bg {
  background-color: $green !important;
}

.clear_blue {
  color: $blue !important;
}

.clear_blue_bg {
  background-color: $blue !important;
}

.solid_blue {
  color: $blue !important;
}

.solid_blue_bg {
  background-color: $blue !important;
}

.candy_red,
.candy_red_on_hover:hover {
  color: $red !important;
}

.candy_red_bg {
  background-color: $red !important;
}

.code_red {
  color: $red !important;
}

.flat_grey {
  color: $selectFg !important;
}

.indifferent_grey {
  color: $text !important;
}

.mention_yellow_bg {
  background-color: $yellow !important;
}

.star_yellow {
  color: $yellow !important;
}

.star_yellow_bg {
  background-color: $yellow !important;
}

.yolk_orange {
  color: $orange2 !important;
}

.yolk_orange_bg {
  background-color: $orange2 !important;
}

.thrills_purple {
  color: $purple !important;
}

.thrills_purple_bg {
  background-color: $purple !important;
}

.mantis_green {
  color: $green !important;
}

.burnt_violet {
  color: $purple !important;
}

.burnt_violet_bg {
  background-color: $purple !important;
}

.ocean_teal {
  color: $cyan !important;
}

.ocean_teal_bg {
  background-color: $cyan !important;
}

.havana_blue {
  color: $blue !important;
}

.havana_blue_bg {
  background-color: $blue !important;
}

.sky_blue {
  color: $cyan !important;
}

.sky_blue_bg {
  background-color: $cyan !important;
}

.slate_blue {
  color: $blue !important;
}

.slate_blue_bg {
  background-color: $blue !important;
}

.muddy_lilac {
  color: $purple !important;
}

.muddy_lilac_bg {
  background-color: $purple !important;
}

.moscow_red,
.moscow_red_dark,
.moscow_red_on_hover:hover,
moscow_red_bg {
  color: $red !important;
}

.moscow_red_dark_bg {
  background-color: $red !important;
}

.mustard_yellow {
  color: $orange2 !important;
}

.mustard_yellow_bg {
  background-color: $orange2 !important;
}

.kelly_green,
.kelly_green_dark {
  color: $green !important;
}

.kelly_green_bg {
  background-color: $green !important;
}

.channel_page_blue {
  color: $blue !important;
}

.pin_orange {
  color: $orange !important;
}

.charcoal_grey {
  color: $black !important;
}

.old_petunia_grey {
  color: $disabled !important;
}

.cool_purple {
  color: $purple !important;
}

.cool_purple_bg {
  background-color: $purple !important;
}

.dusty_springfield_grey {
  color: $disabled !important;
}

.dropbox_blue {
  color: $blue !important;
}

.dropbox_blue_bg {
  background-color: $blue !important;
}

.twitter_blue {
  color: $cyan !important;
}

.twitter_blue_bg {
  background-color: $cyan !important;
}

.gdrive_blue_bg {
  background-color: $blue !important;
}

.screenhero_blue {
  color: $blue !important;
}

.screenhero_blue_bg {
  background-color: $blue !important;
}

.blue_link {
  color: $accent !important;
}

.blue_hover {
  color: $accent !important;
}

.blue_fill {
  color: $cyan;
}

.blue_fill_bg {
  background-color: $cyan !important;
}

.greigh {
  color: $text !important;
}

.greigh_bg {
  background-color: $text !important;
}

.sk_primary_foreground {
  color: $fg;
}

.sk_inverted_foreground_bg,
.sk_primary_foreground_bg {
  background: $bg;
}

.sk_primary_background,
.sk_primary_background_bg,
.sk_white_bg {
  background: $bg;
}

.sk_inverted_foreground,
.sk_white {
  color: $fg;
}

.sk_black_bg,
.sk_inverted_background,
.sk_inverted_background_bg {
  background-color: $bg;
}

.sk_foreground_max {
  color: $text;
}

.sk_foreground_max_bg {
  background-color: $bg;
}

.sk_dark_gray,
.sk_dark_grey,
.sk_foreground_max_solid {
  color: $disabled;
}

.sk_dark_gray_bg,
.sk_dark_grey_bg,
.sk_foreground_max_solid_bg {
  background-color: $excluded;
}

.sk_foreground_high {
  color: $text;
}

.sk_foreground_high_bg {
  background-color: $bg;
}

.sk_foreground_high_solid,
.sk_light_gray,
.sk_light_grey {
  color: $disabled;
}

.sk_foreground_high_solid_bg,
.sk_light_gray_bg,
.sk_light_grey_bg {
  background-color: $excluded;
}

.sk_foreground_mid {
  color: $primary;
}

.sk_foreground_mid_bg {
  background-color: $bg;
}

.sk_foreground_mid_solid {
  color: $primary;
}

.sk_foreground_mid_solid_bg {
  background-color: $bg;
}

//.sk_foreground_low {
//  color: rgba(var(--sk_foreground_low, 29, 28, 29), 0.13);
//}
//
//.sk_foreground_low_bg {
//  background-color: rgba(var(--sk_foreground_low, 29, 28, 29), 0.13);
//}

.sk_foreground_low_solid,
.sk_soft_gray,
.sk_soft_grey {
  color: $bg2;
}

.sk_foreground_low_solid_bg,
.sk_soft_gray_bg,
.sk_soft_grey_bg {
  background-color: $bg2;
}

//.sk_foreground_min {
//  color: rgba(var(--sk_foreground_min, 29, 28, 29), 0.04);
//}
//
//.sk_foreground_min_bg {
//  background-color: rgba(var(--sk_foreground_min, 29, 28, 29), 0.04);
//}

.sk_foreground_min_solid,
.sk_off_white {
  color: $bg2;
}

.sk_foreground_min_solid_bg,
.sk_off_white_bg {
  background-color: $bg2;
}

.sk_white_always {
  color: $silver;
}

.sk_black_always {
  color: $black;
}

.sk_dark_gray_always {
  color: $gray;
}

.sk_light_gray_always {
  color: $gray;
}

.sk_soft_gray_always {
  color: $silver;
}

.sk_off_white_always {
  color: $silver;
}

.sk_highlight {
  color: $primary;
}

.sk_highlight_bg {
  background-color: $primary;
}

.sk_highlight_hover {
  color: $primaryT;
}

.sk_highlight_hover_bg {
  background-color: $primaryT;
}

.sk_highlight_accent {
  color: $accent;
}

.sk_highlight_accent_bg {
  background-color: $accent;
}

.sk_secondary_highlight {
  color: $accent2;
}

.sk_secondary_highlight_bg {
  background-color: $accent2;
}
