[lang] {
  .p-message_pane_input__disabled,
  .p-message_pane_input__preview {
    font-family: $fontFamily;
  }

  .c-texty_input {
    font-family: $fontFamily;
  }

  .c-basic_container,
  .c-texty_input_unstyled {
    font-family: $fontFamily;
  }

  .c-menu {
    font-family: $fontFamily;
  }
  
  .p-huddle_details {
    font-family: $fontFamily;
  }
}
