[lang] {
  .p-message_pane_input__disabled,
  .p-message_pane_input__preview {
    font-family: $fontFamily;
  }

  .c-texty_input {
    font-family: $fontFamily;
  }

  .c-basic_container,
  .c-texty_input_unstyled {
    font-family: $fontFamily;
  }

  .c-menu {
    font-family: $fontFamily;
  }
  
  .p-huddle_details {
    font-family: $fontFamily;
  }
}

.Unreachable-Webdata,
.p-trouble_loading {
  font-family: $fontFamily !important;
}

.p-shared_channel_creator_welcome_modal__header--error,
.p-shared_channel_creator_welcome_modal__content--error,
.p-shared_channel_creator_welcome_modal__body,
.p-shared_channel_creator_welcome_modal__header {
  font-family: $fontFamily;
}

.p-slack_connect_empty_landing_page__header_text {
  font-family: $headerFont;
}

.p-setup_channel_banner__heading {
  font-family: $headerFont;
}

.p-mini_browser_file_selector__app_name {
  font-family: $fontFamily;
}

.p-message_input_roadblock {
  font-family: $fontFamily;
}

.p-shared_invite_creator_welcome_modal .p-shared_invite_creator_welcome_modal__header {
  font-family: $headerFont;
}

.p-shared_invite_creator_welcome_modal .p-shared_invite_creator_welcome_modal__body {
  font-family: $fontFamily;
}

.p-shared_invite_creator_welcome_modal__header--error {
  font-family: $fontFamily;
}

.p-shared_invite_creator_welcome_modal__content--error {
  font-family: $fontFamily;
}
