[lang] {
  .p-message_pane_input__disabled,
  .p-message_pane_input__preview {
    font-family: $fontFamily;
  }

  .c-texty_input {
    font-family: $fontFamily;
  }

  .c-basic_container,
  .c-texty_input_unstyled {
    font-family: $fontFamily;
  }

  .c-menu {
    font-family: $fontFamily;
  }
  
  .p-huddle_details {
    font-family: $fontFamily;
  }
}

.Unreachable-Webdata,
.p-trouble_loading {
  font-family: $fontFamily !important;
}

.p-shared_channel_creator_welcome_modal__header--error,
.p-shared_channel_creator_welcome_modal__content--error,
.p-shared_channel_creator_welcome_modal__body,
.p-shared_channel_creator_welcome_modal__header {
  font-family: $fontFamily;
}

