// The header at the top of the channel
.channel_header {
  background: $bg2;
  box-shadow: none;
}

// The channel info
.messages_header {
  color: $text;

  .channel_title .channel_name {
    color: $textBright !important;
  }

  .channel_header_info {
    background: $bg2;
    button {
      color: $primary;
    }
  }

  .channel_header_info_item {
    &::before {
      color: $borderDim !important;
    }
  }

  // The action buttons
  .channel_title_info {
    color: $textSpecial;
  }

  #channel_topic_text::before {
    background: $bg2 !important;
    border: none !important;
  }
}

.channel_header_icon {
  color: $textSpecial !important;
}

.search_form {
  border-color: $borderDim;
  background-color: $bg;

  .icon_search {
    color: $text;
  }

  .ql-placeholder {
    color: $text;
  }

  .ql-container.texty_single_line_input {
    background-color: $bg2;
    color: $text;
    opacity: 0.875;
  }

}

// The search background
#search_terms {
  background-color: $bg !important;
  color: $text !important;
}

// Query editor
.ql-container .ql-editor p {
  color: $text;
}

#rxn_toast_div {
  background: $bg;
  border-color: $border;
}

#im_title {
  color: $primary !important;
  font-weight: bold;
}

#im_title.away {
  color: $textBright !important;
}

// topic
#edit_topic_inner {
  &::before {
    background: $bg2;
    border: none;
  }
  color: $text;

  &:hover {
    color: $primary;
  }
}
