#col_flex {
  background: $bg2;
  border-left: none !important;
}

.monkey_scroll_hider {
  background: $bg2;
}

#flex_contents {
  .heading,
  .heading_text,
  .subheading {
    background: $bg;
    color: $text;
    border-color: $borderDim;
  }

  .flexpane_tab_bar {
    li.active {
      border-bottom-color: $accent;
    }
  }
}

#details_tab {
  .channel_page_section {
    background: $bg2 !important;
    border-top: 1px solid $borderDim !important;

    .section_header,
    .section_title {
      color: $text !important;
    }
  }

  .conversation_details {
    .member_info_timezone {
      border-top-color: $borderDim;
    }
  }

}

// Channel foreword
.p-message_pane__foreword {
  &__description {
    color: $text !important;
  }

  .c-member__other-names--large {
    color: $textDim !important;
  }
}

