#col_flex {
  border-left: none !important;
}

#flex_contents {
  .heading,
  .heading_text,
  .subheading {
    background: $bg;
    color: $text;
    border-color: $borderDim;
  }

  .flexpane_tab_bar {
    li.active {
      border-bottom-color: $accent;
    }
  }
}

#details_tab {
  .channel_page_section {
    background: $bg2 !important;
    border-top: 1px solid $borderDim !important;

    .section_header,
    .section_title {
      color: $text !important;
    }
  }
}

