.client_channels_list_container {
  background-color: $bg;
  color: $text;
  box-shadow: var(--background-elevated) 1px 1px 25px;
  z-index: 1;

  // Channel overlay
  #col_channels_overlay,
  #team_menu_overlay {
    background: $bg !important;

    .overlay_mock_text {
      background: $bgHover;
    }
  }

  /* Team selector */
  #team_menu {
    background-color: $bg2 !important;
    border-color: transparent !important;

    &:hover,
    &:active {
      background-color: $bgHover;
    }

    .team_name_caret,
    #team_name {
      color: $textBright;
    }

    .notifications_menu_btn {
      color: $textBright;
    }
  }

}
