@import "input";
@import "complete";

#footer {
  background: $bg !important;
  box-shadow: none;
}

#msg_preview {
  background: $bg !important;
}

#msg_input_message {
  background: $bg2;
  color: $text;
}

#footer_archives_preview {
  background: $bg2;
  color: $text;
  border-color: $borderDim;

  .c-archive_footer__title {
    color: $text;
  }

  .c-archive_footer__metadata {
    color: $textDim !important;
  }
}
