ts-message {
  .action_hover_container {
    background: $bg2 !important;

    .btn_msg_action {
      background: $bg2 !important;
      color: $text !important;
      border-color: $borderDim !important;

      &:hover {
        color: $primary !important;
      }
    }
  }
}

// Channel foreword
.p-message_pane__foreword {
  &__description {
    color: $text !important;
  }

  .c-member__other-names--large {
    color: $textDim !important;
  }
}
