
@keyframes messagePaneDragOverlayOverlayTransition {
  0% {
    background: hsla(0, 0%, 100%, 0);
    opacity: 0;
  }

  to {
    background: hsla(0, 0%, 100%, 0.95);
    opacity: 1;
  }
}


.p-message_pane_drag_overlay {
  z-index: 200;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: hsla(0, 0%, 100%, 0.95);
  animation: messagePaneDragOverlayOverlayTransition .12s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-message_pane_drag_overlay__info {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  padding: 0 16px;
}

.p-message_pane_drag_overlay__title {
  font-size: 28px;
  line-height: 1.2143;
  font-weight: 900;
  margin-top: 16px;
  margin-bottom: 8px;
}

.p-message_pane_drag_overlay__subtitle {
  font-size: 15px;
  line-height: 1.46668;
  font-weight: 400;
  color: $disabled;
  max-width: 100%;
  word-wrap: break-word;
}

.p-message_pane_drag_overlay__anim {
  width: 171px;
  height: 171px;
  position: relative;
}

@keyframes circleAnim {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}


.p-message_pane_drag_overlay__anim_circle {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  width: 100%;
  height: 100%;
  animation: circleAnim 0.12s ease-in-out forwards;
}

.p-message_pane_drag_overlay__anim_readonly {
  width: 100%;
  height: 100%;
  &:before {
    color: $disabled;
    font-size: 50px;
  }
}

@keyframes card3Anim {
  0% {
    transform: scale(0.5) rotate(5deg) translateY(0);
  }

  to {
    transform: scale(1) rotate(0deg) translateY(-30px);
  }
}


.p-message_pane_drag_overlay__anim_card_03 {
  background-image: url(https://a.slack-edge.com/be529/img/dragdrop_sprites@2x.png);
  background-size: 100px 358px;
  background-repeat: no-repeat;
  background-position: 0 -189px;
  width: 92px;
  height: 77px;
  left: 35px;
  top: 50px;
  position: absolute;
  animation: card3Anim 0.12s ease-in-out forwards;
}

@keyframes card2Anim {
  0% {
    transform: scale(0.5) rotate(15deg) translateX(0);
  }

  to {
    transform: scale(1) rotate(0deg) translateX(-20px);
  }
}


.p-message_pane_drag_overlay__anim_card_02 {
  background-image: url(https://a.slack-edge.com/be529/img/dragdrop_sprites@2x.png);
  background-size: 100px 358px;
  background-repeat: no-repeat;
  background-position: 0 -273px;
  width: 92px;
  height: 77px;
  left: 25px;
  top: 55px;
  position: absolute;
  animation: card2Anim 0.12s ease-in-out forwards;
}

@keyframes card1Anim {
  0% {
    transform: scale(0.5) rotate(-10deg) translateX(0);
  }

  to {
    transform: scale(1) rotate(0deg) translateX(30px);
  }
}


.p-message_pane_drag_overlay__anim_card_01 {
  background-position: 0 0;
  width: 100px;
  height: 89px;
  left: 35px;
  top: 62px;
  position: absolute;
  animation: card1Anim 0.12s ease-in-out forwards;
}

.p-message_pane_drag_overlay--night .p-message_pane_drag_overlay__anim_card_01, .p-message_pane_drag_overlay__anim_card_01 {
  background-image: url(https://a.slack-edge.com/be529/img/dragdrop_sprites@2x.png);
  background-size: 100px 358px;
  background-repeat: no-repeat;
}

.p-message_pane_drag_overlay--night .p-message_pane_drag_overlay__anim_card_01 {
  background-position: 0 -96px;
}

@keyframes threadTextAnim {
  0% {
    opacity: 0;
    transform: scale(0.85) translateY(0);
  }

  to {
    opacity: 1;
    transform: scale(1) translateY(10px);
  }
}


@keyframes threadCard1Anim {
  0% {
    opacity: 0;
    transform: scale(0.5) rotate(0deg) translateY(0);
  }

  to {
    opacity: 1;
    transform: scale(1) rotate(0deg) translateY(10px);
  }
}


.p-thread_drag_overlay {
  z-index: 200;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: hsla(0, 0%, 100%, 0.95);
  animation: threadDragOverlayFadeIn .1s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-thread_drag_overlay__info {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 50px;
}

.p-thread_drag_overlay__anim {
  position: relative;
  width: 110px;
  height: 155px;
}

.p-thread_drag_overlay__anim--readonly {
  position: relative;
  width: 171px;
  height: 171px;
}

@keyframes threadCircleAnim {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}


.p-thread_drag_overlay__anim_circle {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  width: 100%;
  height: 100%;
  animation: threadCircleAnim 0.12s ease-in-out forwards;
}

.p-thread_drag_overlay__anim_readonly {
  width: 100%;
  height: 100%;
  &:before {
    color: $disabled;
    font-size: 50px;
  }
}

.p-thread_drag_overlay__anim_text_01 {
  background-position: 0 0;
  height: 23px;
  top: 3px;
  animation: threadTextAnim 0.12s ease-in-out forwards;
}

.p-thread_drag_overlay__anim_card_01, .p-thread_drag_overlay__anim_text_01 {
  background-image: url(https://a.slack-edge.com/a7c8f/img/dragdrop_threads_sprites@2x.png);
  background-size: 110px 203px;
  background-repeat: no-repeat;
  width: 110px;
  position: absolute;
}

.p-thread_drag_overlay__anim_card_01 {
  background-position: 0 -50px;
  height: 77px;
  top: 30px;
  left: 10px;
  animation: threadCard1Anim 0.12s ease-in-out forwards;
}

.p-thread_drag_overlay__anim_text_02 {
  background-image: url(https://a.slack-edge.com/a7c8f/img/dragdrop_threads_sprites@2x.png);
  background-size: 110px 203px;
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 110px;
  height: 23px;
  top: 112px;
  position: absolute;
  animation: threadTextAnim 0.12s ease-in-out forwards;
}

.p-thread_drag_overlay--night .p-thread_drag_overlay__anim_card_01 {
  background-position: 0 -125px;
}

.p-thread_drag_overlay__title {
  font-size: 28px;
  line-height: 1.2143;
  font-weight: 900;
  margin-top: 8px;
  margin-bottom: 8px;
}

.p-thread_drag_overlay__subtitle {
  font-size: 15px;
  line-height: 1.46668;
  font-weight: 400;
  color: $disabled;
}

.p-file_drag_drop__container {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
}

.p-app_space {
  background: $bg2;
  width: 100%;
}

.p-app_space__header {
  font-size: 18px;
  line-height: 1.33334;
  font-weight: 900;
  margin: 0 0 4px 0;
}

.p-app_space__subheader {
  font-size: 15px;
  line-height: 1.46668;
  font-weight: 400;
  font-weight: 900;
  margin: 0 0 8px 0;
  padding: 0 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.p-app_space__subheader__helper {
  font-size: 13px;
  line-height: 1.38463;
  font-weight: 400;
  color: $disabled;
}

.p-app_space_profile__info {
  display: flex;
  padding: 28px 20px 20px;
  border-bottom: 1px solid $bg2;
  margin-bottom: 24px;
  .p-app_profile_card__installation_summary {
    padding: 0;
  }
}

.p-app_space_profile__side {
  flex: 1 1 0;
  width: 140px;
  max-width: 220px;
  margin-right: 16px;
}

.p-app_space_profile__side__avatar {
  margin-bottom: 12px;
  img {
    border: 1px solid $bg2;
    width: 100%;
  }
}

.p-app_space_profile__side__links {
  display: flex;
  flex-direction: column;
}

.p-app_space_profile__side_link {
  margin-bottom: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  &:last-child {
    margin-bottom: 0;
  }
}

.p-app_space_profile__about {
  flex: 3 1 0;
}

.p-app_space_profile__description {
  font-size: 15px;
  line-height: 1.46668;
  font-weight: 400;
  transition: max-height .5s ease-in;
  max-height: 1500px;
  width: 100%;
  .para_break {
    display: block;
    height: 8px;
  }
}

.feature_message_spacing .p-app_space_profile__description .para_break {
  height: 12px;
}

.p-app_space_profile__disclaimer {
  font-size: 13px;
  line-height: 1.38463;
  font-weight: 400;
  margin-top: 16px;
  margin-bottom: 8px;
}

.p-app_space_profile__slash_commands {
  border-top: 1px solid $bg2;
  border-bottom: 1px solid $bg2;
  margin-bottom: 24px;
}

.p-app_space_profile__slash_command {
  border-bottom: 1px solid $bg2;
  display: flex;
  justify-content: space-between;
  padding: 16px 20px;
  &:last-child {
    border: none;
  }
  strong {
    margin-right: 4px;
  }
}

.p-app_space_profile__slash_command_desc {
  font-size: 13px;
  line-height: 1.38463;
  font-weight: 400;
  color: $disabled;
  margin-top: 4px;
}

.p-app_space_profile__screenshots {
  border-top: 1px solid $bg2;
  border-bottom: 1px solid $bg2;
  align-items: flex-start;
  background: $bg;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 24px;
  padding: 20px 20px 10px 20px;
}

.p-app_space_profile__screenshots_item {
  border-radius: 4px;
  transition: box-shadow .2s ease;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08);
  margin: 0 10px 10px 0;
  display: inline-block;
  position: relative;
  width: 180px;
  height: 112.5px;
  &:hover {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08), 0 4px 12px 0 rgba(0, 0, 0, 0.08);
  }
  > img {
    object-fit: cover;
    width: 180px;
    height: 112.5px;
  }
}

.p-app_space_profile__youtube_play_button {
  pointer-events: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  height: 70px;
  width: 70px;
  border-radius: 35px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  .c-icon {
    display: inline;
    opacity: .7;
    color: $bg;
    font-size: 35px;
    line-height: 65px;
  }
}

.p-keyboard_shortcut_prompt__list {
  list-style-type: none;
  margin-left: 0;
}

.p-keyboard_shortcut_prompt__list_item {
  margin-bottom: 8px;
}

.p-incoming_call {
  text-align: center;
  color: $bg;
  position: relative;
}

.p-incoming_call__external_team_banner {
  display: flex;
  background-color: $text;
  padding: 6px 9px 6px 12px;
  position: absolute;
  top: 0;
  left: calc(50% - 100px);
  width: 100%;
  max-width: 200px;
  font-size: 12px;
  line-height: 1.50001;
  font-weight: 400;
  font-weight: 900;
}

.p-incoming_call__external_team_name {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-right: 8px;
}

.p-incoming_call__external_team_icon {
  border: 2px solid $bg;
  border-radius: 4px;
  margin-left: auto;
}

.p-incoming_call__member_image {
  width: 200px;
  height: 200px;
}

.p-incoming_call__info {
  margin: 0 auto;
  padding: 5px 12px 12px;
  max-width: 200px;
}

.p-incoming_call__member_name_wrapper {
  font-size: 18px;
  line-height: 1.33334;
  font-weight: 900;
  color: $bg;
  display: flex;
  justify-content: center;
  margin-bottom: 2px;
}

.p-incoming_call__member_name {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.p-incoming_call__user_caption {
  color: $bg2;
  font-size: 13px;
  line-height: 1.38463;
  font-weight: 400;
  margin-bottom: 8px;
}

.p-incoming_call__button_container {
  display: flex;
  justify-content: space-between;
}

.p-incoming_call__button {
  width: 84px;
  &:focus {
    box-shadow: 0 0 0 1px #fff, 0 0 0 5px hsla(0, 0%, 100%, 0.3);
    border-radius: 4px;
  }
}

.p-browser_incoming_call {
  background: #000;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 7px 40px rgba(0, 0, 0, 0.5);
}

.p-browser_incoming_call--shroud {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.p-comment__timestamp {
  margin-left: 4px;
  color: $disabled;
  font-size: 12px;
}

.p-comment__body {
  font-size: 15px;
  line-height: 1.46668;
  font-weight: 400;
}

.p-comment__actions {
  margin-left: 4px;
  font-size: 12px;
  color: $text;
  visibility: hidden;
}

.p-comment:hover .p-comment__actions {
  visibility: visible;
}

.p-comment_list__comments {
  display: none;
  .p-comment {
    margin-top: 4px;
  }
}

.p-comment_list--expanded .p-comment_list__comments {
  display: block;
}

.p-comment_list__toggle_container {
  display: flex;
  justify-content: space-between;
  color: $disabled;
}

.p-comment_list__toggle_count_button {
  display: flex;
  align-items: center;
}

.p-comment_list__toggle_count {
  margin-left: 5px;
  margin-right: 4px;
}

.p-comment_list__toggle_caret {
  margin-top: 1px;
}

.p-flexpane_header {
  background: $bg2;
  border-bottom: 1px solid $bg2;
  padding: 12px 16px;
}

.p-flexpane_header__primary {
  font-size: 18px;
  line-height: 1.33334;
  font-weight: 900;
  align-items: center;
  display: flex;
}

.p-flexpane_header__primary_content {
  align-items: center;
  display: flex;
  flex: 1;
  margin-right: auto;
  min-width: 0;
}

.p-flexpane_header__secondary {
  margin-top: 8px;
}

.p-flexpane_header__control {
  color: $disabled;
  cursor: pointer;
  margin-left: 4px;
  &:hover {
    color: $fg;
  }
  &:active {
    color: $primary;
  }
}

.p-flexpane {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.p-flexpane__title_container {
  min-width: 0;
}

.p-flexpane__subtitle {
  font-size: 13px;
  font-weight: 400;
}

.p-flexpane__body {
  flex: 1;
  position: relative;
  min-height: 0;
}

.p-flexpane__floating_loader {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08), 0 4px 12px 0 rgba(0, 0, 0, 0.08);
  align-items: center;
  background: $bg;
  border-radius: 50%;
  display: flex;
  height: 34px;
  left: 50%;
  margin-left: -17px;
  position: absolute;
  top: 8px;
  width: 34px;
  z-index: 1;
}

.p-flexpane__body--empty_loading {
  background-color: $bg;
  background-image: url(https://a.slack-edge.com/9ed76/img/message_list_placeholders_light.svg);
  background-position: 16px top;
  background-repeat: repeat-y;
  position: relative;
  &:after {
    background-image: linear-gradient(transparent, #fff);
    bottom: 0;
    content: "";
    height: 200px;
    left: 0;
    position: absolute;
    width: 100%;
  }
}

.p-flexpane__body--empty {
  align-items: center;
  background-color: $bg;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 0 24px;
  text-align: center;
}

.p-file_flexpane__content {
  height: 100%;
}

.p-file_details {
  padding: 16px;
  line-height: 1.4;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.p-file_details__preview {
  margin-bottom: 16px;
  .p-file_image_thumbnail__image {
    max-width: 100%;
  }
}

.p-file_details__meta_container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.p-file_details__name {
  display: block;
  font-weight: 900;
  color: $fg;
  font-size: 15px;
}

.p-file_details__user_meta {
  color: $disabled;
  font-size: 13px;
  display: flex;
  flex-wrap: wrap;
}

.p-file_details__user_link {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-right: 4px;
  color: $disabled;
  font-weight: 700;
  &:link, &:visited {
    color: $disabled;
    font-weight: 700;
  }
}

.p-file_details__meta {
  min-width: 0;
}

.p-file_details__private, .p-file_details__upload_date {
  flex-basis: 100%;
}

.p-file_details__meta--show_filename .p-file_details__upload_date {
  flex-basis: auto;
}

.p-file_details__meta_container {
  .c-file__actions {
    opacity: 1;
    flex-shrink: 0;
  }
  .c-file__action_button {
    color: $disabled;
    &:hover {
      color: #0b4c8c;
    }
    &:after {
      border: none;
    }
    &:active {
      box-shadow: none;
    }
  }
  .active .c-file__action_button {
    color: #0b4c8c;
  }
}

.p-file_details__share_divider {
  display: flex;
  margin-bottom: 12px;
  span {
    color: $disabled;
    font-size: 13px;
    margin-right: 10px;
    flex-shrink: 0;
  }
  hr {
    border-color: $bg2;
    width: 100%;
    margin: auto;
  }
}

.p-file_details__share {
  margin-bottom: 12px;
}

.p-file_details__share_channel_link:hover {
  text-decoration: none;
}

.p-file_details__share_channel {
  cursor: pointer;
  color: $fg;
  .c-channel_name__text {
    font-weight: 700;
    margin-left: 8px;
    &:hover {
      text-decoration: underline;
    }
  }
  .c-icon--inline {
    width: 16px;
  }
  .c-team_icon {
    vertical-align: bottom;
  }
}

.p-file_details__share_metadata {
  color: $disabled;
  font-size: 12px;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 2px;
  margin-left: 24px;
}

.p-file_details__share_metadata_reply_count {
  color: $disabled;
}

.p-file_details__share_metadata_dot {
  margin: 0 4px;
}

.p-file_details__error, .p-file_details__tombstone {
  text-align: center;
  margin-top: 40px;
}

.p-file_details__error_header {
  font-size: 20px;
  font-weight: 700;
}

.p-file_details__tombstone {
  color: $disabled;
}

.p-file_details__tombstone_icon {
  display: inline-block;
  text-align: center;
  margin-bottom: 12px;
  font-size: 36px;
  color: #868686;
}

.p-file_details__comments {
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: 15px;
}

.p-file_details__comment_separator {
  color: $bg2;
}

.p-file_flexpane {
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.p-file_flexpane--list {
  background: $bg2;
}

.p-user_group_list__header {
  display: flex;
}

.p-file_flexpane__storage-warning-container {
  padding: 16px;
  line-height: 20px;
  font-size: 15px;
  color: $fg;
  background-color: $bg;
  border-bottom: 1px solid $bg2;
}

.p-file_flexpane__body {
  display: flex;
  flex-direction: column;
}

.p-member_directory__member_list {
  height: calc(100% - 70px);
}

.p-member_directory__member_row {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0 4px;
  background-color: $bg;
  cursor: pointer;
  border-bottom: 1px solid $bg2;
  &:focus, &:focus-within, &:hover {
    background-color: $bg2;
  }
}

.p-member-directory__loading {
  margin: 16px 0 24px;
  text-align: center;
  font-size: 13px;
  font-style: italic;
  color: $fg;
}

.p-member-directory__empty_list {
  margin: 16px auto 0;
}

.p-member_directory_menu--selected-item {
  padding-left: 0;
}

.p-member_directory_menu--icon {
  margin-right: 0;
}

.p-member_directory_menu--selected-item .c-menu_item__icon {
  min-width: 24px;
  max-width: 24px;
  margin-right: 0;
}

.p-member_directory__search {
  flex: 1 1 auto;
  padding-right: 16px;
}

.p-member_directory__search_filter_container {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  padding: 16px;
  box-shadow: 0 1px 0 0 $border;
  position: relative;
  z-index: 1;
}

.p-member_profile_flexpane .p-member_profile_field {
  border-top: 1px solid $border;
  padding-top: 12px;
}

.p-app_profile_flexpane_header {
  padding: 25px;
  display: flex;
  background: linear-gradient(136.53deg, hsla(0, 0%, 100%, 0.05), hsla(0, 0%, 100%, 0.2)), linear-gradient(312.01deg, $fg, rgba(29, 28, 29, 0.75));
  background-color: $fg;
  position: relative;
  border-radius: 2px;
  overflow: hidden;
}

.p-app_profile_flexpane_header--external {
  display: flex;
  background: linear-gradient(136.53deg, hsla(0, 0%, 100%, 0.05), hsla(0, 0%, 100%, 0.2)), linear-gradient(312.01deg, $fg, rgba(29, 28, 29, 0.75));
  background-color: $fg;
  position: relative;
  border-radius: 2px;
  overflow: hidden;
  padding: 25px;
  color: $bg;
  padding: 60px 25px 25px;
}

.p-app_profile_flexpane_header__icon {
  width: 72px;
  height: 72px;
  flex-shrink: 0;
  align-self: center;
}

@media screen and (min-width: 1367px) {
  .p-app_profile_flexpane_header__icon {
    width: 90px;
    height: 90px;
  }
}

.p-app_profile_flexpane_header__icon--emoji {
  background-color: $bg;
  padding: 4px;
}

.p-app_profile_flexpane_header__text {
  margin-left: 16px;
  padding-left: 5px;
  padding-bottom: 5px;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.p-app_profile_flexpane_header__row {
  line-height: 27px;
  display: flex;
  align-items: center;
  font-weight: 900;
  color: $bg2;
}

.p-app_profile_flexpane_header__app_name {
  font-size: 18px;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@media screen and (min-width: 1367px) {
  .p-app_profile_flexpane_header__app_name {
    font-size: 22px;
  }
}

.p-app_profile_flexpane_header__app_label {
  font-size: 10px;
  margin-left: 9px;
  padding: 1px 3px;
  background-color: hsla(0, 0%, 100%, 0.3);
}

.p-app_profile_flexpane_header__tagline {
  font-size: 16px;
  line-height: 19px;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  color: $bg2;
}

.p-app_profile_flexpane_header__button_container {
  margin-top: 6px;
  display: flex;
  flex-wrap: wrap;
}

.p-app_profile_flexpane_header__button_container__button {
  margin-right: 9px;
  height: inherit;
  min-width: 2rem;
}

.p-app_profile_flexpane_header__button {
  font-size: 13px;
  line-height: 16px;
  margin-top: 5px;
  background: transparent;
  color: hsla(0, 0%, 100%, 0.9);
  border: 1px solid hsla(0, 0%, 100%, 0.3);
  border-radius: 3px;
  padding: 6px 10px 7px;
  text-shadow: none;
  &:focus {
    background: transparent;
    box-shadow: 0 0 0 1px $primary, 0 0 0 5px $primaryT;
    border-radius: 4px;
    box-shadow: 0 0 0 1px #fff, 0 0 0 5px hsla(0, 0%, 100%, 0.3);
  }
  &:hover {
    background-color: hsla(0, 0%, 100%, 0.1);
    &:focus {
      background-color: hsla(0, 0%, 100%, 0.1);
    }
  }
}

.p-app_profile_flexpane__description {
  box-sizing: content-box;
  position: relative;
  overflow: hidden;
  &:hover {
    .p-app_profile_flexpane__description__button {
      opacity: 1;
    }
    .p-app_profile_flexpane__description__button--expand {
      transform: translate(-50%, -10px);
    }
    .p-app_profile_flexpane__description__button--collapse {
      transform: translate(-50%, -5px);
    }
  }
  .para_break {
    display: block;
    height: 8px;
  }
}

.feature_message_spacing .p-app_profile_flexpane__description .para_break {
  height: 12px;
}

.p-app_profile_flexpane__description--collapse {
  max-height: 115px;
}

.p-app_profile_flexpane__description__fade {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80%;
  background: linear-gradient(180deg, hsla(0, 0%, 100%, 0), #fff);
}

.p-app_profile_flexpane__description__button {
  opacity: 0;
  display: flex;
  align-items: center;
  transition: transform .2s ease-out,opacity .2s ease-out;
  transform: translate(-50%, -10px);
  position: absolute;
  bottom: 0;
  left: 50%;
  font-size: 13px;
  line-height: 16px;
  border-radius: 20px;
  color: $bg;
  background: $primary;
  padding: 1px 10px 1px 15px;
  border: none;
  outline: none;
}

.p-app_profile_flexpane__description__button--expand {
  transform: translate(-50%, -15px);
}

.p-app_profile_flexpane__description__button--collapse {
  transform: translate(-50%);
}

.p-app_profile_flexpane {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.p-app_profile_flexpane__container {
  padding: 10px;
}

.p-app_profile_flexpane__content {
  flex: 1;
}

.p-app_profile_flexpane__section {
  margin-top: 25px;
}

.p-app_profile_flexpane__section_header {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 8px;
}

.p-app_profile_flexpane__section_text {
  font-size: 15px;
  line-height: 21px;
}

.p-app_profile_flexpane__slash_command {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
  border: 1px solid $border;
  border-radius: 6px;
  padding: 12px 16px;
  &:hover {
    background: $primary;
    color: $bg;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    border-color: transparent;
    .p-app_profile_flexpane__slash_command__description {
      color: hsla(0, 0%, 100%, 0.7);
    }
  }
}

.p-app_profile_flexpane__slash_command__title {
  font-size: 15px;
  line-height: 18px;
}

.p-app_profile_flexpane__slash_command__description {
  font-size: .85rem;
  line-height: 1.4rem;
  color: $disabled;
}

.c-measure_container {
  width: 100%;
  height: 100%;
}

.p-user_group_details__list {
  flex-grow: 1;
}

.p-user_group_details__name {
  font-size: 18px;
  line-height: 1.33334;
  font-weight: 900;
}

.p-user_group_details__handle {
  margin-top: 4px;
  color: $disabled;
  font-size: 13px;
  line-height: 1.38463;
  font-weight: 400;
  font-weight: 700;
}

.p-user_group_details__description {
  font-size: 15px;
  line-height: 1.46668;
  font-weight: 400;
  color: $fg;
}

.p-user_group_details__section {
  margin: 12px 16px;
  position: relative;
}

.p-user_group_details__actions {
  display: flex;
  justify-content: space-between;
}

.p-user_group_details__button--edit {
  width: 100%;
}

.p-user_group_details__button--options {
  min-width: 36px;
  min-height: 36px;
  margin-left: 8px;
}

.p-user_group_details__tab_container--sonic {
  flex: 1;
}

.p-user_group_details__tab_container--legacy {
  height: 100%;
}

.p-user_group_details__tab_container {
  margin-top: 12px;
  .c-tabs__tab_menu {
    padding: 0 16px;
  }
}

.p-user_group_details__list_item {
  &:not(.p-user_group_base_row__entity) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    background-color: $bg;
    padding: 0 16px;
    border-bottom: 1px solid $bg2;
    &:hover {
      background-color: $bg2;
    }
  }
  &.c-member--medium {
    border-bottom: none;
    background-color: transparent;
  }
}

.p-user_group_details__channel_purpose {
  color: $disabled;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 15px;
  line-height: 1.46668;
  font-weight: 400;
  padding-right: 48px;
}

.p-user_group_details__list_item_info {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  top: 2px;
}

.p-user_group_details__empty_list {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

.p-user_group_details__empty_list_header {
  font-size: 18px;
  line-height: 1.33334;
  font-weight: 900;
  margin-bottom: 16px;
}

.p-user_group_details__empty_list_subtext {
  font-size: 15px;
  line-height: 1.46668;
  font-weight: 400;
  margin-bottom: 16px;
  text-align: center;
}

.p-user_group_base_row__list_item {
  width: 100%;
  background-color: $bg;
  border-bottom: 1px solid $bg2;
  &:focus, &:focus-within, &:hover {
    background-color: $bg2;
  }
}

.p-user_group_base_row__list_item_option {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 8px;
  margin-top: 12px;
}

.p-user_group_base_row__list_btn {
  margin-right: 8px;
  background-color: $bg;
  &.active {
    color: $primary;
  }
}

.p-user_group_base_row--active {
  animation: highlighter 1s ease-out;
}

.p-user_groups_flexpane_container {
  display: flex;
  flex-direction: column;
}

.p-user_group__content {
  flex: 1;
  height: 100%;
  min-height: 0;
  display: flex;
  flex-direction: column;
}

.p-user_group_create_form .c-lazy_filter_select__input_container.focus-ring {
  border-color: transparent;
  box-shadow: 0 0 0 1px $primary, 0 0 0 5px $primaryT;
  border-radius: 4px;
}

.p-user_group_row {
  padding: 12px 16px;
  width: 100%;
  &:hover {
    background-color: $bg2;
  }
}

.p-user_group_row--inactive {
  cursor: default;
  &:hover {
    background-color: $bg;
  }
}

.p-user_group_row__handle {
  font-size: 13px;
  line-height: 1.38463;
  font-weight: 400;
  color: $disabled;
  font-weight: 700;
  word-wrap: break-word;
  margin-right: 8px;
}

.p-user_group_row__count {
  font-size: 13px;
  line-height: 1.38463;
  font-weight: 400;
  color: $disabled;
  display: inline-block;
}

.p-user_group_base_row__entity_group {
  cursor: pointer;
}

.p-user_group_list {
  flex: 1;
  height: 100%;
  min-height: 0;
  font-size: 15px;
  line-height: 1.46668;
  font-weight: 400;
}

.p-user_group_list__search {
  border-bottom: 1px solid $bg2;
  padding: 8px 16px;
  &:hover {
    border-color: $bg2;
  }
}

.p-user_group_list__groups {
  height: 100%;
}

.p-user_group_list__context-menu-button:hover {
  color: #0b4c8c;
}

.p-user_group_list__empty_list {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 24px;
  height: 85%;
}

.p-user_group_list__empty_list_header {
  font-size: 18px;
  line-height: 1.33334;
  font-weight: 900;
  margin-bottom: 4px;
  max-width: 300px;
}

.p-user_group_list__empty_list_subtext {
  font-size: 15px;
  line-height: 1.46668;
  font-weight: 400;
  margin-bottom: 16px;
  text-align: center;
  max-width: 300px;
}

.p-user_group_list__empty_search_results {
  padding: 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.p-user_group_list__empty_search_results_subtext {
  margin-bottom: 16px;
  text-align: center;
  width: 100%;
  word-wrap: break-word;
}

.p-user_group_list__loading {
  margin: 12px 0 24px;
  text-align: center;
  font-size: 13px;
  font-style: italic;
  color: $fg;
}

.p-user_group_list__empty {
  margin-top: 24px;
  text-align: center;
  color: $fg;
}

.p-user_group_details__list .c-virtual_list__item .p-user_group_base_row__list_item_option, .p-user_group_list .c-virtual_list__item .p-user_group_base_row__list_item_option {
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
}

.p-user_group_details__list {
  .c-virtual_list__item--focus-within .p-user_group_base_row__list_item_option, .c-virtual_list__item--focus .p-user_group_base_row__list_item_option, .c-virtual_list__item:hover .p-user_group_base_row__list_item_option {
    overflow: visible;
    clip: auto;
    height: auto;
  }
}

.p-user_group_list {
  .c-virtual_list__item--focus-within .p-user_group_base_row__list_item_option, .c-virtual_list__item--focus .p-user_group_base_row__list_item_option, .c-virtual_list__item:hover .p-user_group_base_row__list_item_option {
    overflow: visible;
    clip: auto;
    height: auto;
  }
}

.c-message_kit__thread_message {
  .c-message_kit__gutter, .c-message_kit__tombstone {
    padding: 8px 24px 8px 16px;
  }
  .c-message_kit__labels__label {
    padding-top: 4px;
    padding-left: 16px;
  }
  .c-message_kit__labels--light .c-message_kit__labels__icon {
    width: 36px;
  }
}

.c-message_kit__thread_message--root {
  .c-message_kit__gutter, .c-message_kit__tombstone {
    padding-top: 12px;
  }
  .c-message_kit__labels__label {
    padding-top: 8px;
    margin-bottom: -8px;
  }
  .c-timestamp {
    margin-left: 4px;
  }
}

.p-flexpane_loading {
  position: absolute;
  top: 200px;
  width: 100%;
  text-align: center;
  color: rgba(29, 28, 29, 0.5);
  font-size: 13px;
}

.p-flexpane_loading__spinner {
  margin: 0 16px 8px 8px;
}

.p-threads_flexpane__header {
  line-height: 1.33334;
  .p-flexpane_header__children {
    display: flex;
    align-items: center;
  }
  .p-threads_flexpane__header_back {
    color: $fg;
    &:hover {
      color: $primary;
    }
  }
}

.p-threads_flexpane__header_permalink {
  &:focus, &:hover {
    color: $text;
  }
}

.p-threads_flexpane__header_channel_name {
  font-size: 13px;
  line-height: 1.38463;
  font-weight: 400;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: $text;
  cursor: pointer;
}

.p-threads_flexpane__separator {
  display: flex;
  align-items: center;
  padding-left: 16px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.p-threads_flexpane__separator_count {
  margin-right: 12px;
  color: $text;
  font-size: 13px;
  line-height: 1.38463;
  font-weight: 400;
}

.p-threads_flexpane__separator_line {
  flex: 1;
  margin: 1px 0 0 0;
  border-top-color: $border;
}

.p-threads_flexpane {
  position: relative;
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.p-threads_flexpane_container {
  display: flex;
  flex-direction: column;
}

.p-threads_flexpane {
  .p-comment_list__toggle_container {
    margin: 4px 12px;
  }
  .p-comment {
    margin: 4px 12px 0 12px;
  }
}

.p-threads_flexpane__loading {
  text-align: center;
  height: 96px;
  line-height: 96px;
  font-style: italic;
  font-size: 13px;
  color: #868686;
}

.p-threads_flexpane__error {
  text-align: center;
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.p-threads_flexpane__error_header {
  font-size: 22px;
  line-height: 1.36365;
  font-weight: 900;
  margin-bottom: 4px;
}

.p-threads_flexpane__error_body {
  font-size: 15px;
  line-height: 1.46668;
  font-weight: 400;
  margin-bottom: 16px;
}

.p-threads_flexpane__error_emoji {
  .c-emoji {
    height: 64px;
    width: 64px;
    margin-bottom: 16px;
  }
  .emoji-sizer {
    font-size: 64px;
    margin-bottom: 16px;
  }
}

.p-flexpane__loader_item {
  padding: 12px 0;
}

.p-activity_flexpane__item {
  border-bottom: 1px solid rgba(29, 28, 29, 0.1);
  min-width: 0;
  word-wrap: break-word;
  .c-message__body {
    margin: 0 0 4px 0;
  }
  .c-message_kit__footer {
    margin-bottom: 4px;
  }
  .p-activity_flexpane__item_reactions ~ .c-message_kit__footer {
    margin-top: 4px;
  }
}

.p-activity_flexpane__item_gutter {
  padding: 16px 16px 20px 16px;
}

.p-activity_flexpane__reaction_item_text {
  color: $text;
}

.p-activity_flexpane__item_reactions {
  margin: 4px 0 0 0;
}

.p-activity_flexpane__top_anchor_hack_item {
  border-bottom: 1px solid $bg;
}

.p-whats_new__item {
  padding: 16px 16px 0 16px;
  &:not(.p-whats_new__item_last) {
    border-bottom: 1px solid $bg2;
  }
}

.p-whats_new__date {
  font-size: 13px;
  line-height: 1.38463;
  font-weight: 400;
  color: $text;
  margin-bottom: 4px;
}

.p-whats_new__title {
  font-size: 18px;
  line-height: 1.33334;
  font-weight: 900;
  margin-bottom: 12px;
}

.p-whats_new__link {
  display: block;
  margin-bottom: 16px;
}

.p-whats_new__blue_dot {
  color: #1d9bd1;
}

.p-whats_new__update_icon {
  vertical-align: bottom;
}

.p-starred_item {
  border: none;
  border-bottom: 1px solid $bg2;
}

.p-starred_item__message {
  font-size: 15px;
  line-height: 1.46668;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  word-break: break-word;
  .c-message_kit__gutter, .c-message_kit__tombstone {
    padding: 16px;
  }
  &.p-starred_item--first {
    .c-message_kit__gutter, .c-message_kit__tombstone {
      padding-top: 15px;
    }
  }
  .c-message__body--automated {
    margin: 0 0 4px 0;
  }
}

.p-starred_item__message_actions .c-message_actions__container {
  top: 16px;
  right: 16px;
}

.p-starred_item_message__reactions_and_replies {
  display: flex;
  margin-top: 4px;
}

.p-starred_item__file {
  border-radius: 0;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid $bg2;
  &:hover {
    background: $bg2;
    box-shadow: none;
  }
}

.p-starred_items__empty_list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 24px;
  height: 85%;
}

.p-starred_items__empty_list_header {
  font-size: 18px;
  line-height: 1.33334;
  font-weight: 900;
  margin-bottom: 4px;
  max-width: 300px;
}

.p-starred_items__empty_list_subtext {
  font-size: 15px;
  line-height: 1.46668;
  font-weight: 400;
  margin-bottom: 16px;
  text-align: center;
  max-width: 300px;
}

.p-starred_item__message .c-pillow_file__icon {
  margin-right: 8px;
}

.p-starred_item__top_anchor_item_hack {
  border-bottom: 1px solid transparent;
}

.p-shortcuts_flexpane__shortcut {
  border-color: $bg2;
  border-style: solid solid solid solid;
  border-width: 0 0 1px 0;
  margin: 0 16px;
  display: flex;
  button {
    text-align: start;
  }
}

.p-shortcuts_flexpane__keyboard {
  font-size: 1rem;
}

.p-shortcuts_flexpane__shortcut_title {
  flex-grow: 1;
  padding: 12px 0 12px 0;
  color: $fg;
  font-size: inherit;
  font-weight: inherit;
  line-height: 22px;
  outline: 0;
}

.p-shortcuts_flexpane__tip {
  margin: 5px;
  position: relative;
  color: $disabled;
}

.p-shortcuts_flexpane__shortcut_keys {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  white-space: nowrap;
  font-size: 13px;
  padding: 0;
  .p-shortcuts_flexpane__arrow_key {
    padding: 2px 0.3rem;
  }
}

.p-shortcuts_flexpane__shortcut_hoverable .p-shortcuts_flexpane__shortcut_title {
  color: $primary;
  &:hover {
    text-decoration: underline;
  }
}

.p-shortcuts_flexpane__list .c-virtual_list__scroll_container {
  margin: 16px 0 32px 0;
}

.p-shortcuts_flexpane__shortcut_heading {
  border-color: $bg2;
  border-style: solid solid solid solid;
  border-width: 0 0 1px 0;
  font-size: 18px;
  font-weight: 900;
  color: $fg;
  margin: 32px 16px 0 16px;
  padding-bottom: 4px;
}

.p-shortcuts_flexpane__shortcut_heading_first {
  margin-top: 0;
}

.p-shortcuts_flexpane__shortcut_sub_heading:not(.block) {
  font-weight: 500;
  font-size: 14px;
  color: $disabled;
  margin: 4px 16px 0;
  line-height: 24px;
}

.p-channel_details_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid $border;
}

.p-channel_details_section__header {
  display: flex;
  align-items: center;
  margin: 4px;
  padding: 12px;
}

.p-channel_details_section__content {
  overflow: hidden;
  padding: 0 16px;
}

.p-channel_details_section__content--active {
  padding-bottom: 16px;
}

.p-channel_details_section__caret_icon {
  color: $disabled;
}

.p-channel_details_section__icon {
  margin-right: 8px;
}

.p-channel_details_section__title {
  flex-grow: 1;
}

.p-channel_details_section__title-content {
  font-size: 18px;
  line-height: 1.33334;
  font-weight: 900;
  font-weight: 500;
}

.p-pinned_items__remove_item {
  position: absolute;
  top: 8px;
  right: 8px;
  color: $text;
  display: flex;
  &.c-button--focus-visible:focus, &:hover {
    color: $fg;
  }
}

.p-channel_details__pinned_items_section .p-channel_details_section__icon {
  color: #e8912d;
}

.p-pinned_items {
  margin: 0;
}

.p-pinned_items__item {
  margin: 8px 0;
  position: relative;
}

.p-pinned_items__empty_list {
  color: $disabled;
  .p-pinned_items__empty_list_action {
    color: $fg;
  }
}

.p-enterprise_teams_dialog__dialog {
  height: 450px;
  display: flex;
  flex-direction: column;
}

.p-enterprise_teams_dialog__list {
  flex: 1;
  display: flex;
}

.p-enterprise_teams_dialog__team {
  display: flex;
  align-items: center;
  padding-top: 4px;
  padding-bottom: 4px;
}

.p-enterprise_teams_dialog__team_icon {
  flex: none;
  margin-right: 8px;
}

.p-enterprise_teams_dialog__team_name {
  font-weight: 700;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.p-enterprise_teams_dialog__search {
  padding: 5px 0;
  margin-bottom: 8px;
}

.p-channel_details__highlights_section .p-channel_details_section__icon {
  color: #1d9bd1;
}

.p-highlights_section {
  margin: 0;
}

.p-highlights_section__group_title {
  position: relative;
  height: 54px;
  text-align: center;
}

.p-highlights_section__group_title_line {
  height: 0;
  position: absolute;
  top: 50%;
  width: 100%;
  border-top: 1px solid $bg2;
}

.p-highlights_section__group_title_label {
  margin-top: 16px;
  position: relative;
  padding: 0 12px;
  background-color: $bg;
  display: inline-block;
}

.p-highlights_section__item {
  margin: 8px 0;
}

.p-channel_details__members_list_section {
  .p-channel_details_section__icon {
    color: $green;
  }
  .p-channel_details_section__content {
    padding-left: 0;
    padding-right: 0;
  }
}

.p-channel_details__member_list {
  list-style: none;
  margin: 0;
}

.p-channel_details__member_list__member {
  margin-bottom: 0;
}

.p-channel_details__member_list__member_btn {
  width: 100%;
}

.p-channel_details__member_list_entity.c-base_list_entity {
  padding-left: 16px;
  padding-right: 16px;
}

.p-channel_details__member_list__guests {
  font-size: 13px;
  line-height: 1.38463;
  font-weight: 400;
  float: right;
  color: $text;
  margin-right: 12px;
  .p-channel_details__member_list__guests_icon {
    margin: 2px 4px;
  }
}

.p-channel_details__members_list_buttons {
  display: flex;
  flex-wrap: wrap;
  padding: 4px 10px 0;
  > button {
    flex: 1 1 auto;
    margin: 12px 6px 0;
  }
}

.p-channel_details__members_list_button > button {
  flex: 0 0 auto;
}

.p-channel_details__members_dialog {
  height: 450px;
  display: flex;
  flex-direction: column;
}

.p-members_dialog__member_list_btn {
  width: 100%;
}

.p-members_dialog__member_list_entity.c-base_list_entity {
  padding-left: 28px;
  padding-right: 28px;
  width: 100%;
}

.p-channel_details__members_dialog__list .c-virtual_list__item:last-child {
  padding-bottom: 16px;
}

.p-channel_details__members_dialog__search {
  padding: 0 28px;
  margin-bottom: 20px;
}

.p-channel_details__members_dialog__list {
  flex: 1;
  overflow: hidden;
}

.p-channel_details__members_dialog__list--indicate-top {
  border-top: 1px solid $border;
}

.p-channel_details__apps_section {
  .p-channel_details_section__content {
    padding-left: 0;
    padding-right: 0;
  }
  .p-channel_details_section__icon {
    color: #4a154b;
  }
}

.p-channel_details_apps {
  list-style: none;
  margin: 0 0 16px 0;
}

.p-channel_details_apps__row {
  display: block;
  padding: 0;
  width: 100%;
}

.p-channel_details_apps__member_list_entity.c-base_list_entity {
  padding-left: 16px;
  padding-right: 16px;
}

.p-channel_details_apps__row--add {
  padding: 4px 16px;
  margin: 0 16px 0;
}

.p-channel_details_apps__button_only {
  margin-bottom: 0;
}

.p-channel_details__shared_files_section .p-channel_details_section__icon {
  color: #de4e2b;
}

.p-channel_details__shared_files__empty {
  color: $text;
}

.p-channel_details__shared_files__file + .p-channel_details__shared_files__file {
  margin-top: 8px;
}

.p-channel_details__shared_files__more {
  margin: 16px 0 0;
}

.p-channel_details__notification_prefs_section .p-channel_details_section__icon {
  color: $red;
}

.p-channel_details__notification_prefs_section__pref_label {
  font-size: 13px;
  color: $disabled;
}

.p-channel_details__notification_prefs_section__pref, .p-channel_details__notification_prefs_section__pref_label {
  display: block;
  padding-bottom: 8px;
}

.p-channel_details__notification_prefs_section__notification_warning {
  background: #fcf4da;
}

.p-channel_details__dm_section {
  padding: 16px;
  border-bottom: 1px solid $border;
  cursor: pointer;
}

.p-channel_details__dm_section__tz_section {
  padding: 12px 16px;
  border-bottom: 1px solid $border;
}

.p-channel_details__dm_section__tz_label {
  color: $text;
}

.p-channel_details .p-flexpane__title_container {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.p-channel_details__contents {
  flex: 1;
}

.p-channel_details__block {
  margin: 20px 16px 0;
  &:last-child {
    margin-bottom: 20px;
  }
}

.p-channel_details__subtitle {
  color: $disabled;
}

.p-calendar_flexpane {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.p-calendar_flexpane__loading {
  margin: 12px 0 24px;
  text-align: center;
  font-size: 13px;
  font-style: italic;
  color: $fg;
}

.p-download_item {
  display: flex;
  min-height: 68px;
  padding: 12px 0 4px 0;
  margin: 0 4px;
  position: relative;
  font-weight: 400;
  font-size: 1rem;
  border: 1px solid transparent;
  border-radius: 4px;
  opacity: .8;
  transition: opacity 0.1s, border 0.1s;
}

.c-virtual_list__item--focus .p-download_item .p-download_item.p-download_item--focus-within {
  opacity: 1;
}

.p-download_item {
  &.paused, &.progressing, &:hover {
    opacity: 1;
  }
}

.c-virtual_list__item--focus .p-download_item {
  border-color: $bg2;
}

.p-download_item {
  &.p-download_item--focus-within, &:hover {
    border-color: $bg2;
  }
}

.c-virtual_list__item--focus .p-download_item .p-download_item__name_row {
  padding-right: 2rem;
}

.p-download_item {
  &.p-download_item--focus-within .p-download_item__name_row, &:hover .p-download_item__name_row {
    padding-right: 2rem;
  }
}

.c-virtual_list__item--focus .p-download_item {
  .p-download_item__action_icon, .p-download_item__actions {
    opacity: 1;
    transform: translateZ(0);
  }
}

.p-download_item {
  &.p-download_item--focus-within {
    .p-download_item__action_icon, .p-download_item__actions {
      opacity: 1;
      transform: translateZ(0);
    }
  }
  &:hover {
    .p-download_item__action_icon, .p-download_item__actions {
      opacity: 1;
      transform: translateZ(0);
    }
  }
}

.c-virtual_list__item--focus .p-download_item .p-download_item__link--remove {
  background: transparent;
  opacity: 1;
}

.p-download_item {
  &.p-download_item--focus-within .p-download_item__link--remove, &:hover .p-download_item__link--remove {
    background: transparent;
    opacity: 1;
  }
  &.not_started .p-download_item__name_row, &.paused .p-download_item__name_row, &.progressing .p-download_item__name_row {
    padding-right: 0;
    padding-bottom: 6px;
  }
  &.not_started {
    .p-download_item__action_icon, .p-download_item__link--remove {
      display: none;
    }
  }
  &.paused {
    .p-download_item__action_icon, .p-download_item__link--remove {
      display: none;
    }
  }
  &.progressing {
    .p-download_item__action_icon, .p-download_item__link--remove {
      display: none;
    }
  }
  &:not(.progressing):not(.paused) {
    cursor: pointer;
  }
  &.highlight {
    animation: highlighter 1s ease-out;
  }
  &.hidden_with_fade_out_and_shrink {
    opacity: 0;
    height: 0 !important;
    margin-top: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    overflow: hidden;
    transition: opacity 0.3s ease-out 0s, height 0.3s ease-out 0.2s, margin-top 0.3s ease-out 0.2s, padding-top 0.3s ease-out 0.2s, padding-bottom 0.3s ease-out 0.2s;
  }
}

@keyframes highlighter {
  0% {
    background: transparent;
  }

  10% {
    background: #fcf4da;
  }

  to {
    background: transparent;
  }
}


.p-download_item__icon_container {
  margin: 8px 0 8px;
  position: relative;
  flex: 0 0 50px;
  text-align: center;
}

.p-download_item__action_icon {
  position: absolute;
  right: 2px;
  bottom: -2px;
  width: 18px;
  height: 18px;
  line-height: 15px;
  border-radius: 50%;
  background: #1d9bd1;
  box-shadow: 0 0 0 3px $bg;
  color: $bg;
  opacity: 0;
  transform: translate3d(0, -6px, 0);
  transition: transform 0.1s ease-out, opacity 0.1s ease-out;
  &:before {
    margin-left: -1px;
  }
  &.snippet {
    background: #4a154b;
  }
  &.post, &.space {
    background: $green;
  }
  &.doc, &.docx {
    background: #0b4c8c;
  }
  &.xls, &.xlsm, &.xlsx, &.xltx {
    background: $green;
  }
  &.ppt, &.pptx {
    background: #e8912d;
  }
  &.ai, &.sketch {
    background: #de4e2b;
  }
  &.psd {
    background: #1d9bd1;
  }
  &.indd {
    background: #f08fad;
  }
  &.fla, &.swf {
    background: $red;
  }
  &.ipa {
    background: #868686;
  }
  &.apk {
    background: $green;
  }
  &.dropbox {
    background: $primary;
  }
  &.gpres {
    background: #de4e2b;
  }
  &.gsheet {
    background: $green;
  }
  &.gdoc {
    background: #1d9bd1;
  }
  &.gdraw, &.gform, &.pdf {
    background: $red;
  }
}

.p-download_item__image {
  border: 1px solid #868686;
  border-radius: 4px;
  margin-bottom: 6px;
  margin-top: -8px;
}

.p-download_item__container {
  flex: 1;
  min-width: 0;
  margin-left: 4px;
  position: relative;
  z-index: 1;
  > div {
    margin-bottom: 8px;
  }
  .p-download_item__name_row {
    display: flex;
    justify-content: space-between;
    line-height: normal;
    color: #4a494a;
    position: relative;
    padding-right: 0;
    margin-bottom: 0;
  }
}

.p-download_item__name_row:not(:empty) {
  font-weight: 700;
  padding-bottom: 4px;
}

.p-download_item__container .p-download_item__extra_actions {
  flex-shrink: 0;
  padding-top: 2px;
  display: flex;
  opacity: 1;
  pointer-events: auto;
}

.p-download_item__link--cancel, .p-download_item__link--pause, .p-download_item__link--resume {
  font-size: .8rem;
  margin-left: 5px;
  color: #868686;
  cursor: pointer;
}

.p-download_item__link--remove {
  position: absolute;
  height: 20px;
  width: 20px;
  top: 50%;
  right: 10px;
  z-index: 2;
  opacity: 0;
  transform: translateY(-50%);
  transition: opacity 0.1s, color 0.1s;
  &:focus, &:hover {
    color: $red;
  }
  &.c-button--focus-visible:focus {
    border-radius: 20px;
  }
}

.p-download_item__size_row {
  color: #868686;
  font-size: .8rem;
  position: relative;
  display: flex;
}

.p-download_item__size {
  margin-right: 3px;
}

.p-download_item__actions {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: $bg;
  opacity: 0;
  transform: translate3d(0, -50%, 0);
  transition: transform 0.1s ease-out, opacity 0.1s ease-out;
}

.p-download_item__link--open, .p-download_item__link--retry, .p-download_item__link--show {
  opacity: 1;
  display: none;
  position: static;
  font-weight: 700;
  font-size: .9rem;
  color: #868686;
  top: 0;
  left: 8px;
  white-space: nowrap;
  pointer-events: none;
}

.p-download_item__time_remaining {
  opacity: 1;
  flex: none;
  margin-left: auto;
  white-space: nowrap;
}

.p-download_item__progress, .p-download_item__progress_row, .p-download_item__time_remaining {
  height: 6px;
  border-width: 0;
  border-radius: 3px;
}

.p-download_item__progress_row {
  opacity: 1;
  background-color: $bg2;
}

.p-download_item__progress {
  background-color: #1d9bd1;
  width: 0;
}

.p-download_item {
  &:not(.progressing):not(.paused) {
    .p-download_item__extra_actions {
      display: none;
    }
    .p-download_item__time_remaining {
      opacity: 0;
      pointer-events: none;
    }
    .p-download_item__progress_row {
      display: none;
    }
  }
  &.completed {
    .p-download_item__link--show {
      opacity: 1;
      pointer-events: auto;
      display: block;
    }
    .p-download_item__action_icon:before {
      content: "";
    }
  }
  &.cancelled .p-download_item__action_icon:before, &.interrupted .p-download_item__action_icon:before {
    content: "\E147";
    margin-top: 1px;
  }
  &.cancelled .p-download_item__link--retry, &.interrupted .p-download_item__link--retry {
    opacity: 1;
    pointer-events: auto;
    display: block;
  }
  &.completed .p-download_item__partial_size {
    display: none;
  }
}

.p-downloads__header_items {
  display: flex;
  justify-content: space-between;
}

.p-downloads__clear_all {
  padding-right: 16px;
  padding-left: 8px;
  margin-right: 16px;
  font-size: 16px;
  border-right: 1px solid #c4c4c4;
  font-weight: 400;
  &:hover {
    color: $primary;
  }
}

.p-client, body, html {
  overflow: hidden;
}

.p-client {
  background: $bg;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-template-areas: "p-client__workspace";
}

.p-client--custom-titlebar {
  margin-top: 31px;
  height: calc(100vh - 31px);
}

.p-client--show-team-sidebar {
  grid-template-columns: 68px auto;
  grid-template-areas: "p-client__team_sidebar p-client__workspace";
  .c-banner {
    left: 68px;
  }
}

.p-client__top_nav {
  grid-area: p-client__top_nav;
}

.p-client__team_sidebar {
  grid-area: p-client__team_sidebar;
}

.p-workspace {
  grid-area: p-client__workspace;
}