.p-huddle_invite {
  background: $bg;
}

.p-huddle_invite__content {
  background: $notif;
  color: $selectFg;
  @include card;
}

.p-huddle_invite__button {
  background: $button;
  color: $selectFg;
  border: $border;

  &:hover {
    background: $hl;
    color: $selectFg;
  }
}

.p-huddle_invite__button--accept {
  background: $accentT;
  color: $fg;

  &:hover {
    background: $accent;
    color: $selectFg;

    > * {
      color: $selectFg;
    }

    .p-huddle_invite__icon--join {
      fill: $selectFg;
    }
  }
}

.p-huddle_invite__icon--join {
  fill: $fg;
}

.p-huddle_invite__button--accept:focus {
  box-shadow: 0 0 0 1px $primary, 0 0 0 5px $primaryT;
}

.p-huddle_invite_modal_footer_banner {
  background-color: $bg2;
}

.sk-client-theme--dark .p-huddle_invite_modal_footer_banner {
  background-color: $bg2;
}

.p-huddle_invite_suggestion_tabs__menu_item_button__list_entity:hover {
  background: $hl;
}

.p-huddle_invite_suggestion_tabs__menu_item__pending_status_container {
  color: $text;
}

.p-huddle_start_suggestion_tabs__menu_item_button__list_entity:hover {
  background: $hl;
}
