@import 'icons';
@import 'dim';
@import 'overlay';
@import 'title';
@import 'hljs';
@import 'animations';

#pluginsSection {
  padding-top: 8px;

  > button {
    padding: 0 16px;
  }
}

.p-channel_sidebar__section_heading_button {
  text-transform: uppercase;
}
