.p-edit_profile__centered_primary--background {
  background: $border;
}

.p-edit_profile__upload_preview_label {
  color: $text;
}

.p-edit_profile__date_button {
  border: 1px solid $borderLight;
}

.p-edit_profile__rules {
  color: $fg;
}