.p-member_profile_restriction {
  background-color: $bg2;
  color: $fg;
}


.p-member_profile__picture {
  border-bottom: 1px solid $border;
}

.p-member_profile_name__link {
  color: $accent2;
}

.p-member_profile_field__label {
  color: $text;
}

.p-member_profile_field__status_expiration {
  color: $text;
}

