.p-navigation_bar {
  background-color: $bg;
  border-bottom: 1px solid $border;
}

.p-navigation_bar__heading {
  &:before {
    border-left: 1px solid $borderLight;
  }
}

.p-navigation_bar__title {
  color: $text;
}

.p-global_nav__top_search {
  background: $contrast;
}

.p-global_nav__top--theme-cloud_theme .p-global_nav__top_search {
  background: $contrast;
}

.p-global_nav__top_user_status_edit {
  background: $contrast;
  color: $fg;
}


.p-global_nav__top_user_dnd_footer_icon {
  color: $text;
}

.p-global_nav__tip_shortcut {
  color: $text;
}


.p-global_nav__sidebar_divider {
  border-bottom: 1px solid $border;
}

.p-global_nav__channel {
  box-shadow: inset 1px 0 0 0 $bg2;
}

.p-global_nav__channel--relayout {
  &.p-global_nav__channel--synthetic {
    &:after {
      background: $bg2;
    }
  }
}

.p-global_nav__channel_star {
  color: $button;
}

.p-global_nav__channel_star--starred {
  color: $yellow;
}

.p-global_nav__channel_name {
  .c-custom_status {
    color: $text;
  }
}

.p-global_nav__channel_topic_edit {
  color: $primary;
}

.p-global_nav__channel_topic_placeholder {
  color: $primary;
}

.p-global_nav__channel_topic_content {
  color: $fg;
}

.p-global_nav__channel_topic:hover {
  .p-global_nav__channel_topic_content {
    &:before {
      background: $bg;
    }
  }
}


.p-global_nav__channel_divider {
  background: $border;
}

.p-global_nav__channel_info_item {
  color: $text;
}

.p-global_nav__channel_details_button--active,
.p-global_nav__channel_info_item:hover {
  color: $selectFg;
}

.p-global_nav__channel_actions_button {
  color: $text;

  &:hover {
    color: $fg;
  }
}

.p-global_nav__channel_bot_tab {
  color: $text;

  &:hover {
    color: $fg;
  }
}

.p-global_nav__channel_bot_tab--active {
  box-shadow: inset 0 -2px 0 0 $primary;
  color: $fg;
}

.p-global_nav__channel_date_picker {
  color: $fg;
}

.p-global_nav__channel_date_picker_back {
  &:focus, &:hover {
    color: $primary;
  }
}


.p-global_nav__top_menu_header_icon {
  background-color: $text;
}

.p-global_nav__top_menu_header_sub {
  color: $text;
}

.p-global_nav__top_menu_header--full {
  border-bottom: 1px solid $border;
}

.p-global_nav__top_menu_footer {
  border-top: 1px solid $border;
  background: $bg2;
}

.p-global_nav__top_menu_footer_text {
  color: $text;
}

.p-global_nav__top_menu_snooze_background {
  background-image: linear-gradient($bg2, $hl);
}

.p-global_nav__top_menu_schedule_background {
  background-image: linear-gradient($accent, $accent2);
  border-bottom: 1px solid $borderLight;
  color: $fg;
}

.p-global_nav__top_menu_snooze_background {
  border-bottom: 1px solid $borderLight;
  color: $fg;
}

.p-global_nav__top_menu_schedule_background .p-global_nav__top_menu_header_sub,
.p-global_nav__top_menu_snooze_background .p-global_nav__top_menu_header_sub {
  color: $disabled;
}

.p-global_nav__flex {
  background: $bg;
  border-bottom: 1px solid $border;
}

.p-global_nav__flex--legacy {
  border-left: 1px solid $border;
}

.p-global_nav__flex_btn {
  color: $text;

  &:hover {
    color: $fg;
  }
}

a.p-global_nav__flex_btn--link {
  color: $text;

  &:hover {
    color: $fg;
  }
}

.p-global_nav__flex_divider {
  background: $border;
}
