.p-channel_notification_prefs__table {
  td {
    border-bottom: 1px solid $fg;
  }
  th {
    border-bottom: 1px solid $fg;
  }
}

.p-notification_bar__section {
  color: $text;
}

.p-notification_bar__offline {
  color: $fg;
}

.p-notification_bar__offline_icon {
  color: $disabled;
}
