.c-alert--level_default {
  background-color: $notif;
  border: 1px solid $borderLight;

  .c-alert__icon {
    color: $selectFg;
  }
}

.c-alert--level_info {
  background-color: $blue !important;
  border: 1px solid $blue !important;
  color: $bg !important;

  .c-alert__icon {
    color: $bg !important;
  }
}

.c-alert--level_success {
  background-color: $green !important;
  border: 1px solid $green !important;
  color: $bg !important;

  .c-alert__icon {
    color: $bg !important;
  }
}

.c-alert--level_warning {
  background-color: $orange !important;
  border: 1px solid $orange !important;
  color: $bg !important;

  .c-alert__icon {
    color: $bg !important;
  }
}

.c-alert--level_error {
  background-color: $red !important;
  border: 1px solid $red !important;
  color: $selectFg !important;

  .c-alert__icon {
    color: $selectFg !important;
  }
}

.c-alert--boxed,
.c-alert--custom {
  color: $fg;
  padding: 0.5em;
}

.c-alert--inline_boxed {
  color: $fg;
}

.c-alert--inline {
  color: $fg;
}

.c-alert--nested_box {
  color: $fg;
}

.c-inline_alert {
  color: $red;
}

.c-hint {
  color: $text;
}
