.c-alert--level_default {
  background-color: $notif;
  border: 1px solid $borderLight;

  .c-alert__icon {
    color: $selectFg;
  }
}

.c-alert--level_info {
  background-color: $blue;
  border: 1px solid $blue;

  .c-alert__icon {
    color: $selectFg;
  }
}

.c-alert--level_success {
  background-color: $green;
  color: $bg;
  border: 1px solid $green;

  .c-alert__icon {
    color: $fg;
  }
}

.c-alert--level_warning {
  background-color: $orange;
  border: 1px solid $orange;

  .c-alert__icon {
    color: $fg;
  }
}

.c-alert--level_error {
  background-color: $red;
  border: 1px solid $red;

  .c-alert__icon {
    color: $selectFg;
  }
}

.c-alert--boxed, .c-alert--custom {
  color: $selectFg;
}

.c-alert--inline {
  color: $selectFg;
}

.c-alert--nested_box {
  color: $selectFg;
}

.c-inline_alert {
  color: $red;
}

.c-hint {
  color: $text;
}
