#col_flex {
  background: $bg2 !important;
  border-left: none !important;
}

.monkey_scroll_hider {
  background: $bg2;
}

#flex_contents {
  .heading,
  .heading_text,
  .subheading {
    background: $bg2 !important;
    color: $text !important;
    border-color: $borderDim !important;

    .menu_icon {
      color: $text !important;
    }
  }

  .heading {
    a {
      color: $text !important;

      &:hover {
        color: $textBright !important;
      }
    }

    .cancel_link {
      color: $textDim !important;
    }
  }

  .menu_heading {
    &:hover {
      color: $primary !important;
    }
  }

  .subheading:not(:empty) {
    a {
      color: $text !important;
    }

    .filter_menu_label.active .arrow_down {
      color: $accent !important;
    }
  }

  .local_only_sub_heading {
    color: $text !important;
    background: $bg2 !important;
    border-top-color: $bgLight !important;
  }

  #mentions_options {
    background: $bg2 !important;
    border-bottom: 1px solid $borderDim !important;
  }

  .flexpane_tab_bar {
    li:hover {
      border-bottom-color: $accent !important;

      .tab {
        color: $textBright !important;
      }
    }

    li.active {
      border-bottom-color: $accent !important;

      .tab {
        color: $primary !important;
      }
    }

    li.focus-ring {
      box-shadow: 0 0 0 1px $primaryT, 0 0 0 5px $primaryT !important;
    }

    .tab {
      color: $text !important;
    }
  }

  .flexpane_tab_toolbar {
    #search {
      .member_filter {
        border-radius: 20px !important;
        border: 1px solid transparent !important;

        &:active,
        &.focus-ring {
          border: 1px solid $primary !important;
        }
      }
    }


    #user_group_edit {
      background: $bg2 !important;
    }

    .tab_action_button {
      color: $primary !important;
    }
  }

  .flexpane_load_more {
    background: $bg !important;
    color: $text !important;
  }

  .flexpane_load_error_msg {
    color: $textDim !important;
  }
}

#details_tab {
  .channel_page_section {
    background: $bg2 !important;
    border-top: 1px solid $borderDim !important;

    .section_header,
    .section_title {
      color: $text !important;
    }
  }

  .conversation_details {
    .member_info_timezone {
      border-top-color: $borderDim !important;
    }

    .member_name:hover {
      color: $textBright !important;
    }

    .member_username:hover {
      color: $textBright !important;
    }

    .member_info_timezone {
      border-top-color: $bgLight !important;
    }
  }

  hr {
    border-top-color: $borderDim !important;
  }

  .channel_page_section {
    background: $bg !important;
    border-top: 1px solid $bgLight !important;
  }

  .channel_page_section {
    background: $bg !important;

    .section_header {
      &:hover .disclosure_triangle {
        color: $text !important;
      }

      &.focus-ring {
        .channel_section_label {
          box-shadow: 0 0 0 1px $primaryT, 0 0 0 5px $primaryT !important;
        }
      }
    }

    .section_title,
    .disclosure_triangle {
      color: $text !important;
    }

    .channel_section_label .ts_icon_info_circle {
      color: $text !important;
    }

    .created_by {
      color: $textDim !important;
    }

    .channel_page_member_tabs .icon_member_header {
      color: $accent !important;
    }

    .pinned_item {
      color: $text !important;

      &.unread_pin {
        border: 1px solid $orange !important;
      }

      .pin_file_title {
        font-weight: 900;
        color: $text !important;
      }

      .pin_member_name a,
      .pin_member_title {
        color: $text !important;
      }

      .pin_metadata {
        color: $textDim !important;
      }

      .remove_pin {
        color: $textDim !important;

        &:hover {
          color: $primary !important;
        }
      }

      .pinned_message_text {
        .pin_truncate_fade {
          background: $bg !important;
          background: -webkit-gradient(linear, left bottom, left top, color-stop(0, $bg), color-stop(1, rgba(255, 255, 255, 0)));
          background: -moz-linear-gradient(center bottom, $bg 0, rgba(255, 255, 255, 0) 100%);
          background: -ms-linear-gradient(bottom, $bg, rgba(255, 255, 255, 0));
        }
      }

      &.delete_mode {
        border-color: $red !important;
      }
    }

    .channel_page_action {
      .leave_link {
        color: $textDim !important;

        &:hover {
          color: $primary !important;
        }
      }
    }

    .channel_page_member_lists {
      margin-top: 1px;
    }
  }
}

.channel_page_member_row {
  color: $text !important;

  a {
    color: $text !important;
  }

  &.away {
    color: $textDim !important;
  }

  &:hover {
    background-color: $bgHover !important;
    border-color: $bgHover !important;
  }

}

// Channel foreword
.p-message_pane__foreword {
  &__description {
    color: $text !important;
  }

  .c-member__other-names--large {
    color: $textDim !important;
  }
}

.c-channel_insights__drawer_title {
  color: $textBright;
}

.c-channel_insights__member_count {
  color: $primary;

  .ts_icon_user {
    color: $primary;
  }
}

.channel_page_members,
.channel_page_about,
.channel_page_pinned_items,
.channel_page_shared_files,
.channel_page_notif_prefs,
.global_notification_block,
#fs_modal_header {
  background: $bg !important;
  color: $text !important;
}

#details_tab_header {
  .ts_icon_shared_channels {
    color: $text !important;
  }
}

.c-message_attachment__author_name {
  color: $text !important;
}

.c-message_attachment__author_subname, .c-message_attachment__part {
  color: $textDim !important;
}