#client_body {
  background: $bg;
  color: $text;

  &.disable_border::before {
    background: $bg2 !important;
    box-shadow: none !important;
  }

  &::before {
    display: none !important;
    //border-bottom: 1px solid $borderDim !important;
    //background: $bg2 !important;
    //box-shadow: none;
  }

  // Remove box shadow on messages column
  #col_messages {
    box-shadow: none;
  }

  // Threads container
  #threads_msgs_scroller_div, ts-thread {
    background-color: $bg;

    .c-message_list__day_divider__label {
      background: $bg;
    }
  }

  // Day pill
  .c-message_list__day_divider__label__pill {
    background-color: $primary !important;
    border: none !important;
    color: $bg !important;
    box-shadow: 0 0 10px 5px $bgLight !important;


  }

  // timestamp
  .c-timestamp__label {
    color: $text !important;
  }

  // Channel message
  .c-message {
    border-radius: 5px;
    margin: 1px 5px !important;
    box-shadow: none !important;

    &:hover {
      background: $bg2 !important;
    }
  }

  // Actual message content
  .c-message,
  .c-message__content,
  .c-message__body,
  .c-message__label,
  .c-message__sender {
    color: $text !important;

    // Starred messages
    &--starred {
      background-color: $bg2 !important;
    }
  }

  .c-message__sender_link {
    color: $text !important;
  }

  // Attachment image
  .c-message_attachment {
    color: $text;

    .c-message_attachment__border {
      color: $borderBright;
    }

    .c-message_attachment__author {
      color: $textBright;
    }

    .c-message_attachment__text {
      color: $text;
    }

    .c-message_attachment__text_expander {
      color: $primary;
    }

    .c-message_attachment__media_trigger {
      color: $text !important;

      .c-expandable_trigger {
        color: $primary !important;
      }
    }
  }

  // Day divider
  .c-message_list__day_divider__line {
    border-top-color: $borderDim !important;
  }

  .c-message_list__day_divider__label {
    color: $bg !important;
    &:before {
      content: '' !important;
      display: block !important;
      height: 1px !important;
      position: absolute !important;
      top: 12px !important;
      left: 0 !important;
      right: 0 !important;
      bottom: 0 !important;
      background: $bgLight !important;
    }
  }

  .c-virtual_list__item--sticky {
    top: -8px !important;
  }

  // Loading history
  .p-degraded_list__loading {
    background: $bg !important;
    color: $text !important;
  }

  .c-message--hover {
    background: $bgHover !important;
  }

}

// Back to my messages
.sli_briefing__channel_back_button {
  color: $text !important;
  background-color: $bgLight !important;
  border: 1px solid $borderDim !important;

  &:hover {
    background: $selection !important;
    color: $textBright !important;
  }
}

.icon_comment {
  color: $text !important;
  text-shadow: 0 0 2px $bg2 !important;
}

.icon_search_input {
  color: $text !important;
}

.icon_search_close {
  color: $textBright !important;

  &:hover {
    color: $primary !important;
  }
}

.c-message_kit__file__meta {
  color: $text !important;
}