@import "input";
@import "complete";

#footer {
  background: $bg2 !important;
  box-shadow: none !important;

  &.disabled #msg_input {
    border-color: $borderDim !important;
    background: $bg2 !important;
  }
}

#msg_preview {
  background: $bg !important;
}

#msg_input_message {
  background: $bg2;
  color: $text;
}

#footer_archives_table {
  color: $text !important;
}

#footer_archives_preview {
  background: $bg2 !important;
  color: $text !important;
  border-color: $borderDim;

  .c-archive_footer__title {
    color: $text !important;
  }

  .c-archive_footer__metadata {
    color: $textDim !important;
  }
}
