.c-deprecated-icon--danger {
  color: $red;
}

.c-icon--filetype {
  &:before {
    color: $accent;
  }

  &:after {
    background-color: $accent;
  }

  box-shadow: none;
}

.c-icon--filetype-large {
  width: 60px;

  &:before {
    color: $accent;
  }

  &:after {
    background-color: $accent;
  }
}

.c-icon--filetype-small {
  &:before {
    color: $accent;
  }

  &:after {
    background-color: $accent;
  }
}

.c-icon--filetype-tiny {
  &:before {
    color: $accent;
  }

  &:after {
    background-color: $accent;
  }
}

.c-icon--file-spaces {
  &:before {
    color: $green;
  }

  &:after {
    background-color: $green;
  }
}

.c-icon--file-spaces-small {
  &:before {
    color: $green;
  }

  &:after {
    background-color: $green;
  }
}

.c-icon--file-spaces-tiny {
  &:before {
    color: $green;
  }

  &:after {
    background-color: $green;
  }
}

.c-icon--file-image {
  &:before {
    color: $accent;
  }

  &:after {
    background-color: $accent;
  }
}

.c-icon--file-image-small {
  &:before {
    color: $accent;
  }

  &:after {
    background-color: $accent;
  }
}

.c-icon--file-image-tiny {
  &:before {
    color: $accent;
  }

  &:after {
    background-color: $accent;
  }
}

.c-icon--file-pdf {
  &:before {
    color: $red;
  }

  &:after {
    background-color: $red;
  }
}

.c-icon--file-pdf-small {
  &:before {
    color: $red;
  }

  &:after {
    background-color: $red;
  }
}

.c-icon--file-pdf-tiny {
  &:before {
    color: $red;
  }

  &:after {
    background-color: $red;
  }
}

.c-icon--file-audio {
  &:before {
    color: $accent;
  }

  &:after {
    background-color: $accent;
  }
}

.c-icon--file-audio-small {
  &:before {
    color: $accent;
  }

  &:after {
    background-color: $accent;
  }
}

.c-icon--file-audio-tiny {
  &:before {
    color: $accent;
  }

  &:after {
    background-color: $accent;
  }
}

.c-icon--file-video {
  &:before {
    color: $accent;
  }

  &:after {
    background-color: $accent;
  }
}

.c-icon--file-video-small {
  &:before {
    color: $accent;
  }

  &:after {
    background-color: $accent;
  }
}

.c-icon--file-video-tiny {
  &:before {
    color: $accent;
  }

  &:after {
    background-color: $accent;
  }
}

.c-icon--file-presentation {
  &:before {
    color: $accent;
  }

  &:after {
    background-color: $accent;
  }
}

.c-icon--file-presentation-small {
  &:before {
    color: $accent;
  }

  &:after {
    background-color: $accent;
  }
}

.c-icon--file-presentation-tiny {
  &:before {
    color: $accent;
  }

  &:after {
    background-color: $accent;
  }
}

.c-icon--file-email {
  &:before {
    color: $accent;
  }

  &:after {
    background-color: $accent;
  }
}

.c-icon--file-email-small {
  &:before {
    color: $accent;
  }

  &:after {
    background-color: $accent;
  }
}

.c-icon--file-email-tiny {
  &:before {
    color: $accent;
  }

  &:after {
    background-color: $accent;
  }
}

.c-icon--file-vector {
  &:before {
    color: $accent;
  }

  &:after {
    background-color: $accent;
  }
}

.c-icon--file-vector-small {
  &:before {
    color: $accent;
  }

  &:after {
    background-color: $accent;
  }
}

.c-icon--file-vector-tiny {
  &:before {
    color: $accent;
  }

  &:after {
    background-color: $accent;
  }
}

.c-icon--file-spreadsheet {
  &:before {
    color: $accent;
  }

  &:after {
    background-color: $accent;
  }
}

.c-icon--file-spreadsheet-small {
  &:before {
    color: $accent;
  }

  &:after {
    background-color: $accent;
  }
}

.c-icon--file-spreadsheet-tiny {
  &:before {
    color: $accent;
  }

  &:after {
    background-color: $accent;
  }
}

.c-icon--file-media-archive {
  &:before {
    color: $accent;
  }

  &:after {
    background-color: $accent;
  }
}

.c-icon--file-media-archive-small {
  &:before {
    color: $accent;
  }

  &:after {
    background-color: $accent;
  }
}

.c-icon--file-media-archive-tiny {
  &:before {
    color: $accent;
  }

  &:after {
    background-color: $accent;
  }
}

.c-icon--file-archive {
  &:before {
    color: $accent;
  }

  &:after {
    background-color: $accent;
  }
}

.c-icon--file-archive-small {
  &:before {
    color: $accent;
  }

  &:after {
    background-color: $accent;
  }
}

.c-icon--file-archive-tiny {
  &:before {
    color: $accent;
  }

  &:after {
    background-color: $accent;
  }
}

.c-icon--file-executable {
  &:before {
    color: $accent;
  }

  &:after {
    background-color: $accent;
  }
}

.c-icon--file-executable-small {
  &:before {
    color: $accent;
  }

  &:after {
    background-color: $accent;
  }
}

.c-icon--file-executable-tiny {
  &:before {
    color: $accent;
  }

  &:after {
    background-color: $accent;
  }
}

.c-icon--file-disk-image {
  &:before {
    color: $accent;
  }

  &:after {
    background-color: $accent;
  }
}

.c-icon--file-disk-image-small {
  &:before {
    color: $accent;
  }

  &:after {
    background-color: $accent;
  }
}

.c-icon--file-disk-image-tiny {
  &:before {
    color: $accent;
  }

  &:after {
    background-color: $accent;
  }
}

.c-icon--file-cad {
  &:before {
    color: $accent;
  }

  &:after {
    background-color: $accent;
  }
}

.c-icon--file-cad-small {
  &:before {
    color: $accent;
  }

  &:after {
    background-color: $accent;
  }
}

.c-icon--file-cad-tiny {
  &:before {
    color: $accent;
  }

  &:after {
    background-color: $accent;
  }
}

.c-icon--file-3d-graphic {
  &:before {
    color: $accent;
  }

  &:after {
    background-color: $accent;
  }
}

.c-icon--file-3d-graphic-small {
  &:before {
    color: $accent;
  }

  &:after {
    background-color: $accent;
  }
}

.c-icon--file-3d-graphic-tiny {
  &:before {
    color: $accent;
  }

  &:after {
    background-color: $accent;
  }
}

.c-icon--file-database {
  &:before {
    color: $accent;
  }

  &:after {
    background-color: $accent;
  }
}

.c-icon--file-database-small {
  &:before {
    color: $accent;
  }

  &:after {
    background-color: $accent;
  }
}

.c-icon--file-database-tiny {
  &:before {
    color: $accent;
  }

  &:after {
    background-color: $accent;
  }
}

.c-icon--file-binary {
  &:before {
    color: $accent;
  }

  &:after {
    background-color: $accent;
  }
}

.c-icon--file-binary-small {
  &:before {
    color: $accent;
  }

  &:after {
    background-color: $accent;
  }
}

.c-icon--file-binary-tiny {
  &:before {
    color: $accent;
  }

  &:after {
    background-color: $accent;
  }
}

.c-icon--file-markdown {
  &:before {
    color: $accent;
  }

  &:after {
    background-color: $accent;
  }
}

.c-icon--file-markdown-small {
  &:before {
    color: $accent;
  }

  &:after {
    background-color: $accent;
  }
}

.c-icon--file-markdown-tiny {
  &:before {
    color: $accent;
  }

  &:after {
    background-color: $accent;
  }
}

.c-icon--file-text-post {
  &:before {
    color: $green;
  }

  &:after {
    background-color: $green;
  }
}

.c-icon--file-text-post-small {
  &:before {
    color: $green;
  }

  &:after {
    background-color: $green;
  }
}

.c-icon--file-text-post-tiny {
  &:before {
    color: $green;
  }

  &:after {
    background-color: $green;
  }
}

.c-icon--file-html {
  &:before {
    color: $accent;
  }

  &:after {
    background-color: $accent;
  }
}

.c-icon--file-html-small {
  &:before {
    color: $accent;
  }

  &:after {
    background-color: $accent;
  }
}

.c-icon--file-html-tiny {
  &:before {
    color: $accent;
  }

  &:after {
    background-color: $accent;
  }
}

.c-icon--file-code {
  &:before {
    color: $accent;
  }

  &:after {
    background-color: $accent;
  }
}

.c-icon--file-code-small {
  &:before {
    color: $accent;
  }

  &:after {
    background-color: $accent;
  }
}

.c-icon--file-code-tiny {
  &:before {
    color: $accent;
  }

  &:after {
    background-color: $accent;
  }
}

.c-icon--file-css {
  &:before {
    color: $accent;
  }

  &:after {
    background-color: $accent;
  }
}

.c-icon--file-css-small {
  &:before {
    color: $accent;
  }

  &:after {
    background-color: $accent;
  }
}

.c-icon--file-css-tiny {
  &:before {
    color: $accent;
  }

  &:after {
    background-color: $accent;
  }
}

.c-icon--file-php {
  &:before {
    color: $accent;
  }

  &:after {
    background-color: $accent;
  }
}

.c-icon--file-php-small {
  &:before {
    color: $accent;
  }

  &:after {
    background-color: $accent;
  }
}

.c-icon--file-php-tiny {
  &:before {
    color: $accent;
  }

  &:after {
    background-color: $accent;
  }
}

.c-icon--file-snippet {
  &:before {
    color: $purple;
  }

  &:after {
    background-color: $purple;
  }
}

.c-icon--file-snippet-small {
  &:before {
    color: $purple;
  }

  &:after {
    background-color: $purple;
  }
}

.c-icon--file-snippet-tiny {
  &:before {
    color: $purple;
  }

  &:after {
    background-color: $purple;
  }
}

.c-icon--file-word {
  &:before {
    color: $blue;
  }

  &:after {
    background-color: $blue;
  }
}

.c-icon--file-word-small {
  &:before {
    color: $blue;
  }

  &:after {
    background-color: $blue;
  }
}

.c-icon--file-word-tiny {
  &:before {
    color: $blue;
  }

  &:after {
    background-color: $blue;
  }
}

.c-icon--file-excel {
  &:before {
    color: $green;
  }

  &:after {
    background-color: $green;
  }
}

.c-icon--file-excel-small {
  &:before {
    color: $green;
  }

  &:after {
    background-color: $green;
  }
}

.c-icon--file-excel-tiny {
  &:before {
    color: $green;
  }

  &:after {
    background-color: $green;
  }
}

.c-icon--file-powerpoint {
  &:before {
    color: $orange;
  }

  &:after {
    background-color: $orange;
  }
}

.c-icon--file-powerpoint-small {
  &:before {
    color: $orange;
  }

  &:after {
    background-color: $orange;
  }
}

.c-icon--file-powerpoint-tiny {
  &:before {
    color: $orange;
  }

  &:after {
    background-color: $orange;
  }
}

.c-icon--file-illustrator {
  &:before {
    color: $orange;
  }

  &:after {
    background-color: $orange;
  }
}

.c-icon--file-illustrator-small {
  &:before {
    color: $orange;
  }

  &:after {
    background-color: $orange;
  }
}

.c-icon--file-illustrator-tiny {
  &:before {
    color: $orange;
  }

  &:after {
    background-color: $orange;
  }
}

.c-icon--file-photoshop {
  &:before {
    color: $cyan;
  }

  &:after {
    background-color: $cyan;
  }
}

.c-icon--file-photoshop-small {
  &:before {
    color: $cyan;
  }

  &:after {
    background-color: $cyan;
  }
}

.c-icon--file-photoshop-tiny {
  &:before {
    color: $cyan;
  }

  &:after {
    background-color: $cyan;
  }
}

.c-icon--file-indesign {
  &:before {
    color: $red;
  }

  &:after {
    background-color: $purple;
  }
}

.c-icon--file-indesign-small {
  &:before {
    color: $purple;
  }

  &:after {
    background-color: $purple;
  }
}

.c-icon--file-indesign-tiny {
  &:before {
    color: $purple;
  }

  &:after {
    background-color: $purple;
  }
}

.c-icon--file-adobe-flash {
  &:before {
    color: $red2;
  }

  &:after {
    background-color: $red2;
  }
}

.c-icon--file-adobe-flash-small {
  &:before {
    color: $red2;
  }

  &:after {
    background-color: $red2;
  }
}

.c-icon--file-adobe-flash-tiny {
  &:before {
    color: $red2;
  }

  &:after {
    background-color: $red2;
  }
}

.c-icon--file-adobe-swf {
  &:before {
    color: $red2;
  }

  &:after {
    background-color: $red2;
  }
}

.c-icon--file-adobe-swf-small {
  &:before {
    color: $red2;
  }

  &:after {
    background-color: $red2;
  }
}

.c-icon--file-adobe-swf-tiny {
  &:before {
    color: $red2;
  }

  &:after {
    background-color: $red2;
  }
}

.c-icon--file-iphone-app {
  &:before {
    color: $silver;
  }

  &:after {
    background-color: $silver;
  }
}

.c-icon--file-iphone-app-small {
  &:before {
    color: $silver;
  }

  &:after {
    background-color: $silver;
  }
}

.c-icon--file-iphone-app-tiny {
  &:before {
    color: $silver;
  }

  &:after {
    background-color: $silver;
  }
}

.c-icon--file-android-app {
  &:before {
    color: $green;
  }

  &:after {
    background-color: $green;
  }
}

.c-icon--file-android-app-small {
  &:before {
    color: $green;
  }

  &:after {
    background-color: $green;
  }
}

.c-icon--file-android-app-tiny {
  &:before {
    color: $green;
  }

  &:after {
    background-color: $green;
  }
}

.c-icon--file-dropbox {
  &:before {
    color: $blue;
  }

  &:after {
    background-color: $blue;
  }
}

.c-icon--file-dropbox-small {
  &:before {
    color: $blue;
  }

  &:after {
    background-color: $blue;
  }
}

.c-icon--file-dropbox-tiny {
  &:before {
    color: $blue;
  }

  &:after {
    background-color: $blue;
  }
}

.c-icon--file-google-presentation {
  &:before {
    color: $yellow;
  }

  &:after {
    background-color: $yellow;
  }
}

.c-icon--file-google-presentation-small {
  &:before {
    color: $yellow;
  }

  &:after {
    background-color: $yellow;
  }
}

.c-icon--file-google-presentation-tiny {
  &:before {
    color: $yellow;
  }

  &:after {
    background-color: $yellow;
  }
}

.c-icon--file-google-spreadsheet {
  &:before {
    color: $green;
  }

  &:after {
    background-color: $green;
  }
}

.c-icon--file-google-spreadsheet-small {
  &:before {
    color: $green;
  }

  &:after {
    background-color: $green;
  }
}

.c-icon--file-google-spreadsheet-tiny {
  &:before {
    color: $green;
  }

  &:after {
    background-color: $green;
  }
}

.c-icon--file-google-document {
  &:before {
    color: $blue;
  }

  &:after {
    background-color: $blue;
  }
}

.c-icon--file-google-document-small {
  &:before {
    color: $blue;
  }

  &:after {
    background-color: $blue;
  }
}

.c-icon--file-google-document-tiny {
  &:before {
    color: $blue;
  }

  &:after {
    background-color: $blue;
  }
}

.c-icon--file-google-form {
  &:before {
    color: $red;
  }

  &:after {
    background-color: $red;
  }
}

.c-icon--file-google-form-small {
  &:before {
    color: $red;
  }

  &:after {
    background-color: $red;
  }
}

.c-icon--file-google-form-tiny {
  &:before {
    color: $red;
  }

  &:after {
    background-color: $red;
  }
}

.c-icon--file-qtz {
  &:before {
    color: $accent;
  }

  &:after {
    background-color: $accent;
  }
}

.c-icon--file-qtz-small {
  &:before {
    color: $accent;
  }

  &:after {
    background-color: $accent;
  }
}

.c-icon--file-qtz-tiny {
  &:before {
    color: $accent;
  }

  &:after {
    background-color: $accent;
  }
}

.c-icon--file-sketch {
  &:before {
    color: $orange;
  }

  &:after {
    background-color: $orange;
  }
}

.c-icon--file-sketch-small {
  &:before {
    color: $orange;
  }

  &:after {
    background-color: $orange;
  }
}

.c-icon--file-sketch-tiny {
  &:before {
    color: $orange;
  }

  &:after {
    background-color: $orange;
  }
}

.c-icon--file-figma-tiny {
  &:before {
    color: $fg;
  }

  &:after {
    background-color: $fg;
  }
}

.c-icon--file-text-quip {
  &:before {
    content: '\E438';
    color: $blue;
  }

  &:after {
    background-color: $blue;
  }
}

.c-icon--file-text-quip-small {
  &:before {
    content: '\E439';
    color: $blue;
  }

  &:after {
    background-color: $blue;
  }
}

.c-icon--file-text-quip-tiny {
  &:before {
    content: '\E4DA';
    color: $blue;
  }

  &:after {
    background-color: $blue;
  }
}
