// Don't know where this is used :(
#msg_input_mount_point {
  .p-workspace__input {
    &.p-message_input--focus-visible .p-message_input_field.focus {
      box-shadow: 0 0 0 1px $borderDim, 0 0 0 5px $borderDim !important;
    }

    .p-message_input_file_button {
      color: $textDim !important;

      &.p-message_input_file_button--active, &:hover {
        color: $textDim !important;
        background: $green !important;
      }
    }
  }
}

#msg_input {
  background: $contrast !important;
  color: $text !important;
  border-color: $bgLight !important;
  margin-top: 1em !important;

  &[data-placeholder]:empty:before {
    color: $text !important;
  }

  &.offline {
    background-color: $red !important;
  }

  .emo_menu {
    color: $textBright !important;
  }

  + #primary_file_button {
    &:not(:hover):not(.active) {
      border-color: $bg2 !important;
    }
    &.focus-ring:not(:hover):not(.active) {
      border-color: $accent !important;
    }
  }
  &.focus, &:focus {
    border-color: $primary !important;
  }
  &.focus + #primary_file_button:not(:hover):not(.active),
  &:focus + #primary_file_button:not(:hover):not(.active) {
    border-color: $primaryT !important;
  }
  &.offline:not(.pretend-to-be-online) {
    background-color: $bgHover !important;
  }
  &.disabled,
  &.ql-disabled {
    border-color: $bgLight !important;
    background-color: $bg2 !important;
    color: $textDim !important;
  }
}

#message_edit_form {
  .current_status_empty_emoji,
  .current_status_empty_emoji_cover,
  .emo_menu {
    color: $text !important;
  }
}

// The mentions (@) button
.msg_mentions_button {
  color: $primary !important;

  &:hover {
    color: $textBright !important;
  }
}

.current_status_input.focus ~ .current_status_emoji_picker .current_status_empty_emoji {
  color: $textBright !important;
}

.message_container_item {
  background: $bg;
  color: $text;
}

#msg_input::-webkit-input-placeholder {
  color: $text !important;
}

// Emojis ?
#msg_form,
.current_status_container,
.current_status_input_container,
.inline_message_input_container,
.share_channel_modal_contents {
  .current_status_empty_emoji,
  .current_status_empty_emoji_cover,
  .emo_menu {
    color: $text !important;
  }
}

// When input is in focus
#message_edit_form,
#msg_form,
.current_status_container,
.current_status_input_container,
.inline_message_input_container,
.share_channel_modal_contents {
  #msg_input.focus ~,
  #msg_input:focus ~,
  .message_input.focus ~,
  .message_input:focus ~ {
    #primary_file_button:not(:hover):not(.active),
    .emo_menu,
    .msg_mentions_button:not(:hover) {
      color: $primary !important;
    }
  }
}

.ql-container {
  background: $bg !important;
  border-color: $borderDim !important;

  .ql-editor {
    background: $bg !important;
    color: $text !important;
    border: 1px solid transparent !important;

    ul {
      &[data-checked=false] > li::before {
        color: $text !important;
      }

      &[data-checked=true] > li::before {
        color: $text !important;
      }
    }

    blockquote:before {
      background: $bg2 !important;
      color: $text !important;
    }

    &.focus-ring {
      border: 1px solid $primary !important;
    }
  }

  .ql-blank,
  .ql-blank::before {
    color: $text !important;
  }

}

.selectable_flex_pane_padder {
  color: $text !important;
}


/* Input message - File button */
#primary_file_button {
  background: transparent !important;
  color: $text !important;
  border-color: transparent !important;
  top: 1em !important;

  &.focus-ring,
  &.active,
  &:hover {
    background: $accent !important;
    color: $textBright !important;
    border-color: $accent !important;
    transition: all 0.5s ease-in-out !important;
  }
}

.inline_message_input_container .ql-container {
  border-color: $borderDim !important;
}

#file_reply_container .reply_container_info .reply_broadcast_buttons_container .reply_broadcast_label_container,
#reply_container .reply_container_info .reply_broadcast_buttons_container .reply_broadcast_label_container,
.reply_input_container .reply_container_info .reply_broadcast_buttons_container .reply_broadcast_label_container {
  color: $text !important;
}

#archives_return,
.messages_banner {
  color: $text !important;
  background-color: $bg2 !important;
  border: 1px solid $borderDim !important;

  a {
    color: $primary !important;

    &:hover {
      color: $textBright !important;
    }
  }
}

.reply_input_container .ql-container {
  background-color: $bg !important;
  border-color: $borderDim !important;
}

.secondary_file_button {
  color: $text !important;

  &:hover {
    color: $accent !important;
  }
}

// Snippets
#snippet_prompt,
#special_formatting_text,
#typing_text {
  color: $textDim !important;
}

#message-input.onboarding,
#msg_input_mount_point.onboarding .p-workspace__input .p-message_input_field,
#primary_file_button.onboarding {
  border-color: $accent !important;
}

.c-multi_select_input {
  border: 1px solid $borderDim !important;
  background-color: $bg !important;

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 1px $primary, 0 0 0 5px $primary !important;
  }

  &[disabled] {
    background: $bg2 !important;
    border: 1px solid $borderDim !important;
  }
}

.c-multi_select_input--disabled,
.c-multi_select_input__input--disabled {
  background: $bg2 !important;
}

.c-multi_select_input--focused {
  box-shadow: 0 0 0 1px $primary, 0 0 0 5px $primary !important;
}

.c-multi_select_token__remove {
  color: $textAccent !important;
}

.plastic_select {
  border: 1px solid $borderDim !important;
  color: $text !important;

  &:active, &:focus {
    border-color: $borderBright !important
  }
}