.c-input_select_options_list_container:not(.c-input_select_options_list_container--always-open) {
  border: 1px solid $borderLight;
  background-color: $bg2;
  border-color: $borderLight;

  &:focus {
    box-shadow: 0 0 0 1px $primary, 0 0 0 5px $primaryT;

    &:-moz-placeholder,
    &:-ms-input-placeholder,
    &::-moz-placeholder,
    &::-webkit-input-placeholder {
      color: $disabled;
    }
  }

  &[disabled] {
    background: $button;
    border: 1px solid $button;
  }
}

.c-input_select_options_list__option {
  color: $fg;
}

.c-input_select_options_list__option--selected {
  color: $selectFg;
}

.c-input_select_options_list__option--active {
  box-shadow: inset 0 0 0 1px $selectBg;
  background-color: $selectBg;
  color: $primary;
}

.c-input_select_options_list__option_description {
  color: $text;
}

.c-input_select_options_list__empty_state {
  color: $fg;
}

.c-input_select_options_list__empty_state--selected {
  color: $primary;
}

.c-input_select_options_list__empty_state--active {
  box-shadow: inset 0 0 0 1px $primaryT;
  border-radius: 4px;
  background-color: $primaryT;
}

.c-input_select_options_list__loading_state {
  color: $fg;
}

.c-input_select_options_list__loading_state--selected {
  color: $primary;
}

.c-input_select_options_list__loading_state--active {
  box-shadow: inset 0 0 0 1px $primaryT;
  background-color: $primaryT;
}

.c-input_select {
  border: 1px solid $borderLight;
  background: $contrast;

  &:focus {
    box-shadow: 0 0 0 1px $primary, 0 0 0 5px $primaryT;

    &:-moz-placeholder,
    &:-ms-input-placeholder,
    &::-moz-placeholder,
    &::-webkit-input-placeholder {
      color: $disabled;
    }
  }

  &[disabled] {
    background: $button;
    border: 1px solid $borderLight;
  }

  input[type='url'],
  input[type='text'],
  input[type='tel'],
  input[type='number'],
  input[type='email'],
  input[type='password'] {
    background-color: transparent;
    border-color: transparent;

    &:focus {
      box-shadow: none;
    }
  }
}

.c-input_select--with_default {
  border: 1px solid $disabled;

  &:focus {
    box-shadow: 0 0 0 1px $disabled, 0 0 0 5px $bg;
    border-radius: 4px;
  }
}

.c-input_select--with_info {
  border: 1px solid $blue;

  &:focus {
    box-shadow: 0 0 0 1px $blue, 0 0 0 5px $blue;
  }
}

.c-input_select--with_success {
  border: 1px solid $green;

  &:focus {
    box-shadow: 0 0 0 1px $green, 0 0 0 5px $green;
  }
}

.c-input_select--with_warning {
  border: 1px solid $orange;

  &:focus {
    box-shadow: 0 0 0 1px $orange, 0 0 0 5px $orange;
  }
}

.c-input_select--with_error {
  border: 1px solid $red;

  &:focus {
    box-shadow: 0 0 0 1px $red, 0 0 0 5px $red;
  }
}

.c-input_select--active {
  box-shadow: 0 0 0 1px $primary, 0 0 0 5px $primaryT;

  &:-moz-placeholder,
  &:-ms-input-placeholder,
  &::-moz-placeholder,
  &::-webkit-input-placeholder {
    color: $disabled;
  }
}

input.c-input_select__filter_input {
  color: $fg;

  &::-webkit-input-placeholder,
  &:-moz-placeholder,
  &::-moz-placeholder,
  &:-ms-input-placeholder,
  &::-webkit-input-placeholder,
  &::-moz-placeholder,
  &::-ms-input-placeholder,
  &::placeholder {
    color: $disabled;
  }
}

.c-input_select__selected_value--active,
.c-input_select__selected_value--placeholder {
  color: $disabled;
}

.p-file_list__file_type_select {
  .c-input_select__selected_value--placeholder {
    color: $fg;
  }
}

.c-input_select--open_panel {
  background-color: $bg;
  border: 1px solid $borderLight;

  &:focus {
    box-shadow: 0 0 0 1px $primary, 0 0 0 5px $primaryT;

    &:-moz-placeholder,
    &:-ms-input-placeholder,
    &::-moz-placeholder,
    &::-webkit-input-placeholder {
      color: $disabled;
    }
  }

  &[disabled] {
    background: $button;
    border: 1px solid $borderLight;
  }
}

.c-input_select__icon:before {
  color: $text;
}

.c-input_select__secondary_member_name {
  color: $text;
}
