.c-new_locale_toast {
  box-shadow: 0 0 0 1px $primary, 0 4px 12px 0 $primaryT;
}

.c-new_locale_toast__close_button.c-toast__close-button {
  color: $fg;
  background: $notif;
}

.c-new_locale_toast .c-link--button:hover,
.c-new_locale_toast__close_button:hover {
  color: $accent2;
}

.c-new_locale_toast__close_button,
.c-new_locale_toast__close_button.c-toast__close-button {
  color: $fg;
  background: $bg;
}

.c-new_locale_toast .c-link--button:hover,
.c-new_locale_toast__close_button:hover {
  color: $primary;
}

.c-sk-modal {
  background-color: $bg;
  box-shadow: 0 0 0 1px $border, 0 18px 48px 0 rgba(0, 0, 0, 0.35);
}

.c-sk-modal__close_button--inverted {
  background: $primary !important;
  color: $selectFg;
}

.c-sk-modal_title_bar__text {
  h3:nth-child(2) {
    color: $text;
  }
}

.c-sk-modal_title_bar__icon {
  background-color: $bg;
}

.c-sk-modal_footer {
  background-color: $bg;
}

.c-new_locale_toast .c-link--button:hover,
.c-new_locale_toast__close_button:hover {
  color: $primary;
}
