.c-new_locale_toast__close_button {
  color: $fg;
  background: $bg;
}

.c-new_locale_toast .c-link--button:hover,
.c-new_locale_toast__close_button:hover {
  color: $primary;
}

.c-sk-modal {
  background-color: $bg;
  opacity: 0;
  transition: opacity 80ms linear, transform 80ms cubic-bezier(0.36, 0.19, 0.29, 1);
  transform: scale(0.95);
}

.c-sk-modal.ReactModal__Content--after-open:not(.ReactModal__Content--before-close) {
  transform: scale(1);
  opacity: 1;
}

.c-sk-modal__close_button--inverted {
  background: $primary !important;
  color: $selectFg;
}

.c-sk-modal_title_bar__text {
  h3:nth-child(2) {
    color: $text;
  }
}

.c-sk-modal_title_bar__icon {
  background-color: $bg;
}

.c-sk-modal_footer {
  background-color: $bg;
}

.c-new_locale_toast .c-link--button:hover, .c-new_locale_toast__close_button:hover {
  color: $primary;
}
