.c-select_input::-webkit-input-placeholder,
.c-select_input__content::-webkit-input-placeholder {
  color: $disabled;
}

.c-select_input {
  &:-moz-placeholder,
  &::-moz-placeholder {
    color: $disabled;
  }
}

.c-select_input__content {
  &:-moz-placeholder,
  &::-moz-placeholder {
    color: $disabled;
  }
}

.c-select_input:-ms-input-placeholder,
.c-select_input__content:-ms-input-placeholder,
.c-select_input::-webkit-input-placeholder,
.c-select_input__content::-webkit-input-placeholder,
.c-select_input::-moz-placeholder,
.c-select_input__content::-moz-placeholder,
.c-select_input::-ms-input-placeholder,
.c-select_input__content::-ms-input-placeholder,
.c-select_input::placeholder,
.c-select_input__content::placeholder {
  color: $disabled;
}

.c-select_input {
  border: 1px solid $button;
  background: $button;
  color: $fg;

  &:focus {
    box-shadow: 0 0 0 1px $primary, 0 0 0 5px $primaryT;

    &:-moz-placeholder,
    &:-ms-input-placeholder,
    &::-moz-placeholder,
    &::-webkit-input-placeholder {
      color: $disabled;
    }
  }

  &[disabled] {
    color: $disabled;
  }
}

.c-select_input--offscreen {
  color: transparent;
}

.c-select_input__icon_container {
  color: $fg;
}

.c-select_input--invalid {
  border-color: $red;

  &:focus,
  &:focus-within {
    box-shadow: 0 0 0 1px $red, 0 0 0 5px $red;
  }
}

.c-select_options_list__wrapper {
  background-color: $bg2;
}

.c-select_options_list__option {
  color: $fg;
}

.c-select_options_list__option--disabled {
  color: $disabled;

  &:hover {
    background-color: $excluded;
    color: $text;
  }
}

.c-select_options_list__option--selected {
  color: $primary;
}

.c-select_options_list__option--active .p-invite_type_select_option_label_description {
  color: $selectFg;
}

.c-select_options_list__option--active {
  background-color: $hl;
  color: $selectFg;

  &.c-select_options_list__option--disabled {
    background-color: $excluded;
    color: $disabled;

    &:hover {
      background-color: $excluded;
      color: $text;
    }
  }
}

.c-select_options_list__clear_option {
  color: $fg;

  &.c-select_options_list__option--active {
    color: $accent;
  }
}

.sk-client-theme--dark .c-select_options_list__clear_option.c-select_options_list__option--active {
  color: $primary;
}

.c-select_options_list__group_header {
  color: $text;
}

.c-select_button {
  border: 1px solid $button;
  background-color: $button;

  &:focus {
    box-shadow: 0 0 0 1px $primary, 0 0 0 5px $primaryT;

    &:-moz-placeholder,
    &:-ms-input-placeholder,
    &::-moz-placeholder,
    &::-webkit-input-placeholder {
      color: $disabled;
    }
  }

  &[disabled] {
    background: $bg2;
    border: 1px solid $button;
  }
}

.c-select_button {
  &:active .c-select_button__icon,
  &:hover .c-select_button__icon {
    color: $primary;
  }

  &:active {
    background-color: $hl;
  }
}

.c-select_button__icon,
.c-select_button__placeholder {
  color: $disabled;
}

.c-select_button--invalid {
  border-color: $red;

  &:focus,
  &:focus-within {
    box-shadow: 0 0 0 1px $red, 0 0 0 5px $red;
  }
}

.c-select_button--disabled {
  background: $button;
  border-color: $button;
  color: $disabled;
}

.c-select_button--text-select {
  &.c-select_button--disabled {
    color: $disabled;

    .c-select_button__icon {
      color: $disabled;
    }
  }
}

.c-select_options_list__wrapper--nightshade_elevation {
  background-color: $hl;
}

.c-select_options_list__virtual_list--slack_scrollbar {
  &::-webkit-scrollbar-thumb {
    color: $accent;
  }

  &::-webkit-scrollbar-track {
    color: $bg;
    background: $bg2;
  }

  &::-webkit-scrollbar-thumb {
    background: $accent;
  }

  &::-webkit-scrollbar-corner {
    background: $bg;
  }

  &::-webkit-scrollbar-thumb,
  &::-webkit-scrollbar-track {
    border-left: 4px solid $border;
    border-right: 4px solid $border;
  }
}

.c-select_options_list__wrapper--nightshade_elevation .c-select_options_list__virtual_list--slack_scrollbar {
  &::-webkit-scrollbar-thumb {
    color: $accent;
  }

  &::-webkit-scrollbar-track {
    color: $bg;
    background: $bg2;
  }

  &::-webkit-scrollbar-thumb {
    background: $accent;
  }

  &::-webkit-scrollbar-corner {
    background: $bg;
  }

  &::-webkit-scrollbar-thumb,
  &::-webkit-scrollbar-track {
    border-left: 4px solid $border;
    border-right: 4px solid $border;
  }
}
