.c-switch__input {
  border: none;
  background-color: $fg;
  color: $fg;
  width: 38px;
  height: 14px;
  transform: translateY(8px);
}

.c-switch__visual {
  &:after {
    background-color: $selectFg;
    left: 0;
  }
}

.c-switch__input:checked {
  background-color: $accent;
  color: $accent;
  filter: brightness(0.5);

  + .c-switch__visual {
    &:before {
      display: none;
    }

    &:after {
      background-color: $accent;
      transform: translate3d(22px, 0, 0);
    }
  }
}

.sk-client-scheme--purple .c-switch__input:checked {
  background-color: $accent;
  color: $accent;
}

.c-switch__input {
  &:focus {
    box-shadow: none;

    &:-moz-placeholder,
    &:-ms-input-placeholder,
    &::-moz-placeholder,
    &::-webkit-input-placeholder {
      color: $disabled;
    }
  }

  &:hover {
    border: none;
  }

  &:disabled {
    background-color: $disabled;

    + .c-switch__visual {
      &:after {
        background-color: $disabled;
      }
    }
  }
}
