.c-tabs__tab {
  color: $text !important;

  &:hover {
    color: $textBright !important;
  }

  &.c-button--focus-visible:focus {
    box-shadow: 0 0 0 1px $primary, 0 0 0 5px $primary !important;
  }

  &.c-tabs__tab--active, &:active {
    color: $textBright !important;
    box-shadow: inset 0 -2px 0 0 $accent !important;
  }

  &.c-tabs__tab--active.c-button--focus-visible:focus {
    box-shadow: 0 0 0 1px $primary, 0 0 0 5px $primary !important;
  }
}

.c-tabs__tab_count {
  background-color: $accent !important;
}

.c-tabs__tab_menu {
  box-shadow: inset 0 -1px 0 0 $bgLight !important;
}

.c-tabs__tab_menu--plastic {
  background-color: $bg !important;
  color: $text !important;
}

a.c-tabs__tab--plastic {
  color: $text !important;

  &:hover {
    color: $textBright !important;
  }

  &.c-tabs__tab--active, &:active, &:focus {
    color: $textBright !important;
    box-shadow: inset 0 -2px 0 0 $primary !important;
  }
}

.tab_menu {
  background-color: $contrast !important;
  box-shadow: inset 0 -2px 0 0 $bg !important;

  .tab {
    color: $text !important;

    &:hover {
      color: $textBright !important;
    }

    &.active, &:active, &:focus {
      color: $textBright !important;
      box-shadow: inset 0 -2px 0 0 $bg !important;
    }

  }
}