.c-toast {
  background: $notif;
  color: $fg;
}

.c-toast {
  .c-link--button {
    color: $fg;

    &:active, &:focus, &:hover {
      color: $selectFg;
    }
  }

  a {
    color: $primary;

    &:active, &:focus, &:hover {
      color: $selectFg;
    }
  }
}

.c-toast__close-button {
  color: $fg;
}

.c-toast {
  .c-button--focus-visible:focus, .c-link--focus-visible:focus, .focus-ring {
    box-shadow: 0 0 0 1px $primary, 0 0 0 5px $primaryT;
  }
}
