.c-toggle__input {
  border: 1px solid $button;
  background-color: $button;
  transition: background-color .4s ease-out;
}

.c-toggle__visual {
  &:before {
    color: $selectFg;
  }

  &:after {
    background-color: $accent;
  }
}

.c-toggle__input {
  &:checked {
    background-color: $accent;

    + .c-toggle__visual {
      color: $selectFg;

      &:after {
        background-color: $hl;
      }
    }
  }

  &:focus {
    box-shadow: 0 0 0 1px $primary, 0 0 0 5px $primaryT;

    &:-moz-placeholder, &:-ms-input-placeholder, &::-moz-placeholder, &::-webkit-input-placeholder {
      color: $disabled;
    }
  }

  &:hover {
    border-color: $primary;
  }

  &:disabled {
    background-color: $button;

    + .c-toggle__visual {
      &:before {
        color: $fg;
      }

      &:after {
        background-color: $accentT;
      }
    }
  }
}
