ts-message {
  // hover state
  &:hover {
    background: $bgHover !important;
    .timestamp {
      color: $primary !important;
    }
  }

  .is_pinned_holder {
    color: $text;
  }

  .action_hover_container {
    background: $bg2 !important;

    .btn_msg_action {
      background: $bg2 !important;
      color: $text !important;
      border-color: $borderDim !important;

      &:hover {
        color: $primary !important;
      }
    }
  }

  // Selected message
  &.selected {
    background: $bg2;

    .message_content .message_sender {
      color: $textBright !important;
    }
  }

  // Message content
  .message_content {
    .message_sender {
      color: $textBright !important;
    }
    .message_body {
      color: $text !important;
    }
    .message_content_header {
      color: $primary !important;
    }
  }

  // Attachments
  .attachment_group {
    .msg_inline_attachment_column.column_border {
      background-color: $primary;
    }

    .attachment_source span {
      color: $text !important;

      a {
        color: $primary !important;
      }
    }

    .attachment_footer,
    .attachment_ts {
      color: $text !important;
    }
  }

  .thread_channel_link {
    color: $text !important;
  }

}

#msgs_div {
  color: $primary !important;
  font-weight: bold;
}

#typing_text {
  color: $textDim !important;
}
