.p-prefs_modal__theme_section {
  > * {
    opacity: 0.25;
    cursor: not-allowed;
    pointer-events: none;
  }

  &::before {
    content: ' (disabled: the Custom Themes override these settings ;))';
    text-align: center;
    font-size: 30px;
    margin: 1em auto;
    opacity: 1;
  }

  h2,
  h3 {
    text-decoration: line-through;
  }
}