.p-about_tab__pile__count {
  color: $text;
}

.p-about_tab__pile__add {
  color: $fg;
  border: 1px dashed $borderLight;

  &:hover {
    border-color: $primary;
    color: $selectFg;
  }
}

.p-about_tab__purpose {
  background: $bg2;
}

.p-about_tab__purpose__footer {
  color: $bg2;
}

.p-about_tab__purpose__footer__separator {
  color: $border;
}

.p-about_modal__contents {
  background-color: rgba(var(--sk_foreground_min, 29, 28, 29), 0.04);
}

.p-about_modal__section,
.p-about_modal__section_button {
  --saf-0: rgba(var(--sk_foreground_low, 29, 28, 29), 0.13);
  border: 1px solid var(--saf-0);
  background-color: rgba(var(--sk_primary_background, 255, 255, 255), 1);
}

.p-about_modal__section_button {
  &:hover {
    background-color: rgba(var(--sk_foreground_min, 29, 28, 29), 0.04);
  }
}

.p-about_modal__empty_topic {
  color: rgba(var(--sk_foreground_max, 29, 28, 29), 0.7);
}

.p-about_modal__notifications {
  color: rgba(var(--sk_foreground_max, 29, 28, 29), 0.7);
}

.p-about_modal__meta {
  color: rgba(var(--sk_foreground_max, 29, 28, 29), 0.7);
}

.p-about_modal__mpdm_avatars {
  .p-about_modal__member_avatar {
    img {
      --saf-0: rgba(var(--sk_primary_background, 255, 255, 255), 1);
      border: 2px solid var(--saf-0);
    }
  }
}

.p-about_modal__connected_section_heading {
  color: rgba(var(--sk_foreground_max, 29, 28, 29), 0.7);
}

.p-about_modal__connected_section_item {
  &:hover {
    background: rgba(var(--sk_foreground_min, 29, 28, 29), 0.04);

    .c-team_icon,
    .p-about_modal__workspace_overflow_icon {
      --saf-0: rgba(var(--sk_foreground_min_solid, 248, 248, 248), 1);
      border: 2px solid var(--saf-0);
    }
  }
}

.p-about_modal__connected_subheading {
  color: rgba(var(--sk_foreground_high, 29, 28, 29), 0.5);
}

.p-about_modal__connected_icons {
  .c-team_icon,
  .p-about_modal__workspace_overflow_icon {
    --saf-0: rgba(var(--sk_primary_background, 255, 255, 255), 1);
    border: 2px solid var(--saf-0);
  }
}

.p-about_modal__workspace_overflow_icon {
  background: rgba(var(--sk_foreground_max, 29, 28, 29), 0.7);
  color: rgba(var(--sk_foreground_min_solid, 248, 248, 248), 1);
}
