.p-admin_channel_modal__subtitle {
  color: $disabled;
}

.p-admin_channel_modal__danger {
  color: $red;
}

.p-admin_channel_modal__icon {
  color: $text;
}

.p-admin_channel_modal__section_title {
  color: $text;
}

.p-disabled_add_people_button__tip {
  color: $fg;
  background-color: $notif;

  .c-tooltip__tip__arrow {
    border: 1px solid $borderLight;
    background: $notif;
    border-right-color: $notif;
    border-bottom-color: $notif;
  }
}

.p-admin_channel_modal__copy_members__copied {
  color: $green;
}

.p-manage_org_access_modal--workspace_access_heading {
  border-top: 1px solid $borderLight;
}

.p-apps_in_channel_contents__list_item {
  &:hover {
    background-color: $bg2;
  }
}

.p-apps_in_channel_contents__list--indicate-top {
  border-top: 1px solid $borderLight;
}

.p-apps_in_channel_contents__loading {
  color: $fg;
}

.p-channel_details__placeholder_avatar {
  background-color: $text;
}

.p-channel_details__placeholder_line {
  background-color: $text;
}
