.p-admin_channel_modal__subtitle {
  color: $disabled;
}

.p-admin_channel_modal__danger {
  color: $red;
}

.p-admin_channel_modal__icon {
  color: $text;
}

.p-admin_channel_modal__section_title {
  color: $text;
}

.p-disabled_add_people_button__tip {
  color: $fg;
  background-color: $notif;

  .c-tooltip__tip__arrow {
    border: 1px solid $borderLight;
    background: $notif;
    border-right-color: $notif;
    border-bottom-color: $notif;
  }
}
