.p-ai_summary_thread_separator_pill {
  background-color: $button;
  box-shadow: 0 0 0 1px $border;
  color: $fg;

  &.p-ai_summary_thread_separator_pill--in_progress {
    background-color: $accent;
    color: $selectFg;
  }
}

.p-ai_summary_header_subtitle__permalink {
  &:focus,
  &:hover {
    color: $text;
  }
}

.p-ai_summary_header_subtitle__channel_name {
  color: $text;
}
