.p-message_input_announce_only_roadblock {
  color: $disabled;
}

.p-message_input_announce_only_roadblock--border {
  border-top: 1px solid $border;
}

.p-message_input_announce_only_roadblock--informative_footer {
  border: 1px solid $borderLight;
  background-color: $bg2;
}
