.p-app_actions_dialog {
  .c-dialog__footer {
    background: $bg;
    border-top: 1px solid $borderLight;
  }

  a.c-dialog__footer_link {
    color: $accent2;
  }
}

.p-app_actions_dialog__message {
  background: $bg;
  border-top: none;
  border-bottom: none;
}


.p-app_actions_dialog_options_list {
  &::-webkit-scrollbar-thumb {
    color: $accent;
  }

  &::-webkit-scrollbar-track {
    color: $bg;
    background: $bg2;
  }

  &::-webkit-scrollbar-thumb {
    background: $accent;
  }

  &::-webkit-scrollbar-corner {
    background: $bg;
  }
}

.p-app_actions_dialog__option {
  border-top: 1px solid $borderLight;
}

.p-app_actions_dialog__option--active {
  border: 1px solid $borderLight;
  background-color: $hl;

  .c-menu_item__description {
    color: $text;
  }
}

.p-app_actions_dialog__option--active:first-child {
  border-color: $borderLight;
}
