.p-app_settings {
  background: $bg;
}

.p-app_settings_container {
  border-top: 1px solid $borderLight;
  border-left: 1px solid $borderLight;
  border-right: 1px solid $borderLight;
  border-bottom: 1px solid $borderLight;
}
