.p-app_action_picker_item__text--secondary {
  color: $text;
}

.p-app_action_picker_item--active .p-app_action_picker_item__text--secondary {
  color: $active;
}

.p-app_action_picker {
  background-color: $bg;

  .c-input_text {
    background-color: $contrast;
  }
}

.p-app_action_picker_heading {
  color: $text;
}

.p-app_action_picker_heading__icon--highlighted {
  color: $primary !important;
}

.p-app_action_picker_heading__icon--app {
  border: 1px solid $borderLight;
}

.p-app_action_picker_trigger_button--dark.p-app_action_picker_trigger_button,
.p-app_action_picker_trigger_button {
  &:hover i {
    color: $primary;
  }

  &.active,
  &:active {
    color: $primary;
  }

  &:active,
  &:hover {
    background: $hl !important;
    color: $primary !important;
  }
}

.p-app_action_picker_trigger_button--highlighted {
  color: $primary;
}

.p-app_action_picker_trigger_button_container {
  border-right: 1px solid $borderLight;
}

.p-app_action_picker_trigger_button--highlight i {
  color: $primary;
}

.p-app_action_picker_trigger_button {
  border: 1px solid $button;
  background: $button;

  i {
    color: $fg;
  }

  &:hover i {
    color: $primary;
  }

  &.active,
  &:active {
    border-color: $active;
    background: $active;
    color: $primary;
  }
}

.p-app_action_picker--nightshade-elevation {
  background-color: $hl;
}

.p-app_action_picker_add_app_shortcut_section__add-app-section {
  border-bottom: 1px solid $borderLight;

  .p-app_action_picker_add_app_shortcut_section__app-link {
    color: $primary;

    &:hover {
      color: $selectFg;
    }
  }
}

.p-app_action_picker_add_shortcut_modal__add-channel-action-title {
  border-bottom: 1px solid $borderLight;
}

.p-app_action_picker_add_shortcut_modal__add-channel-action-section {
  border-bottom: 1px solid $borderLight;
}

.c-texty_autocomplete.p-app_action_picker_autocomplete_commands {
  background: $bg;
  border: 1px solid $borderLight;
}

.c-texty_autocomplete__result--selected .c-base_list_entity--highlight-dark .c-texty_autocomplete__result_context {
  color: $selectFg;
}
