.p-archives_banner {
  color: $text;
  background: $bg2;
}

.p-client_desktop--ia-top-nav {
  .p-archives_banner {
    background: $accent;
    color: $selectFg;

    &:hover {
      background: $accent;
    }
  }
}
