.c-avatar--no_image {
  background-color: $bg2;
}

.c-avatar__additional_overlay {
  color: $bg;
  background-color: rgba(0, 0, 0, 0.5);
}

.c-avatar {
  .c-avatar__team_icon {
    box-shadow: 0 0 0 2px $borderLight;
  }

  .c-avatar__nonteam_icon {
    box-shadow: -1px 0 0 1px $selectFg;
  }
}

.c-avatar__badge--restricted {
  background: $bg;

  .c-avatar__badge_inner {
    background: $disabled;
  }
}

.c-avatar__badge--ultra_restricted {
  &:before {
    border-bottom: 16px solid $borderLight;
  }

  .c-avatar__badge_inner {
    border-bottom: 11px solid $disabled;

    &:before {
      box-shadow: inset -1px 2px $borderLight;
    }

    &:after {
      box-shadow: inset 2px -1px $borderLight;
    }
  }
}

.c-avatar__tooltip_detail {
  color: $hl;
}

.p-avatar_stack__count {
  background: $bg;
  color: $fg;

  &.p-avatar_stack__count--in_banner {
    box-shadow: 0 0 0 2px $primary;
  }
}

.p-avatar_stack__stack {
  &:hover {
    .p-avatar_stack__count {
      background-color: $bg;
      color: $fg;

      &.p-avatar_stack__count--in_banner {
        background-color: $bg2;
      }
    }

    .p-avatar_stack__avatar--in_banner,
    .p-avatar_stack__count.p-avatar_stack__count--in_banner {
      box-shadow: 0 0 0 2px $bg2;
    }
  }

  &:active {
    .p-avatar_stack__count {
      background: $selectBg;

      &.p-avatar_stack__count--in_banner {
        background: $selectBg;
      }
    }

    .p-avatar_stack__avatar--in_banner,
    .p-avatar_stack__count.p-avatar_stack__count--in_banner {
      box-shadow: 0 0 0 2px $bg2;
    }
  }
}

.p-avatar_stack__add_button--highlight {
  background-color: $button;

  &:hover {
    background: $accent;
  }

  &:active {
    background: $accent;
  }
}

.p-avatar_stack__tip_subtitle {
  color: $text;
}

.p-avatar_stack--channel-details {
  border: 1px solid $borderLight;

  &.p-avatar_stack--no-outline {
    border: none;
  }

  &:not(.p-avatar_stack--no-outline) .p-avatar_stack__stack:hover {
    background-color: $hl;
    color: $selectFg;
  }

  .p-avatar_stack__stack:hover .p-avatar_stack__count {
    background-color: $active;
  }

  .p-avatar_stack__stack_divider {
    background-color: $borderLight;
  }
}

.p-avatar_stack__avatar {
  background: $button;
  box-shadow: 0 0 0 2px $contrast;
}
