.p-app_external_team_banner {
  background: $contrast;
}

.p-app_external_team_banner__team_icon {
  box-shadow: 0 0 0 2px $primary;
}

.c-banner {
  display: flex;
  font-weight: 700;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 1;
  min-height: 48px;

  .c-button--focus-visible:focus, .c-link--focus-visible:focus {
    color: $selectFg;
    box-shadow: 0 0 0 1px $selectBg, 0 0 0 5px $selectBg;
  }
}

.c-banner--info {
  background-color: $blue;
  color: $selectFg;
}

.c-banner--success {
  background-color: $green;
  color: $selectFg;
}

.c-banner--warning {
  background-color: $orange;
  color: $selectFg;
}

.c-banner--urgent {
  background-color: $red;
  color: $selectFg;
}

.c-banner--neutral {
  background-color: $notif;
  color: $fg;
}

.p-message_pane__degraded_banner {
  background: $bg2;
  color: $text;
}

.p-message_pane__degraded_banner__reload_cta {
  color: $text;

  &:hover {
    color: $fg;
  }
}

.p-message_pane_banner {
  background-color: $bg;

  &:before {
    background-color: $bg;
    border-bottom: 1px solid $borderLight;
  }
}

.p-message_pane_banner__header {
  color: $fg;
}

.p-message_pane_banner__body {
  color: $fg;
}

.p-message_pane_banner__close_icon {
  color: $text;
}
