.p-app_external_team_banner {
  background: $contrast;
}

.p-app_external_team_banner__team_icon {
  box-shadow: 0 0 0 2px $primary;
}

.c-banner {
  .c-button--focus-visible:focus, .c-link--focus-visible:focus {
    color: $selectFg;
    box-shadow: 0 0 0 1px $selectBg, 0 0 0 5px $selectBg;
  }
}

.c-banner--info {
  background-color: $blue;
  color: $selectFg;
}

.c-banner--success {
  background-color: $green;
  color: $selectFg;
}

.c-banner--warning {
  background-color: $orange;
  color: $selectFg;
}

.c-banner--urgent {
  background-color: $red;
  color: $selectFg;
}

.c-banner--neutral {
  background-color: $notif;
  color: $fg;
}

.p-message_pane__degraded_banner {
  background: $bg2;
  color: $text;
}

.p-message_pane__degraded_banner__reload_cta {
  color: $text;

  &:hover {
    color: $fg;
  }
}

.p-message_pane_banner {
  background-color: $bg;

  &:before {
    background-color: $bg;
    border-bottom: 1px solid $borderLight;
  }
}

.p-global_banner {
  background-color: $bg2;
}

.p-message_pane_banner__header {
  color: $fg;
}

.p-message_pane_banner__body {
  color: $fg;
}

.p-message_pane_banner__close_icon {
  color: $text;
}

.p-message_pane_banner--persistent {
  background-color: $bg2;
}

.p-message_pane_banner__body_icon {
  color: $primary;
}

.supports_custom_scrollbar .p-global_banner__container {
  &:hover {
    &::-webkit-scrollbar-thumb {
      background: $accent;
    }
  }
}

.p-global_banner--ephemeral {
  border: 1px $borderLight;
}

.p-global_banner--persistent {
  border-bottom: 1px solid $borderLight;

  &:before {
    border-bottom: 1px solid $borderLight;
    background-color: $bg;
  }
}

.p-global_banner__heading {
  color: $fg;
}

.p-global_banner__close_icon {
  color: $fg;
}

.p-message_pane_banner__spacer, .p-message_pane_banner_common {
  background-color: $bg;
}

.p-message_pane_banner__spacer {
  border-bottom: 1px solid $borderLight;
}

.p-message_pane_banner--persistent {
  box-shadow: 0 1px 0 $primaryT;
  background-color: $notif;
}

.p-message_pane_banner_small {
  background-color: $notif;
}
