.c-basic_container {
  background: $bg;
}

.c-basic_container--bordered {
  border: 1px solid $borderLight;

  &:focus-within,
  &.c-basic_container--focused {
    box-shadow: 0 0 0 1px $primary, 0 0 0 5px $primaryT;
    border-color: transparent;

    &:-moz-placeholder,
    &:-ms-input-placeholder,
    &::-moz-placeholder,
    &::-webkit-input-placeholder {
      color: $disabled;
    }
  }
}

.c-basic_container--disabled {
  background: $bg2;
}

.c-basic_container--invalid {
  border-color: $red;

  &:focus,
  &:focus-within {
    box-shadow: 0 0 0 1px $red, 0 0 0 5px $red;
  }
}
