.p-benefit_card__container {
  background-color: $bg;
}

.p-benefit_card__card_link {
  color: $primary;
}

.p-benefit_card__text_link {
  color: $primary;
}

.p-paid_benefits_header {
  background-color: $contrast;
}

.p-paid_benefits_header__title {
  color: $fg;
}

.p-paid_benefits_header__subtitle {
  color: $text;
}
