.p-bp__paginator__arrow_btn {
  &:disabled {
    color: $disabled;

    &:active,
    &:hover {
      background: none;
      color: $fg;
    }
  }
}

.c-pagination__page_btn,
.p-bp__paginator__page_btn {
  color: $fg;

  &:not(.c-pagination__page_btn--active),
  &:not(.p-bp__paginator__page_btn--active) {
    &:active,
    &:focus,
    &:hover {
      color: $selectFg;
      background-color: $accent;
    }
  }
}

.c-pagination__page_btn--active,
.p-bp__paginator__page_btn--active {
  color: $selectFg;
  background-color: $accentT;

  &:focus,
  &:hover {
    color: $selectFg;
    background: $accent;
  }

  &:active {
    background: $accent;
    box-shadow: none;
  }
}
