.p-message_pane_input_broadcast_warning {
  background-color: $bg2;
}

.p-message_pane_input_broadcast_warning__button_text,
.p-message_pane_input_broadcast_warning__hint {
  color: $disabled;
}

.sk-client-theme--dark .p-message_pane_input_broadcast_warning__highlight,
.p-message_pane_input_broadcast_warning__highlight {
  background: $hl;
}
