.c-callout {
  color: $primary;
  background-color: $notif;
}

.c-menu_item__li--highlighted .c-callout,
.sk-client-theme--dark .c-callout {
  color: $primary;
  background-color: $notif;
  box-shadow: inset 0 0 0 1px $notif;
}

.callout__G9Iwc {
  background-color: $notif;
  box-shadow: inset 0 0 0 1px $notif;
  color: $primary;
  font-family: $fontFamily;
}

.c-menu_item__li--highlighted > :not(.p-ia4_create_menu__item) .callout__G9Iwc {
  background-color: $notif;
  box-shadow: inset 0 0 0 1px $notif;
  color: $fg;
}

.sk-client-theme--dark .callout__G9Iwc {
  background-color: $notif;
  box-shadow: inset 0 0 0 1px $notif;
  color: $primary;
}
