.p-calls_draw__name_tag {
  background: rgba(var(--sk_inverted_background, 29, 28, 29), 0.9);
  color: rgba(var(--sk_inverted_foreground, 255, 255, 255), 1);
}

.p-active_speaker__member_name {
  color: #fff;
}
