.p-calls_draw__name_tag {
  background: $bg;
  color: $fg;
}

.p-active_speaker__member_name {
  color: $primary;
}

.p-huddles_draw__name_tag {
  background: $notif;
  color: $fg;
}

.p-calls_video {
  background-color: $bg2;
}
