.p-canvas_msg_avatar {
  background: $excluded;
  color: $text;
}

.p-canvas_msg_avatar--live {
  background: $accent;
  color: $selectFg;
}

.p-canvas_template_gallery__sidebar {
  background-color: $bg2;
  border-right: 1px solid $border;
}

.p-canvas_template_gallery__search_wrapper {
  border-bottom: 1px solid $borderLight;
}

.p-canvas_template_gallery__header {
  border-bottom: 1px solid $borderLight;
}

.p-canvas_template_gallery__template--selected {
  background-color: $hl;
  color: $selectFg;
}

.p-quip_templates__buttons,
.p-quip_templates__header {
  color: $fg;
}

.p-quip_templates__buttons__button:hover {
  background: $selectBg;
}

.p-canvas_nux_coachmark__header_icon {
  color: $accent;
}

.sk-client-theme--dark .p-canvas_nux_coachmark__header_icon {
  color: $accent;
}

.p-canvas_templates_title_badge,
.sk-client-theme--dark .p-canvas_templates_title_badge {
  background-color: $accent;
  color: $selectFg;
}

.p-canvas_templates_title_badge.p-canvas_templates_title_badge--channel_canvas,
.sk-client-theme--dark .p-canvas_templates_title_badge.p-canvas_templates_title_badge--channel_canvas {
  background-color: $accent;
  color: $selectFg;
}

.p-canvas_smart_cards {
  background: $bg2;
}

.p-canvas_template_gallery__modal {
  .p-canvas_template_gallery__canvas_embed,
  .p-quip_loading_skeleton {
    box-shadow: 0 0 0 1px $excluded;
  }

  .p-quip_embed {
    box-shadow: 0 4px 12px 0 $excluded;
  }
}

.p-canvas_template_gallery__modal--ia4 {
  background: radial-gradient(circle at 50% 50%, $text 20%, #0000 80%),
    conic-gradient(from 45deg at 50% 50%, $contrast 0, $text 25%, $contrast 50%, $text 75%, $contrast 100%);
}

.p-canvas_template_gallery__sidebar {
  border-right: 1px solid $border;
}

.p-canvas_template_gallery__sidebar--bg {
  background: $contrast;
}

.p-canvas_template_gallery__sidebar--bg-ia4 {
  background-color: $contrast;
}

.p-canvas_template_gallery__template--selected {
  background-color: $accent;
  color: $selectFg;
}

.p-canvas_template_gallery__template_header {
  color: $text;
}

.p-canvas_template_gallery__canvas_container--ia4 {
  background-color: $bg;
}

.p-canvas_template_gallery__canvas_header {
  border-bottom: 1px solid $border;
}

.p-canvas_template_gallery__canvas_embed {
  background-color: $bg;
}

.p-canvas_template_gallery__footer {
  background-color: $bg;
  border-top: 1px solid $border;
}

.p-canvas_template_gallery__last_updated {
  color: $text;
}

.p-canvas_recent_editors__avatar {
  background-color: $bg;
  box-shadow: 0 0 0 2px $bg;
}

.p-view_header_hover_card__popover_arrow {
  border-bottom: 14px solid $accent;
}
