.p-case_study {
  background-color: $bg;
}

.p-case_study__text {
  color: $fg;
}

.p-case_studies_carousel__nav {
  border-bottom: 1px solid $borderLight;
}

.p-case_studies_carousel__nav--border {
  border-bottom: 1px solid $borderLight;
}
