.p-channel_sidebar__activity__toast__tip_sub {
  background: $notif;
  color: $primary;
}

.p-channel_sidebar--iap1.p-channel_sidebar--bottom_banner_showing .p-channel_sidebar__list:after {
  background: linear-gradient(to top, $bg, $bg) !important;
}

.p-channel_sidebar__setup_channel_container {
  &:after {
    background: $bg;
  }
}

.c-input_text.p-channel_sidebar__channel {
  &.p-channel_sidebar__setup_channel_input--v-with-error {
    &:active,
    &:focus {
      background-color: $tree;
    }
  }
}

.setup-caret-right {
  border-right: 14px solid $borderLight;
}

.p-channel_sidebar__loading_spacer_row {
  background-color: $bg2;
}

.p-channel_sidebar__section_heading--setup-sidebar:after,
.p-channel_sidebar__section_heading:after {
  background: $bg;
}

.p-channel_sidebar__tip_highlighted_symbol {
  background-color: $bg;
}

.sk-client-theme--dark {
  .c-message_list__unread_divider--unread_threads .c-message_list__unread_divider__separator {
    background-image: linear-gradient(90deg, $red 0, $red);
  }

  .c-message_list__unread_divider__separator--is-unread-enter-active
    .c-message_list__unread_divider--unread_threads
    .c-message_list__unread_divider__separator {
    box-shadow: 0 0 5px 0 $red;
    box-shadow: 0 0 5px 0 $red, 0 0 5px 0 rgba($red, 0.7), 0 0 5px 0 rgba($red, 0.3);
  }

  .c-message_list__unread_divider--unread_threads .c-message_list__unread_divider__label {
    color: $red;
  }
}
