.c-channel_icon {
  background-color: $bg;
}

.p-channel_name_input__prefix_description {
  color: $text;
}

.c-select_options_list__option--active .p-channel_name_input__prefix_description {
  color: $selectFg;
}

.p-channel_name_input__select_input_wrapper {
  .c-input_text--with_error:focus {
    box-shadow: 0 0 0 1px $red, 0 0 0 5px $red;
  }
}

.p-shared_channel_convert_modal__title {
  border-bottom: 1px solid $bg2;
  color: $fg;
}

.p-channel_name_input--input_note {
  color: $text;
}

.p-channel_name_input--alert {
  border: 1px solid $red;
  background-color: $bg2;
}

.p-channel_details__channel_details_section .p-channel_details_section__icon {
  color: $text;
}

.p-channel_details__heading {
  color: $text;
}

.p-channel_details__created_link {
  color: $accent2;

  &:hover {
    color: $primary;
  }
}

.p-channel_details__workspaces_row_member_count {
  color: $text;
}

.p-channel_details__similar_channels_channel {
  :hover {
    color: $fg;
  }
}

.p-channel_details__similar_channels_channel_link {
  color: $accent2;
}

.p-channel_details__member_count {
  color: $text;
}

.p-channel_details_section {
  border-bottom: 1px solid $border;
}

.p-channel_details_section__caret_icon {
  color: $text;
}

.p-channel_details__highlights_section .p-channel_details_section__icon {
  color: $accent;
}

.p-highlights_section__group_title_line {
  border-top: 1px solid $borderLight;
}

.p-highlights_section__group_title_label {
  background-color: $bg;
}

.p-channel_details__members_list_section {
  .p-channel_details_section__icon {
    color: $accent;
  }
}

.p-channel_details__member_list__guests {
  color: $text;
}

.p-channel_details__members_dialog__list--indicate-top {
  border-top: 1px solid $borderLight;
}

.p-channel_details__apps_section {
  .p-channel_details_section__icon {
    color: $accent2;
  }
}

.p-channel_details__shared_files_section .p-channel_details_section__icon {
  color: $red;
}

.p-channel_details__shared_files__empty {
  color: $text;
}

.p-channel_details__notification_prefs_section .p-channel_details_section__icon {
  color: $red;
}

.p-channel_details__notification_prefs_section__pref_label {
  color: $text;
}

.p-channel_details__notification_prefs_section__notification_warning {
  background: $yellow;
}

.p-channel_details__dm_section {
  border-bottom: 1px solid $border;
}

.p-channel_details__dm_section__tz_section {
  border-bottom: 1px solid $border;
}

.p-channel_details__dm_section__tz_label {
  color: $text;
}

.p-channel_details__subtitle {
  color: $text;
}

.p-channel_action_menu__empty_state {
  color: $fg;
}

.p-channel_actions_section_item__list_entity {
  &:hover {
    background-color: $accent;
    color: $selectFg;
  }
}

.p-channel_actions_section {
  .p-channel_details_section__icon {
    color: $primary;
  }
}

.p-ia__channel_details__header_created {
  color: $fg;
}

.p-ia__channel_details__blurb {
  background-color: $bg;
}

.p-ia__channel_details__blurb_edit {
  color: $primary;
}

.p-ia__channel_details__about {
  background-color: $tree;
}

.p-ia__channel_details__about_title {
  color: $text;
}

.p-ia__channel_details__about_edit {
  color: $primary;
}

.p-ia__channel_details__prefs {
  border-bottom: 1px solid $borderLight;
}

.p-ia__channel_details__prefs_title {
  color: $text;
}

.p-ia__channel_details__prefs_control {
  background-color: $tree;
}

.p-ia__channel_details__prefs_control__content {
  color: $fg;
}

.p-ia__channel_details__actions {
  background-color: $bg2;
}

.p-ia__channel_details__action {
  &.active .p-ia__channel_details__action_icon {
    background-color: $active;
    color: $selectFg;
  }
}

.p-ia__channel_details__action_icon {
  background-color: $button;
  color: $fg;

  &:hover {
    background-color: $hl;
  }

  &:active {
    background-color: $active;
  }
}

.p-ia__channel_details__action_label {
  color: $text;
}

.p-ia__channel_details__action {
  &.p-ia__channel_details__action--muted .p-ia__channel_details__action_icon,
  &.p-ia__channel_details__action--starred .p-ia__channel_details__action_icon {
    color: $fg;
    background-color: $button;
  }
}

.p-ia__channel_details__created {
  background-color: $tree;
}

.p-pending_requests_v2_channel_card {
  @include card;
}

.p-channel_card h3 {
  color: $text;
}

.p-channel_details__members_dialog__loading {
  color: $accent;
}

.p-channel_details_about__blurb {
  background-color: $bg2;
}

button.p-channel_details_about__blurb {
  &:hover {
    background-color: $selectBg;
    color: $selectFg;
  }
}

.p-channel_details_about__blurb_edit {
  color: $primary;
}

.p-channel_details_about__empty {
  color: $text;
}

.p-channel_details_about__about_title {
  color: $text;
}

.p-channel_details_about__heading {
  color: $text;
}

.p-channel_details_about__created {
  .c-link--button {
    color: $text;
  }
}

.p-ia__channel_details__details {
  border-bottom: 1px solid $borderLight;
}

.p-channel_details__header {
  .p-member_profile_picture {
    border-bottom: 1px solid $borderLight;
  }

  .c-custom_status {
    color: $text;
  }
}

.p-channel_details__header__created {
  color: $text;
}

.p-channel_card_team-caption {
  color: $text;
}

.p-channel_card_team-disconnected,
.p-channel_card_team-pending {
  color: $disabled;
}

@keyframes highlight-pinned-invite {
  10% {
    background: $bg;
  }

  to {
    background: transparent;
  }
}

.p-channel_email_address_modal__body__content {
  color: $text;
}

.p-channel_email_address_modal__body__footer {
  color: $text;
}

.p-channel_email_address_modal__body__button_section {
  border-top: $borderLight;
}

.p-channel_email_address_modal__body_customization_button {
  color: $primary;
  background: $button;
  padding-left: 12px;

  &:disabled,
  &:hover {
    color: $selectFg;
    background: $hl;
    padding-left: 12px;
  }
}

.p-channel_email_address_modal__body_message_preview {
  background: $bg;
}

.p-channel_email_address_modal__body_message_preview_title {
  color: $text;
}

.p-channel_email_address_modal__body_message_preview__icon {
  background: $bg2;
}

.p-channel_email_address_modal__body_message_preview__message {
  background: $bg;
  border: 1px solid $border;
}

.p-ia_channel_details_section {
  border-bottom: 1px solid $borderLight;
}

.p-ia_channel_details_section__title {
  color: $text;
}

.p-ia_channel_details_section__see_all {
  color: $primary;
}

.p-ia_channel_details__members_section {
  .p-ia_channel_details_section {
    border-bottom: 1px solid $borderLight;
  }
}

.p-ia_channel_details_channel_description__blurb_edit {
  color: $primary;
}

.p-channel_email_address_modal__body_message_preview_alt {
  background: $bg2;
}

.p-channel_email_address_modal__body_message_preview_title_alt {
  color: $text;
}

.p-channel_email_address_modal__body_density__sub_text {
  color: $primary;
}

.p-channel_email_address_modal__options_overlay_options_list
  .c-select_options_list__option--active
  .p-channel_email_address_modal__body_density__sub_text {
  color: $selectFg;
}

.p-channel_details__member_list__limited_caption {
  color: $text;
}

.p-ia_view_header__channel_files_results_display {
  color: $fg;
}

.c-channel_entity__shared_icon_additional_team_icon {
  background-color: $hl;
  color: $primary;
}
