.p-channel_create_modal__label_title {
  color: $fg;

  strong {
    color: $primary;
  }
}

.p-channel_create_modal__label_error {
  color: $red;
}

.p-channel_create_modal__input_subtext {
  color: $text;
}

.p-channel_create_modal__private_toggle_copy_body,
.p-channel_create_modal__sub_section_copy_body {
  color: $text;
}

.p-channel_create_modal__share {
  color: $text;
  background-color: $bg;
}

.p-channel_create_modal__footer_copy {
  color: $text;

  &:hover {
    color: $primary;
  }
}

.p-channel_create_modal__footer_info_icon {
  color: $text;

  &:hover {
    color: $fg;
  }
}

.p-channel_create_modal__share_disabled {
  color: $disabled;
}
