.channel_options_modal {
  .c-fullscreen_modal__title {
    color: $fg;
  }
}

.channel_options_header {
  span {
    color: $accent2;
  }
}

.channel_option_item {
  border-top: 1px solid $borderLight;

  .title {
    color: $fg;
  }

  .channel_option_open {
    color: $text;
  }

  &:hover {
    background: $tree;
    color: $selectFg;
  }
}

.channel_option_item--disabled {
  .title {
    color: $disabled;
  }

  &:hover {
    background: $excluded;
  }
}

.p-channel-options__retention_modal {
  .c-button--primary.c-button--disabled {
    background: $button;
  }
}

.p-channel_options--retention_duration {
  background-color: $bg;
}

.p-channel_options--retention_duration_add_on {
  background-color: $bg2;
  border: 1px solid $borderLight;
}

.p-channel_options--retention_duration_unit {
  color: $primary;
}

.p-channel-options--workspace_access_heading {
  border-top: 1px solid $borderLight;

  .ts_icon_org_shared_channel {
    color: $green;
  }

  .ts_icon_warning {
    color: $orange;
  }
}
