.p-chatty_to_channel_message_pane__foreword__channel_icon {
  background-color: $accent;
  color: $selectFg;
}

.p-chatty_to_channel_message_pane__foreword__actions {
  button {
    border-color: $border;
  }
}
