.p-channel_insights__key_insight_container {
  color: $text;
}

.p-channel_insights__key_insight_cell {
  border: 1px solid $border;
  color: $fg;
}

.p-channel_insights__key_insight_ttfr_change_up {
  color: $green;
}

.p-channel_insights__action_open_insights_dash {
  color: $accent !important;
}
