.p-channel_email_address_modal__help_content_section {
  background: rgba(var(--sk_foreground_min_solid, 248, 248, 248), 1);
}

.p-channel_email_address_modal__help_content_section--light-mode {
  background: #fef4ea;
}

.p-channel_email_address_modal__help_container_icon {
  color: rgba(var(--sk_foreground_max, 29, 28, 29), 0.7);
}

.p-channel_email_address_modal__help_link {
  color: rgba(var(--sk_foreground_max, 29, 28, 29), 0.7);
}
