.p-channel_email_address_modal__help_content_section {
  background: $bg2;
}

.p-channel_email_address_modal__help_content_section--light-mode {
  background: $bg2;
}

.p-channel_email_address_modal__help_container_icon {
  color: $text;
}

.p-channel_email_address_modal__help_link {
  color: $text;
}
