//.p-classic_nav {
//  background: $bg2;
//  color: $fg;
//}

.p-classic_nav__team_messages_progress_bar_background {
  stroke: $border !important;
}

.p-classic_nav__team_messages_progress_bar_progress {
  stroke: $accent !important;
}

.p-classic_nav__team_messages_progress_bar_text {
  fill: $fg !important;
}

.c-menu_item__li--highlighted .p-classic_nav__team_messages_progress_bar_text {
  fill: $primary !important;
}

.p-classic_nav__team_messages_limit_meter {
  color: $fg;
}

.p-classic_nav__team_messages_limit_meter__separator {
  border-top: 2px $borderLight solid;
}

.p-classic_nav__team_menu__blurb__sub {
  color: $text;
}

.p-classic_nav__channel_header__subtitle {
  color: $text;
}

.p-classic_nav__model__title__name--dim {
  color: $text;
}

.p-classic_nav__model__title__name__tabs__workspace {
  background: $bg2;
  color: $fg;
}

.p-classic_nav__model__title__name__status--im {
  color: $text;
}

.p-classic_nav__model__title__name__unmute {
  &.c-button--focus-visible:focus, &:hover {
    color: $red;
  }
}

.p-classic_nav__model__title__is_you {
  color: $fg;
}

.p-classic_nav__model__title__info {
  color: $fg;
}

.p-classic_nav__model__title__info__star--starred {
  color: $yellow;
}

.p-classic_nav__model__title__info__star {
  &.c-button--focus-visible:focus, &:hover {
    color: $yellow;
  }
}

.p-classic_nav__model__title__info__members {
  &.c-button--focus-visible:focus, &:hover {
    color: $primary;
  }
}

.p-classic_nav__model__title__info__pins {
  &.c-button--focus-visible:focus, &:hover {
    color: $primary;
  }
}

.p-classic_nav__model__title__info__shared_teams {
  &.c-button--focus-visible:focus, &:hover {
    color: $primary;
  }
}

.p-classic_nav__model__title__info__topic__edit {
  color: $primary;
}

.p-classic_nav__model__title__info__topic--focus-within .p-classic_nav__model__title__info__topic__text:before, .p-classic_nav__model__title__info__topic:hover .p-classic_nav__model__title__info__topic__text:before {
  background: $bg;
  box-shadow: inset 0 0 0 1px $border, 0 1px 1px 0 rgba(0, 0, 0, 0.05);
}

.p-classic_nav__model__button {
  border-radius: 4px;
  color: $text;
  height: 32px;
  justify-content: center;
  width: 32px;

  &:hover {
    color: $primary;
  }
}

.p-classic_nav__model__button--active {
  background: $border;
  color: $fg;

  &:hover {
    color: $fg;
  }
}

.p-classic_nav__model__button--tooltip {
  color: $text;
}

.p-classic_nav__model__button--disabled {
  color: $disabled;

  &:hover {
    color: $disabled;
  }
}

.p-classic_nav__model__menu__jump {
  color: $fg;
}

.p-classic_nav__model__menu__jump__back {
  border-top: 1px solid $border;

  &:focus, &:hover {
    color: $primary;
  }
}

.p-shared_channels_team_menu_item__label--new {
  background-color: $accent2;
  color: $selectFg;
}

.p-classic_nav__right__search {
  background: $contrast;
  border: 1px solid $button;
  color: $fg;

  &:hover {
    border-color: $borderLight;
  }
}

.p-classic_nav__right__search--dark {
  background: $contrast;
}

.p-classic_nav__right__search--is_highlighted {
  background-color: $contrast;
  border-color: $primary;
  color: $primary;
}

.p-classic_nav__right__search__icon {
  color: $text;
}

.p-classic_nav__right__search:hover .p-classic_nav__right__search__icon,
.p-classic_nav__right__search:not(.p-classic_nav__right__search--dark):hover .p-classic_nav__right__search__icon {
  color: $primary;
}

.p-classic_nav__right__search__placeholder {
  color: $disabled;
}

.p-classic_nav__right__search:hover .p-classic_nav__right__search__placeholder,
.p-classic_nav__right__search:not(.p-classic_nav__right__search--dark):hover .p-classic_nav__right__search__placeholder {
  color: $fg;
}

.p-classic_nav__right__search:hover .p-classic_nav__right__search__text,
.p-classic_nav__right__search:not(.p-classic_nav__right__search--dark):hover .p-classic_nav__right__search__text {
  color: $primary;
}

.p-classic_nav__right__search__clear {
  color: $text;

  &:hover {
    color: $fg;
  }
}

.p-classic_nav__right__button {
  color: $text;

  &:hover {
    color: $primary;
  }
}

.p-classic_nav__right__button--activity:hover {
  color: $red;
}

.p-classic_nav__right__button--stars:hover {
  color: $yellow;
}

.p-classic_nav__right__button--shortcuts:hover {
  color: $accent2;
}

.p-classic_nav__right__button--flexpanes {
  &:hover {
    color: $primary;
  }
}

.p-classic_nav__right__button--active {
  color: $primary;

  &:hover {
    color: $selectFg;
  }

  &:before {
    background: $active;
  }
}

.p-classic_nav__right__help_count {
  background-color: $accent;
  border: 2px solid $accent;
  color: $selectFg;
}

.p-classic_nav__tip_shortcut, .p-classic_nav__tip_sub {
  color: $text;
}

.p-classic_nav__right__whats_new {
  background-color: $accent2;
  color: $selectFg;
}

.p-classic_nav__search_small_divider {
  background: $border;
}

.p-classic_nav__right__button--search_small_highlighted {
  color: $primary;

  &:hover {
    color: $primary;
  }

  &:before {
    background: $button;
  }
}

.p-classic_nav__model__title__info__tab--active {
  color: $disabled;

  &:after {
    background: $accent;
  }
}

.p-ia__view_header .p-classic_nav__model__title__info__sep {
  color: $text;
}
