.p-client {
  background: $bg2;
}

.p-client_desktop--ia-top-nav .p-prefs_dialog--peek_sidebar {
  &:after {
    background: linear-gradient(180deg, $bg2 0, $bg2 39px, transparent 40px);
  }

}

.p-client_container_placeholder .p-view_header_placeholder {
  border-bottom: 1px solid $border;
}

.p-client_container_placeholder .p-message_input_placeholder {
  border: 1px solid $border;
}
