.p-contact_sales_banner__icon {
  color: $notif;
}

.p-contact_sales_banner__dismiss {
  &.c-button-unstyled {
    color: $disabled;
  }
}

.c-alert .p-contact_sales_banner__link {
  border-bottom: 1px solid $borderLight;
}
