.p-connectable_contacts_search_awareness_tip {
  background-color: $button;
  border: 1px solid $border;
  border-top: 1px solid #0000;
}

.p-connectable_contacts_search_awareness_tip__callout {
  background-color: $notif;
  color: $fg;
}
