.p-config_section__container {
  --saf-0: rgba(var(--sk_foreground_low, 29, 28, 29), 0.13);
  border: 1px solid var(--saf-0);

  + .p-config_section__container {
    &:before {
      background-color: rgba(var(--sk_foreground_low, 29, 28, 29), 0.13);
    }
  }
}

.p-config_section__subtitle {
  color: rgba(var(--sk_foreground_max_solid, 97, 96, 97), 1);
  background-color: rgba(var(--sk_primary_background, 255, 255, 255), 1);
}

.p-install_config_icon__container {
  background-color: #4a154b;
  color: #fff;
}

.p-install_config_icon__container--rounded-top {
  background-color: #007a5a;
}

.p-install_config_icon__container--rounded-bottom {
  background-color: #1264a3;
}

.p-install_config_icon__container--rounded {
  background-color: #1264a3;
}

.p-config_preview__subtitle {
  color: rgba(var(--sk_foreground_max_solid, 97, 96, 97), 1);
}
