.p-create_event_modal {
  .conference-app-select {
    .conference-link {
      .link-icon {
        color: $accent2;
      }
    }
  }

  .available-time-slots .suggested-option {
    &:nth-last-child(2) {
      border-bottom: 1px solid $borderLight;
    }

    .time-slot-availability {
      color: $text;
    }
  }

  .custom-time-slots .custom-option {
    &:nth-last-child(2) {
      border-bottom: 1px solid $borderLight;
    }

    .time-slot-range {
      &.change-selection-mode {
        color: $primary;
      }
    }
  }

  .suggested-timeslot-container {
    .loader-with-message {
      color: $fg;
    }
  }
}
