.p-custom_status_input--for_team_site {
  .p-custom_status_input__duration_picker_select .c-input_select__selected_value--placeholder {
    color: $fg;
  }
}

.p-custom_status_input__clear_icon {
  color: $text;
}

.p-custom_status_input__emoji_picker {
  border-right: 1px solid $borderLight;
}

.p-custom_status_input__empty_emoji {
  color: $disabled;
}

.p-custom_status_input__emoji_picker:hover {
  .p-custom_status_input__emoji_circle_icon {
    color: $orange;
  }

  .p-custom_status_input__emoji_happy_icon {
    color: $fg;
  }
}

.p-custom_status_input__duration_picker_select {
  .c-input_select__chevron,
  .c-input_select__filter_input::-webkit-input-placeholder,
  .c-input_select__selected_value--placeholder,
  .c-input_select__chevron,
  .c-input_select__filter_input::-moz-placeholder,
  .c-input_select__selected_value--placeholder,
  .c-input_select__chevron,
  .c-input_select__filter_input::-ms-input-placeholder,
  .c-input_select__selected_value--placeholder,
  .c-input_select__chevron,
  .c-input_select__filter_input::placeholder,
  .c-input_select__selected_value--placeholder {
    color: $disabled;
  }
}

.p-custom_status_input__duration_picker--focus-visible {
  box-shadow: 0 0 0 1px $primary, 0 0 0 5px $primaryT;
}

.p-custom_status_input__custom_expiration_picker {
  color: $disabled;

  .c-input_select__chevron,
  .c-input_select__filter_input::-webkit-input-placeholder,
  .c-input_select__selected_value--placeholder,
  .p-custom_status_input__chevron_down,
  .c-input_select__chevron,
  .c-input_select__filter_input::-moz-placeholder,
  .c-input_select__selected_value--placeholder,
  .p-custom_status_input__chevron_down,
  .c-input_select__chevron,
  .c-input_select__filter_input::-ms-input-placeholder,
  .c-input_select__selected_value--placeholder,
  .p-custom_status_input__chevron_down,
  .c-input_select__chevron,
  .c-input_select__filter_input::placeholder,
  .c-input_select__selected_value--placeholder,
  .p-custom_status_input__chevron_down {
    color: $text;
  }
}

.p-custom_status_input--for_modern_user_menu .p-custom_status_input__presets,
.p-custom_status_input--for_team_menu .p-custom_status_input__presets {
  border-top: 1px solid $borderLight;
}

.p-custom_status_input__presets_section_header {
  color: $text;
}

.p-custom_status_input__dialog {
  .p-custom_status_input__preset_option_duration {
    color: $text;
  }
}

.p-custom_status_input__dialog .p-custom_status_input__preset_option {
  &:focus {
    background-color: $primary;
    color: $bg;

    &:link,
    &:visited {
      background-color: $primary;
      color: $bg;
    }
  }

  &:hover {
    background-color: $primary;
    color: $bg;

    &:link,
    &:visited {
      background-color: $primary;
      color: $bg;
    }
  }

  &:focus .p-custom_status_input__preset_option_duration,
  &:hover .p-custom_status_input__preset_option_duration {
    color: $bg;
  }
}

.p-custom_status_modal__input_action {
  color: $text;
}

.p-custom_status_modal__input_action--emoji {
  color: $text;
}

.p-custom_status_modal__input_action--close {
  color: $text;
}

.p-custom_status_modal__expiration_default .c-select_button__placeholder {
  color: $disabled;
}

.p-custom_status_modal__preset_title,
.p-custom_status_modal__content h2 {
  color: $text;
}

.p-custom_status_modal__preset_container {
  &.p-custom_status_modal__preset_container--active,
  &:focus-within,
  &:hover {
    background: $accent;
    color: $selectFg;
  }

  &.p-custom_status_modal__preset_container--active .p-custom_status_modal__preset_duration,
  &:focus-within .p-custom_status_modal__preset_duration,
  &:hover .p-custom_status_modal__preset_duration {
    color: $selectFg;
  }
}

.p-custom_status_modal__preset {
  &.p-custom_status_modal__preset--active,
  &:focus,
  &:hover {
    background: $accent;
    color: $selectFg;
  }

  &.p-custom_status_modal__preset--active .p-custom_status_modal__preset_duration,
  &:focus .p-custom_status_modal__preset_duration,
  &:hover .p-custom_status_modal__preset_duration {
    color: $selectFg;
  }
}

.p-custom_status_modal__preset_duration {
  color: $text;
}

.p-ia__main_menu__custom_status_button {
  background: $button;
  border: 1px solid $borderLight;
}

.p-ia__main_menu__custom_status_item--empty:not(.p-ia__main_menu__custom_status_item--highlighted-kb)
  .p-ia__main_menu__custom_status_button:not(:hover) {
  color: $text;
}

.p-ia__main_menu__custom_status_button:hover {
  border-color: $hl;
}

.p-ia__main_menu__custom_status_item--highlighted-kb .p-ia__main_menu__custom_status_button {
  box-shadow: 0 0 0 1px $accent, 0 0 0 5px $accentT;
}

.p-ia__main_menu__custom_status_smile--fill {
  color: $yellow;
}

.p-ia__main_menu__custom_status_smile--happy {
  color: $fg;
}

.p-custom_status_modal_calendar__footer {
  color: $text;

  &:hover {
    color: $fg;
  }
}

.p-custom_status_modal__pause_notifications {
  .c-label__text {
    color: $text;
  }
}
