.p-one_on_one_calls_discovery_tip {
  background: $bg2;
  color: $fg;
}

.p-one_on_one_calls_discovery_tip--dark {
  color: $fg;
  background-color: rgba($yellow, 0.1);
}

.p-one_on_one_calls_discovery_tip__dismiss_button {
  color: $text;
}

