.p-dnd_preferences__subtext {
  color: $text;
}

.p-dnd_preferences__notifs_disabled {
  color: $text;
}

.p-dnd_menu_question_button {
  color: $text;
}

.p-dnd_menu__snooze_header {
  background-image: linear-gradient($accent, $accent2);
}

.p-dnd_menu__schedule_header {
  background-image: linear-gradient($accent, $accent2);
}

.p-dnd_menu__header_status {
  color: $bg;
}

.p-dnd_menu__new_pill,
.p-dnd_menu__set_notif_schedule--prog-disc-tip:not(.c-menu_item__li--highlighted
    .p-dnd_menu__set_notif_schedule--prog-disc-tip) {
  background-color: $button;
  color: $primary;
}

.c-menu_item__li--highlighted .p-dnd_menu__new_pill,
.sk-client-theme--dark .p-dnd_menu__new_pill {
  color: $selectFg;
  background-color: $accent;
  box-shadow: inset 0 0 0 1px $accentT;
}

.p-dnd_dialog__date_picker_trigger {
  border: 1px solid $borderLight;

  &:focus {
    box-shadow: 0 0 0 1px $primary, 0 0 0 5px $primaryT;

    &:-moz-placeholder,
    &:-ms-input-placeholder,
    &::-moz-placeholder,
    &::-webkit-input-placeholder {
      color: $disabled;
    }
  }

  &[disabled] {
    background: $excluded;
    border: 1px solid $borderLight;
  }
}

.p-dnd_header {
  color: $bg;
}

.p-dnd_header__snooze_background {
  background-image: linear-gradient($accent, $accent2);
}

.p-dnd_header__schedule_background {
  background-image: linear-gradient($accent, $accent2);
}

.p-dnd_header__sub_text {
  color: $text;
}
