@keyframes messagePaneDragOverlayOverlayTransition {
  0% {
    background: hsla(0, 0%, 100%, 0);
    opacity: 0;
  }

  to {
    background: $bg;
    opacity: 1;
  }
}


.p-message_pane_drag_overlay {
  background: $bg;
  animation: messagePaneDragOverlayOverlayTransition .12s;
}

.p-message_pane_drag_overlay__subtitle {
  color: $text;
}


.p-message_pane_drag_overlay__anim_readonly {

  &:before {
    color: $disabled;
  }
}

.p-thread_drag_overlay {
  background: $bg;
}

.p-thread_drag_overlay__anim_readonly {
  &:before {
    color: $disabled;
  }
}


.p-thread_drag_overlay__subtitle {
  color: $text;
}

.p-drag_layer__board_item {
  color: $fg;
  background-color: $bg;
  border: 1px solid $accentT;
}

.p-drag_layer__board_item__overflow_footer {
  background: linear-gradient(0deg, rgba($bg, 1) 10%, rgba($bg, 0));
}
