.p-edit_profile__centered_primary--background {
  background: $border;
}

.p-edit_profile__upload_preview_label {
  color: $text;
}

.p-edit_profile__date_button {
  border: 1px solid $borderLight;
}

.p-edit_profile__rules {
  color: $fg;
}

.p-edit_profile__cropper {
  background-color: $bg !important;
}

.p-edit_profile_item__container {
  .c-menu_item__icon {
    color: $primary;
  }

  &.c-menu_item__button--highlighted .c-menu_item__icon {
    color: $selectFg;
  }
}
