.p-event {
  border: 1px solid $borderLight;
  background-color: $bg;

  &:active,
  &:focus,
  &:hover {
    box-shadow: 0 0 0 1px $primary, 0 1px 3px 0 $primaryT;
  }
}

.p-event--focused {
  box-shadow: 0 0 0 1px $primary, 0 1px 3px 0 $primaryT;
}

.p-event_icon {
  background-color: $accent;
  color: $selectFg;
}

.p-event_datetime,
.p-event_title {
  color: $fg;
}

.p-event_event-details {
  border-top: 1px solid $borderLight;
  background-color: $bg;
}

.p-event_copy-to-calendar,
.p-event_event-join-call,
.p-event_event-rsvp {
  border-top: 1px solid $borderLight;
  background-color: $bg;
}

.p-event .p-event_rsvp_icon {
  background-color: $accent;
  color: $selectFg;
}

.p-event_icon_accepted {
  color: $selectFg;
  background-color: $green;
}

.p-event_icon_declined {
  background-color: $red;
  color: $selectFg;
}

.p-event_icon_tentative {
  color: $selectFg;
  background-color: $accent2;
}

.p-event_action_options--action {
  border: 1px solid $borderLight;
}

.p-event-rsvp_count {
  color: $accent2;
}

.p-event-avatar_wrapper {
  .c-icon:before {
    background-color: $accent;
    border: 1px solid $bg;
    color: $selectFg;
  }
}

.p-event_title {
  color: $fg;
}

.p-event_info-icon {
  color: $text;
}

.p-event_video--pulse {
  color: $accent;
}

.p-event_status-in-flight {
  background-color: $bg2;
  color: $accent;
}

.p-event_status-ended {
  background-color: $excluded;
  color: $text;
}

.p-event_rsvp--selection,
.p-event_rsvp-choice {
  background-color: $accent;
  color: $selectFg;
}

.p-event_rsvp-options {
  button {
    &:not(.p-event_rsvp--selection):hover {
      background-color: $hl;
    }

    &.p-event_rsvp--selection:hover {
      color: $selectFg;
    }
  }
}

.p-event_join_call_text {
  color: $accent;
}

.p-event_join_call_text_no_meeting {
  color: $text;
}

.p-event_past_event_meeting_link {
  color: $text;

  &:hover {
    color: $text;
  }
}
