.p-ez_subscribe_subscription_entity--highlight {
  background-color: $bg2;
}

.p-ez_subscribe_popover {
  box-shadow: 0 0 0 1px $border, 0 4px 12px 0 $border;
  background-color: $bg;
}

.p-ez_subscribe_popover__heading {
  color: $text;
}
