.c-filter_input {
  background-color: $contrast;
  border: 1px solid $button;
  color: $fg;

  &:hover {
    border-color: $primary;
  }

  &.c-filter_input--active {
    box-shadow: 0 0 0 1px $primary, 0 0 0 5px $primaryT;

    &:-moz-placeholder,
    &:-ms-input-placeholder,
    &::-moz-placeholder,
    &::-webkit-input-placeholder {
      color: $disabled;
    }
  }
}

.c-filter_input__input[type='text']::placeholder {
  color: $disabled;
}

.c-filter_input__input[type='text'] {
  &::-webkit-input-placeholder,
  &:-moz-placeholder,
  &::-moz-placeholder,
  &:-ms-input-placeholder,
  &::-webkit-input-placeholder,
  &::-moz-placeholder,
  &::-ms-input-placeholder,
  &::placeholder {
    color: $disabled;
  }

  &[placeholder] {
    color: $disabled;
  }
}

.c-filter_input__reset_button {
  color: $disabled;

  &:hover {
    color: $fg;
  }
}
