.p-file_details__name {
  color: $fg;
}

.p-file_details__user_meta {
  color: $text;
}

.p-file_details__user_link {
  color: $fg;

  &:link,
  &:visited {
    color: $accent2;
  }
}

.p-file_details__meta_container {
  .c-file__action_button {
    color: $fg;

    &:hover {
      color: $selectFg;
    }
  }

  .active .c-file__action_button {
    color: $primary;
  }
}

.p-file_details__share_divider {
  span {
    color: $disabled;
  }

  hr {
    border-color: $borderLight;
  }
}

.p-file_details__share_channel {
  color: $fg;
}

.p-file_details__share_metadata {
  color: $text;
}

.p-file_details__share_metadata_reply_count {
  color: $text;
}

.p-file_details__tombstone {
  color: $disabled;
}

.p-file_details__tombstone_icon {
  color: $disabled;
}

.p-file_details__comment_separator {
  color: $border;
}

.p-file_flexpane--list {
  background: $bg2;
}

.p-file_flexpane__storage-warning-container {
  color: $fg;
  background-color: $bg;
  border-bottom: 1px solid $borderLight;
}

.c-file_entity__img_icon {
  border: 1px solid $border;
}

.c-base_list_entity--highlight-dark .c-file_entity__icon:before {
  color: $fg;
}

.c-base_list_entity--dim .c-file_entity__icon:before {
  color: $text;
}

.c-file_entity__link,
.c-file_entity__link.c-link--button,
.c-file_entity__link:link:focus,
.c-file_entity__link:link:hover {
  color: $accent2;
}

.c-file-entity-bold-description {
  color: $text;
}
