.p-flag_message_dialog__options_subhead {
  color: $text;
}

.p-flag_message_dialog__option {
  color: $fg;
}

.p-flag_message_dialog__option_icon {
  color: $primary;
}

.p-flag_message_dialog__option_title {
  color: $primary;
}
