.p-message_pane__foreword__description {
  color: $fg;
}

.p-message_pane__limited_history_alert {
  color: $fg;
}

.p-message_pane__foreword__notification_warning {
  background: $notif;
}

.p-message_pane__newxp_foreword {
  color: $fg;
}

.p-message_pane__newxp_foreword__pre_skip {
  color: $disabled;
}

.p-message_pane__limited_history_foreword--dark,
.p-message_pane__limited_history_foreword {
  color: $fg;
  background-color: $notif;
}

.p-message_pane__limited_history_alert--dark,
.p-message_pane__limited_history_alert {
  background-color: $notif;
}

.p-message_pane__foreword_description__container_icon {
  background-color: $hl;
}

.sk-client-theme--dark .p-message_pane__foreword_description__container_icon {
  background-color: $hl;

  svg {
    rect:first-of-type {
      fill: $hl;
    }

    path:last-of-type {
      stroke: none;
      fill: $fg;
    }
  }
}

.p-message_pane__foreword_description__container_header {
  color: $fg;
}

.p-message_pane__foreword_description__container_body {
  color: $text;

  .p-message_pane__foreword__notification_setting, .p-message_pane__foreword__notification_warning {
    color: $text;
  }
}
