.p-flexpane--iap1 .p-flexpane_header,
.p-flexpane_header {
  background: $bg2;
  border-bottom: 1px solid $bg2;
}

.p-flexpane_header__control {
  color: $disabled;

  &:hover {
    color: $fg;
  }

  &:active {
    color: $primary;
  }
}

.p-flexpane__floating_loader {
  background: $bg;
}

.p-flexpane__body--empty_loading {
  background-color: $bg;

  &:after {
    background-image: linear-gradient(transparent, $bg);
  }
}

.p-flexpane__body--empty {
  background-color: $bg;
}

@keyframes p-flexpane--highlight {
  20% {
    background: $excluded;
  }

  60% {
    background: $excluded;
  }
}

.p-header_banner {
  background-color: $bg;
}

.p-flexpane_subheader {
  border-bottom: 1px solid $borderLight;
}

.p-flexpane__footer {
  border-top: 1px solid $borderLight;
}

.p-flexpane--ia_details_popover .p-flexpane_header {
  border-bottom: none;
}
