.p-help_search__popular_topics {
  color: $text;
}

.p-help_search__list__item {
  border-top: 1px solid $borderLight;
  text-indent: 1em;

  &:focus,
  &:hover {
    background-color: $hl;
    text-decoration: none;
  }
}

.p-help_search__list__item__focus {
  background-color: $hl;
  border: 1px solid $primary;
}

.p-help_search__list__icon {
  color: $accent;
}

.p-help_modal__browse {
  color: $fg;

  &:hover {
    color: $primary;
  }
}

.p-help_modal__footer {
  background-color: $bg2;
}

.p-help_modal__requests:hover {
  .p-help_modal__requests__message {
    color: $accent;
  }
}

.p-help_modal__requests__message {
  color: $primary;

  &.read {
    color: $accent2;
  }
}

.p-help_modal__requests_badge {
  color: $bg2;

  &.read {
    background-color: $accent2;
  }

  &.unread {
    background-color: $excluded;
  }
}

.search-help-center-input_input {
  color: $fg;
}

.p-help_search__list {
  .hover_styles {
    color: $selectFg;
    background-color: $hl;

    .p-help_search__file__icon:before {
      color: $selectFg;
    }

    .p-help_search__list__item__title, .p-help_search_category_item__description {
      color: $selectFg;
    }
  }

  &.p-help_search__list__highlight_first .c-virtual_list__item:first-of-type {
    color: $selectFg;
    background-color: $hl;

    .p-help_search__file__icon:before {
      color: $selectFg;
    }

    .p-help_search__list__item__title, .p-help_search_category_item__description {
      color: $selectFg;
    }
  }

  .p-help_search__file__icon {
    &:before {
      color: $primary;
    }
  }

  .c-virtual_list__item {
    &:active,
    &:focus,
    &:hover {
      color: $selectFg;
      background-color: $hl;
    }

    &:active .p-help_search__file__icon:before,
    &:focus .p-help_search__file__icon:before,
    &:hover .p-help_search__file__icon:before {
      color: $selectFg;
    }

    &:active {
      .p-help_search__list__item__title,
      .p-help_search_category_item__description {
        color: $selectFg;
      }
    }

    &:focus {
      .p-help_search__list__item__title,
      .p-help_search_category_item__description {
        color: $selectFg;
      }
    }

    &:hover {
      .p-help_search__list__item__title,
      .p-help_search_category_item__description {
        color: $selectFg;
      }
    }
  }

  .p-help_search__list__icon {
    color: transparent;
  }

  .p-help_search__list__item__title {
    color: $primary;
  }

  .p-help_search_category_item__description {
    color: $fg;
  }

  .p-help_search__list__item__article {
    border-bottom: 1px solid $borderLight;
  }

  .p-help_search__category__container {
    border-bottom: 1px solid $borderLight;
  }
}

.p-help_search__resource_card__container {
  border: 1px solid $borderLight;
  @include card;

  &:focus {
    box-shadow: 0 0 0 1px $primary, 0 0 0 5px $primaryT;
  }
}

.p-help_search__resource_card__text {
  color: $fg;
}

.p-help_search__keyboard_card__subtitle {
  color: $text;
}

.p-help_search__keyboard_card__container {
  background-color: $bg2;
}

.p-help_search__content__card__subtitle {
  color: $text;
}

.p-help_search__badge_small {
  background-color: $accent;
}

.p-help_search__badge_small__red {
  background-color: $red;
}

.p-help_search__badge_small__blue {
  background-color: $accent;
}

.p-help_dialog__modal_header {
  .c-tabs__tab_count {
    background-color: $red;
    color: $selectFg;
  }
}

.p-help_learning_modal__header {
  .c-tabs__tab_count {
    background-color: $red;
    color: $selectFg;
  }
}

.p-help_learning_modal__footer {
  border-top: 1px solid $borderLight;
}


.p-help_search__resource_card__image {
  img {
    background-color: transparent;
  }
}

.p-help_article_flexpane {
  .tip {
    border-color: $borderLight;
    background-color: $contrast;

    &:before {
      color: $borderLight;
    }
  }

  table {
    tr {
      &:nth-child(odd) td {
        background-color: $contrast;
      }

      &.white td {
        background: none;
      }

      &.grey td {
        background-color: $contrast;
      }
    }

    td {
      border-color: transparent;
    }

    th {
      border-color: $border;
      color: $primary;
    }
  }

  ol:not(.takeaway) {
    li {
      &:before {
        background-color: $green;
        color: $selectFg;
      }
    }
  }

  .boxed {
    border: 1px solid $borderLight;

    ul strong {
      color: $accent;
    }
  }
}

.p-help_search__resource_card__title {
  color: $fg;
}
