.p-huddle_channel_floating_member_list {
  @include dropShadow;
  background-color: $bg;
}

.p-huddle_channel_floating_member_list__heading {
  color: $text;
}

.p-huddle_channel_icon_popover {
  background-color: $notif;
}

.p-huddle_channel_icon__popover_button {
  color: $fg;
  background: $button;

  .p-huddle_channel_icon__svg--headset path:last-of-type {
    fill: $fg;
  }
}

.p-channel_sidebar__channel--selected .p-huddle_channel_icon__popover_button {
  color: $selectFg;
  background: $accent;

  .p-huddle_channel_icon__svg--headset path:last-of-type {
    fill: $selectFg;
  }
}

.p-huddle_channel_icon__popover_button {
  &.p-huddle_channel_icon__popover_button--hover,
  &:hover {
    color: $fg;
    background: $hl;
  }

  &.p-huddle_channel_icon__popover_button--hover .p-huddle_channel_icon__svg--headset path:last-of-type,
  &:hover .p-huddle_channel_icon__svg--headset path:last-of-type {
    fill: $fg;
  }
}

.p-huddle_popover_trigger__tip_subtitle {
  color: $text;
}

.p-huddle_nav_button__svg--headset path:last-of-type {
  fill: $text;
}

.p-huddle_nav_button {
  &:hover .p-huddle_nav_button__svg--headset path:last-of-type {
    fill: $primary;
  }
}

.p-huddle_nav_button--started.p-ia__view_header__button {
  background: $button;
  color: $primary;

  &:hover {
    background: $hl;
    color: $selectFg;
  }

  .p-huddle_nav_button__svg--headset path:last-of-type,
  &:hover .p-huddle_nav_button__svg--headset path:last-of-type {
    fill: $primary !important;
  }
}

.p-huddle_mic_icon {
  .p-huddle_mic_icon__microphone--slash {
    color: $red;
  }

  .p-huddle_mic_icon__microphone--input_level {
    background-color: $fg;
  }
}

.p-huddle_flexpane_member_card {
  &.p_huddle_flexpane_member_speaker--highlighted {
    background-color: $accentT;
  }

  .p-huddle_flexpane_member_card__subtext {
    color: $text;
  }

  .p-huddle_flexpane_member_card__divider {
    border-left: 1px solid $borderLight;
  }

  .p_huddle_flexpane_member_card__bell_button {
    &:hover {
      background-color: $hl;
      color: $primary;
    }
  }

  .p_huddle_flexpane_member_card__bell--label {
    color: $accent;
  }

  .p_huddle_flexpane_member_card__bell--label-sent {
    color: $text;
  }

  .p_huddle_flexpane_member_card_speaker_icon {
    color: $accent;
  }
}

.p-huddle_flexpane_details {
  .p-huddle_flexpane_details__divider {
    border-bottom: 1px solid $borderLight;
  }

  .p-huddle_flexpane_details__item {
    color: $text;
  }

  .p-huddle_flexpane__footer__join_button--container {
    color: $selectFg;
    background: $accent;
  }

  .p-huddle_flexpane__footer__leave_button--container {
    color: $selectFg;
    background: $red;
  }

  .p-huddle_flexpane__button--mute {
    color: $fg;
    background: $button;
  }

  .p-huddle_flexpane__button--leave_huddle {
    color: $selectFg;
    background: $red;
  }

  svg.p-huddle_flexpane__footer--headset {
    path:last-of-type {
      fill: $fg;
    }
  }

  .p-huddle_flexpane_details_speaker_icon {
    color: $accent;
  }
}

svg.p-huddle_flexpane_details__active_members--headset path:last-of-type {
  fill: $text;
}

.p-huddle_flexpane {
  .p-huddle_flexpane__subtitle--label {
    color: $text;
  }

  .p-huddle_flexpane__divider {
    border-left: 1px solid $text;
  }
}

.p-huddle_channel_name {
  color: $accent2;
}

.p-huddle_channel_name__team_label {
  color: $fg;
}

.p-huddle_details {
  @include dropShadow;
  background-color: $bg2;
}

.p-huddle_details__input_container {
  background: $contrast;
}

.p-huddle_details__peers {
  background: $bg;
}

.p-huddle_details__divider {
  border-top: 1px solid $borderLight;
}

.p-huddle_details__non_peers_header,
.p-huddle_details__peers_header {
  color: $text;
}

.p-huddle_details__peer--active-speaker {
  background: $accent;
}

.p-huddle_details__speaker_icon {
  color: $primary;
}

.p-huddle_sidebar_footer {
  background-color: $bg;
  color: $fg;
}

.p-huddle_sidebar_footer__attention {
  border: 3px solid $hl;
}

.p-huddle_sidebar_footer__container {
  background-color: $bg;
  border-top: none;
}

.p-huddle_sidebar_footer__button--settings {
  color: $fg !important;
}

.p-huddle_sidebar_footer__button--mic {
  background-color: $button;
  color: $fg;

  &:hover {
    background-color: $hl;
  }
}

.p-huddle_sidebar_footer__button--leave {
  background-color: $red !important;
  color: $selectFg !important;
  opacity: 0.9;

  &:hover {
    background-color: $red !important;
    opacity: 1;
  }
}

.p-huddle_sidebar_footer__button--label {
  color: $fg;
}

.p-huddle_sidebar_footer__button--label_leave {
  color: $selectFg;
}

.p-huddle_sidebar_footer__button--channel {
  color: $primary;
}

.p-huddle_sidebar_footer_new_member_label {
  color: $fg;
}

.p-huddle_nav_button__member_count {
  color: $fg;
}

.p-huddle_sidebar_footer__member_count_container {
  box-shadow: none;
  background: $button;
  color: $fg;
}

.p-huddle_sidebar_footer__member_count_icon {
  fill: $fg;
}

.p-huddle_channel_icon__popover_button--active {
  background: $accent;
  color: $selectFg;

  .p-huddle_channel_icon__svg--headset path:last-of-type {
    fill: $selectFg;
  }
}

.p-channel_sidebar__channel--selected .p-huddle_channel_icon__popover_button--active {
  background: $hl;
  color: $fg;

  .p-huddle_channel_icon__svg--headset path:last-of-type {
    fill: $fg;
  }

  &:hover {
    color: $bg;
    background: $primary;

    .p-huddle_channel_icon__svg--headset path:last-of-type {
      fill: $bg;
    }
  }
}

.p-huddle_channel_icon__popover_button--active:hover {
  color: $bg;
  background: $primary;

  .p-huddle_channel_icon__svg--headset path:last-of-type {
    fill: $bg;
  }
}

.p-huddle_details__leave_btn {
  background-color: $red;
  color: $selectFg;
  opacity: 0.9;

  &:hover {
    background-color: $red;
    opacity: 1;
  }
}

.p-huddle_join_message__new_member_text {
  color: $text;
}

.p-huddle_sidebar_footer__member_count_icon--bg {
  background: $fg;
}

.p-huddle_invite {
  background: $notif;
}

.p-huddle_invite__content {
  background: $accent;
  color: $selectFg;
}

.p-huddle_invite__button {
  background: $button;
  color: $selectFg;

  &:hover {
    background: $hl;
    color: $selectFg;
  }
}

.p-huddle_invite__button--accept {
  background: $selectFg;
  color: $accent;

  &:hover {
    background: var(--theme-active_item_text_hover);
    color: $accent;
  }
}

.p-huddle_invite__icon--join {
  fill: $accent;
}

.p-huddle_join_message__new_member_text {
  color: $fg;
}

.p-huddle_details__mute_btn {
  background-color: $button;
}

.p-huddle_details__peer--active-speaker .p-huddle_details__mute_btn {
  color: $primary;
}

.p-huddle_details__mute_btn:hover {
  background-color: $hl;
  color: $selectFg;
}

.p-huddle_sidebar_footer_buttons__outer .p-huddle_sidebar_footer_buttons__secondary_btn {
  color: $fg;

  &:hover {
    color: $fg;
    background-color: $hl;
  }

  background-color: $button;
}

.p-huddle_sidebar_footer_buttons__label {
  color: $fg;
}

.p-huddle_sidebar_footer_buttons__primary_btn--mic {
  background-color: $button;
  color: $fg;

  &:hover {
    background-color: $hl;
  }
}

.p-huddle_sidebar_footer_buttons__primary_btn--leave {
  background-color: var(--theme-badge);
  color: $fg;

  .p-huddle_sidebar_footer_buttons__label,
  .p-huddle_sidebar_footer_buttons__label_icon {
    color: $selectFg;
  }

  &:hover {
    background-color: $accent;
  }
}

.p-huddle_sidebar_footer {
  background-color: $notif;
  color: $fg;
}

.p-huddle_sidebar_footer__container {
  background-color: $notif;
  border: 2px solid $notif;
}

.p-huddle_channel_tooltip__avatar {
  box-shadow: 0 0 0 2px $bg;
}

.p-huddle_sidebar_footer__join_message {
  color: $fg;
}
