.p-identity_transfer_modal__member_card {
  border-color: $borderLight;
}

.p-identity_transfer_modal__logo--left img {
  background-color: $bg;
}

.p-identity_transfer_modal__redirect {
  color: $primary;
}

.p-identity_transfer_modal__member_card {
  border: 1px solid $borderLight;
}

.p-identity_transfer_modal__marketing_consent {
  border-top: 1px solid $borderLight;
}

.p-identity_transfer_modal__legal {
  color: $primary;
}

.p-identity_transfer_modal__info_box {
  background-color: $bg2;
}
