.p-zoom__box {
  background: $button;
  border: 1px solid $borderLight;
}

.p-zoom__control_group {
  background: $button;
  border: 1px solid $borderLight;
  color: $fg;
  &:hover {
    color: $primary;
  }
}

.p-zoom__slider {
  &::-moz-range-thumb {
    background: $accent;
    &:hover {
      transition: transform .4s ease;
      transform: scale(1.5);
    }
  }
  &::-moz-range-track {
    background: $fg;
    &:hover {
      background: $primary;
    }
  }
  &::-webkit-slider-thumb {
    background: $accent;
     &:hover {
       transition: transform .4s ease;
      transform: scale(1.5);
    }
  }
  &::-webkit-slider-runnable-track {
    background: $fg;
    &:hover {
      background: $primary;
    }
  }
  &::-ms-thumb {
    background: $accent;
     &:hover {
       transition: transform .4s ease;
      transform: scale(1.5);
    }
  }
  &::-ms-track {
    background: $fg;
    &:hover {
      background: $primary;
    }
  }
}

.p-pdf_viewer {
  border-top: 1px solid $borderLight;
}