.p-inbox {
  background: $bg;
}

.p-inbox__day {
  h4 {
    color: $text;
  }
}

.p-inbox__item {
  background: $bg;
  border-bottom: 1px solid $borderLight;

  &:last-child {
    border-color: $borderLight;
    border-bottom: 1px solid $borderLight;
  }

  &:hover {
    background: $tree;
    border-color: $borderLight;
  }

  &:last-child {
    border: 1px solid $borderLight;
  }
}

.p-inbox__item_rationale {
  .p-inbox__item_rationale_pill {
    background: $button;
  }
}

.p-inbox__item_timestamp {
  color: $text;
}

.p-inbox__item_actions {
  background: $bg2;
}

.p-inbox__item_actions--archive.c-icon_button--light.c-button-unstyled:hover {
  color: $primary;
  background-color: $green;
}

.p-inbox__item_actions--mark-as-read.c-icon_button--light.c-button-unstyled:hover {
  color: $primary;
  background-color: $blue;
}

.p-inbox__item--expanded {
  display: block;

  .p-inbox__item_actions {
    background: $button;
  }
}

.p-inbox__item--read {
  background: $disabled;
}

.p-inbox__item--archived {
  background: $text;
}

.p-inbox__item--read .p-inbox__item_actions {
  background: $bg2;
}

.p-inbox__item--archived .p-inbox__item_actions {
  background: $bg;
}

.p-inbox__item_header {
  background: $bg2;
}

.p-inbox__item_message {
  background: $bg;
}

.p-inbox_empty_landing_page__header {
  background-color: $bg2;
}

.sk-client-theme--dark .p-inbox_empty_landing_page__header {
  background-color: $bg2;
}

.p-inbox_empty_landing_page__header_subtext {
  color: $text;
}

.p-inbox_empty_landing_page__security_info__description {
  color: $text;
}

.p-inbox_empty_landing_page__learn_more {
  background-color: $bg2;
  color: $fg;
  border: 1px solid $border;
}

.sk-client-theme--dark .p-inbox_empty_landing_page__learn_more {
  border-color: $border;
}

.p-inbox_page__prototype {
  background: $red;
  color: $selectFg;
}

.sk-client-theme--dark .p-inbox_page__prototype {
  background: $red;
}

.p-inbox_page__body {
  background: $contrast;
}
