.c-base_inline_entity--dim {
  color: $text;
  filter: none;
}

.c-base_inline_entity--highlight-dark {
  color: $bg;
  background-color: $primary;
}

.c-base_inline_entity--highlight-dim {
  color: $text;
  background: $button;
}

.c-base_inline_entity--highlight-light {
  background: $button;
  color: $text;
}
