.invites-carousel__card_name_tooltip {
  border: 1px solid $border;
  background-color: $notif;
}

.invites-carousel__card_subtext {
  color: $text;
}

.invites-carousel__arrow_button {
  background-color: $button;
}

.invites-carousel__placeholders_container__overlay {
  box-shadow: inset -48px 0 19px -28px $borderLight;
}

.invites-carousel__card {
  background-color: $notif;
  border: 1px solid $borderLight;
}

.invites-carousel__card--placeholder {
  background-color: $active;
}

.sk-client-theme--dark .invites-carousel__card--placeholder {
  background-color: $active;
}

.p-invite_type_select__option:last-child {
  border-top: solid 1px $borderLight;
}

.c-select_options_list__option--active .p-invite_type_select_option_link {
  color: $selectFg;
}

.p-invite_type_select_option_icon {
  color: $fg;
}

.c-select_options_list__option--active .p-invite_type_select_option_icon {
  color: $selectFg;
}

.p-comprehensible_invites_mixed_interim_small_text {
  color: $text;
}

.p-comprehensible_invites_mixed_interim_email_icon {
  background-color: $button;
}

.p-comprehensible_invites_invite_type_modal_body {
  background-color: $bg;
  border-top: 1px solid $borderLight;
}

.p-comprehensible_invites__type_external__label .p-invite_type_radio_label__image_wrapper {
  background-color: #cbedf5;
}

.p-comprehensible_invites__type_internal__label .p-invite_type_radio_label__image_wrapper {
  background-color: #d6edb8;
}

.p-comprehensible_invites_invite_type_modal_footer {
  background-color: $bg;
}

.p-invite_type_radio_label__radio {
  background-color: $bg;
  border: 1px solid $accentT;
}

.p-invite_type_radio_label--focus-visible {
  border-color: $primary;
  box-shadow: 0 0 0 4px $primaryT;
}

.p-invite_type_radio_label__disabled_text {
  background-color: $bg;
  color: $disabled;
}

.p-invite_type_radio_label__icon--disabled {
  color: $text;
}

.p-invite_type_radio_label__icon {
  color: $text;
}
