.p-launch_workflow_builder__pill {
  background-color: $button;
  color: $primary;
}

.c-workflow-item-card {
  border: none;
  border-left: 4px solid $borderLight;
  padding-left: 8px;
  background-color: $bg;
  color: $fg;

  .video-player .video-player__title-card {
    background-color: $bg2;
  }

  svg * {
    stroke: $fg;
    fill: $fg;
  }

  button,
  .c-button {
    background: $button;
    border: 1px solid $button;
    color: $fg;
  }

  //.c-button.c-button--primary {
  //  background: $primary;
  //  color: $selectFg;
  //}

  .c-link--button {
    background: transparent;
    border: none;
    color: $accent2;
  }

  &.complete {
    background-color: $excluded;
    border: none;
    opacity: 0.5;
    border-left: 4px solid $green;

    button {
      background-color: $button;
      color: $disabled;
    }

    .cta--complete {
      color: $selectFg;

      .c-workflow-item-card__number {
        padding: 8px 16px;
        background-color: $green;
      }
    }
  }
}

.c-workflow-item-container {
  border-left: none;
  margin-top: 16px;
}

.c-workflow-item-card__number {
  background-color: $accent;
  color: $selectFg;
}
