.p-launch_workflow_builder__pill {
  background-color: $button;
  color: $primary;
}

.c-workflow-item-card {
  border-color: $accent;
  background-color: $bg;

  button {
    background: $button;
    border: 1px solid $accent2;
    color: $accent2;
  }

  &.complete {
    background-color: $hl;
    border-color: $green;

    button {
      background-color: $button;
    }

    .cta--complete {
      color: $text;

      .c-workflow-item-card__number {
        background-color: $bg2;
      }
    }
  }

  &:not(:last-child) {
    border-bottom: $borderLight;
  }
}

.c-workflow-item-container {
  border-left: 4px solid $borderLight;
}

.c-workflow-item-card__number {
  background-color: $primary;
  color: $selectFg;
}