.p-list_icon {
  background: $bg2;
}

.p-list_icon--default {
  background: $bg2;
  color: $fg;
}

.p-list_icon--search {
  background: none;
}

.c-file_entity_thumbnail_icon--img-border:after {
  border: 1px solid $border;
}

.c-base_list_entity--highlight-dark .c-file-entity-bold-description,
.c-base_list_entity--highlight-dark .c-file_entity__icon:before {
  color: $selectFg;
}

.c-base_list_entity--dim .c-file_entity__icon:before {
  color: $text;
}

.c-file_entity--exception {
  color: $disabled;
}

.c-file-entity-bold-description {
  color: $text;
}

.c-file_entity-refresh-link {
  color: $fg;
}

.c-file_entity-refresh__highlighted {
  color: $accent2;
}

.c-file_entity__view_only_icon {
  background-color: $excluded;
  color: $text;
}

.p-thread_mention_warning__illustration {
  background: $tree;
}

.p-message_pane_modal_pigeon__header {
  background: $bg2;
}

.p-message_pane_modal_pigeon__header--dark {
  background: $bg2;
}

.p-huddle_thread_zero_state__body,
.p-list_thread_zero_state__body {
  color: $text;
}

.c-list_edit_unfurl__container {
  box-shadow:
    0 0 0 1px $border,
    0 1px 3px 0 #00000014;
}

.c-list_edit_unfurl__field_name {
  color: $text;
}

.c-list_edit_unfurl__field_old_value:after {
  background: $fg;
}
