.c-virtual_list--slack_scrollbar {
  &::-webkit-scrollbar-thumb {
    color: $accent;
  }

  &::-webkit-scrollbar-track {
    color: $bg;
    background: $bg2;
  }

  &::-webkit-scrollbar-thumb {
    background: $accent;
  }

  &::-webkit-scrollbar-corner {
    background: $bg;
  }
}

.c-virtual_list__item--focus:focus:after {
  box-shadow: none;
  outline: none;
  border-left: 3px solid $accent;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 0;
}
