.magic-actions-modal__Lnr6D .action__qarCL {
  background-color: $contrast;
  color: $accent;
  font-family: $fontFamily;

  &:hover {
    background: $bg;
    color: $selectFg;
  }
}

.p-empty_unfurl__title .c-link:not(:hover) {
  color: $fg;
}
