.p-member_profile_buttons_huddle_icon:before {
  color: $text;
}

.p-member_profile_restriction {
  background-color: $bg2;
  color: $fg;
}

.p-member_profile__picture {
  border-bottom: 1px solid $border;
}

.p-member_profile_name__link {
  color: $accent2;

  &:focus {
    color: $selectFg;
  }
}

.p-member_profile_name__pronouns {
  color: $text;
}

.p-member_profile_field__label {
  color: $text;
}

.p-member_profile_field__status_expiration {
  color: $text;
}

.p-member_profile_field__secondary {
  background: $bg2;
}

.member-card__top-link {
  color: $accent2 !important;
}

.p-profile_page__header {
  border-bottom: 1px solid $border;
}

.p-profile_page__header__info__status,
.p-profile_page__header__info__title {
  color: $text;
}

.p-profile_page__section {
  background: $bg;
  border-bottom: 1px solid $border;
}

.p-member_organization_entity--dim {
  color: $text;
}

.p-member_organization_entity__subtext {
  color: $text;
}

.p-member_profile_card__verified_footer {
  background: $bg;
}

.p-member_profile_card__verified_footer_text {
  color: $text;
}

.p-member_profile_card__verified_footer_icon {
  color: $accent;
}
