.p-mention_tip {
  color: $fg;
  background: $notif;

  &:focus {
    box-shadow: 0 0 0 1px $accent, 0 0 0 5px $accentT;
  }
}

.p-mention_tip--dark {
  background: $notif;
}

.p-mention_tip_dismiss_button {
  color: $fg;
}
