.c-mention_badge {
  background: $accent;
  color: $selectFg;
}

.c-mention_badge--red {
  background: $red;
  color: $bg;
}

.c-mention_badge--white {
  background: $bg;
  color: $primary;
}

.c-mention_badge--black {
  background: $bg;
  color: $primary;
}

.c-mention_badge--blue {
  background: $accent;
  color: $selectFg;
}

.c-badge {
  background-color: $accent2;
  color: $selectFg;
}

.sk-client-theme--dark .c-badge {
  background-color: $accent2;
  color: $selectFg;
}

.c-mention_badge--min_gray {
  background: $button;
  color: $text;
}

.c-mention_badge--min_gray_darken {
  background: $button;
  color: $text;
}

.p-canvas_mention,
.p-file_mention,
.p-message_mention {
  background-color: $button;
  color: $accent;
}

.p-canvas_mention .p-canvas_mention--grey {
  background-color: $button;
  color: $fg;
}
