.c-message_stats__title_time {
  color: $text;
}

.c-message_stats__message_snippet_text {
  background: $bg;
}

.c-message_stats__message_snippet_text:after {
  background: $bg;
}

.c-message_stats__message_snippet_text--collapsed {
  &:after {
    background: $bg;
  }
}

.c-message_stats__message_snippet_engagement {
  color: $fg;
}

.c-message_stats__legend_icon--viewed {
  background-color: $purple;
}

.c-message_stats__legend_icon--clicked {
  background-color: $primary;
}

.c-message_stats__legend_icon--reacted {
  background-color: $green;
}

.c-message_stats__legend_value--viewed {
  color: $purple;
}

.c-message_stats__legend_value--clicked {
  color: $primary;
}

.c-message_stats__legend_value--reacted {
  color: $green;
}

.c-message_stats__funnel_stats_jumbo_stat_title,
.c-message_stats__legend_title {
  color: $text;
}

.c-message_stats__funnel_counts {
  color: $text;
}

.c-message_stats__funnel_counts_jumbo_stat {
  border-right: 1px solid $borderLight;
}

.c-message_stats__funnel_counts_jumbo_stat_value {
  color: $accent;
}

.c-message_stats__activity_bar,
.c-message_stats__client_summary_bar {
  background: $bg2;
}

.c-message_stats__activity_item {
  color: $fg;
}

.c-message_stats__activity_item:not(:last-child),
.c-message_stats__client_summary_item:not(:last-child) {
  border-right: 1px solid $primary;
}

.c-message_stats__activity_item:not(:last-child) {
  border-right: 1px solid $borderLight;
}

.c-message_stats__activity_time_series_chart,
.c-message_stats__activity_time_series_chart_legacy {
  text {
    fill: $bg2;
  }

  .c3-axis path {
    stroke: $fg;
  }

  .c3-axis-x-label,
  .c3-axis-y-label {
    fill: $accent;
  }

  .c3-grid line {
    stroke: $fg;
  }

  .c3-xgrid-focus line {
    stroke: $primary;
  }

  .c3-circles-VIEWS > circle {
    fill: $purple !important;
  }

  .c3-lines-VIEWS > path {
    stroke: $purple !important;
  }

  .c3-circles-CLICKS > circle {
    fill: $primary !important;
  }

  .c3-lines-CLICKS > path {
    stroke: $primary !important;
  }

  .c3-circles-REACTIONS > circle {
    fill: $green !important;
  }

  .c3-lines-REACTIONS > path {
    stroke: $green !important;
  }

  .c3-tooltip {
    border: 0.5px solid $borderLight;

    td,
    th,
    tr {
      color: $fg;
      background-color: $bg;
    }

    th {
      border-bottom: $borderLight;
      color: $fg;
    }
  }

  .c-message_stats__activity_time_series__tooltip {
    color: $selectFg;
    background-color: $contrast;

    span {
      color: $text;
    }
  }
}

.c-message_stats__viewers_by_department_chart {
  text {
    fill: $text;
    color: $text;
  }
}

.c-message_stats__viewers_by_department_chart {
  .c3-bar {
    fill: $purple !important;
  }

  .c3-chart-text .c3-text {
    fill: $selectFg !important;
  }

  .c3-grid line {
    stroke: $fg;
  }

  c3-text.c-message_stats__viewers_by_department_chart__short_text {
    color: $accent !important;
    fill: $accent !important;
  }
}

.c-message_stats__activity_range_option {
  color: $text;

  &:visited {
    color: $accent2;
  }
}

.c-message_stats__activity_range_option--selected {
  color: $selectFg;
  border-bottom: 1px solid $accent;
}

.c-message_stats__activity_time_series_chart__y_label {
  background: $bg;
  color: $fg;
}

.c-message_stats__activity_time_series_chart {
  text {
    fill: $primary;
  }
}

.c-message_stats__header {
  .c-message_stats__total_reply_count {
    color: $text;
  }
}

.p-message_actions_menu__labels_bookmark_filled {
  color: $accent;
}

.p-message_actions_menu__flag.c-menu_item__button--highlighted {
  background-color: $accent;
}
