.p-mixed_results_module_card {
  @include card;
}

.p-mixed_results_module_card--see_all {
  background-color: $bg;

  &:focus,
  &:hover {
    color: $selectFg;
  }
}

.p-mixed_results_module_card__text {
  color: $text;
}

.p-mixed_results_module_card__text--focused,
.p-mixed_results_module_card__text--hovered {
  color: $selectFg;
}

.p-mixed_results_module__feedback_link .c-link--button {
  color: $text;
}
