.p-mobile_awareness_dm_promo {
  box-shadow: 0 0 0 1px $primary, 0 4px 12px 0 $primaryT;
  background-color: $notif;
  @include card;
}

.sk-client-theme--dark .p-mobile_awareness_dm_promo {
  background: $notif;
}
