.p-mobile_download_modal {
  .p-mobile_download_modal__img_wrapper {
    background-color: $bg2;
  }
}

.sk-client-theme--dark .p-mobile_download_modal .p-mobile_download_modal__img_wrapper {
  background-color: $bg2;
}

.p-mobile_download_modal__actions_container {
  .p-mobile_download_modal__actions_container_or_separator {
    .p-mobile_download_modal__actions_container_or_separator--vertical-line {
      border-left: 1px solid $primary;
    }
  }
}
