.c-sk-modal--faded:after {
  background: rgba(black, 0.1);
}

.c-sk-modal_content {
  background: $bg;
}

.c-sk-modal_content--indicateTop:after {
  border-top: 1px solid $border;
}

.c-sk-modal_content--indicateBottom:after {
  border-bottom: 1px solid $border;
}

.c-sk-modal_header {
  background-color: $bg;
}

.p-channel_section_modal_input__clear_icon {
  color: $text;
}

.p-channel_section_modal_input__emoji_picker {
  border-right: 1px solid $borderLight;

  .p-channel_section_modal_input__emoji_circle_icon {
    color: $yellow;
  }

  .p-channel_section_modal_input__emoji_happy_icon {
    color: $fg;
  }
}

.p-channel_section_modal_input__empty_emoji {
  color: $disabled;
}

.p-channel_section_modal_input__duration_picker--focus-visible {
  box-shadow: 0 0 0 1px $accent, 0 0 0 5px $accentT;
}

.p-channel_section_modal_input__duration_picker_select {
  .c-input_select__chevron,
  .c-input_select__filter_input::-webkit-input-placeholder,
  .c-input_select__selected_value--placeholder,
  .c-input_select__chevron,
  .c-input_select__filter_input::-moz-placeholder,
  .c-input_select__selected_value--placeholder,
  .c-input_select__chevron,
  .c-input_select__filter_input::-ms-input-placeholder,
  .c-input_select__selected_value--placeholder,
  .c-input_select__chevron,
  .c-input_select__filter_input::placeholder,
  .c-input_select__selected_value--placeholder {
    color: $disabled;
  }
}

.p-channel_section_modal_input__custom_expiration_picker {
  color: $text;

  .c-input_select__chevron,
  .c-input_select__filter_input::-webkit-input-placeholder,
  .c-input_select__selected_value--placeholder,
  .p-channel_section_modal_input__chevron_down,
  .c-input_select__chevron,
  .c-input_select__filter_input::-moz-placeholder,
  .c-input_select__selected_value--placeholder,
  .p-channel_section_modal_input__chevron_down,
  .c-input_select__chevron,
  .c-input_select__filter_input::-ms-input-placeholder,
  .c-input_select__selected_value--placeholder,
  .p-channel_section_modal_input__chevron_down,
  .c-input_select__chevron,
  .c-input_select__filter_input::placeholder,
  .c-input_select__selected_value--placeholder,
  .p-channel_section_modal_input__chevron_down {
    color: $disabled;
  }
}

.p-channel_section_modal_input--for_modern_user_menu .p-channel_section_modal_input__presets,
.p-channel_section_modal_input--for_team_menu .p-channel_section_modal_input__presets {
  border-top: 1px solid $borderLight;
}

.p-channel_section_modal_input__presets_section_header {
  color: $text;
}

.p-channel_section_modal_input__dialog {
  .p-channel_section_modal_input__preset_option_description,
  .p-channel_section_modal_input__preset_option_duration {
    color: $text;
  }
}

.p-channel_section_modal_input__dialog .p-channel_section_modal_input__preset_option {
  &:focus {
    background-color: $accent;
    color: $selectFg;

    &:link,
    &:visited {
      background-color: $accent;
      color: $selectFg;
    }
  }

  &:hover {
    background-color: $accent;
    color: $selectFg;

    &:link,
    &:visited {
      background-color: $accent;
      color: $selectFg;
    }
  }

  &:focus {
    .p-channel_section_modal_input__preset_option_description,
    .p-channel_section_modal_input__preset_option_duration {
      color: $selectFg;
    }
  }

  &:hover {
    .p-channel_section_modal_input__preset_option_description,
    .p-channel_section_modal_input__preset_option_duration {
      color: $selectFg;
    }
  }
}

.p-channel_section_selector--has_standard_channel_section {
  &.p-channel_section_selector--has_dropdown_focus,
  &.p-channel_section_selector--has_star_focus,
  &.p-channel_section_selector--is_dropdown_open,
  &.p-channel_section_selector:hover {
    border-color: $borderLight;
  }

  &.p-channel_section_selector--has_dropdown_focus {
    box-shadow: 0 0 0 1px $primary, 0 0 0 5px $primaryT;
  }
}

.p-channel_section_selector {
  transition: border-color 0.16s cubic-bezier(0.36, 0.19, 0.29, 1);
}

.p-channel_section_selector__dropdown,
.p-channel_section_selector__star {
  color: $text;
}

.p-channel_section_selector--has_star_focus .p-channel_section_selector__star,
.p-channel_section_selector__star:hover {
  background-color: $active;
}

.p-channel_section_selector--has_dropdown_focus .p-channel_section_selector__dropdown,
.p-channel_section_selector--is_dropdown_open .p-channel_section_selector__dropdown {
  color: $fg;
  background-color: $active;
}

.p-channel_section_selector__dropdown {
  &:hover {
    color: $fg;
    background-color: $active;
  }
}

.p-channel_section_selector__star--active {
  color: $yellow;
}

.c-sk-modal_footer--speedbump {
  background-color: $bg;
}

.c-sk-modal__speedbump_overlay {
  background: rgba(0, 0, 0, 0.1);
}

.c-sk-modal--faded {
  &:after {
    background: rgba(0, 0, 0, 0.1);
  }
}

.c-modal_speed_bump_overlay {
  background-color: rgba(0, 0, 0, 0.7);
}

.c-modal_speed_bump {
  background-color: $bg;
  border-top: 1px solid $borderLight;
}

.p-async_modals__list {
  &.top_border {
    border-top: solid 1px $borderLight;
  }

  > li {
    border-bottom: solid 1px $borderLight;
  }
}
