.c-small_mpim_entity__count {
  background-color: $accent2;
  color: $selectFg;
}

.c-small_mpim_entity__count--inverted {
  background-color: $accent2;
  color: $selectFg;
}

.c-small_mpim_entity__member--deleted {
  color: $disabled;
}

.c-small_mpim_entity--frozen {
  color: $disabled;
}

.p-channel_sidebar__channel.p-channel_sidebar__channel--mpim.p-channel_sidebar__channel--selected
  .p-channel_sidebar__mpim_counter {
  background: $button;
  box-shadow: none;
}

.p-channel_sidebar__channel.p-channel_sidebar__channel--mpim
  .p-channel_sidebar__mpim_counter
  .p-channel_sidebar__mpim_counter_inner,
.p-channel_sidebar__channel:not(.p-channel_sidebar__channel--typing)
  .p-channel_sidebar__channel_icon_prefix--comfy:not(.p-channel_sidebar__channel_icon_prefix--comfy-extra) {
  background: $contrast;
}

.c-search_autocomplete__suggestion_list {
  .c-search_autocomplete__suggestion_item .c-small_mpim_entity__mpim_avatars {
    .c-small_mpim_entity__mpim_counter {
      box-shadow: 0 0 0 2px $bg;
    }

    &.c-small_mpim_entity__mpim_avatars--inverted {
      &.c-small_mpim_entity__mpim_avatars--dark .c-small_mpim_entity__mpim_counter {
        box-shadow: 0 0 0 2px $accent;
      }

      .c-small_mpim_entity__mpim_counter {
        background-color: $accent;
        box-shadow: 0 0 0 2px $primary;
        color: $selectFg;
      }
    }
  }
}

.c-base_list_entity__profile_only_user_denotation {
  color: $disabled;
}

.c-small_mpim_entity__mpim_counter {
  color: $text;
  background-color: $bg2;
  box-shadow: 0 0 0 2px $bg2;
}

.c-small_mpim_entity__mpim_avatars {
  &.c-small_mpim_entity__mpim_avatars--dark .c-small_mpim_entity__mpim_counter {
    background-color: $bg2;
  }

  &.c-small_mpim_entity__mpim_avatars--inverted {
    &.c-small_mpim_entity__mpim_avatars--dark .c-small_mpim_entity__mpim_counter {
      box-shadow: 0 0 0 2px $accent;
    }

    .c-small_mpim_entity__mpim_counter {
      background-color: $accent;
      box-shadow: 0 0 0 2px $primaryT;
      color: $selectFg;
    }
  }
}

.p-channel_sidebar__mpim_avatars_mpim2 {
  .c-avatar__image,
  .c-base_icon {
    box-shadow: 0 0 0 2px var(--p-channel_sidebar__column-bg);
  }
}

.p-channel_sidebar__mpim_counter {
  box-shadow: 0 0 0 2px var(--p-channel_sidebar__column-bg);
}
