.c-small_mpim_entity__count {
  background-color: $accent2;
  color: $selectFg;
}

.c-small_mpim_entity__count--inverted {
  background-color: $accent2;
  color: $selectFg;
}

.c-small_mpim_entity__member--deleted {
  color: $disabled;
}

.c-small_mpim_entity--frozen {
  color: $disabled;
}
