.p-channel_notification_prefs__table {
  td {
    border-bottom: 1px solid $fg;
  }
  th {
    border-bottom: 1px solid $fg;
  }
}

.p-notification_bar__section {
  color: $text;
}

.p-notification_bar__offline {
  color: $fg;
}

.p-notification_bar__offline_icon {
  color: $disabled;
}

.p-channel_notification_prefs_new {
  .c-sk-modal_content {
    border-top: 1px solid $border;
  }

  .p-channel_notification_prefs_new__mentions {
    background: $bg2;
    color: $primary;
  }
}

.sk-client-theme--dark .p-channel_notification_prefs_new__mentions {
  background: $bg2;
  color: $primary;
}

.p-channel_notification_prefs_new__icon-chevron {
  color: $text;
}

.p-channel_notification_prefs_new__platform_icon {
  color: $fg;
}

.p-channel_notification_prefs_new__note {
  color: $text;
}

.p-channel_notification_prefs_new__prompt__icon {
  color: $accent;
}

.p-channel_notification_prefs_new__prompt__muted {
  .p-channel_notification_prefs_new__prompt__icon {
    color: $accent2;
  }
}

.p-channel_notification_prefs_new__prompt__footer {
  border-top: 1px solid $border;
}
