.p-paid_feature_badge {
  background-color: $accent2;
  border-radius: 25px;
  min-width: 25px;
  transition: all .3s ease-in;

  &:hover {
    background-color: $hl;
  }
}

.p-paid_feature_badge__icon {
  color: $selectFg;
}

.p-paid_feature_badge__coachmark {
  background-color: $notif;
  border: 1px solid $hl;
  color: $fg;

  .c-coachmark__close i {
    color: $fg;
  }

  &:before {
    border-top-color: $hl;
  }

  &:after {
    border-top-color: $notif;
  }
}

.p-paid_feature_badge__coachmark--bottom {
  &:before {
    border-bottom-color: $borderLight;
  }

  &:after {
    border-bottom-color: $notif;
  }
}

.p-paid_feature_badge__coachmark--dark {
  color: $fg;

  .c-coachmark__close i {
    color: $fg;
  }
}

.p-paid_feature_badge__anchor--selected .p-paid_feature_badge__icon {
  color: $selectFg;
}

.p-channel_sidebar__link--page_ppaid-benefits_offer_container > .p-channel_sidebar__link--page_ppaid-benefits:not(.p-channel_sidebar__link--selected) {
  background: $tree;
}
