.c-sv_picker__thumb {
  background: #0000;
  box-shadow:
    inset 0 0 0 2px #fff,
    inset 0 0 4px 2px #00000059,
    0 0 4px #00000059;
}

.c-sv_picker__thumb--focus-visible {
  box-shadow:
    0 0 0 1px $primary,
    0 0 0 5px $primaryT,
    inset 0 0 0 2px $primaryT,
    inset 0 0 4px 2px $primaryT;
}
