.c-presence--active {
  color: $accent !important;
}

.c-presence--away {
  color: $text;
}

.c-presence--inverted {
  color: $selectFg;
}

.c-team_icon--default {
  background-color: $active;
  color: $fg;
}

.c-team_icon--pending {
  border: 2px dashed $border;
  color: $disabled;
}

.p-deprecated_channel_name--archived {
  color: $text;
}

.p-deprecated_channel_name__team_name {
  color: $text;
}
