.p-preview_message {
  background: $bg;
}

.p-history_preview__label {
  color: $text;
}

.p-history_preview__list_wrapper {
  border: 1px solid $border;
}

.p-history_menu__entry__show_more.c-menu_item__button--highlighted {
  color: $selectFg;
}
