.c-presence--active {
  color: $accent !important;

  &:not(.c-presence--resetIA) {
    color: $accent !important;
  }
}

.c-presence--away {
  color: $text;
}

.c-presence--inverted {
  color: $selectFg;
}

.c-team_icon--default {
  background-color: $active;
  color: $fg;
}

.c-team_icon--pending {
  border: 2px dashed $border;
  color: $disabled;
}

.p-deprecated_channel_name--archived {
  color: $text;
}

.p-deprecated_channel_name__team_name {
  color: $text;
}

.p-deprecated_channel_name__team_name--xws {
  color: $fg;
}

.p-channel_sidebar__presence_icon {
  &.c-presence {
    &.p-channel_sidebar__channel_icon_prefix--comfy {
      margin-right: 8px;
    }
  }

  &.c-presence--away {
    opacity: 0.64;
    color: $text;
  }
}

.p-ia4_body :not(.p-ia4_client--theming) :not(.p-tab_rail) .c-presence--active:not(.c-presence--resetIA) {
  filter: brightness(0.85);
}

.p-shouty_rooster_animation--cloud,
.p-shouty_rooster_animation--shout {
  fill: #fff;
}

.p-message_pane_modal_rooster__header--dark .p-shouty_rooster_animation--cloud {
  fill: #b1b1b1;
}

.p-message_pane_modal_rooster__header--dark .p-shouty_rooster_animation--shout {
  fill: #4d4d4d;
}
