.p-quip_entrypoints__button {
  color: $accent;
  border-color: $border;
  box-shadow: 0 0 0 1px $border;

  &:active,
  &:hover {
    border-color: $accentT;
    box-shadow: 0 0 0 1px $accentT;
  }
}

.p-quip_entrypoints__button__icon {
  background: $button;
  color: $accent;
}
