.p-recent_page {
  background: $bg;
}

.p-recent_page__empty {
  background: $bg;
}

.p-recent_page__item {
  background: $bg;

  &:hover {
    background: $hl;
  }
}

.p-recent_page__timestamp {
  color: $text;
}

.p-recent_page__conversation__sender {
  color: $text;
}

.p-recent_page__date_divider {
  background: $bg;
}

.p-recent_page__loading {
  background: $bg;
}

.p-recent_page__new {
  color: $text;

  &:hover {
    box-shadow: 0 1px 0 0 $primary, 0 4px 12px -2px $primaryT;
  }
}

.p-recent_page__list {
  background: $bg;
}

.p-recent_page__divider {
  background: $bg2;
}

.p-recent_page__new__prefix {
  color: $text;
}

.p-recent_page__item--focus, .p-recent_page__item:focus {
  box-shadow: 0 0 0 1px $primary, 0 0 0 5px $primaryT;
}

.p-recent_page__message {
  color: $text;
}

.p-recent_page__item--unread .p-recent_page__message {
  color: $fg;
}

.p-recent_page__empty__text {
  color: $text;
}
