.p-rich_text_block {
  .c-mrkdwn__pre {
    &[data-border='1'] {
      &:before {
        background-color: rgba(var(--sk_foreground_low_solid, 221, 221, 221), 1);
      }
    }
  }
}

.sk-client-theme--dark .p-rich_text_block .c-mrkdwn__pre[data-border='1']:before {
  background-color: rgba(var(--sk_primary_foreground, 29, 28, 29), 1);
}

.p-rich_text_list {
  &[data-border='1'] {
    &:before {
      background-color: $borderLight;
    }
  }
}

.sk-client-theme--dark .p-rich_text_list[data-border='1']:before {
  background-color: $borderLight;
}
