.p-rimeto_org_chart_page__item_content {
  &:hover {
    background: rgba(29, 155, 209, 0.1);
    border: 1px solid #1d9bd1;
  }

  &.manager {
    background: rgba(209, 210, 211, 0.13);
    border: 1px solid rgba(29, 28, 29, 0.13);

    &:hover {
      background: rgba(29, 155, 209, 0.1);
      border: 1px solid #1d9bd1;

      .p-rimeto_org_chart_page__item_name,
      .p-rimeto_org_chart_page__item_title {
        color: rgba(var(--sk_primary_foreground, 29, 28, 29), 1);
      }
    }
  }

  &.current_employee {
    background: #0b4c8c;

    .p-rimeto_org_chart_page__item_name,
    .p-rimeto_org_chart_page__item_title {
      color: #fff;
    }
  }
}

.p-rimeto_org_chart_page__item_name {
  font-family: Lato;
}

.p-rimeto_org_chart_page__item_reports {
  --saf-0: rgba(var(--sk_foreground_high_solid, 134, 134, 134), 1);
  border: 1px solid var(--saf-0);
  background-color: #fff;
  color: #1d1c1d;
}

.p-rimeto_org_chart_page__item_tick {
  border-right: 3px solid rgba(var(--sk_foreground_high_solid, 134, 134, 134), 1);
}

.p-rimeto_org_chart_page__list_arrow_box {
  background: #fff;
  border: 1px solid rgba(29, 28, 29, 0.3);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
}

.p-rimeto_org_chart_page__reports_header {
  font-family: Lato;
  color: rgba(var(--sk_primary_foreground, 29, 28, 29), 1);
}

.p-rimeto_org_chart_page__items_section {
  border-top: 3px solid rgba(var(--sk_foreground_high, 29, 28, 29), 0.5);

  &.reports {
    background: rgba(var(--sk_foreground_min, 29, 28, 29), 0.04);
  }
}

.p-rimeto_org_chart_page__item_image_overlay {
  font-family: Lato;
  color: #fff;

  &:hover {
    background: rgba(0, 0, 0, 0.5);
  }
}

.p-rimeto_org_chart_page__skeleton_img {
  background: rgba(var(--sk_foreground_low_solid, 221, 221, 221), 1);
}
