.p-rimeto_org_chart_page__item_content {
  &:hover {
    background: $excluded;
    border: 1px solid $accent;
  }

  &.manager {
    background: $bg2;
    border: 1px solid $border;

    &:hover {
      background: $excluded;
      border: 1px solid $accent;

      .p-rimeto_org_chart_page__item_name,
      .p-rimeto_org_chart_page__item_title {
        color: $fg;
      }
    }
  }

  &.current_employee {
    background: $accentT;

    .p-rimeto_org_chart_page__item_name,
    .p-rimeto_org_chart_page__item_title {
      color: $selectFg;
    }
  }
}

.p-rimeto_org_chart_page__item_reports {
  border: 1px solid $borderLight;
  background-color: $primary;
  color: $fg;
}

.p-rimeto_org_chart_page__item_tick {
  border-right: 3px solid $primary;
}

.p-rimeto_org_chart_page__list_arrow_box {
  background: $selectFg;
  border: 1px solid $border;
}

.p-rimeto_org_chart_page__reports_header {
  color: $fg;
}

.p-rimeto_org_chart_page__items_section {
  border-top: 3px solid $borderLight;

  &.reports {
    background: $excluded;
  }
}

.p-rimeto_org_chart_page__item_image_overlay {
  color: $fg;

  &:hover {
    color: $selectFg;
  }
}

.p-rimeto_member_profile_field__secondary {
  background: $bg;
}

.p-rimeto_member_profile_field__label {
  color: $text;
}

.p-rimeto_member_profile_field__status_expiration {
  color: $text;
}

.p-rimeto_org_chart_page__skeleton_img {
  background: $bg2;
}

.p-member_profile_rimeto_link--flexpane_org_chart {
  color: $accent;
}

.p-rimeto_member_profile_field_key_peoples__label {
  color: $text;
}

.p-r_member_profile__link {
  color: $accent;
}

.p-r_member_profile__buttons__button_icon {
  background-color: $button;
  color: $fg;

  &:hover {
    background-color: $hl;
  }

  &:active {
    background-color: $active;
  }
}

.p-r_member_profile__buttons__button_label {
  color: $text;
}

.p-r_member_profile__classification_text {
  background-color: $excluded;
}

.p-r_member_profile--link {
  &:hover {
    color: $accent2;
  }
}

.p-r_member_profile_info_icon {
  color: $fg;
}

.p-r_member_profile_section {
  border-top: 1px solid $borderLight;
}

.p-rimeto_org_chart_page {
  background-color: $bg;
}

.p-rimeto_org_chart_page_row {
  &.reports {
    background-color: $bg2;
  }
}

.p-rimeto_org_chart_page_row_arrow {
  background: $selectFg;
}

.p-rimeto_org_chart_page_row_member_cards {
  &.reports_container {
    border-top: 1px solid $borderLight;
  }

  &.valid_cards {
    border-top: 1px solid $borderLight;
  }
}

.p-rimeto_org_chart_member_card {
  background: $bg;

  &:active {
    background: $accent;
    box-shadow: 0 0 0 2px $accentT;

    .p-rimeto_org_chart_member_card_name,
    .p-rimeto_org_chart_member_card_title {
      color: $selectFg;
    }

    --saf-0: $accent;
    --saf-1: $accentT;
    box-shadow:
      0 0 0 2px var(--saf-0),
      0 1px 5px 0 var(--saf-1);

    &:hover {
      --saf-0: $accent;
      --saf-1: $accentT;
      box-shadow:
        0 0 0 2px var(--saf-0),
        0 1px 5px 0 var(--saf-1);
    }
  }
}

.p-rimeto_org_chart_member_card_outline {
  --saf-0: $accent;
  box-shadow: 0 0 0 2px var(--saf-0);

  &:active,
  &:hover {
    --saf-0: $accent;
    --saf-1: $accentT;
    box-shadow:
      0 0 0 2px var(--saf-0),
      0 1px 5px 0 var(--saf-1);
  }
}

.p-rimeto_org_chart_member_card_selected {
  background: $accent;

  .p-rimeto_org_chart_member_card_name,
  .p-rimeto_org_chart_member_card_title {
    color: $selectFg;
  }
}

.p-rimeto_org_chart_member_card_reports {
  --saf-0: $bg2;
  --saf-1: $excluded;
  box-shadow:
    0 0 0 1px var(--saf-0),
    0 2px 8px 0 var(--saf-1);
  background-color: $bg;
}

.p-rimeto_org_chart_member_card_tick {
  border-right: 1px solid $borderLight;
}

.p-rimeto_org_chart_member_card_dim {
  color: $text;
}

.p-rimeto_member_profile_field__country--text {
  color: $text;
}

.p-rimeto_profile_sections__edit--icon {
  color: $accent;
}

.p-rimeto_profile_sections__element--edit {
  color: $accent;
}

.p-rimeto_member_profile_field__contact_icon {
  background-color: $overlay;
}
