.c-scrollbar__bar {
  background: $accent;
}

.c-scrollbar--monkey {
  .c-scrollbar__track {
    background: $contrast;
  }
  .c-scrollbar__bar {
    background: $accent;
    box-shadow: 0 3px 0 $border, 0 -3px 0 $borderLight;
  }
}

.supports_custom_scrollbar .p-composer_page__message_input .p-message_input_field .ql-editor {
  &:hover {
    &::-webkit-scrollbar-thumb {
      background: $accent;
    }
  }
}

.supports_custom_scrollbar .p-dm_browser_dialog__contents .c-select_options_list__virtual_list--slack_scrollbar {
  &:hover {
    &::-webkit-scrollbar-thumb {
      color: $accent;
    }

    &::-webkit-scrollbar-track {
      color: $bg;
    }

    &::-webkit-scrollbar-thumb {
      background: $accent;
    }

    &::-webkit-scrollbar-corner {
      background: $bg;
    }

    &::-webkit-scrollbar-thumb,
    &::-webkit-scrollbar-track {
      border-left: 4px solid $bg;
      border-right: 4px solid $bg;
    }
  }
}

.supports_custom_scrollbar .p-welcome-place {
  &::-webkit-scrollbar-thumb {
    color: $accent;
  }

  &:hover {
    &::-webkit-scrollbar-thumb {
      color: $accent;
    }

    &::-webkit-scrollbar-thumb {
      background: $accent;
    }
  }
}

.c-scrollbar2__thumb {
  background: $accent;
}
