.c-search_message__sender {
  color: $fg;

  a {
    color: $fg;
  }
}

.c-search_message__body {
  color: $fg;
}

.c-search_message--light {
  .c-search_message__sender .c-search_message__sender_link {
    color: $fg;
  }
}

.c-search_message--dense {
  .c-search_message__content_header .c-custom_status {
    border: 1px solid $borderLight;
  }
}

.c-search_message__reactions {
  color: $text;
}

.c-search__input_and_close {
  background: $contrast;
  border-bottom: 1px solid $borderLight;
}

.c-search__input_and_close__close {
  color: $text;
  padding: 10px;

  &:hover {
    background: $accent;
    color: $selectFg;
    border-radius: 25px;
  }
}

.c-search_message__justification_sparkles {
  color: $accent;
}

.c-search_message__justification_vline {
  border-left: thin solid $borderLight;
}

.c-search__back_to_filters__button--v2,
.c-search__back_to_filters--v2_button {
  background: $contrast;
  box-shadow: 0 0 0 1px $hl, 0 1px 3px 0 $hl;
  color: $fg;

  &:hover {
    box-shadow: 0 0 0 1px $primary, 0 1px 3px 0 $primaryT;
    color: $primary;
  }
}
