.p-setup_page__header {
  font-family: $headerFont;
}

.p-setup_page__content_button {
  background-color: $accentT;

  &:hover {
    background-color: $accent;
  }
}

.p-setup_page__content_link {
  color: $accent2;
  border-bottom: 1px solid $borderLight;

  &:hover {
    color: $selectFg;
  }
}

.p-setup_suggest_message__btn--primary {
  &:after {
    border-top-color: $borderLight;
  }

  &:before {
    border-top-color: $borderLight;
  }
}

.p-setup_page__content_button--aubergine {
  background-color: $accentT;
  color: $selectFg;

  &:hover {
    background-color: $accent;
    color: $selectFg;
  }
}

.p-setup_suggest_message__btn--soft {
  color: $text;
}

.p-setup_suggest_message__btn {
  &:active:after,
  &:hover:after {
    border-top-color: $borderLight;
  }

  &:active:before,
  &:hover:before {
    border-top-color: $borderLight;
  }
}

.p-setup_suggest_message__hint_text {
  color: $accent2;
}

.p-setup_channel_banner__hidden_button--hover {
  background-color: $hl;
  border-color: $tree;
}

.p-setup_channel_banner--welcome {
  background: $contrast;
}

.p-setup_channel_banner--announcements {
  background: $contrast;
}

.p-setup_channel_banner--ideas {
  background: $contrast;
}

.p-setup_channel_banner--generic,
.p-setup_channel_banner--project {
  background: $contrast;
}

.p-setup_channel_banner--team {
  background: $contrast;
}

.p-setup_channel_banner--dm,
.p-setup_channel_banner--page {
  background: $contrast;
  border-bottom: 1px solid $borderLight;
}

.p-setup_channel_banner__text--button {
  &:hover {
    background-color: $button;
    border-color: $button;
  }
}

.p-setup_channel_banner__text_edit {
  color: $text;
}

.p-setup_channel_banner__heading--dm-invited {
  color: $disabled;
}

.p-setup_channel_banner__heading_edit_text {
  color: $text;
}

.p-setup_channel_banner__heading--with-button:hover {
  .p-setup_channel_banner__heading_button {
    background-color: $button;
    border-color: $button;
  }
}

.p-setup_channel_banner__cta_text {
  color: $disabled;
}

.p-setup_channel_banner__btn {
  &:hover {
    background: $active;
    border: 1px solid $active;
  }
}

.p-setup_channel_banner__btn--completed {
  border: 1px solid transparent;
  background: $accent;
}

.p-setup_channel_banner__close_icon {
  color: $fg;
}

.p-setup_channel_banner__tooltip {
  background: $notif;
  border: 0.5px solid $border;
  color: $fg;
}

.p-setup_channel_banner__app_icon {
  border: 1px solid $borderLight;
}

.p-setup_page__header_highlighted {
  color: $primary;
}

.p-setup_page__header_highlighted--bordered {
  border-bottom: 1px dashed $borderLight;
}

.sk-client-theme--dark {
  .p-setup_page__header_highlighted {
    color: $primary;
  }

  .p-setup_page__header_highlighted--bordered {
    border-bottom: 1px dashed $borderLight;
  }
}

.p-setup_suggest_message__mention_text {
  color: $accent2;
}

.p-setup_send_message_input {
  .c-texty_input.focus {
    box-shadow: 0 0 0 1px $primary, 0 0 0 5px $primaryT;
  }
}

.p-setup_send_message_input__input--error {
  .p-message_input_field {
    border-color: $red;
  }

  .c-texty_input.focus {
    box-shadow: 0 0 0 1px $red, 0 0 0 5px $red;
  }
}

.p-setup_step_start_first_convo__title {
  background: $notif;
  font-family: $fontFamily;
}

.p-setup_step_start_first_convo__email {
  border-bottom: 1px solid $borderLight;
}

.p-setup_step_start_first_convo__email_input {
  .c-token {
    background-color: $accent;
  }

  .c-token--disabled {
    color: $disabled;
  }
}

.p-setup_page__step_tada_skip {
  color: $fg;
}

.p-setup_page__content_secondary_link {
  color: $accent2;
  border-bottom: 1px solid transparent;

  &:hover {
    color: $selectFg;
    border-bottom: 1px solid $borderLight;
  }
}

.p-setup_page__step_calendar_contact_import_loading_body {
  color: $text;
}

.p-setup_page__content__select_teammates_step_email {
  color: $text;
}

.p-setup_prog_disc_invite_modal_explainer_tip {
  background-color: $notif;
}

.p-setup_page__content_button--google {
  background-color: #4285f4;

  &:hover {
    background-color: rgba(66, 133, 244, 0.9);
  }
}

.p-setup_page__footer--fixed {
  background: rgba(var(--sk_primary_background, 255, 255, 255), 1);
  border-top: 1px solid rgba(var(--sk_foreground_low_solid, 221, 221, 221), 1);
}

.p-setup_page__content__select_teammates_step_list {
  --saf-0: rgba(var(--sk_primary_foreground, 29, 28, 29), 0.3);
  border: 1px solid var(--saf-0);

  &:focus {
    --saf-0: rgba(var(--sk_highlight, 18, 100, 163), 1);
    box-shadow: 0 0 0 1px var(--saf-0), 0 0 0 5px rgba(29, 155, 209, 0.3);

    &:-moz-placeholder,
    &:-ms-input-placeholder,
    &::-moz-placeholder,
    &::-webkit-input-placeholder {
      color: #1e1d1e;
    }
  }

  &[disabled] {
    background: rgba(var(--sk_foreground_min_solid, 248, 248, 248), 1);
    --saf-0: rgba(var(--sk_foreground_high_solid, 134, 134, 134), 1);
  }
}

.p-setup_page__content__select_teammates_step_list_item {
  border-bottom: 1px solid rgba(var(--sk_foreground_low, 29, 28, 29), 0.13);
}

.p-setup_page__content__select_teammates_step_list_item_invite {
  color: rgba(var(--sk_foreground_max, 29, 28, 29), 0.7);
  border-bottom: 1px solid rgba(var(--sk_foreground_low, 29, 28, 29), 0.13);

  &:focus,
  &:hover {
    background: rgba(var(--sk_highlight, 18, 100, 163), 1);
    color: rgba(var(--sk_primary_background, 255, 255, 255), 1);
  }
}

.p-setup_page__step_summary {
  .p-setup_page__step_summary_card {
    --saf-0: rgba(var(--sk_foreground_low, 29, 28, 29), 0.13);
    border: 1px solid var(--saf-0);
  }

  .p-setup_page__step_summary_card_avatar_stack_wrapper {
    .p-setup_page__step_summary_card_avatar_stack {
      .p-setup_page__step_summary_card_avatar {
        border: 1px solid #fff;
      }
    }

    .p-setup_page__step_summary_card_avatar_count {
      color: rgba(var(--sk_foreground_high, 29, 28, 29), 0.5);
    }
  }

  .p-setup_page__summary_card_main {
    background: #ddd;
  }

  .p-setup_page__summary_card_main--external {
    background: #cbedf5;
  }

  .p-setup_page__summary_card_main--internal {
    background: #d6edb8;
  }

  .p-setup_page__summary_no_contacts_copy {
    color: rgba(var(--sk_foreground_high, 29, 28, 29), 0.5);
  }
}

.p-setup_page___google_icon_container {
  background-color: #fff;
}

.p-setup_channel_banner--channel_joiner_banner,
.p-setup_channel_banner--people_joiner_banner {
  background: rgba(var(--sk_secondary_highlight, 242, 199, 68), 0.1);
}

.p-setup_channel_banner__text--joiner_banner {
  color: rgba(var(--sk_foreground_max_solid, 97, 96, 97), 1);
}
