.p-shared_channel_invitation_message_editor__member {
  background-color: $bg;
}

.p-shared_channel_invitation_message_editor__team_name {
  color: $text;
}

.p-channel_name_input__label_title {
  color: $text;

  strong {
    color: $fg;
  }
}

.p-channel_name_input__label_error {
  color: $red;
}

.p-channel_name_input__input_subtext {
  color: $text;
}

.p-channel_share_channel_modal__header {
  border-bottom: $border;
}

.p-channel_share_channel_modal__copy {
  color: $text;
}

.sk-client-theme--dark .p-channel_share_channel_modal__copy {
  color: $text;
}

.p-channel_share_channel_modal__color {
  color: $fg;
}

.sk-client-theme--dark .p-channel_share_channel_modal__color {
  color: $fg;
}

.p-channel_share_channel_modal__learn {
  color: $text;
}

.p-channel_invite_form__input_subtext {
  color: $text;
}

.p-channel_invite_modal__header {
  border-bottom: $border;
}

.p-channel_invite_modal_coachmark {
  background-color: rgba($accent, 0.1);
}

.sk-client-theme--dark .p-channel_invite_modal_coachmark {
  background-color: $accent;
}

.p-channel_invite_modal_coachmark__caret {
  border-top: 12px solid $border;
}

.sk-client-theme--dark .p-channel_invite_modal_coachmark__caret {
  border-top-color: $accent;
}

.p-channel_invite_modal__link {
  color: $accent2;
}

.p-message_pane_modal_rooster__header {
  background: $bg2;
}

.p-message_pane_modal_rooster__header--dark {
  background: $bg2;
}

.p-channel_share_channel_paywall_modal__copy {
  color: $text;
}

.p-channel_share_channel_paywall_modal__learn_more {
  color: $text;

  &:hover {
    color: $selectFg;
  }
}

.p-shared_channel_introduction_modal__sub_header {
  color: $text;
}

.p-shared_channel_introduction_modal__divider {
  border: 0.5px solid $borderLight;
}
