.p-shortcuts_dialog {
  .c-dialog__footer {
    background: $bg2;
    border-top: 1px solid $borderLight;
  }

  a.c-dialog__footer_link {
    color: $fg;
  }
}

.p-shortcuts_dialog__message {
  background: $bg2;
  border-top: 1px solid $borderLight;
  border-bottom: 1px solid $borderLight;
}

.p-shortcuts_dialog_options_list {
  &::-webkit-scrollbar-thumb {
    color: $accent;
  }

  &::-webkit-scrollbar-track {
    color: $bg;
    background: $bg2;
  }

  &::-webkit-scrollbar-thumb {
    background: $accent;
  }

  &::-webkit-scrollbar-corner {
    background: $bg;
  }
}

.p-shortcuts_dialog__option {
  border-top: 1px solid $borderLight;
}

.p-shortcuts_dialog__option--active {
  border: 1px solid $borderLight;
  background-color: $bg2;

  .c-menu_item__description {
    color: $text;
  }
}

.p-shortcuts_dialog__option--active:first-child {
  border-color: $borderLight;
}

.p-shortcuts_flexpane__shortcut {
  border-color: $borderLight;
}

.p-shortcuts_flexpane__shortcut_title {
  color: $fg;
}

.p-shortcuts_flexpane__tip {
  color: $text;
}

.p-shortcuts_flexpane__shortcut_hoverable .p-shortcuts_flexpane__shortcut_title {
  color: $primary;
}

.p-shortcuts_flexpane__list .c-virtual_list__scroll_container {
  margin: 16px 0 32px 0;
}

.p-shortcuts_flexpane__shortcut_heading {
  border-color: $borderLight;
  color: $fg;
}

.p-shortcuts_flexpane__shortcut_sub_heading:not(.block) {
  color: $text;
}

.p-shortcuts_menu_item__text--secondary {
  color: $text;
}

.p-shortcuts_menu_item--active .p-shortcuts_menu_item__text--secondary {
  color: $primary;

  .c-icon:before {
    color: $primary;
  }
}

.p-shortcuts_menu_heading {
  color: $text;
}

.p-shortcuts_menu_heading__icon--highlighted {
  color: $primary !important;
}

.p-shortcuts_menu_heading__icon--app {
  border: 1px solid $borderLight;
}

.c-texty_autocomplete.p-shortcuts_menu_autocomplete_commands {
  background: $bg;
  border: 1px solid $borderLight;
}

.p-shortcuts_menu_add_app_shortcut_section__add-app-section {
  .p-shortcuts_menu_add_app_shortcut_section__app-link {
    color: $accent2;

    &:hover {
      color: $selectFg;
    }

    .p-shortcuts_menu_add_app_shortcut_section__app-description {
      color: $text;
    }

    .p-shortcuts_menu_add_app_shortcut_section__app-icon {
      border: 1px solid $button;
    }
  }
}

.p-shortcuts_menu_add_shortcut_modal__add-channel-action-section,
.p-shortcuts_menu_add_shortcut_modal__add-channel-action-title {
  border-bottom: 1px solid $borderLight;
}

.p-shortcuts_menu_add_shortcut_modal__footer {
  background: $bg2;
  border-top: 1px solid $border;
}

.p-shortcuts_menu_add_shortcut_modal__footer_link {
  color: $accent2;
}

.p-shortcuts_menu_add_shortcut_modal__footer a.p-shortcuts_menu_add_shortcut_modal__footer_link {
  color: $accent2;
}

.p-shortcuts_menu_v2 {
  background: $bg2;
  box-shadow: 0 0 0 1px $notif, 0 4px 12px 0 $notif;

  .p-shortcuts_menu_education {
    color: $fg;
  }

  .p-shortcuts_menu_education__wrapper {
    background: $notif;
  }
}

.p-shortcuts_menu_v2_search_input_wrapper {
  border-bottom-color: $borderLight;
}

.p-shortcuts_menu_v2_heading {
  color: $text;
}

.p-shortcuts_menu_v2
  .c-select_options_list__option:not(.c-select_options_list__option--active)
  .p-shortcuts_menu_v2_item__app_container_subtext,
.p-shortcuts_menu_v2
  .c-select_options_list__option:not(.c-select_options_list__option--active)
  .p-shortcuts_menu_v2_item__app_name {
  color: $text;
}

.p-shortcuts_menu_v2_heading__icon--app {
  border: 1px solid $borderLight;
}

.p-shortcuts_menu_v2_search_input_wrapper--end {
  border-top: 1px solid $borderLight;
}

.p-shortcuts_modal_prototype {
  .p-shortcuts_menu_v2_item--active * {
    color: $selectFg !important;
  }
}

.p-shortcuts_menu_v2_heading__icon {
  &.c-icon--bolt-filled {
    color: $accent;
  }
}

.p-shortcuts_menu_v2_search_input_bolt_icon {
  color: $text;
}
