.p-shortcuts_menu {
  box-shadow: 0 0 0 1px $contrast, 0 4px 12px 0 $contrast;
  background-color: $contrast;

  .c-input_text {
    background-color: $contrast;
  }
}

.p-shortcuts_menu_speedbump__animation__container {
  background-color: $bg;
}

.p-shortcuts_menu_speedbump__content {
  background-color: $bg2;
}

.p-shortcuts_menu_speedbump {
  &[data-animation-enabled='true'] {
    .p-shortcuts_menu_speedbump__avatar {
      &.c-icon {
        color: $primary;
        background-color: $accent;
      }
    }
  }
}

.p-shortcuts_menu_search_input_wrapper {
  border-bottom: 1px solid $borderLight;
  width: 97%;
  padding: 8px;
}

.p-shortcuts_menu_trigger_button_container {
  border-right: 1px solid $border;
}

.p-shortcuts_menu_trigger_button {
  &:not(.p-shortcuts_menu_trigger_button--only_workflows):not(.p-shortcuts_menu_trigger_button--composer_ia) {
    &:active,
    &:hover {
      background: $accent !important;
      color: $selectFg !important;
    }
  }
}

.p-shortcuts_menu_trigger_button--composer_ia {
  &:active,
  &:hover {
    background: $button;
  }
}

.p-shortcuts_menu_trigger_button {
  &:active,
  &:hover {
    background: $button;
    color: $text !important;
  }

  &:not(.p-shortcuts_menu_trigger_button--only_workflows) {
    &:active,
    &:hover {
      background: $accentT;
      color: $selectFg !important;
    }
  }

  &.p-shortcuts_menu_trigger_button--only_workflows {
    &:active,
    &:hover {
      color: $accent;
    }
  }
}

.p-shortcuts_menu_trigger_button--dark:not(.p-shortcuts_menu_trigger_button--only_workflows):not(.p-shortcuts_menu_trigger_button--composer_ia).p-shortcuts_menu_trigger_button,
.p-shortcuts_menu_trigger_button--dark:not(.p-shortcuts_menu_trigger_button--only_workflows).p-shortcuts_menu_trigger_button {
  &:active,
  &:hover {
    background: $accentT !important;
  }
}

.p-shortcuts_menu_trigger_button--highlighted:not(.p-shortcuts_menu_trigger_button--only_workflows) {
  color: $accent !important;
}

.p-shortcuts_menu_trigger_button--highlighted {
  color: $primary !important;
}

.p-new_file_menu_source__icon-gradient {
  background: $bg2;
}

.p-new_file_menu_source_slack_connect_disabled__container {
  .c-callout {
    color: $disabled;
    background: $bg;
    border: 1px solid $bg;
  }
}

.p-shortcuts_menu_trigger_button--badge {
  color: $accent;
}
