.p-channel_sidebar__channel,
.p-channel_sidebar__link,
.p-channel_sidebar__channel:link,
.p-channel_sidebar__link:link,
.p-channel_sidebar__channel:visited,
.p-channel_sidebar__link:visited,
.p-channel_sidebar__channel:hover,
.p-channel_sidebar__channel--context,
.p-channel_sidebar__link:hover,
.p-channel_sidebar__section_placeholder {
  color: $fg;
}

.c-sidebar_menu__list_item {
  color: $fg;

  &.is_active {
    background: $tree;
    border: 1px solid $tree;
    color: $selectFg;
  }

  &:not(.is_active):hover {
    color: inherit;
    background-color: $selectBg;
  }
}

a.c-sidebar_menu__list_item {
  color: $primary;

  &.is_active {
    background: $accent;
    border: 1px solid $accent;
    color: $selectFg;
  }

  &:not(.is_active):hover {
    color: $selectFg;
    background-color: $active;
    border-color: $active;
  }
}

.p-team_sidebar__shortcut_hint {
  background: $fg;
  color: $bg;
}

.p-team_sidebar__mentions_badge {
  color: $bg2;
}

.p-team_sidebar__govslack_icon {
  background-color: #868686;
}

.p-team_sidebar__signed_out_badge {
  color: $yellow;
}

.p-channel_sidebar--global_nav_layout:after {
  background: $bg;
}

.p-channel_sidebar__empty_state {
  color: $text;
}

.p-channel_sidebar__banner {
  color: $fg;
}

.p-channel_sidebar__banner--unreads {
  background: $accent;
  color: $selectFg;
}

.p-channel_sidebar__channel.c-link--focus-visible:focus .p-channel_sidebar__name {
  box-shadow: 0 0 0 1px $primary, 0 0 0 5px $primaryT;
}

.p-channel_sidebar__link {
  &.c-button--focus-visible:focus .p-channel_sidebar__name,
  &.c-link--focus-visible:focus .p-channel_sidebar__name {
    box-shadow: 0 0 0 1px $primary, 0 0 0 5px $primaryT;
  }
}

.p-channel_sidebar {
  background: $contrast;
  color: $fg;
}

.p-channel_sidebar__channel_section_select_menu--checked {
  color: $primary;

  .c-menu_item__icon {
    color: $primary;
  }
}

.p-channel_sidebar__channel_section_menu_submenu_label__secondary_text {
  color: $text;
}

.c-menu_item__li--highlighted .p-channel_sidebar__channel_section_menu_submenu_label__secondary_text {
  color: $selectFg;
}

.p-channel_sidebar__close {
  &:focus {
    background: var(--p-channel_sidebar__column-bg);
  }
}

.p-channel_sidebar__close:focus {
  background: $accent;
}

.p-channel_sidebar__channel:hover,
.p-channel_sidebar__channel--context,
.p-channel_sidebar__link:hover,
.p-channel_sidebar__channel:hover .p-channel_sidebar__user_avatar_presence_bg,
.p-channel_sidebar__close_container:hover {
  background: $active;
}

.p-channel_sidebar__list {
  .p-channel_sidebar__channel,
  .p-channel_sidebar__link,
  .p-channel_sidebar__channel:link,
  .p-channel_sidebar__link:link,
  .p-channel_sidebar__channel:visited,
  .p-channel_sidebar__link:visited,
  .p-channel_sidebar__channel:hover,
  .p-channel_sidebar__link:hover {
    color: $fg;
    border-left: 2px solid transparent;
  }

  .p-channel_sidebar__channel--selected,
  .p-channel_sidebar__link--selected,
  .p-channel_sidebar__channel--selected:link,
  .p-channel_sidebar__link--selected:link,
  .p-channel_sidebar__channel--selected:visited,
  .p-channel_sidebar__link--selected:visited,
  .p-channel_sidebar__channel--selected:hover,
  .p-channel_sidebar__link--selected:hover {
    color: $primary;
    border-left: 2px solid $accent;

    .p-channel_sidebar__channel_icon_prefix.p-channel_sidebar__channel_icon_prefix--comfy {
      background: $hl;
      color: $primary;
    }
  }

  .p-channel_sidebar__channel--selected + .p-channel_sidebar__close,
  .p-channel_sidebar__link--selected + .p-channel_sidebar__close {
    color: $fg;
    border-left: none;
  }

  .p-channel_sidebar__channel:hover,
  .p-channel_sidebar__link:hover,
  .p-channel_sidebar__close_container:hover {
    background: $tree;
  }

  .p-channel_sidebar__header {
    color: $fg;
  }

  .p-channel_sidebar__channel--selected .p-channel_sidebar__presence_icon--on-avatar-border,
  .p-channel_sidebar__channel--selected:hover .p-channel_sidebar__presence_icon--on-avatar-border {
    -webkit-text-stroke-color: $primary;
  }
}

.p-channel_sidebar__close_container.p-channel_sidebar_header_link__container:hover * {
  background: $hl;
}

.p-channel_sidebar__section-heading--browse:hover,
.p-channel_sidebar__channel--selected .p-channel_sidebar__channel_icon_prefix,
.p-channel_sidebar__channel--selected:hover .p-channel_sidebar__channel_icon_prefix,
.p-channel_sidebar__link--selected:before,
.p-channel_sidebar__link--selected:before,
.p-channel_sidebar__channel--selected:after,
.p-channel_sidebar__channel--selected:hover:after,
.p-channel_sidebar__link--selected:after,
.p-channel_sidebar__link--selected:after {
  color: $selectFg;
}

input[type='text'].p-channel_sidebar__folder_heading_label_rename {
  background: $contrast;
  color: $fg;
}

input[type='text'].p-channel_sidebar__folder_heading_label_rename:hover {
  background: $bg;
  color: $fg;
}

/* Override presence icons */
.p-channel_sidebar__channel--im .c-presence--active,
.p-channel_sidebar__channel--im-slackbot:before {
  color: $accent;
}

.p-channel_sidebar__channel--im.p-channel_sidebar__channel--selected .c-presence,
.p-channel_sidebar__channel--im-slackbot.p-channel_sidebar__channel--selected:before {
  color: $fg;
}

.p-channel_sidebar__channel--im .c-presence--away {
  color: $text;
}

.p-channel_sidebar__channel--selected,
.p-channel_sidebar__channel--selected:hover,
.p-channel_sidebar__link--selected,
.p-channel_sidebar__link--selected:hover {
  background: $tree;
}

.p-channel_sidebar__channel--selected:before,
.p-channel_sidebar__channel--selected:hover:before,
.p-channel_sidebar__link--selected:before,
.p-channel_sidebar__link--selected:before,
.p-channel_sidebar__channel--selected:after,
.p-channel_sidebar__channel--selected:hover:after,
.p-channel_sidebar__link--selected:after,
.p-channel_sidebar__link--selected:after {
  color: $selectFg;
}

.p-channel_sidebar__badge,
.p-channel_sidebar__banner--mentions {
  background: $accent;
  color: $selectFg;
}

.p-channel_sidebar .c-custom_scrollbar__thumb_vertical,
.p-channel_sidebar .c-scrollbar__bar {
  background: $accent;
}

.client_channels_list_container.focusablesection:focus .sectionfocusindicator,
.client_channels_list_container .focus-ring,
.p-channel_sidebar.focusablesection:focus .sectionfocusindicator,
#team_menu.focusablesection:focus .sectionfocusindicator {
  box-shadow: 0 0 0 1px $primary, 0 0 0 5px $primaryT;
}

.client_channels_list_container a:not(.c-link--focus-visible).focus-ring,
.client_channels_list_container button:not(.c-button--focus-visible).focus-ring,
.p-channel_sidebar__organize_selection_action.c-link--focus-visible:focus,
.p-channel_sidebar__organize_action.c-button--focus-visible:focus,
.p-channel_sidebar__jumper.c-button--focus-visible:focus,
.p-channel_sidebar__history_button.c-button--focus-visible:focus,
.p-channel_sidebar__section_heading_label--clickable.c-button--focus-visible:focus,
.p-channel_sidebar__section_heading_plus.c-button--focus-visible:focus,
.p-channel_sidebar__channel.c-link--focus-visible:focus .p-channel_sidebar__name,
.p-channel_sidebar__link.c-button--focus-visible:focus .p-channel_sidebar__name,
.p-channel_sidebar__close.c-button--focus-visible:focus {
  box-shadow: 0 0 0 1px $primary, 0 0 0 5px $primaryT;
}

.p-channel_sidebar--iap1 .p-channel_sidebar__section_heading_plus:hover,
.p-channel_sidebar--iap1 .p-channel_sidebar__section_heading_ellipsis:hover,
.p-channel_sidebar--iap1 .p-channel_sidebar__section_heading_expand_container--show_more_feature:hover {
  background: $hl;
  color: $primary;
}

/** `opacity: 1` color overrides */
.p-channel_sidebar__channel--unread:not(.p-channel_sidebar__channel--muted):not(.p-channel_sidebar__channel--suggested):not(.p-channel_sidebar__channel--selected)
  .p-channel_sidebar__name,
.p-channel_sidebar__link--unread:not(.p-channel_sidebar__link--selected) .p-channel_sidebar__name,
.p-channel_sidebar__link--invites:not(.p-channel_sidebar__link--dim) .p-channel_sidebar__name,
.p-channel_sidebar__link--add-channel:not(.p-channel_sidebar__link--dim) .p-channel_sidebar__name,
.p-channel_sidebar__section_heading_label--clickable:hover,
.p-channel_sidebar__section_heading_label--unreads,
.p-channel_sidebar__quickswitcher:hover {
  color: $primary;
}

/** Navigation Bar **/
.p-channel_sidebar__jumper {
  background: $contrast;
}

.p-channel_sidebar__jumper:hover {
  background: $bg;
}

.p-channel_sidebar__history_button {
  background: $button;

  &:hover {
    background: var(--p-channel_sidebar__navigation-bar-color--hover);
    color: var(--p-channel_sidebar__top-nav-text);
  }
}

.p-ia__view_header {
  border-bottom: none;
  box-shadow: 0px 10px 10px -6px $border;
  background: $bg2;
  z-index: 1000;

  .p-channel_sidebar__history_button:not(.p-channel_sidebar__history_button--disabled) {
    &:hover {
      background-color: $hl;
    }

    &:active {
      background-color: $active;
    }
  }
}

.p-channel_sidebar__history_button:hover {
  background: $hl;
}

.p-team_sidebar {
  background: var(--p-team_sidebar__nav-bg);
}

.p-channel_sidebar__history_button--disabled {
  &:hover {
    background: var(--p-channel_sidebar__navigation-bar-color);
    color: var(--p-channel_sidebar__top-nav-text);
  }
}

.p-channel_sidebar__history_button--disabled:hover {
  background: $excluded;
}

/** Global Nav (DEPRECATED BUT KEEP FOR SONIC) **/
.p-global_nav__top {
  background: $bg;
  color: $fg;
}

.p-global_nav__top:after {
  background: $bg;
}

.p-global_nav__sidebar {
  background: $contrast;
  color: $text;
}

.p-global_nav__top_user_presence {
  background: $contrast;
}

.p-global_nav__top_user_presence.c-presence--active {
  color: $accent;
}

.p-global_nav__top_user_presence.c-presence--away {
  color: $text;
}

.p-global_nav__sidebar_jumper:hover,
.p-global_nav__sidebar_button:hover {
  color: $primary;
}

/** Classic Nav (WIP) **/
.p-classic_nav__team_header {
  background: $bg;
  color: $fg;
}

.p-classic_nav__team_header__team__dnd:hover {
  color: $primary;
}

.p-classic_nav__team_header:hover {
  background: $selectBg;
}

.p-classic_nav__team_header__user__presence.c-presence--active {
  color: $accent;
}

.p-classic_nav__team_header__user__presence.c-presence--away {
  color: $text;
}

.p-classic_nav__team_header .c-link--focus-visible:focus,
.p-classic_nav__team_header .c-button--focus-visible:focus {
  box-shadow: 0 0 0 1px $primary, 0 0 0 5px $primaryT;
}

.p-team_sidebar,
.p-team_sidebar--frameless::before {
  background: $bg;
}

.p-team_sidebar__item {
  color: $fg;
}

.p-team_sidebar__add_button {
  color: $fg;
}

.p-team_sidebar__add_button:hover,
.p-team_sidebar__add_button:focus,
.p-team_sidebar__add_button:active {
  color: $primary;
}

.p-team_sidebar__add_button {
  background: $button;
  border-color: $borderLight;
}

.p-team_sidebar__add_button:hover,
.p-team_sidebar__add_button:focus,
.p-team_sidebar__add_button:active {
  border-color: $primary;
  background: $hl;
  box-shadow: 0 0 0 3px $button, 0 0 0 6px $hl;
}

.p-team_sidebar__unread_dot,
.p-team_sidebar__mentions_badge {
  border-color: $bg;
}

.p-team_sidebar__mentions_badge {
  background: $accent2;
}

.p-team_sidebar__unread_dot {
  background: $accent;
}

.p-team_sidebar__item.c-button--focus-visible:focus,
.p-team_sidebar__add_button.c-link--focus-visible:focus {
  box-shadow: 0 0 0 3px $bg, 0 0 0 4px $accent, 0 0 0 6px $accentT;
}

.c-button--focus-visible:focus .p-team_sidebar__icon--active {
  box-shadow: none;
}

.p-team_sidebar__signed_out_badge__stroke {
  -webkit-text-stroke: 6px $accent;
  color: $accent;
}

.p-team_sidebar__icon {
  &:hover {
    box-shadow: 0 0 0 3px var(--p-team_sidebar__nav-bg), 0 0 0 6px var(--p-team_sidebar__text-color--opacity-30);
  }
}

.p-team_sidebar__icon:hover {
  box-shadow: 0 0 0 3px $button, 0 0 0 6px $hl;
}

.p-team_sidebar__icon--active,
.p-team_sidebar__icon--active:hover {
  box-shadow: 0 0 0 3px $bg, 0 0 0 6px $primary;
}

.p-channel_sidebar__compose_button {
  box-shadow: 0 0 0 1px $borderLight, 0 4px 12px 0 $borderLight;
}

@keyframes p-welcome-place__sidebar_animation {
  0% {
    font-weight: 900;
  }

  50% {
    font-weight: 900;
    color: $bg;
  }

  to {
    font-weight: 900;
    color: inherit;
  }
}

div[aria-selected='true'].p-channel_sidebar__static_list__item:focus:after {
  box-shadow: none;
}

.p-channel_sidebar__invite_prompt__container {
  background-color: $hl;
}

.p-channel_sidebar__custom_sections_alert {
  border: 1px solid $borderLight;
}

.p-channel_sidebar__custom_sections_copy_container {
  .p-channel_sidebar__custom_sections_copy_container__description {
    color: $text;
  }
}

.p-channel_sidebar__custom_sections_copy_header__heading__badge {
  color: $selectFg;
  background-color: $accent;
}

.p-channel_sidebar--iap1 .p-channel_sidebar__section_heading {
  background: $contrast;
  color: $text;
}

.p-channel_sidebar--iap1 .p-channel_sidebar__section_heading_label,
.p-channel_sidebar__section_heading__label {
  font-weight: bold;
  text-transform: uppercase;
}

.p-sidebar_link__icon--bold {
  color: $primary;
}

.p-arrow_cta {
  color: $primary;
}

.p-channel_sidebar__link.p-channel_sidebar_header_link,
.p-channel_sidebar__link.p-channel_sidebar_header_link--bright {
  background: $bg2;
  color: $selectFg;
}

.p-channel_sidebar__organize_action {
  color: var(--p-channel_sidebar__theme-text);
  background-color: var(--p-channel_sidebar__theme-text--opacity-11);

  &:active,
  &:focus,
  &:hover {
    background-color: var(--p-channel_sidebar__theme-text--opacity-20);
  }
}

.p-channel_sidebar__organize_action--primary {
  color: var(--p-channel_sidebar__column-bg);
  background-color: var(--p-channel_sidebar__theme-text);

  &:active,
  &:focus,
  &:hover {
    background-color: var(--p-channel_sidebar__theme-text--opacity-89);
  }
}

.p-channel_sidebar__organize_mode_menu {
  .p-channel_sidebar__organize_action {
    color: $text;
    background: $button;

    &:hover,
    &:active,
    &:focus {
      background: $hl;
      color: $selectFg;
    }
  }

  .p-channel_sidebar__organize_action--primary {
    color: $fg;
    background: $hl;

    &:hover,
    &:active,
    &:focus {
      color: $selectFg;
      background: $selectBg;
    }
  }
}

.p-channel_sidebar__member_label {
  font-style: italic;
  color: $text;
}

.p-channel_sidebar__link .p-channel_sidebar__channel_icon_prefix--comfy,
.p-channel_sidebar__channel:not(.p-channel_sidebar__channel--typing) .p-channel_sidebar__channel_icon_prefix--comfy {
  background: $button;
}

.p-channel_sidebar__channel.p-channel_sidebar__channel--muted:not(.p-channel_sidebar__channel--typing)
  .p-channel_sidebar__channel_icon_prefix--comfy {
  background: transparent;
  color: $text;
}

.p-channel_sidebar__link--add-more-items .p-channel_sidebar__channel_icon_prefix--comfy {
  background: transparent;
  color: $fg;
}

.p-channel_sidebar__channel--unread:not(.p-channel_sidebar__channel--muted):not(.p-channel_sidebar__channel--selected)
  .p-channel_sidebar__channel_icon_prefix--comfy {
  background: $button;
  color: $primary;
}

.p-channel_sidebar__channel--suggested:not(.p-channel_sidebar__channel--typing)
  .p-channel_sidebar__channel_icon_prefix--comfy {
  color: $text;
  background: transparent;
}

.p-channel_sidebar__user_avatar_presence_bg {
  background: transparent;
}

.p-channel_sidebar__link--all-threads--disabled:hover,
.p-channel_sidebar__link--page--disabled:hover {
  color: var(--p-channel_sidebar__computed-text-color);
  background: var(--p-channel_sidebar__column-bg);
}

.p-channel_sidebar__link--selected {
  &.p-channel_sidebar__link--all-threads--disabled,
  &.p-channel_sidebar__link--page--disabled {
    color: var(--p-channel_sidebar__computed-text-color);
  }
}

.p-channel_sidebar__link--add_suggestions {
  background: var(--p-channel_sidebar__navigation-bar-color);

  &:hover {
    background: var(--p-channel_sidebar__navigation-bar-color--hover);
  }
}

.p-channel_sidebar__link--selected.p-channel_sidebar__link--page--disabled,
.p-channel_sidebar__link--selected.p-channel_sidebar__link--all-threads--disabled {
  color: $disabled;
  background: $tree;
}

.p-channel_sidebar__callout {
  color: $selectFg;
  background: $accent;
}

.p-channel_sidebar__link:hover:not(.p-channel_sidebar__link--selected) .p-channel_sidebar__callout {
  color: $primary;
}

.p-channel_sidebar__link--unread:not(.p-channel_sidebar__link--selected) .p-channel_sidebar__callout {
  background: $accent;
}

.p-channel_sidebar__link--selected .p-channel_sidebar__callout {
  color: $primary;
  background: $accent;
}

/** `opacity: 1` color overrides */
.p-channel_sidebar__organize_selection_action.c-link--focus-visible:focus,
.p-channel_sidebar__channel--unread:not(.p-channel_sidebar__channel--muted):not(.p-channel_sidebar__channel--suggested):not(.p-channel_sidebar__channel--selected)
  .p-channel_sidebar__name,
.p-channel_sidebar__link--unread:not(.p-channel_sidebar__link--selected) .p-channel_sidebar__name,
.p-channel_sidebar__link--invites:not(.p-channel_sidebar__link--dim) .p-channel_sidebar__name,
.p-channel_sidebar__link--add-channel:not(.p-channel_sidebar__link--dim) .p-channel_sidebar__name,
.p-channel_sidebar__link--add-apps:not(.p-channel_sidebar__link--dim) .p-channel_sidebar__name,
.p-channel_sidebar__section_heading:not(.p-channel_sidebar__section_heading--selected)
  .p-channel_sidebar__section_heading_label--unreads,
.p-channel_sidebar__quickswitcher:hover,
.p-channel_sidebar__section_placeholder--has_cta:hover,
.p-channel_sidebar--iap1 .p-channel_sidebar__section-heading--pages-drawer:hover {
  color: $primary;
}

.p-channel_sidebar--iap1 .p-channel_sidebar__section-heading--pages-drawer--disabled:hover {
  color: $disabled;
}

/** Compose Button **/
.p-channel_sidebar__compose_button,
.p-ia__big_search_compose {
  background: $button;
  color: $fg;
}

.p-channel_sidebar__compose_button--disabled {
  background: $disabled;
  color: var(--p-channel_sidebar__computed-text-color);
}

.p-channel_sidebar__compose_button--iap1:active {
  background-color: $hl;
}

.p-drag_layer__sidebar_channels--multiple {
  background: $selectBg;
}

/** Allow dragged section heading to have a background **/
.p-channel_sidebar--iap1 .p-channel_sidebar__section_heading,
.p-drag_layer .p-channel_sidebar__section_heading {
  background: $contrast;
  color: $text;
}

.p-ia__sidebar_header__mode__info_button:hover,
.p-ia__sidebar_header__mode__find_button:hover {
  background-color: $hl;
  border: 1px solid $borderLight;
}

.p-ia__sidebar_header__mode__filter_input,
.p-ia__sidebar_header__mode__filter_input:hover
  .p-ia__sidebar_header__mode__filter_input:active
  .p-ia__sidebar_header__mode__filter_input:focus {
  border: 1px solid $borderLight;
}

.p-ia__sidebar_header__mode__filter_input.c-filter_input.c-filter_input--active,
.p-ia__sidebar_header__mode__filter_input.c-filter_input.c-filter_input:hover {
  border: 1px solid $primary;
}

.p-ia__sidebar_header__mode__filter_input.c-filter_input .c-icon,
.p-ia__sidebar_header__mode__filter_input .c-filter_input__reset_button {
  color: $fg;
}

.p-ia__sidebar_header__mode__filter_input .c-filter_input__input[type='text'] {
  color: $fg;
}

.p-ia__sidebar_header__mode__filter_input .c-filter_input__input::placeholder {
  color: $disabled;
}

.p-ia__omniswitcher_button {
  color: $fg;
  border: 1px solid $button;
}

.p-ia__omniswitcher_button:hover {
  border-color: $hl;
}

.p-ia__sidebar_header__mode {
  background-color: $bg2;
}

.p-ia__sidebar_header .p-ia__sidebar_header__mode {
  background: $bg2;
}

.p-ia__sidebar_header--top-nav .p-ia__sidebar_header__button,
.p-ia__sidebar_header--top-nav .p-ia__sidebar_header__mode {
  background-color: initial;
  border-color: $hl;
}

.p-ia__sidebar_header--top-nav:not(.p-ia__sidebar_header--creator-setup):hover {
  background-color: $bg2;
}

.p-ia__sidebar_header__user__presence.c-presence--active {
  color: $accent;
}

.p-ia__sidebar_header__user__presence.c-presence--away {
  color: $disabled;
}

.p-top_nav .p-ia__nav__user__presence {
  color: $accent;
}

.p-top_nav .p-ia__nav__user__presence.c-presence--away {
  color: $fg;
}

.p-top_nav__windows_icon {
  fill: $button;
}

.p-top_nav__button:hover,
.p-setup_escape_hatch:hover,
.p-top_nav__sidebar .p-channel_sidebar__history_button:hover {
  background: $hl;
}

.p-top_nav__button--notif_unread .p-top_nav__button_dot:after {
  background: $notif;
}

.p-top_nav__help__badge--dot {
  background: $accent;
}

.p-ia_edu_throbber circle {
  fill: $primary;
}

.p-top_nav__ia_edu_throbber circle {
  fill: $primary;
}

.p-channel_sidebar__section_heading_ellipsis--showing_throbber {
  box-shadow: 0 0 1px 1px $primary;
}

.p-channel_sidebar__section_heading_ellipsis--showing_throbber .p-ia_edu_thobber__inner--square {
  fill: $primary;
}

.p-channel_sidebar__section_heading_ellipsis--showing_throbber .p-ia_edu_throbber__pulse--square {
  fill: $primary;
}

.p-ia__view_header__sidebar_toggle_dot.p-ia__view_header__sidebar_toggle_dot--mentions {
  background: $accent;
}

/** Day 1: Setup Sidebar **/
.p-channel_sidebar__loading_spacer_section--bottom-border {
  border-color: $borderLight;
}

.p-channel_sidebar__setup_channel_input {
  &::-webkit-input-placeholder,
  &::-moz-placeholder,
  &:-ms-input-placeholder,
  &::-ms-input-placeholder,
  &::placeholder {
    color: var(--p-channel_sidebar__computed-text-color);
  }
}

.p-channel_sidebar__channel.p-channel_sidebar__setup_channel_input {
  background: $contrast;
  color: $fg;
}

.p-channel_sidebar__setup_channel_input::placeholder,
.p-channel_sidebar__setup_prompt .c-icon {
  color: $disabled;
}

.p-channel_sidebar__setup_channel_error_text {
  color: $red;
}

.p-channel_sidebar__close_container:hover .p-channel_sidebar__setup_channel_input:not(:focus) {
  background: $button;
}

.p-channel_sidebar__setup_channel_input:focus,
.p-channel_sidebar__link--page_pbrowse-people.p-channel_sidebar__link--page_pbrowse-people--setup,
.p-ia__sidebar_header--v-team-creation-view {
  background: $contrast;
  color: $primary;
}

.p-channel_sidebar__link--add-teammates,
.p-channel_sidebar__link--add-teammates:hover {
  color: $fg;
}

.p-channel_type_button--selected:not(.p-channel_type_button--large-with-icon) {
  background: $button;
  border: 1px solid $button;
  color: $fg;
}

.p_channel_examples_section {
  border: 1px solid $borderLight;
}

/** Day 1: Sidebar Setup Prompt**/
.p-channel_sidebar__setup_prompt {
  border-top: 1px solid $borderLight;
  color: $fg;
  background: $contrast;

  .c-icon {
    color: var(--p-channel_sidebar__computed-text-color);
  }
}

.p-channel_sidebar__setup_prompt a,
.p-channel_sidebar__setup_prompt .c-link--button {
  color: $accent2;
}

/** Message send failure indicator **/
.p-channel_sidebar__message_failure_suffix {
  color: $red;
}

/** Golden Gate **/
.p-channel_sidebar__link .p-sidebar_link__icon--bold {
  color: $accent2;
}

.p-channel_sidebar__link.p-channel_sidebar_header_link {
  color: $accent2;
}

.p-channel_sidebar__link.p-channel_sidebar_header_link__discount {
  background: $hl;
  color: $accent2;
}

.p-channel_sidebar__link.p-channel_sidebar_header_link--bright {
  background: $hl;
  color: $accent2;
}

.p-channel_sidebar__link.p-channel_sidebar_header_link:hover {
  background: $primary;
}

.p-channel_sidebar__close_container.p-channel_sidebar_header_link__container:hover * {
  background: $button;
}

/** Tiling experiment */
.p-channel_sidebar__channel--is-inactive-tile {
  background: $contrast;
}

.p-tiles__tile:not(.p-tiles__tile--active)::after {
  background-color: $bg;
}
