.p-ia__sidebar_header {
  background: $contrast !important;
  color: $fg !important;

  &:hover {
    background: $bg !important;
    color: $selectFg !important;
  }

  .c-button--focus-visible:focus {
    box-shadow: var(--p-channel_sidebar__focus-outline-box-shadow);
  }

  .p-ia__sidebar_header__mode {
    background: var(--p-channel_sidebar__column-bg);
  }
}

.p-workspace__channel_sidebar {
  .p-ia__sidebar_header__mode__info_button,
  .p-ia__sidebar_header__mode__find_button {
    border: 1px solid $button;
    background: $button;
    color: $fg;
  }

  .p-ia__sidebar_header .p-ia__sidebar_header__mode {
    background: $bg2;
    border-bottom: 1px solid $borderLight;
  }
}

.p-client_desktop--ia-top-nav {
  .p-team_sidebar {
    box-shadow: inset -1px 0 0 0 var(--p-team_sidebar__text-color--mix-10);
  }

  .p-ia__sidebar_header--top-nav .p-ia__sidebar_header__button,
  .p-ia__sidebar_header--top-nav .p-ia__sidebar_header__mode {
    border-bottom: 1px solid $borderLight;
  }

  .p-ia__sidebar_header:not(.p-ia__sidebar_header--top-nav) .p-ia__sidebar_header__button:hover,
  .p-ia__sidebar_header:not(.p-ia__sidebar_header--top-nav) .p-ia__sidebar_header__mode:hover {
    border-color: $borderLight !important;
  }
}

.p-channel_sidebar__compose_button--iap1 {
  background: $button !important;
  color: $fg !important;
  box-shadow: none !important;
  fill: $fg !important;

  &:hover {
    background: $hl !important;
    color: $primary !important;
    fill: $primary !important;
  }
}

.p-channel_sidebar--iap1 .p-channel_sidebar__divider {
  border-bottom-color: $border !important;
}

.p-channel_sidebar--iap1 .p-channel_sidebar__banner--unreads {
  color: var(--p-channel_sidebar__column-bg);
}
