.c-sidebar_menu__list_item {
  color: $fg !important;

  &.is_active {
    background: $tree !important;
    border: 1px solid $tree !important;
    color: $selectFg !important;
  }

  &:not(.is_active):hover {
    color: inherit !important;
    background-color: $selectBg !important;
  }
}

a.c-sidebar_menu__list_item {
  color: $primary !important;

  &.is_active {
    background: $accent;
    border: 1px solid $accent;
    color: $selectFg;
  }

  &:not(.is_active):hover {
    color: $selectFg;
    background-color: $active;
    border-color: $active;
  }
}

.p-team_sidebar__shortcut_hint {
  background: $fg !important;
  color: $bg !important;
}

.p-team_sidebar__mentions_badge {
  color: $bg2 !important;
}

.p-team_sidebar__signed_out_badge {
  color: $accent2 !important;
}

.p-channel_sidebar--global_nav_layout:after {
  background: $bg !important;
}

.p-channel_sidebar__empty_state {
  color: $text !important;
}

.p-channel_sidebar__banner {
  color: $fg !important;
}

.p-channel_sidebar__banner--mentions {
  background: $red !important;
}

.p-channel_sidebar__banner--unreads {
  background: $primary !important;
}

.p-channel_sidebar__channel.c-link--focus-visible:focus .p-channel_sidebar__name {
  box-shadow: 0 0 0 1px $primary, 0 0 0 5px $primaryT !important;
}

.p-channel_sidebar__link {
  &.c-button--focus-visible:focus .p-channel_sidebar__name,
  &.c-link--focus-visible:focus .p-channel_sidebar__name {
    box-shadow: 0 0 0 1px $primary, 0 0 0 5px $primaryT !important;
  }
}

.p-channel_sidebar {
  background: $contrast !important;
  color: $fg !important;
}

.p-channel_sidebar__channel_section_select_menu--checked {
  color: $primary;

  .c-menu_item__icon {
    color: $primary;
  }
}

.p-channel_sidebar__channel_section_menu_submenu_label__secondary_text {
  color: $text;
}

.c-menu_item__li--highlighted .p-channel_sidebar__channel_section_menu_submenu_label__secondary_text {
  color: $selectFg;
}

.p-channel_sidebar__channel,
.p-channel_sidebar__link,
.p-channel_sidebar__channel:link,
.p-channel_sidebar__link:link,
.p-channel_sidebar__channel:visited,
.p-channel_sidebar__link:visited,
.p-channel_sidebar__channel:hover,
.p-channel_sidebar__link:hover {
  color: $selectFg !important;
}

.p-channel_sidebar__channel--selected,
.p-channel_sidebar__link--selected,
.p-channel_sidebar__channel--selected:link,
.p-channel_sidebar__link--selected:link,
.p-channel_sidebar__channel--selected:visited,
.p-channel_sidebar__link--selected:visited,
.p-channel_sidebar__channel--selected:hover,
.p-channel_sidebar__link--selected:hover,
.p-channel_sidebar__channel--selected + .p-channel_sidebar__close,
.p-channel_sidebar__link--selected + .p-channel_sidebar__close {
  color: $primary !important;
}

.p-channel_sidebar__channel:hover,
.p-channel_sidebar__link:hover,
.p-channel_sidebar__close_container:hover {
  background: $tree !important;
}

.p-channel_sidebar__header {
  color: $fg !important;
}

/* Folders */

input[type='text'].p-channel_sidebar__folder_heading_label_rename {
  background: rgb(13, 25, 31) !important;
  color: $fg !important;
}

input[type='text'].p-channel_sidebar__folder_heading_label_rename:hover {
  background: rgb(3, 15, 21) !important;
  color: $fg !important;
}

/* Override presence icons */
.p-channel_sidebar__channel--im .c-presence--active,
.p-channel_sidebar__channel--im-slackbot:before {
  color: $accent !important;
}

.p-channel_sidebar__channel--im.p-channel_sidebar__channel--selected .c-presence,
.p-channel_sidebar__channel--im-slackbot.p-channel_sidebar__channel--selected:before {
  color: $fg !important;
}

.p-channel_sidebar__channel--im .c-presence--away {
  color: $text !important;
}

.p-channel_sidebar__channel--selected,
.p-channel_sidebar__channel--selected:hover,
.p-channel_sidebar__link--selected,
.p-channel_sidebar__link--selected:hover {
  background: $tree !important;
}

.p-channel_sidebar__channel--selected:before,
.p-channel_sidebar__channel--selected:hover:before,
.p-channel_sidebar__link--selected:before,
.p-channel_sidebar__link--selected:before,
.p-channel_sidebar__channel--selected:after,
.p-channel_sidebar__channel--selected:hover:after,
.p-channel_sidebar__link--selected:after,
.p-channel_sidebar__link--selected:after {
  color: $selectFg !important;
}

.p-channel_sidebar__badge,
.p-channel_sidebar__banner--mentions {
  background: $accent !important;
}

.p-channel_sidebar .c-custom_scrollbar__thumb_vertical,
.p-channel_sidebar .c-scrollbar__bar {
  background: $accent !important;
}

.client_channels_list_container.focusablesection:focus .sectionfocusindicator,
.client_channels_list_container .focus-ring,
.p-channel_sidebar.focusablesection:focus .sectionfocusindicator,
#team_menu.focusablesection:focus .sectionfocusindicator {
  box-shadow: 0 0 0 1px $primary, 0 0 0 5px $primaryT !important;
}

.client_channels_list_container a:not(.c-link--focus-visible).focus-ring,
.client_channels_list_container button:not(.c-button--focus-visible).focus-ring,
.p-channel_sidebar__jumper.c-button--focus-visible:focus,
.p-channel_sidebar__history_button.c-button--focus-visible:focus,
.p-channel_sidebar__section_heading_label--clickable.c-button--focus-visible:focus,
.p-channel_sidebar__section_heading_plus.c-button--focus-visible:focus,
.p-channel_sidebar__channel.c-link--focus-visible:focus .p-channel_sidebar__name,
.p-channel_sidebar__link.c-button--focus-visible:focus .p-channel_sidebar__name,
.p-channel_sidebar__close.c-button--focus-visible:focus {
  box-shadow: 0 0 0 1px $primary, 0 0 0 5px $primaryT !important;
}

/** `opacity: 1` color overrides */
.p-channel_sidebar__channel--unread:not(.p-channel_sidebar__channel--muted):not(.p-channel_sidebar__channel--suggested):not(.p-channel_sidebar__channel--selected)
.p-channel_sidebar__name,
.p-channel_sidebar__link--unread:not(.p-channel_sidebar__link--selected) .p-channel_sidebar__name,
.p-channel_sidebar__link--invites:not(.p-channel_sidebar__link--dim) .p-channel_sidebar__name,
.p-channel_sidebar__link--add-channel:not(.p-channel_sidebar__link--dim) .p-channel_sidebar__name,
.p-channel_sidebar__section_heading_label--clickable:hover,
.p-channel_sidebar__section_heading_label--unreads,
.p-channel_sidebar__quickswitcher:hover {
  color: $primary !important;
}

/** Navigation Bar **/
.p-channel_sidebar__jumper {
  background: $contrast !important;
}

.p-channel_sidebar__jumper:hover {
  background: $bg !important;
}

.p-channel_sidebar__history_button {
  background: $button !important;
}

.p-ia__view_header {
  border-bottom: none !important;
  box-shadow: 0px 10px 10px -6px $border !important;
  background: $bg2;
  z-index: 9999;

  .p-channel_sidebar__history_button:not(.p-channel_sidebar__history_button--disabled) {
    &:hover {
      background-color: $hl;
    }

    &:active {
      background-color: $active;
    }
  }
}

.p-channel_sidebar__history_button:hover {
  background: $hl !important;
}

.p-channel_sidebar__history_button--disabled:hover {
  background: $excluded !important;
}

/** Global Nav (DEPRECATED BUT KEEP FOR SONIC) **/
.p-global_nav__top {
  background: $bg !important;
  color: $fg !important;
}

.p-global_nav__top:after {
  background: $bg !important;
}

.p-global_nav__sidebar {
  background: $contrast !important;
  color: $text !important;
}

.p-global_nav__top_user_presence {
  background: $contrast !important;
}

.p-global_nav__top_user_presence.c-presence--active {
  color: $accent !important;
}

.p-global_nav__top_user_presence.c-presence--away {
  color: $text !important;
}

.p-global_nav__sidebar_jumper:hover,
.p-global_nav__sidebar_button:hover {
  color: $primary !important;
}

/** Classic Nav (WIP) **/
.p-classic_nav__team_header {
  background: $bg !important;
  color: $fg !important;
}

.p-classic_nav__team_header__team__dnd:hover {
  color: $primary !important;
}

.p-classic_nav__team_header:hover {
  background: $selectBg !important;
}

.p-classic_nav__team_header__user__presence.c-presence--active {
  color: $accent !important;
}

.p-classic_nav__team_header__user__presence.c-presence--away {
  color: $text !important;
}

.p-classic_nav__team_header .c-link--focus-visible:focus,
.p-classic_nav__team_header .c-button--focus-visible:focus {
  box-shadow: 0 0 0 1px $primary, 0 0 0 5px $primaryT !important;
}

.p-team_sidebar,
.p-team_sidebar--frameless::before {
  background: $bg !important;
}

.p-team_sidebar__item {
  color: $fg !important;
}

.p-team_sidebar__add_button {
  color: $fg !important;
}

.p-team_sidebar__add_button:hover,
.p-team_sidebar__add_button:focus,
.p-team_sidebar__add_button:active {
  color: $primary !important;
}

.p-team_sidebar__add_button {
  background: $button !important;
  border-color: $borderLight !important;
}

.p-team_sidebar__add_button:hover,
.p-team_sidebar__add_button:focus,
.p-team_sidebar__add_button:active {
  border-color: $primary !important;
  background: $hl !important;
  box-shadow: 0 0 0 3px $button, 0 0 0 6px $hl !important;
}

.p-team_sidebar__unread_dot,
.p-team_sidebar__mentions_badge {
  border-color: $bg !important;
}

.p-team_sidebar__mentions_badge {
  background: $accent2 !important;
}

.p-team_sidebar__unread_dot {
  background: $accent !important;
}

.p-team_sidebar__item.c-button--focus-visible:focus,
.p-team_sidebar__add_button.c-link--focus-visible:focus {
  box-shadow: 0 0 0 3px $bg, 0 0 0 4px $accent, 0 0 0 6px $accentT !important;
}

.c-button--focus-visible:focus .p-team_sidebar__icon--active {
  box-shadow: none !important;
}

.p-team_sidebar__signed_out_badge__stroke {
  -webkit-text-stroke: 6px $accent !important;
  color: $accent !important;
}

.p-team_sidebar__icon:hover {
  box-shadow: 0 0 0 3px $button, 0 0 0 6px $hl !important;
}

.p-team_sidebar__icon--active,
.p-team_sidebar__icon--active:hover {
  box-shadow: 0 0 0 3px $bg, 0 0 0 6px $primary !important;
}

.p-channel_sidebar__compose_button {
  box-shadow: 0 0 0 1px $borderLight, 0 4px 12px 0 $borderLight;
}

@keyframes p-welcome-place__sidebar_animation {
  0% {
    font-weight: 900;
  }

  50% {
    font-weight: 900;
    color: $bg;
  }

  to {
    font-weight: 900;
    color: inherit;
  }
}

.p-channel_sidebar__name.p-channel_sidebar__name--away,
.p-channel_sidebar__name > .p-channel_sidebar__name--away {

  .mtslack--dim & {
    opacity: .4 !important;
  }
}

div[aria-selected='true'].p-channel_sidebar__static_list__item:focus:after {
  box-shadow: 0 0 0 1px $primary, 0 0 0 5px $primaryT;
}

.p-channel_sidebar__invite_prompt__container {
  background-color: $hl;
}

.p-channel_sidebar__custom_sections_alert {
  border: 1px solid $borderLight;
}

.p-channel_sidebar__custom_sections_copy_container {
  .p-channel_sidebar__custom_sections_copy_container__description {
    color: $text;
  }
}

.p-channel_sidebar__custom_sections_copy_header__heading__badge {
  color: $selectFg;
  background-color: $accent;
}

.p-channel_sidebar--iap1 .p-channel_sidebar__section_heading {
  background: $bg !important;
  color: $text !important;
  border-bottom: 1px solid $border;
}

.p-sidebar_link__icon--bold {
  color: $primary;
}

.p-arrow_cta {
  color: $primary;
}
