.p-slapps_header {
  background: $contrast;
  border-bottom: 1px solid rgba(var(--sk_foreground_low, 29, 28, 29), 0.13);
  box-shadow: 0 1px 2px $borderLight;
}

.p-slapps_header__placeholder_holder--icon {
  background: $button;
}

.p-slapps_header__placeholder_holder--text {
  background-color: $hl;
  background-image: none;
}

.p-slapps_header__add-link-icon__text {
  color: rgba(var(--sk_foreground_max_solid, 97, 96, 97), 1);
}
