.p-slack_connect_dm_modal__url_container {
  background-color: $bg;
  color: $text;
}

.p-slack_connect_dm_modal__url_input {
  background-color: transparent;
}

.p-slack_connect_dm_email_modal__learn_more {
  color: $text;

  .link {
    color: $accent2;
  }
}

.p-slack_connect_dm_email_modal__success_icon {
  color: $green;
  background-color: $bg2;
}

.p-slack_connect_channel {
  background: $bg;

  &:hover {
    background: $bg2;
  }
}

.p-slack_connect_channel--focus {
  box-shadow: 0 0 0 1px $primary, 0 0 0 5px $primaryT;
}

.p-slack_connect_channel {
  &:focus {
    box-shadow: 0 0 0 1px $primary, 0 0 0 5px $primaryT;
  }
}

.p-slack_connect_channel__primary {
  color: $primary;
}

.p-slack_connect_channel__shared_icon {
  background-color: $bg2;
}

.p-slack_connect_channel__shared_icon_lock {
  background-color: $bg2;
  border: 2px solid $hl;
}

.p-slack_connect_channel:hover .p-slack_connect_channel__shared_icon_lock {
  border-color: $hl;
}

.p-slack_connect_channels_list {
  background: $bg2;
}

.p-slack_connect_channels_list__divider {
  background: $hl;
}

.p-slack_connect_channels_tab__loading {
  background: $bg;
}

.p-slack_connect_empty_landing_page__security_info__description {
  color: $text;
}

.p-slack_connect_empty_landing_page__shared_workspace_stack {
  color: $text;
}

.p-slack_connect_empty_landing_page__cta {
  &.c-card_container {
    box-shadow: 0 0 0 1px $primary, 0 1px 3px 0 $primaryT;
  }

  &:focus,
  &:hover {
    box-shadow: 0 0 0 1px $primary, 0 4px 12px 0 $primaryT;
  }

  &:focus .p-slack_connect_empty_landing_page__link_icon,
  &:hover .p-slack_connect_empty_landing_page__link_icon {
    color: $selectFg;
    background-color: $primary;
  }
}

.p-slack_connect_empty_landing_page__link_icon {
  color: $primary;
  background-color: $bg2;
}

.p-slack_connect_invite_sequence_pending_approval__info_row {
  color: $text;
}

.p-slack_connect_invite_sequence {
  background: $bg;

  &:hover {
    background: $bg2;
  }
}

.p-slack_connect_invite_sequence--focus {
  box-shadow: 0 0 0 1px $primary, 0 0 0 5px $primaryT;
}

.p-slack_connect_invite_sequence {
  &:focus {
    box-shadow: 0 0 0 1px $primary, 0 0 0 5px $primaryT;
  }
}

.p-slack_connect_invite_sequence__icon {
  background-color: $excluded;
  color: $accent;
}

.p-slack_connect_invite_sequence__icon--approved {
  background-color: $excluded;
  color: $green;
}

.p-slack_connect_invite_sequence__icon--rejected {
  background-color: $excluded;
  color: $red;
}

.p-slack_connect_invite_sequence__primary {
  color: $fg;
}

.p-slack_connect_invite_sequence__step {
  color: $text;
}

.p-slack_connect_invite_sequence__step_items {
  border-left: 1px solid $hl;
}

.p-slack_connect_invite_sequence__step_item_icon {
  background-color: $fg;
  color: $bg;
}

.p-slack_connect_invite_sequence__shared_icon {
  background-color: $bg2;
}

.p-slack_connect_invite_sequence__shared_icon_lock {
  background-color: $bg2;
  border: 2px solid $hl;
}

.p-slack_connect_invite_sequence:hover .p-slack_connect_invite_sequence__shared_icon_lock {
  border-color: $hl;
}

.p-slack_connect_invite_subway_pending_admin_approval__info {
  color: $text;
}

.p-slack_connect_invite_subway {
  background: $bg;

  &:hover {
    background: $bg2;
  }
}

.p-slack_connect_invite_subway--focus,
.p-slack_connect_invite_subway:focus {
  box-shadow: 0 0 0 1px $primary, 0 0 0 5px $primaryT;
}

.p-slack_connect_invite_subway__icon {
  background-color: $excluded;
  color: $accent;
}

.p-slack_connect_invite_subway__icon--approved {
  background-color: $excluded;
  color: $green;
}

.p-slack_connect_invite_subway__icon--rejected {
  background-color: $excluded;
  color: $red;
}

.p-slack_connect_invite_subway__primary {
  color: $fg;
}

.p-slack_connect_invite_subway__icon--checked {
  color: $accent;
}

.p-slack_connect_invite_subway__icon--in-progress {
  color: $accent;
  text-shadow: 0 0 3px $accentT;
}

.p-slack_connect_invite_subway__icon--next-step {
  color: $text;
}

.p-slack_connect_invite_subway__line {
  border-top: 1px solid $hl;
}

.p-slack_connect_invite_subway__status--description__subtext {
  color: $text;
}

.p-slack_connect_invite_subway__icon--connected {
  background-color: $accent;
  color: $selectFg;
  box-shadow: 0 0 4px 1px $accentT;
}

.p-slack_connect_invite {
  background: $bg;

  &:hover {
    background: $hl;
  }
}

.p-slack_connect_invite--focus {
  box-shadow: 0 0 0 1px $primary, 0 0 0 5px $primaryT;
}

.p-slack_connect_invite {
  &:focus {
    box-shadow: 0 0 0 1px $primary, 0 0 0 5px $primaryT;
  }
}

.p-slack_connect_invite__primary {
  color: $primary;
}

.p-slack_connect_invite__shared_icon {
  background-color: $bg2;
}

.p-slack_connect_invite__shared_icon_lock {
  background-color: $bg2;
  border: 2px solid $hl;
}

.p-slack_connect_invite:hover .p-slack_connect_invite__shared_icon_lock {
  border-color: $hl;
}

.p-slack_connect_empty_landing_page__header {
  background-color: $bg2;
}

.p-slack_connect_empty_landing_page__header_subtext {
  color: $text;
}

.p-slack_connect_empty_landing_page__learn_more {
  border: 1px solid $hl;
  background-color: $button;

  &:active,
  &:focus,
  &:hover {
    background-color: $hl;
    border: 1px solid $hl;
  }
}

.p-slack_connect_empty_landing_page__learn_more__link {
  color: $accent2;
}

.p-slack_connect_empty_landing_page__shared_workspace_stack {
  color: $text;
}

.p-slack_connect_empty_landing_page__cta__icon {
  color: $primary;
}

.p-slack_connect_manage_menu__trigger__button {
  color: $text;
}

.p-slack_connect_edu_modal__step {
  color: $text;
}

.p-slack_connect_edu_modal__content_description {
  color: $text;
}

.p-slack_connect_edu_modal__content_section {
  background: $bg;
  border-top-color: $border;
}

.sk-client-theme--dark .p-slack_connect_edu_modal__image,
.p-slack_connect_edu_modal__image {
  background-color: $bg;
}

.p-slack_connect_edu_modal__footer_tip {
  color: $text;
}

.p-slack_connect_edu_modal .c-sk-modal__close_button {
  background-color: $button;
  box-shadow: none;
  border-color: $hl;

  &:hover {
    background-color: $accent;
  }
}

.p-slack_connect_edu_banner {
  background-color: $bg2;
}

.p-slack_connect_edu_modal__content_title {
  font-family: $headerFont;
}

.p-slack_connect_edu_banner__header {
  font-family: $headerFont;
}

.p-slack_connect_edu_banner__content {
  color: $text;
}

.p-slack_connect_empty_landing_page__footer--empty-state {
  background-color: $bg;
  color: $text;
}

.p-slack_connect_empty_landing_page__setup_container__content__description {
  color: $text;
}

.p-slack_connect_empty_landing_page__setup-illo {
  background-color: $bg2;
}

.p-slack_connect_simple_populated_page__list {
  background: $bg;
}

.p-slack_connect_footer {
  background: $notif;
  color: $fg;
}

.p-slack_connect_hub_cta__icon {
  color: $accent;
}
