.c-dialog__footer .p-snippet_dialog__footer_share_inputs,
.c-dialog__footer .p-create_gdoc_dialog__footer_share_inputs,
.p-snippet_dialog__footer_share_inputs {
  color: $fg;
}

.p-snippet_editor__codemirror--focus-within .CodeMirror {
  box-shadow: 0 0 0 1px $primary, 0 0 0 5px $primaryT !important;
}

.p-snippet_editor__codemirror .CodeMirror-scroll {
  background: $contrast;
}
