.p-sonic_deluxe_toast {
  background: $notif;
  color: $fg;

  .c-button--focus-visible:focus, .c-link--focus-visible:focus, .focus-ring {
    box-shadow: 0 0 0 1px $primary, 0 0 0 5px $primaryT;
  }
}

.p-sonic_deluxe_toast__close {
  background: $notif;
  color: $fg;

  &:active, &:hover {
    color: $primary;
  }
}

button:focus > .p-sonic_deluxe_toast__close {
  color: $primary;
}

a.p-sonic_deluxe_toast__link {
  color: $fg;

  &:active, &:focus, &:hover {
    color: $primary;
  }
}

.p-workflow_builder_deluxe_toast {
  background: $notif;
  color: $fg;
}

.p-workflow_builder_deluxe_toast__close {
  background: $notif;
  color: $fg;

  &:active, &:hover {
    color: $selectFg;
  }
}

button:focus > .p-workflow_builder_deluxe_toast__close {
  color: $accent;
}

.c-button--focus-visible:focus .p-workflow_builder_deluxe_toast__close {
  box-shadow: 0 0 0 1px $accent, 0 0 0 5px $accentT;
}

.p-workflow_builder_deluxe_toast__img {
  background-color: $accent2;
}

a.p-workflow_builder_deluxe_toast__link {
  color: $primary;

  &:active, &:focus, &:hover {
    color: $selectFg;
  }
}


.p-workflowtoken__channel {
  .c-link--button {
    color: $primary;
  }
}

.p-workflowtoken__user {
  .c-link--button {
    color: $primary;
  }
}

.p-workflowtoken__missing {
  color: $red;
  background: $bg2;
}
