.p-sponsored_connections_channel_details_banner {
  color: $text;
  background-color: $bg;
}

.p-sponsored_connections_channel_details_banner {
  .c-alert__icon {
    color: $text;
  }
}

.p-sponsored_connections_manage_slack_connect_tooltip_container {
  border-left-color: $border;
}
