.p-step_team_name .p-setup-page__team_name_input--ia4 {
  color: $fg;
}

.p-setup-step-profile__label.p-setup-step-profile__label--ia4 {
  .c-label__text {
    color: $fg;
  }

  .c-label__optional_tag {
    color: $text;
  }
}

.p-step_channels .p-setup-page__channel_name_input--ia4 {
  color: $fg;
}

.p-setup_step_loader__body {
  color: $text;
}
