.p-sticker_block__blue {
  -webkit-text-stroke: 0.01em #00a;
  color: #24c0fd;
  font-family: Impact, sans-serif;
  letter-spacing: -0.05em;
  text-shadow: 0.13em -0.13em 0 #00a;
}

.p-sticker_block__superhero span {
  background: linear-gradient(180deg, #fdea00 0, #fdcf00 44%, #fc2700);

  &:before {
    text-shadow:
      0.01em 0 0 #802700,
      0 0.01em 0 #c23d00,
      0.02em 0.01em 0 #802700,
      0.01em 0.02em 0 #c23d00,
      0.03em 0.02em 0 #802700,
      0.02em 0.03em 0 #c23d00,
      0.04em 0.03em 0 #802700,
      0.03em 0.04em 0 #c23d00,
      0.05em 0.04em 0 #802700,
      0.04em 0.05em 0 #c23d00,
      0.06em 0.05em 0 #802700,
      0.05em 0.06em 0 #c23d00,
      0.07em 0.06em 0 #802700,
      0.06em 0.07em 0 #c23d00,
      0.08em 0.07em 0 #802700,
      0.07em 0.08em 0 #c23d00;
  }
}

.p-sticker_block__rainbow {
  color: #bb4af0;

  span {
    background: linear-gradient(15deg, #f000, #f000 35%, #fffffffa 49.95%, #fffffffa 50.15%, #f000 65%, #f000),
      linear-gradient(90deg, #ef548f, #ef8b6d, #cfef6b, #3bf0c1, #bb4af0);
  }

  &:before {
    -webkit-text-stroke: 8px #000;
    color: #fff;
    color: #000;
  }
}

.p-sticker_block__butter {
  color: #f9f1cc;
  text-shadow:
    3px 3px 0 #ffb650,
    6px 6px 0 #ffd662,
    9px 9px 0 #ff80bf,
    12px 12px 0 #ef5097,
    15px 15px 0 #6868ac,
    18px 18px 0 #90b1e0;
}
