.p-story_viewer__modal {
  background-color: $bg;
  color: $text;

  .c-sk-modal__close_button {
    color: $text;

    &:hover {
      color: $primary;
    }
  }
}

.p-story_viewer_modal__footer__progress {
  background: $accent;
}

.p-story_viewer__progress {
  background-color: $button;

  &.p-story_viewer__progress--viewed {
    background-color: $accent;
  }
}

.p-stories_uploader__footer__note {
  color: $text;
}

.p-story_viewer__progress__bar {
  background: $button;
}

.p-story_viewer__control {
  background: $contrast;
  color: $selectFg;
}

.p-story_viewer__reaction-active,
.p-story_viewer__reaction:hover {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.5);
  background: $bg;
}

.p-story_viewer__reaction-reacted {
  background: $accent;
  border-color: $accent;
}

.p-stories_screen_selector__screen {
  &:hover {
    background: $contrast;
  }
}

.p-stories_uploader {
  background: $bg;
  color: $fg;
}

.p-stories_uploader__header {
  @include pane;
  background: $bg2;
}

.p-stories_uploader__header__name {
  font-size: 24px;
}

.p-stories_uploader__header__wink {
  color: $text;
}

.p-stories_uploader__video {
  background: $bg;
}

.p-stories_uploader__footer {
  background: $bg2;
  @include pane;
}

.p-stories_uploader__footer__button {
  background: $button;
  color: $fg;
  border: $button;

  &:active,
  &:focus,
  &:hover {
    background: $hl;
    border-color: $hl;
    color: $selectFg;
  }
}

.p-stories_uploader__footer__button--upload {
  color: $green;
  border-color: $green;
  opacity: 0.9;

  &:active,
  &:focus,
  &:hover {
    color: $green;
    border-color: $green;
    opacity: 1;
  }
}

.p-stories_uploader__footer__more {
  color: $text;

  &:active,
  &:focus,
  &:hover {
    color: $selectFg;
  }
}

.p-stories_uploader__record {
  border: 2px solid $button;
}

.p-stories_uploader__record__inner {
  background-color: $red;
}

.p-stories_uploader__footer__timer {
  color: $fg;
}

.p-stories_uploader__footer__status--pending {
  background: $text;
}

.p-stories_uploader__footer__status--recording {
  background: $red;
}

.p-stories_uploader__footer__status--done {
  background: $green;
}

.p-story_viewer_modal__reactions__reaction {
  &:hover {
    background: rgba(var(--sk_foreground_min, 29, 28, 29), 0.04);
  }
}

.p-story_viewer_modal__reactions__reaction--reacted {
  background: rgba(29, 155, 209, 0.1);
  --saf-0: rgba(var(--sk_highlight_accent, 29, 155, 209), 1);
  box-shadow: inset 0 0 0 1px var(--saf-0);

  &:hover {
    background: rgba(29, 155, 209, 0.1);
    --saf-0: rgba(var(--sk_highlight_accent, 29, 155, 209), 1);
    box-shadow: inset 0 0 0 1px var(--saf-0);
  }
}

.p-story_viewer_modal__reactions__toggle {
  background: $button;
  color: $fg;
  box-shadow: inset 0 0 0 1px $primaryT;

  &:hover {
    background: $hl;
    color: $primary;
  }
}

.p-stories_uploader__footer__camera_toggle_label {
  color: $fg;
}

.p-story_viewer_modal {
  background: $bg;
  color: $fg;
  box-shadow: 0 0 0 1px hsla(0, 0, 0, 0.1);

  .c-pillow_file__video {
    background: $bg;
  }
}

.p-story_viewer_modal__header {
  @include pane;
}

.p-story_viewer_modal__header__divider {
  background: rgba(var(--sk_foreground_low, 29, 28, 29), 0.13);
}

.p-story_viewer_modal__footer__add {
  background: $button;
  color: $fg;

  &:hover {
    background: $hl;
    color: $primary;
  }
}

.p-story_viewer_modal__footer__paging {
  background: $button;
  color: $fg;
}

.p-story_viewer_modal__navigation__button {
  background: $button;
  box-shadow: inset 0 0 0 1px $button;
  color: $fg;

  &:hover {
    color: $selectFg;
    background: $hl;
    box-shadow: inset 0 0 0 1px $primary, 0 2px 4px $primaryT;
  }
}

.p-stories_button__add,
.p-stories_button__unreads,
.p-stories_input_button,
.p-stories_input_button__add {
  background: $button;
  color: $text;
  border-color: $button;
}

.p-stories_scroller--chrono {
  .p-gallery_scroller__wrapper {
    background: $bg;
  }
}

.p-stories_scroller__container {
  .c-avatar {
    &:after {
      background: #000;
    }
  }
}

.p-stories_scroller__container--placeholder .c-avatar .c-base_icon,
.p-stories_scroller__container--unreads .c-avatar .c-base_icon {
  --saf-0: $bg;
  border: 2px solid $borderLight;
}

.p-stories_scroller__you_add--chrono {
  background: $bg2;
}

.p-stories_scroller__you_add_icon {
  box-shadow: 0 0 0 2px $button;
  background-color: $button;
  color: $fg;
}

.p-stories_scroller__header {
  &:after {
    border-bottom: 1px solid $borderLight;
  }
}

.p-stories_button__container {
  box-shadow: 0 0 0 1px $primary, 0 4px 12px 0 $primaryT;
}

.p-stories_button {
  background-color: $button;
}

.p-stories_button__unreads {
  border: 1px solid $button;
}

.p-story_audio_only {
  background: $contrast;
}

.p-stories_ribbon,
.p-stories_scroller__header:after {
  border-bottom: 1px solid $borderLight;
}

.p-stories_ribbon {
  background: $contrast;
  border-top: 1px solid $borderLight;
  @include pane;
}

.p-stories_ribbon__poster_container {
  background-color: $button;
  border: 1px solid $button;
}

.p-stories_ribbon__poster_thumb {
  background-color: $button;
  border: 2px solid $button;
}

.p-stories_ribbon__create_plus {
  background: $button;
}

.p-ia__view_header--stories-collapsed-and-has-stories .p-ia__view_header__button--stories_entrypoint {
  border: 2px solid $button;
  background: $button;

  &:hover {
    border: 2px solid $hl;
    background: $hl;
  }

  .c-icon,
  &:hover .c-icon {
    color: $primary;
    text-shadow: 0 1px 2px $fg;
  }
}

.p-ia__view_header--stories-unreads.p-ia__view_header--stories-collapsed-and-has-stories
  .p-ia__view_header__button--stories_entrypoint {
  border-color: $accent;
}

.p-ia__view_header--stories-expanded .p-ia__view_header__button--stories_entrypoint {
  &:before {
    border-color: transparent transparent $notif transparent;
  }

  &:after {
    border-color: transparent transparent $notif transparent;
  }
}
