.p-story_pending_file__play_icon {
  color: #fff;
}

.p-story_thumbnail__play_icon {
  color: #fff;
}

.c-pending_files__spinner {
  background: rgba(var(--sk_primary_background, 255, 255, 255), 1);
}
