.p-story_share__thumb {
  background-color: #000;
}

.p-story_share__icon {
  background: #fff;
}

.p-small_story_reply {
  box-shadow: 0 0 0 6px $bg, 0 0 0 7px $bg2;

  &:hover {
    box-shadow: 0 0 0 6px $primary, 0 0 0 7px $primaryT;
  }
}

.p-small_story_reply--active {
  box-shadow: 0 0 0 5px $bg, 0 0 0 7px $active;

  &:hover {
    box-shadow: 0 0 0 5px $bg, 0 0 0 7px $active;
  }
}

.p-small_story_reply__icon {
  color: $selectFg;
}
