.p-story_share__thumb {
  background-color: #000;
}

.p-story_share__icon {
  background: #fff;
}

.p-small_story_reply {
  --saf-1: rgba(var(--sk_foreground_low_solid, 221, 221, 221), 1);
  --saf-0: rgba(var(--sk_primary_background, 255, 255, 255), 1);
  box-shadow: 0 0 0 6px var(--saf-0), 0 0 0 7px var(--saf-1);

  &:hover {
    --saf-0: rgba(var(--sk_primary_background, 255, 255, 255), 1);
    box-shadow: 0 0 0 6px var(--saf-0), 0 0 0 7px var(--saf-1);
    --saf-1: rgba(var(--sk_foreground_high_solid, 134, 134, 134), 1);
  }
}

.p-small_story_reply--active {
  --saf-0: rgba(var(--sk_primary_background, 255, 255, 255), 1);
  --saf-1: rgba(var(--sk_highlight, 18, 100, 163), 1);
  box-shadow: 0 0 0 5px var(--saf-0), 0 0 0 7px var(--saf-1);

  &:hover {
    --saf-0: rgba(var(--sk_primary_background, 255, 255, 255), 1);
    --saf-1: rgba(var(--sk_highlight, 18, 100, 163), 1);
    box-shadow: 0 0 0 5px var(--saf-0), 0 0 0 7px var(--saf-1);
  }
}

.p-small_story_reply:before {
  background: rgba(0, 0, 0, 0.5);
}

.p-small_story_reply__icon {
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 4px rgba(0, 0, 0, 0.2);
}

.p-small_story_reply--active .p-small_story_reply__icon,
.p-small_story_reply:hover .p-small_story_reply__icon {
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.1), 0 2px 6px rgba(0, 0, 0, 0.3);
}
