.p-media_file_pending_file__play_icon,
.p-story_pending_file__play_icon {
  color: $fg;
}

.p-media_file_thumbnail__jump_button,
.p-media_file_thumbnail__play_icon,
.p-story_thumbnail__play_icon {
  color: $fg;
}

.c-pending_files__spinner {
  background: $bg;
}
