.p-sync_google_contacts_banner {
  background: $notif;
  border: 1px solid $notif;

  &:focus {
    box-shadow:
      0 0 0 1px $accent,
      0 0 0 5px $accentT;
  }
}

.p-sync_google_contacts_banner__description {
  color: $text;
}
