.c-table_view_row_header {
  border-bottom-color: $borderLight;
}

.c-table_view_header_item_value,
.c-table_view_row_header .c-deprecated-icon {
  color: $text;
}

.c-table_column_header--sorted {
  color: $primary;
}

//.c-react_virtualized_table__scroll-indicator {
//  --saf-0: rgba(var(--sk_foreground_low_solid, 221, 221, 221), 0.25);
//  box-shadow: 4px 0 4px 0 var(--saf-0);
//}

.c-react_virtualized_table--bottom-left,
.c-react_virtualized_table--top-left {
  border-right: 1px solid $hl;
}

.ReactVirtualized__Table__sortableHeaderIcon {
  fill: currentColor;
}

.c-data_table__body,
.c-data_table__header_row,
.c-data_table__no_results,
.c-data_table__spinner {
  background-color: $bg;
}

.c-data_table__header_row {
  color: $fg;
  border-bottom: $active;
}

.c-data_table__row {
  border-bottom: 1px solid $active;
}

.c-data_table__row--hover {
  background-color: $active;
}

.c-data_table__header_row--focus:after,
.c-data_table__row--focus:after {
  box-shadow: 0 0 0 1px $primary, 0 0 0 5px $primaryT;
}

.c-data_table--focus-visible .c-data_table__header_column:focus .c-table_column_header {
  box-shadow: 0 0 0 1px $primary, 0 0 0 5px $primaryT;
}

.c-table_row_actions .c-action_buttons__button {
  border: 1px solid transparent;

  &:hover {
    border: 1px solid $primary;
  }
}

.c-data_table__row--inactive {
  background-color: transparent;
  color: $disabled;

  .c-base_entity__subtext {
    color: $disabled;
  }
}

.c-data_table__row--selected {
  background-color: $hl;
}

.c-message_attachment,
.c-table_row_actions .c-action_buttons__icon {
  color: $fg;
}

.c-message_actions__labels--dividers:not(:hover) {
  &:before {
    border-left: 1px solid $hl;
  }
}

.c-message_actions__labels {
  &:focus .c-message_actions__labels_front_icon,
  &:hover .c-message_actions__labels_front_icon {
    color: $fg;
  }
}

.c-message_actions__labels_small-reply-filled--light {
  color: $tree;
}

.c-message_actions__labels_small-reaction-bg--light {
  color: $tree;
}

.c-message_actions__labels_front_icon {
  color: $accent2;
}

.c-table_view_flexbox_container:not(.c-table_view_hover_disabled) {
  .c-table_view_header_item:not(.c-table_view_hover_disabled):hover,
  .c-table_view_row:not(.c-table_view_hover_disabled):hover {
    background: $tree;
  }
}

.c-table_view_all_rows_container .c-table_view_row_container {
  border-bottom-color: $borderLight;
}

.c-virtualized_table__scroll-indicator {
  background-image: linear-gradient(90deg, $bg2, $bg2 25%, transparent);
}

.p-data_table_header_count_selected {
  background-color: $accentT;
}

.c-data_table_header_multi_filter__filter_button {
  color: $text;
}

.c-data_table_header_multi_filter__pop_over_container {
  border: 1px solid $primary;
  background: $bg;
}

.c-data_table_header_multi_filter__pop_over_header {
  box-shadow: inset 0 -1px 0 $bg2;
}

.c-data_table_header_multi_filter__header_reset {
  color: $text;
}

.p-data_table_header {
  background-color: $bg2;
}

.c-virtualized_table--bottom-left {
  .c-data_table__header_row,
  .c-data_table__row:not(.c-data_table__row--header) {
    border-right: 1px solid $borderLight;
  }
}

.c-virtualized_table--top-left {
  .c-data_table__header_row,
  .c-data_table__row:not(.c-data_table__row--header) {
    border-right: 1px solid $borderLight;
  }
}

.c-data_table__row--header {
  background: $bg2;
}
