[lang] .c-texty_input {
  font-family: inherit;
}

.c-texty_input {
  border: 1px solid $button;
  background: $contrast;
}

.c-texty_input {
  &.focus {
    border-color: $primary;

    .c-texty_input__button {
      color: $fg;
    }
  }

  &.c-texty_input--use_focus_ring.focus {
    box-shadow: 0 0 0 1px $primary, 0 0 0 5px $primaryT;

    &:-moz-placeholder,
    &:-ms-input-placeholder,
    &::-moz-placeholder,
    &::-webkit-input-placeholder {
      color: $disabled;
    }
  }

  &.c-texty_input--double_decker.focus:after,
  &.c-texty_input--expanded.focus:after {
    background-color: $primary;
  }
}

.c-texty_autocomplete {
  background: $contrast;
}

.c-texty_autocomplete--nightshade_elevation {
  background: $hl;
}

.c-texty_autocomplete__result_context {
  color: $text;
}

.c-texty_autocomplete__help {
  background: $bg2;
  border-bottom: 1px solid $border;
  color: $text;
}

.c-texty_autocomplete__result {
  .c-team_icon {
    border: 1px solid $borderLight;
  }
}

.c-texty_autocomplete__result_highlight {
  background: $hl;
  color: $primary;
}

.c-texty_autocomplete__result_highlight--selected {
  background: $accent;
  color: $selectFg;
}

.c-texty_autocomplete--emoji {
  .c-texty_autocomplete__result--selected {
    background: $selectBg;
    color: $selectFg;

    .c-texty_autocomplete__result_highlight {
      background: $accent;
      color: $selectFg;
    }
  }
}

.c-texty_autocomplete--commands .c-texty_autocomplete__result--selected,
.c-texty_autocomplete--emoji .c-texty_autocomplete__result--selected,
.c-texty_autocomplete__result--selected {
  background: $selectBg;
  color: $selectFg;
}

.c-texty_autocomplete--commands {
  .c-texty_autocomplete__result {
    &:not(.c-texty_autocomplete__result--selected) .c-texty_autocomplete__result_description {
      color: $text;
    }
  }

  .c-texty_autocomplete__result_icon {
    background: $excluded;
  }

  .c-texty_autocomplete__result--selected .c-texty_autocomplete__result_icon {
    background: $accent;
  }

  .c-texty_autocomplete__group {
    background: $bg;
    color: $fg;
  }
}

.c-icon_button {
  &.c-texty_input__button {
    background: $button;
    color: $text;
  }

  &.c-texty_input__button--send {
    background: $accentT;
    color: $selectFg;

    &:hover {
      color: $selectFg;
      background: $accent;
    }

    &.c-texty_input__button--disabled {
      background: $button;
      color: $disabled;
    }
  }
}

.sk-client-scheme--purple .c-icon_button.c-texty_input__button--send {
  background: $accentT;

  &:hover {
    background: $accent;
  }

  &.c-texty_input__button--disabled {
    background: $button;
    color: $disabled;
  }
}

.c-texty_workflow_token {
  > button {
    background: $accentT;
    border: solid 1px $accentT;

    &:hover {
      background: $accent;
    }
  }

  &.is-missing {
    > button {
      color: $red;
      background: $button;
      border: 1px solid $button;

      &:hover {
        background: $active;
        border: 1px solid $active;
      }
    }
  }

  .c-texty_workflow_token__property {
    border-left: solid 1px $accentT;
    color: $fg;
  }
}

.c-texty_input__container--use_focus_ring {
  .c-texty_input.focus {
    box-shadow: 0 0 0 1px $primary, 0 0 0 5px $primaryT;

    &:-moz-placeholder, &:-ms-input-placeholder, &::-moz-placeholder, &::-webkit-input-placeholder {
      color: $disabled;
    }
  }

  &.c-texty_input__container--invalid .c-texty_input.focus {
    box-shadow: 0 0 0 1px $red, 0 0 0 5px $red;
  }
}

[lang] .c-basic_container,
[lang] .c-texty_input_unstyled {
  font-family: inherit;
}

.c-texty_input_unstyled__container {
  .ql-placeholder {
    color: $disabled;
  }
}

.c-texty_input_unstyled__warning {
  background: $red;
  color: $selectFg;
}

.p-emoji_picker__group_tab_dot,
.c-texty_input__button_badge {
  background: $accent;
  border-color: $bg;
}
