.p-tiles__container--has_primary_tile {
  background: rgba(var(--sk_foreground_min_solid, 248, 248, 248), 1);
  border-left: 1px solid rgba(var(--sk_foreground_low_solid, 221, 221, 221), 1);

  .p-tiles__tile {
    background: rgba(var(--sk_primary_background, 255, 255, 255), 1);
    --saf-0: rgba(var(--sk_foreground_low, 29, 28, 29), 0.13);
    box-shadow: 0 0 0 1px var(--saf-0), 0 4px 12px 0 rgba(0, 0, 0, 0.1);

    .p-view_header--tiles {
      &:not(.p-view_header--with-bookmarks-bar, .p-view_header--stacked) {
        border-bottom: 1px solid rgba(var(--sk_foreground_low, 29, 28, 29), 0.13);
      }
    }
  }
}

.p-tiles__minimized_tile {
  box-shadow: 0 0 0 1px $primary, 0 18px 48px 0 $primaryT;
}

.p-tiles__minimized_tile {
  background-color: $bg;
}

.p-tiles__minimized_tile__title,
.p-tiles__minimized_tile__button.c-icon_button--light,
.p-tiles__minimized_tile__button.c-icon_button--light.c-button-unstyled:hover:hover {
  color: $fg;
}

.p-tiles__heading {
  border-bottom: 1px solid rgba(var(--sk_foreground_low, 29, 28, 29), 0.13);
}

.p-tiles__subtitle {
  color: rgba(var(--sk_foreground_max, 29, 28, 29), 0.7);
}
