.c-timestamp {
  color: $text;

  &:hover,
  &:link {
    color: $fg;
  }
}

.c-timestamp__label {
  color: $text;
}

.c-time_picker__selected-option-wrapper {
  .c-time_picker__option-icon {
    color: $primary;
  }
}

.c-time_picker__timezone-caption {
  color: $primary;
}

.p-file_link_button--link {
  color: $fg;

  &.c-link--button,
  &.c-link--focus-visible:focus,
  &:focus,
  &:hover {
    color: $primary;
  }
}
