.c-timestamp {
  color: $text;

  &:hover, &:link {
    color: $fg;
  }
}

.c-timestamp__label {
  color: $text;
}

.c-time_picker__selected-option-wrapper {
  .c-time_picker__option-icon {
    color: $primary;
  }
}

.c-time_picker__timezone-caption {
  color: $primary;
}
