.p-toggle_channel_space_preview {
  background: $bg;
}

.p-toggle_channel_space_preview .p-field__title {
  color: $text;
}

.p-toggle_channel_space_preview__subtitle {
  color: $text;
}

.p-toggle_channel_space_preview__loading {
  background-color: $bg;
}

.p-toggle_channel_space_preview_empty_state {
  background: $bg;
}

.p-toggle_channel_space_preview_empty_state__body {
  color: $text;
}

.p-toggle_channel_space_nux .c-coachmarkv2__secondary_button {
  color: $primary;
}

.p-toggle_channel_space_nux:after {
  border-bottom-color: $primary;
}

.p-toggle_channel_space_nux--channel:after {
  border-bottom-color: $bg;
}

.p-toggle_channel_space_nux--channel .c-coachmarkv2__close {
  color: $accent;
}
