.p-client--blurred .p-top_nav {
  filter: none;
}

.p-top_nav {
  background: $bg2;
  color: $fg;
  box-shadow: none;

  .p-ia__nav__user__button {
    &:hover .p-ia__nav__user__avatar:after {
      background: $button;
    }
  }
}

.p-top_nav__button,
.p-top_nav__search,
.p-top_nav__sidebar .p-channel_sidebar__history_button,
.p-top_nav__sidebar .p-channel_sidebar__history_button--disabled:hover,
.p-top_nav__search__clear {
  color: $fg;
  border-radius: 25px;

  &:hover {
    background: $hl;
    color: $selectFg;
  }
}

.p-top_nav__sidebar .p-channel_sidebar__history_button {
  color: $fg;
}

.p-top_nav__sidebar .p-channel_sidebar__history_button:hover {
  background: $accent;
  color: $selectFg;
}

.p-top_nav__search {
  color: $fg;
  background: $contrast;
  box-shadow: inset 0 0 0 1px $borderLight;

  &:focus {
    box-shadow: inset 0 0 0 1px $primary;
  }

  &:hover {
    background: $contrast;
    color: $primary;
    box-shadow: inset 0 0 0 1px $primary;
  }
}

.p-top_nav__help__badge {
  background: $accent;
  box-shadow: 0 0 0 2px $bg;
}

.p-top_nav__ia_edu_throbber circle {
  fill: $primary;
}

.p-top_nav__search__container--active {
  .p-top_nav__search {
    background: $contrast;
    color: $fg;

    &:hover {
      background: $contrast;
      color: $primary;
    }
  }

  .p-top_nav__search__clear {
    color: $fg;

    &:hover {
      color: $primary;
    }
  }
}

.p-top_nav--dark .p-top_nav__search__container--active {
  .p-top_nav__search {
    background: $contrast;
    color: $fg;
    box-shadow: inset 0 0 0 1px $bg2;

    &:hover {
      background: $contrast;
      color: $primary;
      box-shadow: inset 0 0 0 1px $bg2;
    }
  }

  .p-top_nav__search__clear {
    color: $fg;

    &:hover {
      color: $primary;
    }
  }
}

.p-top_nav__help__app_update {
  &:hover .c-mention_badge {
    background-color: $selectFg;
  }

  .c-mention_badge {
    background-color: $accent;
  }
}

.p-top_nav__help__banner,
.p-top_nav__help__customer_consult {
  background-color: $bg2;
}

.p-top_nav__search__container--search-page .p-top_nav__search {
  color: $fg;
  background: $bg;

  &:hover {
    background: $bg;
  }
}

.p-top_nav--dark .p-top_nav__search__container--search-page .p-top_nav__search {
  color: $fg;
  background: $bg;
}

.p-top_nav__search__container--search-page .p-top_nav__search:not(.p-top_nav__search--beefy-search) {
  background: $contrast;
  color: $fg;

  &:hover {
    background: $hl;
    color: $selectFg;
  }
}

.p-top_nav--dark .p-top_nav__search__container--search-page .p-top_nav__search:not(.p-top_nav__search--beefy-search) {
  background: $contrast;
  box-shadow: inset 0 0 0 1px $hl;
  color: $fg;

  &:hover {
    background: $contrast;
    color: $primary;
    box-shadow: inset 0 0 0 1px $primary;
  }
}

.p-top_nav__search__container--search-page .p-top_nav__search__clear {
  color: $text;

  &:hover {
    color: $primary;
  }
}

.p-top_nav--dark .p-top_nav__search__container--search-page .p-top_nav__search__clear {
  color: $text;

  &:hover {
    color: $primary;
  }
}

.p-top_nav__search--beefy-search {
  box-shadow: 0 0 0 1px $primary, 0 1px 3px 0 $primaryT;

  &:hover {
    box-shadow: 0 0 0 1px $primary, 0 1px 3px 0 $primaryT;
  }
}

.p-top_nav__search__container--search-page .p-top_nav__search--beefy-search {
  color: $fg;
  background: $contrast;

  &:hover {
    background: $contrast;
  }
}

.p-top_nav--dark .p-top_nav__search__container--search-page .p-top_nav__search--beefy-search {
  color: $fg;
  background: $contrast;
}

.p-top_nav__search__container--real-input {
  color: $text;
}
