.p-top_nav {
  background: $bg2 !important;
}

.p-top_nav__button {
  color: $fg !important;
  border-radius: 50% !important;
}

.p-top_nav__button:hover {
  background: $accent !important;
  color: $selectFg !important;
}

.p-top_nav__sidebar .p-channel_sidebar__history_button {
  color: $fg !important;
}

.p-top_nav__sidebar .p-channel_sidebar__history_button:hover {
  background: $accent !important;
  color: $selectFg !important;
}

.p-top_nav__search {
  color: $fg !important;
  background: $contrast !important;
  box-shadow: inset 0 0 0 1px $borderLight !important;

  &:focus {
    box-shadow: inset 0 0 0 1px $primary !important;
  }

  &:hover {
    background: $contrast !important;
    color: $primary !important;
    box-shadow: inset 0 0 0 1px $primary !important;
  }
}

.p-top_nav__help__badge {
  background: $accent !important;
  box-shadow: 0 0 0 2px $bg !important;
}

.p-top_nav__ia_edu_throbber circle {
  fill: $primary !important;
}

.p-top_nav__search__container--active {
  .p-top_nav__search {
    background: $contrast;
    color: $fg;

    &:hover {
      background: $contrast;
      color: $primary;
    }
  }

  .p-top_nav__search__clear {
    color: $fg;

    &:hover {
      color: $primary;
    }
  }
}

.p-top_nav--dark .p-top_nav__search__container--active {
  .p-top_nav__search {
    background: $contrast;
    color: $fg;
    box-shadow: inset 0 0 0 1px $bg2;

    &:hover {
      background: $contrast;
      color: $primary;
      box-shadow: inset 0 0 0 1px $bg2;
    }
  }

  .p-top_nav__search__clear {
    color: $fg;

    &:hover {
      color: $primary;
    }
  }
}

.p-top_nav__help__app_update {
  &:hover .c-mention_badge {
    background-color: $selectFg;
  }

  .c-mention_badge {
    background-color: $accent;
  }
}
