.p-trial_modal_content_row_item__subtitle {
  color: $text;
}

.p-trial_modal_content_row_item__title {
  color: $fg;
}

.p-trial_modal__icon_container--warning_high {
  background-color: $excluded;
}

.p-trial_modal__icon_container--warning_medium {
  background-color: $excluded;
}

.p-trial_modal__icon_container--warning_high > i {
  color: $red;
}

.p-trial_modal__icon_container--warning_medium > i {
  color: $orange;
}

.p-trial_awareness_modal__img_text {
  color: $text;
}

.p-trial_message_limit_header {
  color: $fg;
  background-color: $bg2;
  border-color: $accent;
}

.p-trial_message_limit_header__icon {
  color: $accent;
}

.p-trial_message_limit_header a {
  color: $accent2;
}
