.p-trial_modal_content_row_item__subtitle {
  color: $text;
}

.p-trial_modal_content_row_item__title {
  color: $fg;
}

.p-trial_modal__icon_container {
  background-color: $notif;

  > i {
    color: $accent;
  }
}

.p-trial_modal__icon_container--warning_high {
  background-color: $excluded;
}

.p-trial_modal__icon_container--warning_medium {
  background-color: $excluded;
}

.p-trial_modal__icon_container--warning_high > i {
  color: $red;
}

.p-trial_modal__icon_container--warning_medium > i {
  color: $orange;
}

.p-trial_awareness_modal__img_text {
  color: $text;
}

.p-trial_message_limit_header {
  color: $fg;
  background-color: $bg2;
  border-color: $accent;
}

.p-trial_message_limit_header__icon {
  color: $accent;
}

.p-trial_message_limit_header a {
  color: $accent2;
}

.p-trial_persistent_banner__container {
  background-color: $notif;
  box-shadow: 0 0 0 1px $borderLight;
}

.p-trials_alert {
  background-color: $notif;
  border: 1px solid $accent;

  > i {
    color: $accent;

    &.c-alert__icon {
      color: $accent;
    }
  }
}

.p-trials_notification {
  border-top: 5px solid $accent;

  &.p-global_banner {
    border-top: 5px solid $accent;
  }
}
