.p-unavailable_channel {
  background-color: $bg;
  border: 1px solid $bg;
}

.p-unavailable_channel_content {
  color: $text;
}

.p-unverified_disclosure--pillow {
  box-shadow: 0 0 0 1px $primaryT;
  background: $bg;
  color: $fg;
}

.p-unverified_disclosure__icon {
  color: $text;
}
