.p-unfurled_joiners_carousel__channel_members_info {
  color: $text;
}

.p-unfurled_joiners_carousel__invite_member_link {
  border-left: 1px solid $borderLight;
}

.p-unfurled_joiners_carousel__card {
  border: 1px solid $borderLight;

  &:hover {
    background: $bg2;
  }
}

.p-unfurled_joiners_carousel__face_pile_card {
  &:hover .p-unfurled_joiners_carousel__face_pile_card_team_icon {
    border: 2px solid $borderLight;
  }
}

.p-unfurled_joiners_carousel__face_pile_card_team_icon {
  border: 2px solid $bg;
}

.p-unfurled_joiners_carousel__face_pile_card_label {
  color: $text;
}

.p-unfurled_joiners_carousel__action_card_label {
  color: $text;
}

.p-unfurled_joiners_carousel__invite_member_card {
  border: 1px dashed $borderLight;
}

.p-unfurled_joiners_carousel__invite_member_card_icon {
  color: $text;
}

.p-unfurled_joiners_company_pile__avatar--stacked {
  box-shadow: 0 0 0 2px $bg;
}

.p-unfurled_joiners_company_pile__count_tile {
  background-color: $bg2;
}

.p-unfurled_joiners_company_pile__icon_container {
  background: $bg;
}

.p-unfurled_joiners_company_pile__wrapper__contextual_banner {
  .p-unfurled_joiners_company_pile__icon_container {
    background-color: #e8f5fa;
  }

  .p-unfurled_joiners_company_pile__avatar--stacked {
    box-shadow: 0 0 0 2px #e8f5fa;
  }
}

.p-unfurled_joiners_channel_header__title_channel_name {
  color: #712073;
}

.p-unfurled_joiners_channel_header__title_channel_name--dark {
  color: #db83dc;
}

.p-unfurled_joiners_contextual_banner__banner {
  color: #000;
  background-color: #e8f5fa;

  .c-banner__close {
    color: #616061;

    &:hover {
      color: #616061;
    }
  }
}

.p-unfurled_joiners_contextual_banner__banner--dark {
  background-color: #212121;
  color: #ddd;

  .p-unfurled_joiners_company_pile__icon_container {
    background-color: #212121;
  }

  .p-unfurled_joiners_company_pile__avatar--stacked {
    box-shadow: 0 0 0 2px #212121;
  }
}
