.p-message_pane__unread_banner {
  background: $accent;
  color: $selectFg;
}

.p-message_pane__unread_banner__banner {
  &:hover {
    background: $accent;
    color: $selectFg;
  }
}

.p-message_pane__unread_banner__close {
  text-shadow: 0 1px $borderLight;

  &:hover {
    background: $accent;
  }
}

.p-unreads_view__header {
  background: $bg2;
}

.p-unreads_view__header--was_marked {
  background: $bg;
  box-shadow: inset 0 -1px $borderLight;
}

.p-unreads_view__header--collapsed {
  box-shadow: inset 0 -1px $borderLight;
}

.p-unreads_view__spacer--bottom {
  border-bottom: 1px solid $borderLight;
}

.p-unreads_view__show_newer {
  border-bottom: 1px solid $borderLight;
}

.p-unreads_view__empty__button_caption {
  color: $text;
}

.p-unreads_view__empty__undo_inner {
  background: $excluded;
  color: $disabled;
}

.p-unreads_view__empty__undo_button {
  color: $disabled;

  &:active, &:hover {
    color: $fg;
  }
}

.p-unreads_view__top_banners {
  &:not(:empty):before {
    background: $bg2;
  }
}

.p-message_pane__unread_banner__close--detached {
  background: $accent;
  border-left: 1px solid $accent;
}

.p-client_desktop--ia-top-nav {
  .p-team_sidebar {
    box-shadow: inset -1px 0 0 0 $border;
  }

  .p-message_pane__unread_banner__banner {
    &:hover {
      background: $accentT;
    }
  }

  .p-message_pane__unread_banner__msg {
    &:hover {
      background: $accent;
    }
  }

  .p-message_pane__unread_banner__close_icon {
    &:hover {
      background: $accent;
    }
  }
}
