.p-user_profile_tags_element_token--background {
  background-color: $contrast;
}

.p-user_profile_tags_element_edit__option--create {
  color: $accent;
}

.p-user_profile_tags_element_edit__option--active {
  color: $selectFg;
}
