.p-video_overlay {
  color: $overlay;
}

.p-video_overlay--controls:before {
  background: linear-gradient(180deg, #1d1c1d00, $overlay 70%);
}

.p-video_overlay__controls__play_button {
  background: $contrast;
}

.p-video_overlay__corner {
  .p-video_overlay__controls_ellipsis,
  .p-video_overlay__controls_overlay_fullscreen {
    background: $overlay;
  }

  .p-video_overlay__controls_ellipsis:hover,
  .p-video_overlay__controls_overlay_fullscreen:hover {
    background: $overlay;
  }
}

.p-video_block__row--subtle_color {
  color: $text;
}

.p-video_block__thumb {
  background-color: $overlay;
}

.p-video_block__html {
  background-color: $overlay;
}

.p-video_block__author_subname {
  color: $text;
}

.p-video_recorder_canvas__container {
  background: $bg;
}

.p-video_recorder_canvas__container--screen_share {
  background: $contrast;
}

.p-video_recorder_canvas__shroud {
  background-color: $bg;
}

.p-video_recorder_canvas__shroud_text {
  color: $fg;
}

.p-video_recorder_canvas__pause_icon_container {
  background: $button;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  color: $fg;
}

.p-media_progress_bar {
  background: $bg2;
}

.p-media_progress_bar--dark {
  background: $bg2;
}

.p-video_recorder_footer {
  border-top: 1px solid $borderLight;
}

.p-video_recorder_footer__separator {
  background-color: $borderLight;
}

.p-video_recorder_screen_picker_tile {
  @include card;
}

.p-video_recorder_screen_picker_tile--selected {
  background-color: $selectBg;
  color: $selectFg;
}

.p-video_recorder_screen_picker__no_screen_tile {
  background: $bg;
}

.p-video_recorder_minipanel__avatar {
  border: 2px solid $accent;
}

.p-video_recorder_modal__header {
  border-bottom: 1px solid $borderLight;
}

.p-video_recorder_modal__section_label {
  color: $text;
}

.p-media_controls__control[disabled] {
  color: $disabled;
  border-color: $border;
}

.p-video_recorder__borderless_button {
  border: none;
  color: $text;

  &:hover {
    box-shadow: none;
    color: $selectFg;
  }
}

.p-media_progress_bar__bar {
  background: $accent !important;

  &:after {
    background: $accent;
  }
}

.p-video_recorder_mic_button__level {
  background-color: $accent;
}

.p-video_recorder_mic_button__level--dark {
  background-color: $accent;
}

.p-video_recorder_canvas_buttons__button_slash {
  color: $red;
}

.p-video_recorder_canvas__container--camera {
  background: $contrast;
}

.p-video_recorder_header--bottom_border {
  border-bottom: 1px solid $border;
}

.p-video_recorder_canvas_buttons__background--over_video {
  background: linear-gradient(#0000, $contrast);
}

.p-video_recorder_canvas_buttons__button.c-icon_button--dark:hover {
  background: $hl;
}

.p-video_recorder_canvas_buttons__button--highlight,
.p-video_recorder_canvas_buttons__button--highlight:hover,
.p-video_recorder_canvas_buttons__button.c-icon_button--dark:hover.p-video_recorder_canvas_buttons__button--highlight {
  background: $accentT;
}

.p-video_recorder_countdown_overlay__countdown {
  color: $selectFg;
}

.p-video_recorder_loading_spinner {
  color: $selectFg;
}

.sk-client-theme--dark .p-video_recorder_loading_spinner span {
  color: $selectFg;
}

.p-video_recorder_canvas_screen_picker_tile--no-screen {
  background-color: $bg;
}

.p-video_recorder_screen_picker_tile--selected .p-video_recorder_canvas_screen_picker_tile--no-screen {
  background: $accent;
  color: $selectFg;
}

.p-video_recorder_screen_picker--gradient:after {
  background: linear-gradient(to top, $bg, #0000);
}

.p-video_recorder_screen_picker__no_screen_tile {
  background: $contrast;
}

.p-video_recorder_screen_picker_tile--selected .p-video_recorder_screen_picker__no_screen_tile {
  background: none;
}

.p-video_thumbnail_dialog__timeline__canvas {
  box-shadow: 0 0 0 2px $contrast;
}

.p-video_thumbnail_dialog__timeline__track:focus .p-video_thumbnail_dialog__timeline__canvas {
  box-shadow: 0 0 0 2px $accent;
}

.p-video_thumbnail_dialog__timeline__elapsed {
  border-right: 2px solid $red;
}

.p-video_thumbnail_dialog__timeline__elapsed__tooltip {
  background: $notif;
  color: $fg;
}

.p-video_thumbnail_dialog__timeline__elapsed__tooltip:after {
  background: $notif;
}
