.p-whats_new__item {
  &:not(.p-whats_new__item_last) {
    border-bottom: 1px solid $borderLight;
  }
}

.p-whats_new__date {
  color: $text;
}

.p-whats_new__blue_dot {
  color: $accent;
}

.p-whats_new_dialog__content:after {
  border-top: 1px solid $border;
}

.p-whats_new__notify {
  color: rgba(var(--sk_foreground_max, 29, 28, 29), 0.7);
}

.p-whats_new__entry {
  --saf-0: rgba(var(--sk_foreground_low_solid, 221, 221, 221), 1);
  border: 1px solid var(--saf-0);

  img {
    --saf-0: rgba(var(--sk_foreground_low_solid, 221, 221, 221), 1);
    border: 1px solid var(--saf-0);
  }
}
