.p-workflow_templates_gallery_banner {
  background-color: $notif;
  border-bottom: 1px solid $borderLight;
  border-top: 1px solid $borderLight;
}

.p-workflow_templates_gallery_banner_title {
  color: $fg;
}

.p-workflow_templates_gallery_banner_description {
  color: $text;
}
