.p-workspace_directory_card {
  background-color: $bg;
  border: 1px solid $border;
}

.p-workspace_directory_card--large {
  border: 1px solid $border;

  .p-workspace_directory_card__subtitle {
    color: $text;
  }

  .p-workspace_directory_card__description {
    color: $text;
  }

  .p-workspace_directory_card__status {
    color: $fg;
  }
}


.p-workspace_directory_card--small {

  .p-workspace_directory_card__subtitle {
    color: $text;
  }

  .p-workspace_directory_card__description {
    color: $text;
  }

  .p-workspace_directory_card__status {
    color: $fg;
  }

}


.p-workspace_directory_dialog {
  .c-dialog__header {
    background: linear-gradient(46.57deg, $accent, $accent2), $fg;
  }
}

.p-workspace_directory_dialog--focus_ring {
  a.focus-ring, button.focus-ring {
    box-shadow: 0 0 0 1px $primary, 0 0 0 5px $primaryT;
  }
}

.p-workspace_directory_dialog__name {
  color: $fg;
}

.p-workspace_directory_dialog__domain {
  color: $fg;
}

.p-workspace_directory_dialog__caption {
  color: $fg;
}

.p-workspace_directory_dialog__leave {
  color: $red;
}


.p-workspace_directory_dialog__header--mobile {
  margin: 0;
  padding-top: 32px;
  padding-bottom: 32px;
  background: linear-gradient(46.57deg, $accent, $accent2), $fg;
}


.p-workspace_directory_banner {
  background-color: $bg;
}

.p-workspace_directory_banner__description {
  font-size: 15px;
  line-height: 1.46668;
  font-weight: 400;
  color: $text;
}

.p-workspace_directory_banner__close_btn {
  color: $text;

  &:hover {
    color: $primary;
  }
}

.p-workspace_directory__page {
  background-color: $bg2;
}

.p-workspace_directory__wrapper {
  .p-workspace_directory_card.focus-ring, a.focus-ring, button.focus-ring {
    box-shadow: 0 0 0 1px $primary, 0 0 0 5px $primaryT;
  }
}

.p-workspace_directory__spinner--fs {
  background-color: $bg2;
}


.p-workspace_directory__title {
  color: $fg;
}


.p-workspace_directory__list_empty_state_text {
  color: $text;
}

.p-workspace_directory_empty_state {
  background-color: $bg;
}

.p-workspace_directory_empty_state__body {
  color: $disabled;
}

.p-workspace_directory_empty_state__footer {
  color: $disabled;

  &:link, &:visited {
    color: $disabled;
  }
}

.p-workspace_directory__modal {
  background-color: $bg2;
}
