.p-workspace__sidebar {
  &:after {
    background: $contrast;
  }
}

.p-workspace__primary_view_body {
  box-shadow: inset 1px 0 $borderLight;
}

.p-workspace__primary_view_footer,
.workspace__primary_view_footer {
  box-shadow: inset 1px 0 $bg2;
  background: $bg;
}

.p-workspace__input.p-message_input,
.p-workspace__input {
  .ql-attachments,
  .ql-files {
    background: $bg2;
    box-shadow: 0 -1px 0 0 $primaryT;
  }

  &.p-message_input--focus-visible .p-message_input_field.focus {
    box-shadow: 0 0 0 1px $primary, 0 0 0 5px $primaryT;
  }

  .p-message_input_file_button {
    color: $text;

    &.p-message_input_file_button--active,
    &:hover {
      color: $selectFg;
      background: $green;
    }
  }

  .p-message_input_field {
    background: $contrast;
    border-color: $button;

    &.focus {
      border-color: $primary;

      ~ .p-message_input_file_button:not(:hover) {
        border-color: $button;
        color: $disabled;
      }

      ~ .p-texty_sticky_formatting_bar {
        border-color: $primary;
      }
    }
  }

  &.p-message_input--dark {
    .p-message_input_field {
      border-color: $button;
      background: $contrast;

      .ql-composer-sticky {
        border-color: $borderLight;
      }

      &.focus {
        border-color: $primaryT;

        .ql-composer-sticky {
          background: $bg;
          border-color: $primary;
        }

        ~ .p-texty_sticky_formatting_bar {
          border-color: $primary;
        }
      }
    }

    ::-moz-selection,
    ::selection,
    ::-moz-selection {
      background-color: $selectBg;
    }
  }

  &.p-message_input--attachments-visible
    .c-texty_input__container:not(.c-texty_input__container--expanded):not(.c-texty_input--double_decker)
    .ql-composer-sticky,
  &.p-message_input--files-visible
    .c-texty_input__container:not(.c-texty_input__container--expanded):not(.c-texty_input--double_decker)
    .ql-composer-sticky {
    background: $contrast;
  }

  &.p-message_input--attachments-visible .p-message_input_field:not(.c-texty_input--sticky_composer) {
    .ql-attachments,
    .ql-files {
      box-shadow: 0 1px 0 0 $accent, 0 -1px 0 0 $accentT;
    }
  }

  &.p-message_input--files-visible .p-message_input_field:not(.c-texty_input--sticky_composer) {
    .ql-attachments,
    .ql-files {
      box-shadow: 0 1px 0 0 $accent, 0 -1px 0 0 $accentT;
    }
  }

  .p-message_input__attachments,
  .ql-attachments {
    .p-composer_attachments__separator {
      border-left: 1px solid $borderLight;
    }
  }

  &.ql-disabled {
    background: $bg2 !important;

    .ql-composer-sticky {
      background: $bg2 !important;
    }
  }

  &.p-message_input--day1:not(.p-message_input--disabled) {
    .c-icon_button.c-texty_input__button--send {
      background: $accentT;
      color: $selectFg;

      &:hover {
        color: $selectFg;
        background: $accent;
      }
    }

    .c-texty_input .ql-placeholder {
      color: $disabled;
    }

    .p-message_input_field {
      border-color: $button;
      box-shadow: 0 0 0 1px $button;
      background: $contrast;

      .ql-composer-sticky {
        border-color: $button;
      }
    }

    &.p-message_input--dark .p-message_input_field {
      background: $contrast;
    }
  }
}

.ql-composer-sticky {
  border-bottom: 1px solid $borderLight;
}

.p-workspace__secondary_view {
  @include pane;
  background: $bg;
  border-left: none;
}

.p-workspace__boot_failure {
  background: $bg2;

  pre {
    background: $bg;
  }
}

.p-workspace__boot_failure_icon {
  &:before {
    color: $text;
  }
}

.p-workspace__boot_failure_description {
  background-color: $bg;
}

.p-workspace--context-pane-collapsed {
  grid-template-columns: 260px auto !important;
}

.p-workspace--context-pane-expanded {
  grid-template-columns: 260px auto 512px !important;
}

.p-workspace_row_item__domain {
  color: $text;
}

.p-workspace_row_item__icon--inactive {
  .p-workspace_row_item__text {
    color: $text;
  }
}

.p-get_started_confirmation_code__hint {
  color: $disabled;
}

.p-workspace__primary_view_contents--members_overlay {
  &:before {
    z-index: 203 !important;
    background: rgba(0, 0, 0, 0.6);
  }
}
