.p-workflow_trigger_type_label {
  color: $text;
}

.p-workflow_details_modal__header {
  border-bottom: 1px solid $border;
}

.p-workflow_details_modal__content {
  background-color: $bg2;
}

.p-workflow_details_modal__content__section {
  background: $bg;
  border: 1px solid $border;
}

.p-workflow_details_modal__footer {
  border-top: 1px solid $border;
}

.p-workflow_steps__step {
  color: $text;
}

.p-workflow_steps__step__title--loading_stub {
  background-color: $bg;
}

.p-workflow_attribution {
  color: $text;
}

.p-workflow_card--error {
  color: $text;
}

.p-workflow_card--error__icon {
  background: $bg2;
}

.p-workflow_preview__header {
  background-color: $bg;
}

.p-workflow_with_error {
  color: $text;
}

.p-workflow_with_error__icon {
  background: $excluded;
}

.p-workflow_with_error__title {
  color: $text;
}

.p-workflow_picker__modal {
  &.p-workflow_picker__modal--new_style {
    .p-workflow_picker__header {
      border-bottom: 1px solid $border;
    }

    .p-workflow_picker__footer {
      border-top: 1px solid $border;
    }
  }

  &:not(.p-workflow_picker__modal--new_style) {
    .p-workflow_picker__footer,
    .p-workflow_picker__header {
      background-color: $bg2;
    }
  }
}

.p-workflow_picker_list_item_container:hover:not(.p-workflow_picker_list_item_container--selected) {
  background-color: $bg2;
}

.p-workflow_picker_list_item_container--selected {
  background-color: $accent;

  .p-workflow_picker_list_item_information--selected {
    color: $selectFg;
  }
}

.p-workflow_picker_list_item_information {
  color: $fg;
}

.p-workflow_picker_list_item_information__description {
  color: $text;
}
