.p-connected_workspaces__empty {
  background-color: $bg;
}

.p-connected_workspaces__header_description,
.p-manage_shared_channels__header_description {
  color: $text;
}

.p-connected_workspaces__list,
.p-manage_shared_channels__list {
  &::-webkit-scrollbar-thumb {
    color: $accent;
  }

  &::-webkit-scrollbar-track {
    color: $bg;
    background: $bg2;
  }

  &::-webkit-scrollbar-thumb {
    background: $accent;
  }

  &::-webkit-scrollbar-corner {
    background: $bg;
  }
}

.p-connected_workspaces__list--loading:before {
  background-color: $bg;
}

.p-connected_workspaces__spinner {
  fill: $bg;
}

.p-connected_workspaces_row,
.p-manage_shared_channels_row {
  border-bottom: 1px solid $borderLight;

  &:not(.p-connected_workspaces_row--header):hover,
  &:not(.p-manage_shared_channels_row--header):not(.p-manage_shared_channels_row--footer):hover {
    background-color: $bg2;
  }
}

.p-connected_workspaces_row--header,
.p-manage_shared_channels_row--header {
  color: $text;
}

.p-connected_workspaces_row__workspace_domain,
.p-manage_shared_channels_row__workspace_domain {
  color: $text;
}

.p-connected_workspaces_row__actions,
.p-manage_shared_channels_row__actions {
  color: $fg;

  .active,
  &:hover {
    color: $primary;
  }
}

.p-manage_shared_channels_row__revoked_invites,
.p-manage_shared_channels_row__revoked_text {
  color: $text;
}

.p-manage_shared_channels__inline_channel_entity {
  color: $fg;
}
