.p-wysiwyg_deluxe_toast {
  background: $bg;
  color: $fg;

  .c-button--focus-visible:focus,
  .c-link--focus-visible:focus,
  .focus-ring {
    box-shadow: 0 0 0 1px $primary, 0 0 0 5px $primaryT;
  }
}

.p-wysiwyg_deluxe_toast__close {
  background: $bg;
  color: $fg;

  &:active,
  &:hover {
    color: $selectFg;
  }
}

button:focus > .p-wysiwyg_deluxe_toast__close {
  color: $selectFg;
}

.c-wysiwyg_container {
  background: $contrast;

  &.p-message_input__input_container_unstyled--with_subject_expanded {
    .c-texty_input_unstyled__subject {
      border-bottom: 1px solid $hl;
    }
  }
}

.c-wysiwyg_container:focus-within .c-wysiwyg_container__footer {
  border-color: $borderLight;
}

.c-wysiwyg_container__button--emoji_highlighted .c-icon {
  background: rgba(var(--sk_secondary_highlight, 242, 199, 68), 1); //yellow emoji
}

.sk-client-theme--dark .c-wysiwyg_container__button--emoji_highlighted .c-icon {
  color: #1d1c1d; // emoji contour
}

.c-wysiwyg_container__button--with_badge {
  &:hover .c-icon:after {
    border-color: $borderLight;
  }

  .c-icon:after {
    border: 2px solid $borderLight;
    background: $red;
  }
}

.c-wysiwyg_container__button {
  &.c-wysiwyg_container__button--send,
  &.c-wysiwyg_container__button--send_options {
    background: $accentT;
    color: $fg;

    &:hover {
      background: $accent;
      color: $selectFg;
    }

    &[disabled] {
      color: $disabled;
    }
  }

  &.c-wysiwyg_container__button--send.c-wysiwyg_container__button--disabled,
  &.c-wysiwyg_container__button--send_options.c-wysiwyg_container__button--disabled {
    color: $disabled;
  }

  &.c-wysiwyg_container__button--shortcuts {
    &:active,
    &:hover {
      background: $accent;
      color: $selectFg;
    }

    &:after {
      border-right: 1px solid $borderLight;
    }
  }

  &.c-wysiwyg_container__button--schedule_send[disabled],
  &.c-wysiwyg_container__button--send[disabled] {
    background: unset;
    color: $disabled;
  }

  &.c-wysiwyg_container__button--day1 {
    background: $button;
    color: $selectFg;

    &:hover {
      color: $selectFg;
      background: $accent;
    }

    &[disabled] {
      background: $button;
      color: $disabled;
    }

    &.c-wysiwyg_container__button--disabled {
      background: $button;
      color: $disabled;
    }
  }
}

.c-wysiwyg_container__send_button--with_options {
  .c-wysiwyg_container__button {
    &.c-wysiwyg_container__button--send.c-wysiwyg_container__button--disabled,
    &.c-wysiwyg_container__button--send_options.c-wysiwyg_container__button--disabled {
      background-color: $button;
      color: $disabled;
    }

    &.c-wysiwyg_container__button--send {
      border-right: 1px solid $borderLight;

      &.c-wysiwyg_container__button--disabled {
        border-right: 1px solid $border;
      }
    }
  }
}

.c-wysiwyg_container--day1-prog-disc {
  border-color: $primary;
}

.c-wysiwyg_container:focus-within .c-wysiwyg_container__button.c-icon_button.c-wysiwyg_container__button--composer {
  &.c-wysiwyg_container__button--active {
    background-color: $hl;
  }
}

.c-wysiwyg_container__button {
  background: $button;

  &.c-icon_button {
    &.c-wysiwyg_container__button--shortcuts {
      &:active,
      &:focus,
      &:hover {
        background: $accent;
        color: $selectFg;
      }

      &:after {
        border-right: 1px solid $bg2;
      }
    }

    &.c-wysiwyg_container__button--shortcuts_highlighted {
      color: $primary;

      :hover {
        color: $selectFg;
      }
    }
  }
}

.c-wysiwyg_container--theme_light:focus-within .c-wysiwyg_container__footer--with_formatting {
  background-color: $bg2;
}

.c-wysiwyg_container__button--active {
  background-color: $hl;
}

.c-wysiwyg_container--theme_light_bordered {
  border-color: $borderLight;

  &:focus-within {
    border-color: $primary;
  }
}

.c-wysiwyg_container--theme_light {
  border-color: $borderLight;

  &:focus-within {
    border-color: $primary;

    .c-wysiwyg_container__footer--with_formatting {
      background-color: $bg;
    }
  }
}

.c-wysiwyg_container--theme_dark {
  background-color: $contrast;
  border-color: $borderLight;

  code {
    color: $fg;
  }

  .c-wysiwyg_container__button--with_badge {
    .c-icon:after {
      border-color: $button;
    }

    &:hover .c-icon:after {
      border-color: $hl;
    }
  }

  &:focus-within {
    border-color: $primary;
  }
}

.c-wysiwyg_container--theme_dark_bordered {
  border-color: $borderLight;

  &:focus-within {
    border-color: $primary;
  }
}

.c-wysiwyg_container--day1 {
  border-color: $borderLight;
  background: $contrast;

  &:focus-within {
    border-color: $primary;
  }

  &.c-wysiwyg_container--theme_dark {
    background: $contrast;
  }
}
