.container__cbRRnJf {
  background-color: $bg2;
}

.search_dates_divider__7a9c7cU {
  background-color: $bg2;
}


.container__1rdVUJJ {
  background-color: $bg;
  border-left: 1px solid $border;
  @include pane;
}
