.layout__15Ww4An {
  border-top: none;
}

.sidebar__3zv4k-h {
  .info_text__1szuILB {
    color: $disabled;
  }
}

.container__3-VeXKM {
  p {
    color: $text;
  }
}

.list__3Vg6E3W {
  li {
    border-bottom: 1px solid $borderLight;
  }
}
