.container__I5zzTtB {
  padding: 0;

  > header > a:first-child {
    margin-left: 1em;
  }

  .c-tabs__tab:first-child {
    margin-left: 1em;
  }

  .list__3HrSUe1 {
    margin-right: 1em;
  }

  // footer
  .container__327po2e {
    padding: 1em;
  }

  .grid__1YqrmOb {
    margin: 1em;
  }
}
