.crop_preview_image_label__1Q4ZMN3 {
  color: $text;
}

.cropper__2IKIfYk {
  background-color: $bg !important;
}

.container__2lJFj-_ {
  color: $text;

  .text_container__3a_5Kjx {
    h3 {
      color: $fg;
    }
  }
}

.modal_main_content__36vh5Sf {
  background: $bg;
}

.pending_custom_image__2jKp_DF {
  background-color: $bg;
}
