.container__1ns5RRv {
  &.has_errors__1x4Thzc {
    .c-card {
      border-color: $red;
    }

    .c-card__header {
      background-color: $bg2;
      border-color: $red;
    }
  }
}

.warning_icon__1TTZXHj {
  color: $red;
}

.error_text__3yAHNml {
  color: $red;
}

.warning_icon__rWPF1FQ {
  color: $red;
}

.container__3GzzHj0 {
  color: $red;
}
