.preview-container__1QiaGsZ .c-message_kit__background,
.preview-label__33bpih- .preview_message_container__8GDDixz {
  border: solid 1px $borderLight;
  background: $bg2;
}

.preview_wrapper__3pgUIYf {
  background-color: $bg2;
}
