.list__3HrSUe1 {
  .subtext__3DzaJGd {
    color: $text;
  }
}

.body__3CzxX2R {
  .subtext__NtX88X9 {
    color: $text;
  }
}

.container__1GenrZD {
  border-bottom: solid 1px $borderLight;
}

.container__17lkY3e {
  .placeholder__3OHrZfE {
    color: $text;
  }
}
