// workflow item
.container__mbLT85l {
  background-color: $button;
  box-shadow: inset 0 0 0 1px $button;
}

.preview__2Ce4K02 {
  background-color: $bg2;
}

.header__1B33Gf1 {
  p {
    color: $text;
  }
}
