/* CodeMirror syntax highlighting */
.cm-s-default .cm-header {
  color: $purple !important;
}

.cm-s-default .cm-quote {
  color: $green !important;
}

.cm-negative {
  color: $red !important;
}

.cm-positive {
  color: $green !important;
}

.cm-s-default .cm-keyword {
  color: $purple !important;
}

.cm-s-default .cm-atom {
  color: $cyan !important
}

.cm-s-default .cm-number {
  color: $orange !important
}

.cm-s-default .cm-def {
  color: $blue !important
}

.cm-s-default .cm-variable-2 {
  color: $textBright !important;
}

.cm-s-default .cm-variable-3 {
  color: $green !important
}

.cm-s-default .cm-comment {
  color: $textDim !important;
}

.cm-s-default .cm-string {
  color: $green !important;
}

.cm-s-default .cm-string-2 {
  color: $red2 !important
}

.cm-s-default .cm-meta, .cm-s-default .cm-qualifier {
  color: $text !important;
}

.cm-s-default .cm-builtin {
  color: $purple !important;
}

.cm-s-default .cm-bracket {
  color: $text !important;
}

.cm-s-default .cm-tag {
  color: $red !important;
}

.cm-s-default .cm-attribute {
  color: $yellow !important;
}

.cm-s-default .cm-hr {
  color: $textDim !important;
}

.cm-s-default .cm-link {
  color: $accent !important;
}

.CodeMirror,
.CodeMirror .CodeMirror-gutters,
.CodeMirror-gutter {
  background-color: $bg !important;
  border-color: $borderDim !important;
  color: $text !important;

  .CodeMirror-line {
    background: $bg !important;
  }
}

.CodeMirror-cursor {
  border-left-color: $accent !important;
}

.CodeMirror-selected {
  background-color: $selection !important;
}

pre.special_formatting {
  background: $bg2 !important;
}

.c-snippet__code .CodeMirror {
  color: $text !important;
}

.c-snippet__code .CodeMirror-code > div:before {
  background: $bg !important;
  border-right: $borderDim !important;
}

.c-file_container--gradient::after {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0), $bg) !important;
}

.sssh-keyword {
  color: $purple !important;
}

.sssh-atom {
  color: $cyan !important;
}

.sssh-number {
  color: $orange !important;
}

.sssh-def {
  color: $blue !important;
}

.sssh-variable {
  color: $textBright !important;
}

.sssh-variable-2 {
  color: $textBright !important;
}

.sssh-variable-3 {
  color: $gray !important;
}

.sssh-operator, .sssh-property {
  color: $cyan !important;
}

.sssh-comment {
  color: $textDim !important;
}

.sssh-string {
  color: $green !important;
}

.sssh-string-2 {
  color: $red2 !important;
}

.sssh-meta {
  color: $text !important;
}

.sssh-error {
  color: $red !important;
}

.sssh-qualifier {
  color: $text !important;
}

.sssh-builtin {
  color: $blue !important;
}

.sssh-bracket {
  color: $text !important;
}

.sssh-tag {
  color: $red !important;
}

.sssh-attribute {
  color: $yellow !important;
}

.sssh-header {
  color: $silver !important;
}

.sssh-quote {
  color: $text !important;
}

.sssh-hr {
  color: $borderDim !important;
}

.sssh-link {
  color: $accent !important;
}

.block_kit_error_color_bar {
  &::before {
    background-color: $bg2 !important;
  }
}
