// color picker
.colpick {
  border: 1px solid $bgLight !important;
  background: $bg !important;
  color: $text !important;
}

.colpick_color {
  border: 1px solid $bgLight !important;
}

.colpick_selector_outer {
  border: 2px solid $bg2 !important;
}

.colpick_selector_inner {
  border: 1px solid $bg2 !important;
}

.colpick_hue {
  border: 1px solid $bgHover !important;
}

.colpick_hue_larr {
  border-left: 7px solid $borderDim !important;
}

.colpick_hue_rarr {
  border-right: 7px solid $borderDim !important;
}

.colpick_new_color {
  background: red;
  border: 1px solid #8f8f8f;
}

.colpick_current_color {
  background: red;
  border: 1px solid #8f8f8f;
}


.colpick_field,
.colpick_hex_field {
  background: $bg2 !important;
  color: $text !important;
  border: 1px solid $bgLight !important;
}

.colpick_focus {
  border-color: $primary !important;
}

.colpick_field_letter {
  background: $bgHover !important;
  border-right: 1px solid $bgLight !important;
  color: $textDim !important;
}

.colpick_field input,
.colpick_hex_field input {
  color: $textDim !important;
}


.colpick_field_arrs {
  height: 20px;
  cursor: ns-resize;
}

.colpick_field_uarr {
  border-bottom: 4px solid $borderDim !important;
}

.colpick_field_darr {
  border-top: 4px solid $borderDim !important;
}

.colpick_submit {
  background: $bg2 !important;
  color: $text !important;
  border: 1px solid $bg2 !important;

  &:hover {
    background: $bgLight !important;
    border-color: $bgLight !important;
  }
}


.colpick_dark {
  background: $bg2 !important;
  border-color: $borderBright !important;

  .colpick_color {
    outline-color: $primaryT !important;
  }

  .colpick_hue {
    border-color: $bgLight !important;
  }

  .colpick_field, .colpick_hex_field {
    background: $bg !important;
    border-color: $bgLight !important;
  }

  .colpick_field_letter {
    background: $bg !important;
    border-color: $bgLight !important;
    color: $textDim !important;
  }

  .colpick_field input, .colpick_hex_field input {
    color: $textDim !important;
  }

  .colpick_field_uarr {
    border-bottom-color: $textDim !important;
  }

  .colpick_field_darr {
    border-top-color: $textDim !important;
  }

  .colpick_focus {
    border-color: $borderDim !important;
  }

  .colpick_submit {
    background: $bg !important;
    border-color: $bgLight !important;
    color: $textDim !important;

    &:hover {
      background-color: $bgHover !important;
      border-color: $bgHover !important;
    }
  }
}

.c-color_picker__container {
  border-color: $bgLight !important;
  .c-color_picker__color_block {
    border-color: $bgLight !important;
  }
  .c-color_picker__input[type=text] {
    border-left: none !important;
  }
}