// Calendar
.pickmeup {
  background: $bg !important;
  color: $text !important;
  border-color: $borderDim !important;

  .pmu-instance {
    .pmu-button {
      background: $accent !important;
      color: $text !important;
    }

    .pmu-selected {
      background: $accent !important;
      color: $textBright !important;
    }

    .pmu-button:not(.pmu-disabled):hover {
      background: $bgHover !important;
      color: $textBright !important;
    }

    .pmu-disabled {
      background: $bg2 !important;
      color: $textDim !important;
    }

    .pmu-not-in-month {
      background: $bg2 !important;
      color: $text !important;
    }

    // Today date
    .pmu-today {
      &.pmu-selected {
        background: $bg !important;
      }

      .pmu-today-border {
        background: $primary !important;
        border-color: $primary !important;
      }
    }

    // selecting the day
    .pmu-day-of-week *,
    .pmu-years *,
    .pmu-months *,
    .pmu-days * {
      color: $text;
      border-color: $borderDim;
    }

    li.date_picker_item {
      a {
        color: $primary !important;

        &:hover {
          color: $textBright !important;
        }
      }

      &.highlighted a {
        color: $textBright !important;
      }
    }
  }
}

.calendar {
  table.mini {
    td {
      &.active a {
        background: $primary !important;
        color: $bg !important;

        &:hover {
          background: $primary !important;
          color: $bg !important;
        }
      }

      a:hover {
        background: $textBright !important;
      }

      &.limited {
        background-color: $bg2 !important;

        a {
          background-color: $bg2 !important;
          color: $textDim !important;

          &:hover {
            background-color: $bg2 !important;
            color: $textDim !important;
          }
        }
      }
    }
  }
}
