#downloads_tab {
  #downloads_tab_clear {
    border-right: 1px solid $bgLight !important;
  }

  .download_item {
    &:hover {
      border-color: $borderBright !important;
    }
  }

  .icon_actions {
    .action_icon {
      background: $accent !important;
      box-shadow: 0 0 0 3px $textBright !important;
      color: $textBright !important;
    }
  }

  .download_img {
    border: 1px solid $bgLight !important;
  }

  .download_data {
    .download_name_row {
      color: $textDim !important;
    }
  }

  a {
    &.download_cancel_link,
    &.download_pause_link,
    &.download_resume_link {
      color: $primary !important;
    }
  }

  i.download_remove_link {
    &:hover {
      color: $red !important;
    }
  }

  .download_size_row {
    color: $text !important;
  }

  .download_actions {
    background: $bg !important;
  }

  a {
    &.download_open_link, &.download_retry_link, &.download_show_link {
      color: $text !important;
    }
  }


  .download_progress_row {
    background-color: $bg !important;
  }

  .download_progress_bar {
    background-color: $accent !important;
  }


  &.supports_open_file {
    #downloads_shift_hint {
      color: $textDim !important;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0), $bg 25%, $bg) !important;
    }
  }
}
