.menu.p-emoji_picker {
  background: $bg2 !important;
  color: $text !important;
  width: 380px;

  .p-emoji_picker__update_overlay {
    background: $bg2;
    color: $text;
    p {
      color: $text;
    }

    .c-button {
      color: $text;
    }
  }
}

/* emojis */
.rxn[data-emoji] {
  height: 28px;
  .emoji_rxn_count {
    font-size: 0.9rem;
  }

  .emoji-sizer {
    background-color: transparent !important;
    border-radius: 7px;
    width: 24px;
    height: 24px;
    margin: 0 0 0 -2px !important;
    border: 1px solid transparent; /* looks silly but it makes the outline work */
  }
}

.emoji-sizer {
  /* outline for black-on-transparent emojis */
  -webkit-filter: drop-shadow(1px 0 0 $primary) drop-shadow(-1px 0 0 $primary) drop-shadow(-0 1px 0 $primary) drop-shadow(0 -1px 0 $primary);
  margin: 0 !important;
}

.ts_icon.ts_icon_smile_o {
  color: $text;
}

.menu .p-emoji_picker {
  &__input_container,
  &__list_container,
  &__emoji_deluxe_label,
  &__heading,
  &__footer {
    background: transparent;
    color: $text;

  }
}

// Groups
.p-emoji_picker__group_tabs {
  border-bottom-color: $primary;
}

.p-emoji_picker__group_tab {
  border: 1px solid transparent;
  border-bottom-width: 2px;

  &:hover {
    background-color: $bg2;
    border-color: $borderDim;

    .emoji-sizer {
      color: $text;
    }
  }

  .emoji-sizer {
    filter: none;
    -webkit-filter: none;
  }
}

// Preview text
.p-emoji_picker__preview_text {
  background-color: $bg2;
  color: $text;
}

.menu .p-emoji_picker__group_tab--active {
  background-color: $bg;
  color: $textSpecial;
  border: 1px solid $primary;
  border-bottom-width: 2px;
}

#emoji_menu {
  h3,
  #emoji_preview_text {
    background-color: $bg2;
    color: $text;
  }

  #emoji_menu_items_scroller,
  #emoji_menu_footer,
  #emoji_input_container {
    background-color: transparent;
  }

  a.emoji_grouping_tab .emoji-sizer {
    -webkit-filter: none;
  }
}

.emoji_menu_ng #emoji_menu_header .emoji_grouping_tab.active {
  background-color: transparent;
  border: 1px solid $border;
  border-bottom-width: 3px;
}

.light_theme .emoji-only {
  line-height: 3rem;
  font-size: 3rem;
  margin-top: 3px !important;
}
