@import "core/animations";

html {
  background: $bg;
}

body {
  background: $bg;
  color: $text;
}

a {
  color: $primary;

  &:hover {
    color: $textBright;
  }
}

h1, h2, h3, h4 {
  color: $text;
}

textarea,
input[type="text"],
#file_comment_textarea {
  background-color: $bg !important;
  border-color: $borderDim !important;
  color: $text !important;

  &:focus {
    border-color: $primary !important;
    color: $textBright !important;
  }
}

/* Snippets */
select {
  background-color: $bg;
  color: $text;
  border-color: $borderDim;
}

a, a:link, a:visited {
  color: $textSpecial;

  &:hover {
    color: $textSpecial;
  }
}

code {
  color: $textSpecial !important;
  background-color: $bg2 !important;
  border-color: $borderDim !important;
}

pre {
  background: $bg2 !important;
  color: $text !important;
  border-color: $borderDim !important;
}

.muted,
a.muted {
  color: $textDim !important;

  &:focus, &:hover {
    color: $textBright !important;
  }
}

hr {
  border-color: $borderDim !important;
}

abbr {
  border-color: $borderDim !important;
}

blockquote {
  border-color: $borderDim !important;

  small {
    color: $textDim !important;
  }
}

legend {
  color: $text !important;
  border: none !important;

  small {
    color: $textDim !important;
  }
}

.badge, .label, a.badge, a.label {
  background: $accent;

  &:focus, &:hover {
    color: $textBright !important;
  }
}

.btn_link {
  color: $primary !important;
}

.table,
.table-bordered {
  background: $bg !important;

  td, th {
    border-color: $borderDim !important;
  }
}

.table-striped tr:nth-child(odd) {
  td, th {
    background: $bg2 !important;
  }
}

.table-hover tr:hover {
  td, th {
    background: $bgHover !important;
  }
}

input,
textarea {
  color: $text !important;
  background: $bg !important;
  border: $borderDim !important;

  &:focus {
    border-color: $accent !important;
    border-width: 2px !important;
  }

  &.c-input_text,
  &[type=text].c-input_text,
  &[type=password].c-input_text {
    border: 1px solid $borderDim !important;

    &:focus {
      box-shadow: 0 0 0 1px $primary, 0 0 0 5px $primary;
    }
  }

  &.c-input_text[disabled],
  &[type=text].c-input_text[disabled],
  &[type=password].c-input_text[disabled] {
    background: $bg2 !important;
    border: 1px solid $borderDim !important;
  }

  &.c-input_text--with_default,
  &[type=text].c-input_text--with_default,
  &[type=password].c-input_text--with_default {
    border: 1px solid $borderDim !important;
    box-shadow: 0 0 0 1px $borderDim, 0 0 0 5px $borderDim !important;
  }
}

.uneditable-input,
.uneditable-textarea {
  color: $textDim !important;
  background: $bg2 !important;
  border: $borderDim !important;

  &:focus {
    border-color: $accent !important;
    border-width: 2px !important;
  }
}

input:-moz-placeholder,
textarea:-moz-placeholder,
input:-ms-input-placeholder,
textarea:-ms-input-placeholder,
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: $textDim !important;
}

.form-actions {
  background: $bg;
}

.help-block,
.help-inline {
  color: $textSpecial !important;
}

.input-append,
.input-prepend {
  .add-on {
    background: $bg2 !important;
    border: none !important;
  }
}

// Override custom colors
.blue_fill_bg,
.seafoam_green_bg,
.mustard_yellow_bg {
  background: $accent !important;
}

.blue_fill,
.charcoal_grey,
.blue_link,
.indifferent_grey {
  color: $primary !important;
}

.sk_black {
  color: $black !important
}

.sk_black_bg {
  background-color: $black !important;
}

.sk_dark_gray, .sk_dark_grey {
  color: $gray !important;
}

.sk_dark_gray_bg, .sk_dark_grey_bg {
  background-color: $gray !important;
}

.sk_light_gray, .sk_light_grey {
  color: $silver !important
}

.sk_light_gray_bg, .sk_light_grey_bg {
  background-color: $silver !important
}

.sk_soft_gray, .sk_soft_grey {
  color: $textBright !important
}

.sk_soft_gray_bg, .sk_soft_grey_bg {
  background-color: $textBright !important
}

.sk_link_blue {
  color: $blue !important
}

.sk_link_blue_bg {
  background-color: $blue !important
}

.sk_hover_blue {
  color: $blue !important;
}

.sk_hover_blue_bg {
  background-color: $blue !important;
}

.sk_fill_blue {
  color: $accent !important;
}

.sk_fill_blue_bg {
  background-color: $accent !important;
}

.sk_sapphire_blue {
  color: $blue !important
}

.sk_sapphire_blue_bg {
  background-color: $blue !important
}

.sk_pale_blue {
  color: $blue !important;
}

.sk_pale_blue_bg {
  background-color: $blue !important;
}

.sk_seafoam_green {
  color: $green !important
}

.sk_seafoam_green_bg {
  background-color: $green !important
}

.sk_warning_red {
  color: $red !important
}

.sk_warning_red_bg {
  background-color: $red !important
}

.sk_pin_orange {
  color: $orange !important;
}

.sk_pin_orange_bg {
  background-color: $orange !important;
}

.subtle_silver {
  color: $text !important;
}

.sk_colonel_mustard {
  color: $orange2 !important
}

.sk_colonel_mustard_bg {
  background-color: $orange2 !important
}

.sk_star_yellow {
  color: $yellow !important;
}

.sk_star_yellow_bg {
  background-color: $yellow !important;
}

.sk_aubergine {
  color: $purple !important
}

.sk_aubergine_bg {
  background-color: $purple !important
}

.sk_just_orange {
  color: $orange !important
}

.sk_just_orange_bg {
  background-color: $orange !important
}

.sk_reddish_orange {
  color: $orange2 !important
}

.sk_reddish_orange_bg {
  background-color: $orange2 !important
}

.sk_indigo {
  color: $purple !important
}

.sk_indigo_bg {
  background-color: $purple !important
}

.sk_sky_blue {
  color: $cyan !important
}

.sk_sky_blue_bg {
  background-color: $cyan !important
}

.sk_frosty_blue {
  color: $textBright !important
}

.sk_frosty_blue_bg {
  background-color: $textBright !important
}

.sk_raspberry_red {
  color: $red2 !important
}

.sk_raspberry_red_bg {
  background-color: $red2 !important
}

.sk_sunshine_yellow {
  color: $yellow !important
}

.sk_sunshine_yellow_bg {
  background-color: $yellow !important
}

.sk_pale_yellow {
  color: $textBright !important
}

.sk_pale_yellow_bg {
  background-color: $textBright !important
}

.sk_lilypad_green {
  color: $green !important
}

.sk_lilypad_green_bg {
  background-color: $green !important
}

.top_border {
  border-top: 1px solid $borderBright !important;
}

.right_border {
  border-right: 1px solid $borderBright !important;
}

.bottom_border {
  border-bottom: 1px solid $borderBright !important;
}

.left_border {
  border-left: 1px solid $borderBright !important;
}

.greigh {
  color: $text !important;
}

.c-keyboard_key {
  background: $bg;
  border-color: $borderDim;
  box-shadow: 0 1px $borderDim;
  color: $text;
}

.c-button, .c-button--outline {
  background: $bg;
  color: $text;
  box-shadow: inset 0 0 0 1px $borderDim;
}

// Spinners
.ts_icon_spin.ts_icon_spinner:empty,
svg.ts_icon_spinner:empty {
  filter: invert(50%);
}

.bottom_border {
  border-bottom-color: $borderDim !important;
}

.top_border {
  border-top-color: $borderDim !important;
}

// toggles
.ts_toggle {
  .ts_toggle_button {
    background: $bg2;
  }

  .ts_toggle_secondary_label {
    color: $text;
  }

  &.checked {
    .ts_toggle_button {
      background: $accent;
    }

    .ts_toggle_secondary_label {
      color: $textBright;
    }
  }
}

// btns
.btn,
.btn.dialog_go,
.btn_outline {
  background: $bg2 !important;
  color: $text !important;
  border-color: $borderDim !important;

  &.active,
  &:active {
    background: $accent !important;
    color: $textBright !important;
  }

  &:hover {
    background: $bgHover !important;
    color: $primary !important;
    border-color: $borderBright !important;
  }

  &:hover::after {
    color: $primary !important;
    border-color: $borderBright !important;
  }

  &.btn_green {
    background: $primary !important;
    color: $textBright !important;
  }
}

.btn-primary {
  color: $textBright !important;
  background: $primary !important;
  border: $primary !important;
}

.btn-link {
  color: $primary !important;

  &:focus, &:hover {
    color: $textBright !important;
  }
}

.alert {
  background: $bg2 !important;
  color: $accent !important;

  h4 {
    color: $accent !important;
  }
}

.tooltip-inner {
  background: $bg2 !important;
  color: $text !important;
}

.modal-backdrop {
  background: $bg2 !important;
  color: $text !important;
}

.lazy_filter_select .lfs_input_container {
  border-color: $borderDim !important;
  background: $bg !important;
  color: $text !important;
}

.ql-placeholder {
  color: $text !important;
}

.close_flexpane {
  color: $text !important;
}

.disclosure_triangle {
  color: $text !important;
}

// Highlight words
.c-mrkdwn__mention,
.c-mrkdwn__member--mention,
.c-mrkdwn__broadcast--mention,
.c-mrkdwn__subteam--mention,
.c-mrkdwn__member--link,
.c-mrkdwn__subteam--link,
ts-mention {
  background: $accent;
  color: $textAccent !important;
  padding: 4px;

  &:hover {
    background: $accent;
    color: $textAccent !important;
    opacity: 0.8;
  }
}

// reactions
.c-reaction {
  background: $bg2;
  color: $textAccent !important;
  border: none;

  &:hover {
    background: $bgHover;
    color: $textAccent !important;
  }

  .c-reaction__count {
    color: $primary !important;
  }

  .c-reaction_add {
    background: $bg2;
    border-color: $borderDim;
  }
}

// Label for bots
.bot_label {
  padding: 0 4px !important;
  border-radius: 3px !important;
  border: 1px solid $borderBright;
  color: $textAccent !important;
  background: $primary !important;
}

// New messages banner
.p-message_pane__unread_banner__banner {
  background: $accent !important;
  color: $textBright !important;
}

// unread
.c-message_list__unread_divider {
  &__separator {
    border-color: $red2 !important;
  }

  &__label {
    background: $red2 !important;
    color: $textBright !important;
  }
}

.member_details_divider {
  border-color: $borderDim !important;
}

// Don't know what are these but they look like mentions
.feature_name_tagging_client {
  .app_preview_link_slug,
  .internal_member_link,
  .internal_user_group_link,
  ts-mention {
    background-color: $accent !important;
    color: $textAccent !important;
  }
}

.very_small_bottom_margin {
  color: $textBright !important;
}

.color_ea2977 {
  color: $primary !important;
}

.close,
.ts_icon_close_filled {
  color: $primary !important;
}

.dropdown-menu {
  background: $bg !important;
  border-color: $textDim !important;
  color: $text !important;
}

.dropdown-submenu {
  &:focus > a, &:hover > a {
    color: $textBright;
    background-color: $textAccent;
  }
}

.dropdown-menu > {
  .active > a {
    color: $textBright;
    background-color: $textAccent;

    &:focus, &:hover {
      color: $textBright;
      background-color: $textAccent;
    }
  }

  .disabled > a {
    color: $textDim;

    &:focus, &:hover {
      color: $textDim;
    }
  }
}

[role=button].focus-ring,
a:not(.c-link--focus-visible).focus-ring,
button:not(.c-button--focus-visible).focus-ring,
#msg_form.focusablesection:focus .sectionfocusindicator,
.focusablesection:focus .sectionfocusindicator {
  box-shadow: 0 0 0 1px $primary, 0 0 0 5px $primary !important;
}