@import "core/animations";
@import "core/colors";
@import "core/bootstrap";

html {
  background: $bg !important;
}

body {
  background: $bg !important;
  color: $text !important;

  input[readonly] {
    background: $contrast !important;
  }
}

a {
  color: $primary !important;

  &:visited, &:link {
    color: $primary !important;
  }

  &:active, &:focus, &:hover {
    color: $textBright !important;
  }
}

h1, h2, h3, h4 {
  color: $text !important;

  a {
    color: $textBright !important;
  }
}

textarea,
input[type="text"],
#file_comment_textarea {
  background-color: $bg !important;
  border-color: $bgLight !important;
  color: $text !important;

  &:focus {
    border-color: $primary !important;
    color: $textBright !important;
  }
}

input {
  &[type=url] {
    &:active, &:focus {
      border-color: $borderBright !important;
    }
  }

  &[type=text] {
    &:active, &:focus {
      border-color: $borderBright !important;
    }
  }

  &[type=number] {
    &:active, &:focus {
      border-color: $borderBright !important;
    }
  }

  &[type=email] {
    &:active, &:focus {
      border-color: $borderBright !important;
    }
  }

  &[type=password] {
    &:active, &:focus {
      border-color: $borderBright !important;
    }
  }
}

input {
  &[type=url], &[type=text], &[type=tel], &[type=number], &[type=email], &[type=password] {
    border: 1px solid $bgLight !important;
    color: $text !important;
  }
}

textarea {
  border: 1px solid $bgLight !important;
  color: $text !important;

  &:active, &:focus {
    border-color: $borderBright !important;
  }
}

/* Snippets */
select {
  background-color: $bg !important;
  color: $text !important;
  border-color: $bgLight !important;

  &:active, &:focus {
    border-color: $borderBright !important;
  }
}

label,
label.countdown,
.no_touch label {
  &.disabled {
    color: $textDim !important;
  }

  &:after {
    color: $textDim !important;
  }

  &.validation_error .validation_message {
    color: $red !important;

    &:before {
      color: $red !important;
    }
  }

  &.validation_warning .validation_message {
    color: $orange !important;

    &:before {
      color: $orange !important;
    }
  }

  &.validation_success .validation_message {
    color: $blue !important;

    &:before {
      color: $blue !important;
    }
  }
}

a, a:link, a:visited {
  color: $textSpecial !important;

  &:hover {
    color: $textSpecial !important;
  }
}

code {
  color: $text !important;
  background-color: $bg2 !important;
  border-color: $bgLight !important;
}

pre {
  background: $contrast !important;
  color: $text !important;
  border-color: $bgLight !important;
}

::-webkit-input-placeholder,
::-moz-placeholder,
::-moz-placeholder,
::-ms-input-placeholder {
  color: $textDim !important;
}

.bullet {
  color: $primary !important;
}

.input_note {
  color: $textDim !important;
}

input:disabled,
select:disabled,
textarea:disabled {
  background: $bg2 !important;
  border-color: $borderDim !important;
  color: $textDim !important;
}

.muted,
a.muted {
  color: $textDim !important;

  &:focus, &:hover {
    color: $textBright !important;
  }
}

hr {
  border-color: $bgLight !important;
}

abbr {
  border-color: $borderDim !important;
}

blockquote {
  border-color: $borderDim !important;

  small {
    color: $textDim !important;
  }
}

legend {
  color: $text !important;
  border: none !important;

  small {
    color: $textDim !important;
  }
}

.badge,
.label,
a.badge,
a.label {
  background: $accent !important;

  &:focus, &:hover {
    color: $textBright !important;
  }
}

.btn_link {
  color: $primary !important;
}

.table,
.table-bordered {
  background: $bg !important;

  td, th {
    border-color: $borderDim !important;
  }
}

.table-striped tr:nth-child(odd) {
  td, th {
    background: $bg2 !important;
  }
}

.table-hover tr:hover {
  td, th {
    background: $bgHover !important;
  }
}

input,
textarea {
  color: $text !important;
  background: $bg !important;
  border-color: $bgLight !important;

  &:focus {
    border-color: $accent !important;
    border-width: 2px !important;
  }

  &.c-input_text,
  &[type=text].c-input_text,
  &[type=password].c-input_text {
    border: 1px solid $bgLight !important;

    &:focus {
      box-shadow: 0 0 0 1px $primary, 0 0 0 5px $primary !important;
    }
  }

  &.c-input_text[disabled],
  &[type=text].c-input_text[disabled],
  &[type=password].c-input_text[disabled] {
    background: $bg2 !important;
    border: 1px solid $bgLight !important;
  }

  &.c-input_text--with_default,
  &[type=text].c-input_text--with_default,
  &[type=password].c-input_text--with_default {
    border: 1px solid $bgLight !important;
    box-shadow: 0 0 0 1px $bgLight, 0 0 0 5px $bgLight !important;
  }
}

.uneditable-input,
.uneditable-textarea {
  color: $textDim !important;
  background: $bg2 !important;
  border: $borderDim !important;

  &:focus {
    border-color: $accent !important;
    border-width: 2px !important;
  }
}

input:-moz-placeholder,
textarea:-moz-placeholder,
input:-ms-input-placeholder,
textarea:-ms-input-placeholder,
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: $textDim !important;
}

.form-actions {
  background: $bg !important;
}

// Help panels
.help {
  color: $textDim !important;
  border-top-color: $accent !important;

  i.callout {
    color: $accent !important;
  }

  h4 {
    color: $textDim !important;
  }
}

.help-block,
.help-inline {
  color: $textSpecial !important;
}

.input-append,
.input-prepend {
  .add-on {
    background: $bg2 !important;
    border: none !important;
  }
}


.top_border {
  border-top: 1px solid $borderBright !important;
}

.right_border {
  border-right: 1px solid $borderBright !important;
}

.bottom_border {
  border-bottom: 1px solid $borderBright !important;
}

.left_border {
  border-left: 1px solid $borderBright !important;
}

.c-keyboard_key {
  background: $bg !important;
  border-color: $borderDim !important;
  box-shadow: 0 1px $borderDim !important;
  color: $text;
}

.c-button, .c-button--outline {
  background: $bg !important;
  color: $text !important;
  box-shadow: inset 0 0 0 1px $bgLight !important;
}

// Spinners
.ts_icon_spin.ts_icon_spinner:empty,
svg.ts_icon_spinner:empty {
  filter: invert(50%) !important;
}

.bottom_border {
  border-bottom-color: $bgLight !important;
}

.top_border {
  border-top-color: $bgLight !important;
}

//.c-scrollbar__hider {
//  background: $bg !important;
//  color: $text !important;
//}


// toggles
.ts_toggle {
  .ts_toggle_button {
    background: $bgLight !important;
    color: $text !important;
  }

  .ts_toggle_secondary_label {
    color: $accent !important;
  }

  &.checked {
    .ts_toggle_button {
      background: $accent !important;
      color: $textBright !important;
    }

    .ts_toggle_secondary_label {
      color: $textBright !important;
    }
  }

  &.ts_toggle_orange .ts_toggle_button {
    background: $purple !important;
    color: $textBright !important;
  }
}

.focus-ring + .ts_toggle {
  box-shadow: 0 0 0 1px $primary, 0 0 0 5px $primary !important;
}

// Tooltips
.ts_tip {
  .ts_tip_multiline_inner,
  &:not(.ts_tip_multiline) .ts_tip_tip {
    background: $bgLight !important;
    color: $text !important;

    &:hover {
      background: $bgHover !important;
      color: $textBright !important;
    }
  }

  .ts_tip_tip {
    color: $textBright !important;
  }

  &.ts_tip_top .ts_tip_tip {
    background: $bgLight !important;
    color: $text !important;

    &:hover {
      background: $bgHover !important;
      color: $textBright !important;
    }
  }

  &.ts_tip_bottom {
    background: $bg2 !important;
    color: $text !important;

    &:hover {
      background: $bgHover !important;
      color: $textBright !important;
    }
  }

  &.success {
    &:not(.ts_tip_multiline) .ts_tip_tip,
    &.ts_tip_multiline .ts_tip_multiline_inner {
      background: $green !important;
    }

    &.ts_tip_left .ts_tip_tip:after {
      border-left-color: $green !important;
    }

    &.ts_tip_right .ts_tip_tip:after {
      border-right-color: $green !important;
    }

    &.ts_tip_top .ts_tip_tip:after {
      border-top-color: $green !important;
    }

    &.ts_tip_bottom .ts_tip_tip:after {
      border-bottom-color: $green !important;
    }
  }
}

// btns
.btn,
.btn.dialog_go {
  background: $bgLight !important;
  color: $text !important;
  border-color: $bgLight !important;

  &.active,
  &:active {
    background: $accent !important;
    color: $textBright !important;
  }

  &:hover {
    background: $bgHover !important;
    color: $primary !important;
    border-color: $borderBright !important;
  }

  &:hover::after {
    color: $primary !important;
    border-color: $borderBright !important;
  }

  &.disabled,
  &:disabled {
    background: $bg2 !important;
    color: $textDim !important;

    &:hover, &:active {
      background: $bgLight !important;
      color: $text !important;
    }
  }

  &.btn_green {
    background: $primary !important;
    color: $textBright !important;
  }

  &.btn_info {
    background-color: $blue !important;
    color: $textBright !important

  }

  &.btn_warning {
    background-color: $orange !important;
    color: $textBright !important

  }

  &.btn_danger {
    background-color: $red !important;
    color: $textBright !important

  }

  &.btn_twitter {
    background-color: #55acee !important;
    color: $textBright !important

  }

  &.btn_facebook {
    background-color: #3b5998 !important;
    color: $textBright !important

  }

  &.btn_transparent {
    background-color: transparent !important;
  }

  &.btn_success {
    background-color: $green !important;
    color: $textBright !important
  }

  &.btn_border {
    border-color: $borderBright !important;
  }
}

.btn.btn_outline {
  background: transparent !important;
  color: $text !important;
  border: 1px solid $bgBright !important;

  &:hover {
    color: $textBright !important;
  }

  &.btn_danger, &.btn_warning {
    background: transparent !important;
  }

  &.btn_danger,
  &.btn_warning,
  &.btn_info {
    &:focus, &:hover {
      background: transparent !important;
    }
  }

  &.btn_warning {
    &:focus, &:hover {
      color: $orange !important;
    }
  }

  &.btn_danger {
    &:focus, &:hover {
      color: $red !important;
    }
  }

  &.disabled {
    color: $textDim !important;
    background: transparent !important;

    &:hover {
      color: $text !important;
    }
  }
}

.btn-primary {
  color: $textBright !important;
  background: $primary !important;
  border: $primary !important;
}

.btn-danger.active,
.btn-info.active,
.btn-inverse.active,
.btn-primary.active,
.btn-success.active,
.btn-warning.active {
  color: $textBright !important
}

.btn_basic {
  color: $accent !important;

  &:focus, &:hover {
    color: $textBright !important;
  }
}

.btn-link {
  color: $primary !important;

  &:focus, &:hover {
    color: $textBright !important;
  }
}

.btn_with_icon {
  .ts_icon, i, ts-icon {
    border-right: 1px solid $bgLight !important;
    background: $bg !important;
  }
}

.btn.dropdown-toggle .caret {
  border-top-color: $primary !important;
}

.btn.btn_attachment {
  background-color: $bg2 !important;
  border: 1px solid $bg2 !important;
  color: $text !important;

  &:focus, &:hover {
    border-color: $borderBright !important;
    color: $primary !important;
  }

  &:active {
    background-color: $bgLight !important;
    border-color: $borderBright !important;
  }

  &.btn_primary {
    background-color: transparent !important;
    border-color: $primary !important;
    color: $primary !important;

    &:focus, &:hover {
      border-color: $primary !important;
    }

    &:active {
      background-color: $primary !important;
      box-shadow: inset 0 1px 1px 0 $primary !important;
      border-color: $primary !important;
      color: $textBright !important;
    }

    &.loading {
      background-color: transparent !important;
      border-color: transparent !important;
      color: $primary !important
    }
  }

  &.btn_danger {
    background-color: transparent !important;
    border-color: rgba(224, 30, 90, 0.5);
    color: #e01e5a;

    &:focus, &:hover {
      border-color: #e01e5a;
    }

    &:active {
      background-color: rgba(224, 30, 90, 0.02) !important;
      box-shadow: inset 0 1px 1px 0 rgba(224, 30, 90, 0.2);
      border-color: #e01e5a;
    }

    &.loading {
      background-color: rgba(224, 30, 90, 0.02) !important;
      border-color: rgba(224, 30, 90, 0.5);
      color: rgba(224, 30, 90, 0.8);
    }
  }
}

// Alerts
.alert {
  background: $bg2 !important;
  color: $accent !important;
  border-color: $bg2 !important;

  h4 {
    color: $accent !important;
  }

  &.alert_warning {
    background: $orange !important;
    color: $textBright !important;
    border-left-color: $orange !important;

    a {
      color: $textBright !important;

      &:hover {
        color: $textBright !important;
      }
    }

    > {
      i:first-of-type, ts-icon:first-of-type {
        color: $orange !important;
      }
    }
  }

  &.alert_info {
    border-left-color: $blue !important;

    a {
      color: $textBright !important;

      &:hover {
        color: $textBright !important;
      }
    }

    > {
      i:first-of-type, ts-icon:first-of-type {
        color: $blue !important;
      }
    }
  }

  &.alert_success {
    border-left-color: $green !important;
    background: $green;

    a {
      color: $textBright !important;

      &:hover {
        color: $textBright !important;
      }
    }

    > {
      i:first-of-type, ts-icon:first-of-type {
        color: $green !important;
      }
    }
  }

  &.alert_error {
    border-left-color: $red !important;
    background: $red !important;

    a {
      color: $textBright !important;

      &:hover {
        color: $textBright !important;
      }
    }

    > {
      i:first-of-type, ts-icon:first-of-type {
        color: $red !important;
      }
    }
  }
}

.alert_page {
  background: $accent !important;
  color: $textBright !important;

  a, a:link, a:visited {
    color: $primary !important
  }
}

.tooltip-inner {
  background: $bg2 !important;
  color: $text !important;
}

.modal-backdrop {
  background: $bg2 !important;
  color: $text !important;
}

.lazy_filter_select .lfs_input_container {
  border-color: $bgLight !important;
  background: $bg !important;
  color: $text !important;
}

.ql-placeholder {
  color: $text !important;
}

.close_flexpane {
  color: $text !important;

  &:focus, &:hover {
    color: $primary !important;
  }
}

.disclosure_triangle {
  color: $text !important;
}

// Highlight words
.c-mrkdwn__mention,
.c-mrkdwn__member--mention,
.c-mrkdwn__broadcast--mention,
.c-mrkdwn__subteam--mention,
.c-mrkdwn__member--link,
.c-mrkdwn__subteam--link,
ts-mention {
  background: $bg2 !important;
  color: $primary !important;
  padding: 4px !important;

  &:hover {
    background: $bgHover !important;
    color: $textBright !important;
    opacity: 0.8 !important;
  }
}
.c-mrkdwn__broadcast--mention,
.c-mrkdwn__broadcast--mention:hover,
.c-mrkdwn__highlight,
.c-mrkdwn__mention,
.c-mrkdwn__mention:hover,
.c-mrkdwn__user_group--mention,
.c-mrkdwn__user_group--mention:hover {
  background: $bgHover !important;
}

// reactions
.c-reaction {
  background: $bgLight !important;
  color: $textAccent !important;
  border: none !important;

  &:hover {
    background: $selection !important;
    color: $textAccent !important;
    box-shadow: 0 0 5px $primaryT !important;
  }

  .c-reaction__count {
    color: $primary !important;
  }

}

.c-reaction_add {
  background: $bg2 !important;
  color: $text !important;
  border-color: $bgLight !important;

  &:hover {
    box-shadow: 0 0 5px $primaryT !important;

    .c-reaction_add__icon--fg {
      color: $black !important;
    }
  }

  .c-reaction_add__icon--fg {
    color: $text !important;
  }
}

// Label for bots
.bot_label {
  padding: 0 4px !important;
  border-radius: 3px !important;
  border: 1px solid $borderBright !important;
  color: $textAccent !important;
  background: $primary !important;
}

// New messages banner
.p-message_pane__unread_banner__banner {
  background: $accent !important;
  color: $textBright !important;
}

// unread
.c-message_list__unread_divider {
  &__separator {
    border-color: $red2 !important;
  }

  &__label {
    background: $red2 !important;
    color: $textBright !important;
  }
}

.member_details_divider {
  border-color: $bgLight !important;
}

// Don't know what are these but they look like mentions
.feature_name_tagging_client {
  .app_preview_link_slug,
  .internal_member_link,
  .internal_user_group_link,
  ts-mention {
    background-color: $accent !important;
    color: $textAccent !important;
  }
}

.very_small_bottom_margin {
  color: $textBright !important;
}

.color_ea2977 {
  color: $primary !important;
}

.close,
.ts_icon_close_filled {
  color: $primary !important;
}

.dropdown-menu {
  background: $bg !important;
  border-color: $textDim !important;
  color: $text !important;
}

.dropdown-submenu {
  &:focus > a,
  &:hover > a {
    color: $textBright !important;
    background-color: $textAccent !important;
  }
}

.dropdown-menu > {
  .active > a {
    color: $textBright !important;
    background-color: $textAccent !important;

    &:focus, &:hover {
      color: $textBright !important;
      background-color: $textAccent !important;
    }
  }

  .disabled > a {
    color: $textDim !important;

    &:focus, &:hover {
      color: $textDim !important;
    }
  }
}

[role=button].focus-ring,
a:not(.c-link--focus-visible).focus-ring,
button:not(.c-button--focus-visible).focus-ring,
#msg_form.focusablesection:focus .sectionfocusindicator,
.focusablesection:focus .sectionfocusindicator {
  box-shadow: 0 0 0 1px $primary, 0 0 0 5px $primary !important;
}


.bordered {
  border: 1px solid $bgLight !important;
}

.top_border {
  border-top: 1px solid $bgLight !important;
}

.bottom_border {
  border-bottom: 1px solid $bgLight !important;
}

.left_border {
  border-left: 1px solid $bgLight !important;
}

.right_border {
  border-right: 1px solid $bgLight !important;
}

.flexpane_grey {
  color: $bg2 !important;
}

.flexpane_grey_bg {
  background-color: $bg2 !important;
}

.mini {
  color: $textDim !important;
}

a.mini {
  color: $primary !important;

  &:link,
  &:visited,
  &:active,
  &:hover {
    color: $primary !important;
  }
}

.inline_color_block {
  border: $bg !important;
}

.well {
  background: $bg2 !important;
  color: $text !important;
  border-color: $bgLight !important;
}

.log_output {
  border-bottom-color: $bgLight !important;
}

.square_icon {
  color: $primary !important;
}

.team_icon {
  color: $primary !important;

  &.default {
    color: $accent !important;
  }
}

.action_cog {
  color: $text !important;

  &:hover {
    color: $textBright !important;

    i {
      color: $textBright !important;
    }
  }
}

.quote_block {
  text: $text !important;

  &:before {
    background: $bg !important;
  }
}

.pager {
  li {
    a, span {
      color: $text !important;
    }
  }

  .disabled {
    a, span {
      color: $textDim !important;
    }
  }
}

.pagination {
  li {
    span, a {
      background: $bg !important;
      border-color: $bgLight !important;
    }
  }

  li > a:focus {
    background: $primary !important;
    color: $textBright !important;
  }

  .active {
    a, span {
      background: $primary !important;
      color: $textBright !important;
    }
  }

  .disabled a,
  .disabled span {
    color: $textDim !important;
    background: $bg !important;

    &:focus {
      color: $textDim !important;
      background: $bg !important;
    }
  }
}

.service_row {
  border-bottom-color: $bgLight !important;
  color: $textDim !important;

  a.summary {
    color: $accent !important;
  }

  .summary strong {
    background: $bg !important;
    color: $accent !important;
  }
}

.service {
  &.open {
    background: $bg2 !important;
    border: 1px solid $bg2 !important;
  }
}

.new_badge {
  background: $accent !important;
  color: $textBright !important;
}

.delete_link {
  color: $red !important;
}

a.delete_link {
  color: $red !important;

  &:hover {
    color: $red2 !important;
  }
}

.no_touch {
  .plastic_select:hover,
  input:hover,
  select:hover,
  textarea:hover {
    border-color: $borderBright !important;
  }
}

.focus {
  border-color: $borderBright !important
}

input.validation_warning,
select.validation_warning,
textarea.validation_warning {
  border: 1px solid $orange !important;
}

input.validation_warning:focus,
select.validation_warning:focus,
textarea.validation_warning:focus {
  border-color: $orange !important;
}

// Close icon
.c-icon_button--light,
.c-icon_button--light.c-button-unstyled,
.c-icon_button--light:link {
  color: $text !important;
}

// Special button with loader
.ladda-button {
  .ladda-spinner,
  .ladda-progress {
    background: $bgLight !important;
  }
}