// Menu at the top right
.menu {
  background: $bg2 !important;
  color: $text !important;
  border-color: $borderDim !important;

  ul li,
  ul li:hover:not(.disabled) {
    i {
      color: $textSpecial !important;
    }

    a:not(.inline_menu_link),
    button:not(.inline_menu_link) {
      color: $text !important;

      .menu_item_details, .prefix, i, ts-icon, &.delete_link {
        color: $text !important;
      }

      .c-menu_item__new_label {
        background: $bg !important;
        color: $primary !important;
      }
    }

    a:not(.inline_menu_link).delete_link {
      color: $red !important;
    }

    &.danger a {
      color: $red !important;
    }

    &.highlighted.danger a {
      background: $red !important;
      color: $textBright !important
    }

    .disabled a,
    .disabled.danger a {
      color: $textDim !important;
    }

    .submenu_caret {
      color: $primary !important
    }

    &.highlighted a:not(.inline_menu_link) {
      background: $accent !important;
      color: $textBright !important;

      .menu_item_details, .prefix, i, ts-icon, &.delete_link {
        color: $textBright !important;
      }
    }
  }

  .menu_item {
    color: $text !important;
  }

  .menu_item_details {
    color: $textDim !important;
  }

  #monkey_scroll_wrapper_for_menu_items_scroller {
    background: $bg !important;
  }

  #menu_items_scroller {
    background: $bg2 !important;
  }

  #menu_list {
    .menu_list_item {
      a {
        color: $text !important;
      }

      &.active a {
        background: $accent !important;
        color: $textBright !important;
      }
    }
  }

  .section_header {
    .header_label {
      color: $text !important;
      background-color: $bg2 !important;
    }

    .header_label_container {
      color: $textDim !important;
    }

    hr {
      border-color: transparent;
    }
  }

  #menu_items {
    .flexpane_menu_item {
      a, a:not(.disabled) {
        background: $bg2 !important;
        color: $text !important;
        border-color: $borderDim !important;
      }
    }

    .flexpane_menu_item.highlighted,
    .flexpane_menu_item:hover {
      a, a:not(.disabled) {
        background: $bgHover !important;
        color: $text !important;
        border: none !important;
      }
    }

    .member_jump_item {
      &:hover a {
        background: $bgHover;
        color: $textBright;
      }
    }

    li {
      a {
        color: $text !important;
      }

      &:hover a {
        background: $bgHover !important;
        color: $textBright !important;
      }
    }
  }

  // Menu section
  .slack_menu_section {
    background: $bg2 !important;

    &::before {
      border-top-color: $borderDim;
    }

    .slack_menu_header_primary,
    .slack_menu_header_secondary {
      color: $textBright;
    }

    .menu_list li {
      &:hover {
        background: $bgHover;

        a {
          background: $bgHover !important;
          color: $textBright;
        }
      }

      a {
        color: $text !important;
      }
    }

  }

  &.submenu_help {
    background: $bg2 !important;
    color: $text !important;
  }

  #menu_header {
    .menu_simple_header {
      background: $bg2 !important;
      color: $text !important;
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    }

    .menu_header_generic {
      background: $bg2 !important;
      color: $textSpecial !important;
    }

    .menu_close {
      color: $text !important;

      &:hover {
        color: $primary !important;
      }
    }

    .menu_simple_header a {
      color: $text !important;

      &:hover {
        color: $primary !important;
      }
    }
  }

  #menu_footer {
    .menu_footer {
      background: $bg2 !important;
      color: $text !important;
      border-color: $bgLight !important;
    }
  }

  .menu_context {
    background: $bg2 !important;
    color: $text !important;
  }

  .menu_filter_container {
    background: $bg !important;
    color: $text !important;


    input.menu_filter {
      border: 1px solid $bgLight !important;

      &:focus {
        border-color: $primary !important;
      }
    }

    .icon_search {
      color: $text !important;
    }

    .icon_close {
      color: $text !important;
    }
  }

  &.team_menu {
    min-width: 240px;
  }

  &.selectable li {
    position: relative;

    a {
      padding-left: 32px;
    }

    &.selected {
      color: #1264a3;

      a {
        color: #1264a3;

        &:hover {
          color: #ffffff;
        }
      }

      &.highlighted a, &:hover {
        color: #ffffff;
      }

      &:before {
        position: absolute;
        top: 1px;
        left: 8px;
        font-family: Slack;
        font-weight: 400;
        font-size: 19px;
        content: "";
      }
    }
  }

  &.onboarding_close_menu {
    -webkit-transform: translate3d(0, 26px, 0);
    -moz-transform: translate3d(0, 26px, 0);
    -ms-transform: translate3d(0, 26px, 0);
    transform: translate3d(0, 26px, 0);

    > .menu_content {
      border-radius: 6px;
    }
  }
}

.menu.avatar_menu {
  a ts-icon {
    color: $primary !important;
  }

  li:hover ts-icon {
    color: $primary !important;
    background: $bg !important;
  }

  li img {
    color: $bg !important;
  }

  li ts-icon {
    color: $bg !important;
    background: $accent !important;
  }
}

.c-menu_item__icon {
  color: $text !important;

  &:hover {
    color: $primary !important;
  }
}

.c-menu_item__header {
  color: $text !important;
}

.c-input_select--active {
  box-shadow: 0 0 0 1px $primary, 0 0 0 5px $primaryT !important;
}

.c-input_select_options_list_container:not(.c-input_select_options_list_container--always-open) {
  background: $bg2 !important;
  color: $text !important;
  border-color: $borderDim !important;

  .c-input_select_options_list__option {
    color: $text !important;

    &--active {
      background: $selection !important;
      color: $textBright !important;
      border: none !important;
    }
  }

  .c-team__name--small,
  .c-unified_member__name--small,
  .c-usergroup__name--small {
    color: $textDim !important;
  }

  .c-team__display-name,
  .c-unified_member__display-name,
  .c-usergroup__handle {
    color: $text !important;
  }
}

#recap_menu_items {
  .recap_description {
    color: $text !important;
  }

  .recap_learn_more {
    color: $primary !important;
  }
}

#toggle-subscription-status {
  .subscription_desc {
    color: $textDim !important;
  }
}

.sounds_menu_option {
  &.highlighted .sound_preview_button,
  &:hover .sound_preview_button {
    background: $accent !important;
    color: $textBright !important;
  }
}