@import "modals/member";

#shortcuts_dialog {
  background: $bg !important;
  color: $text !important;

  h1, h3 {
    color: $textBright !important;
  }

  .shortcut_category {
    border-left-color: $borderDim !important;
  }

  .info_block {
    color: $textDim !important;
  }

  .close {
    background: $bg !important;
    color: $textBright !important;
  }
}

.modal {
  .close {
    color: $text !important;

    &:hover {
      color: $textBright !important;
    }
  }
}

.invite_channels {
  .warning_already_member {
    color: $orange !important;
  }
}

.input_note_special,
.modal_input_note,
.modal_input_note_full_width {
  color: $text !important;
}

.modal_alert_sharing {
  background: $bg2 !important;
  color: $text !important;
  border-color: $borderDim !important;
}

#generic_dialog,
#fs_modal,
.modal,
.modal-header,
.modal-footer {
  background-color: $bg !important;
  color: $text !important;

  h1, h2, h3, h4, h5, h6 {
    color: $textBright !important;
  }

  div, span, label {
    color: $text !important;
  }

  // Buttons (back, close...)
  .fs_modal_btn {
    color: $text !important;

    &:hover {
      background: $bgHover !important;
    }
  }

  // File viewer header
  .fs_modal_file_viewer_header {
    background: transparent !important;

    .control_btn {
      color: $text !important;

    }
  }

  // File Viewer content
  .fs_modal_file_viewer_content {
    background: $bg !important;

    .viewer {
      background-color: $bg !important;
    }
  }

  #fs_modal_sidebar a {
    padding: 10px;
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.01);
    border-radius: 10px;

    &:hover {
      border-color: $borderDim
    }

    &.is_active {
      border-color: $primary;
    }
  }

  #fs_modal_footer {
    background-color: $bg2;
  }

  .ts_icon_times {
    color: $text !important;
  }
}

#generic_dialog,
.basic_share_dialog,
.modal-body,
.modal-header,
.modal-footer {
  background-color: $bg2 !important;
  color: $textBright !important;
}

#fs_modal,
#fs_modal_header {
  background: $bg2 !important;
  color: $text !important;
  * {
    color: $text !important;
  }
}

.dialog_tabs {
  border-bottom-color: $borderDim !important;

  a {
    color: $primary !important;
    border-bottom-color: $borderDim !important;

    &:hover {
      color: $textBright !important;
      background: transparent !important;
      border-bottom-color: $borderBright !important;
    }
  }
}

#at_channel_warning_dialog {
  .channel_members_count_underlay {
    background: $bg2 !important;
    color: $text !important;
    border-color: $borderDim !important;
  }

  .dialog_admin_hint, .dialog_cancel_hint, .dialog_go_hint {
    color: $textDim !important;
  }
}

#convert_to_shared_dialog {
  .title {
    border-bottom-color: $borderDim !important;
  }

  label {
    color: $text !important;
  }
}

// Settings modal
.c-fullscreen_modal__header {
  background: $bg2 !important;
  color: $text !important;
}
.c-fullscreen_modal__content,
.c-fullscreen_modal__body {
  background: $bg !important;
  color: $text !important;
}