
/* Channels */
.creator_link,
.creator_link:hover,
.channel_link {
  color: $text !important;
}

/* Replace the background for all panels */
#channel_topic_text code,
.toolbar_container {
  background: $bg !important;
}

/* All File types active tab */
li.active[class] span {
  color: $primary !important;
  background-color: transparent;
  opacity: 1;
}

#messages_container.has_top_messages_banner:before {
  background: $bg !important;
  color: $text !important;
}

.channel_purpose_text {
  color: $text !important;
}

#convo_container .convo_flexpane_divider .reply_count {
  color: $text !important;
  background-color: $bg !important;
  border: 1px solid $borderBright !important;
  border-radius: 1rem;
}

/* Mentions */
.mention_day_container_div .c-message_list__day_divider__label,
.member_data_table {
  border: 1px solid $borderDim !important;
}

/* Conversations */
#convo_container .convo_flexpane_divider .reply_count {
  border-radius: 10px;
  padding: 0 10px;
}

.mention_day_container_div .day_divider:before {
  background-color: transparent !important;
  border-color: $borderDim !important;
}

.day_container .day_msgs {
  border-top: 1px solid $borderBright !important;
  padding-right: 10px;
  padding-left: 2px;
}

#messages_container::after {
  background: none !important;
}

.rxn,
#col_channels_footer,
.c-message .action_hover_container .btn_msg_action,
.file_container,
.file_container .CodeMirror .CodeMirror-code > div:before,
.file_container .CodeMirror .sssh-line:before,
.file_container .sssh-code .CodeMirror-code > div:before,
.file_container .sssh-code .sssh-line:before,
.search_message_result,
.search_result_with_extract,
#search_filters a {
  background: $bg2 !important;
}

.c-message .action_hover_container .btn_msg_action,
.file_container .CodeMirror .CodeMirror-code > div pre,
.file_container .CodeMirror .sssh-line pre,
.file_container .sssh-code .CodeMirror-code > div pre,
.file_container .sssh-code .sssh-line pre,
.search_message_result .search_message_result_meta a,
.search_message_result .search_message_result_meta .date_links a,
#search_filters.files #filter_files, #search_filters.messages #filter_messages {
  color: $text !important;
  border-color: $borderDim !important;
}

.action_hover_container {
  border: 1px solid $borderDim !important;
}

.ts_tip_float.btn_msg_action:not(:last-child) {
  border-right: 1px solid $borderDim !important;
}

.ts_tip_float.btn_msg_action:hover {
  background-color: $bg !important;
}

#quick_switcher_btn {
  background-color: transparent;
  > i {
    color: $text !important;
  }

  &:hover > i {
    color: $textBright !important;
  }
}

.rxn,
.search_result_with_extract,
.flexbox_client.flexpane_redesign.flex_pane_showing #col_flex,
.search_segmented_control {
  border-color: $borderDim !important;
}

.search_result_with_extract {
  box-shadow: 0 1px 10px $bg2 !important;
}

#quick_switcher_btn:active, #quick_switcher_btn:focus, #quick_switcher_btn:hover {
  background-color: $bg2 !important;
  border-color: $bg2 !important;
}

.feature_name_tagging_client .c-message .mention,
.c-message .mention,
span.match {
  border: 1px solid $borderBright !important;
  background-color: $bg2 !important;
  font-weight: bold;
  padding: 2px 4px;
  margin: 2px;
  border-radius: 10px;
}

.mention > .mention {
  /* I'm assuming this is a Slack bug */
  border: none;
}

.mention_rxn {
  border-radius: 5px;
  margin: 1px 5px;
}

.mention_rxn .mention_rxn_summary .app_preview_link,
.mention_rxn .mention_rxn_summary .member_preview_link,
.mention_rxn .mention_rxn_summary .mention_rxn_summary_members,
.section_content,
.member_data_table a,
.member_data_table span,
.member_info_timezone * {
  color: $text !important;
}

#member_mentions h3 a,
.c-deprecated_button--link {
  color: $primary !important;
}

.c-message a .mention {
  color: $primary !important;
}

#msgs_scroller_div #end_display_div p {
  color: $text;
}

.channels_list_holder ul li a.channel_name,
.channels_list_holder ul li:not(.unread) .group_name,
.channels_list_holder ul li .im_name,
.channels_list_holder ul li .mpim_name,
.channels_list_holder ul li > a:link,
.c-message a.timestamp {
  color: $textDim !important;
}

#channels_scroller.show_which_channel_is_active ul li.active .im_name {
  color: $textBright !important;
}

#msgs_div .unread_divider.no_unreads .divider_label {
  background: $bg !important;
  color: $text !important;
}

#msgs_div .unread_divider.no_unreads hr {
  border-top-color: $borderDim !important;
}

.flexpane_redesign #member_mentions {
  background-color: $bg;
}

.pinned_item .pin_member_name a, .pinned_item {
  color: $text !important;
}

.pinned_item .pinned_message_text .pin_truncate_fade {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, $bg2), color-stop(1, rgba(255, 255, 255, 0)));
}

/* files */
.file_container.generic_container .file_header_meta .meta_hover {
  background-color: transparent !important;
}

.file_preview_action.btn.ts_tip, .file_preview_link.btn.file_comment_link {
  border: 1px solid $borderBright !important;
  background-color: $bgHover !important;
  color: $text !important;
}

.file_preview_action.btn.ts_tip:hover,
.file_preview_link.btn.file_comment_link:hover {
  background-color: $bg !important;
}

/* user mentions for other people */
.app_preview_link_slug.ts_tip,
.internal_member_link.ts_tip,
.internal_user_group_link.ts_tip,
ts-mention.ts_tip {
  color: $textBright !important;
  background: $bg2 !important;
  border: 1px solid $borderDim !important;
  padding: 2px 4px;
  margin: 2px;
  border-radius: 10px;
}

.app_preview_link_slug.ts_tip:hover,
.internal_member_link.ts_tip:hover,
.internal_user_group_link.ts_tip:hover,
ts-mention.ts_tip:hover {
  color: $textBright !important;
  border: 1px solid $borderBright !important;
}

.inline_message_input_container .ql-container.focus,
.inline_message_input_container .ql-container:active {
  border-color: $borderDim !important;
}

/* other */
.special_formatting_quote .quote_bar {
  background: $borderBright !important;
}

#channel_actions_toggle.onboarding,
#details_toggle.onboarding,
#flex_menu_toggle.onboarding,
#recent_mentions_toggle.onboarding,
#stars_toggle.onboarding {
  background: $bg2 !important;
  border: 1px solid $bg2 !important;
}

#details_toggle.active:hover,
#recent_mentions_toggle.active:hover,
#stars_toggle.active:hover {
  background-color: $bgHover !important;
  color: $textBright !important;
}

#details_toggle.active,
#recent_mentions_toggle.active,
#sli_recap_toggle.active,
#stars_toggle.active {
  background-color: $bg2 !important;
  border: 1px solid $borderBright !important;
  color: $borderBright !important;
}

.star_item,
.current_status_input_for_team_menu .current_status_presets {
  border-color: $borderDim !important;
}

#threads_msgs_scroller_div ts-thread .c-message {
  margin: 0 !important;
  border-radius: 10px;
}

.section_rollup:hover:not(.is_active) {
  background: $bgHover !important;
  color: inherit;
}

#threads_msgs_scroller_div .threads_caught_up_divider .divider_line,
#threads_msgs_scroller_div .threads_caught_up_divider .divider_label {
  background-color: $bg2 !important;
  border: 1px solid $borderDim !important;
  color: $text !important;
}

/* unreads */
.unread_empty_state {
  color: $text !important;
}

.unread_group_header,
.sli_briefing, .sli_briefing__header, .sli_briefing__title,
.sli_briefing_view__footer_title, .bottom_mark_all_read,
.c-message__bot_label {
  background-color: $bg !important;
  color: $text !important;
  border-color: $borderDim !important;
}

.unread_group_header button {
  color: $primary !important;
}

/* scroller for threads & unreads */
#threads_msgs_scroller_div:not(.loading):before {
  background: $bg !important;
}

#threads_msgs_scroller_div:not(.loading):before {
  background: none;
}

/* thread side panel */

#mentions_scroller {
  background: $bg !important;
  color: $text !important;
}

/* global (left sidebar) */

#channel_scroll_down, #channel_scroll_up {
  background-color: $bg !important;
  border: 0 1px 1px 1px solid $borderBright !important;
}

#quick_switcher_btn {
  border-color: transparent !important;
}

.lazy_filter_select .lfs_list_container,
.lazy_filter_select .lfs_list .lfs_item.active {
  background-color: $bg2 !important;
}


.flex_pane_showing #col_flex {
  border-color: $borderDim !important;
}

/* setting menu fix */
#fs_modal.prefs_modal .global_notification_block {
  background: transparent !important;
  border: none !important;
}

#fs_modal.prefs_modal .global_notification_block.selected {
  background: transparent;
  border: 1px solid $borderBright !important;
}

.notification_example.mac {
  color: $accent !important;
}

.c-member__name,
.c-member__display-name {
  color: $text !important;
}

.c-member__secondary-name {
  color: $text !important;
  opacity: 0.64;
  font-style: italic;
}

.c-member__title {
  color: $text !important;
  opacity: 0.44;
}

.im_browser_row {
  border-top: none !important;
  &:hover {
    background: $bgHover !important;
  }
}

.supports_css_mask_image .light_theme ts-message .message_content .message_sender {
  font-weight: 900;
  line-height: 18px;
  font-size: large;
  color: $primary !important;
}

feature_archive_deeplink feature_texty winssb light_theme {
  font-weight: 100;
  line-height: 18px;
  font-size: medium;
}

.screenhero_attachment,
.relative,
.selectable_flex_pane_padder {
  background: $bg !important;
  color: $text !important;
}

.comment_body,
.channel_prefs_body,
.comment .special_formatting_quote .content,
.comment_body {
  color: $text !important;
}

.contents_container,
.heading_text,
.ql-blank,
.ql-placeholder,
.inline_block,
.global_prefs_container,
.list_items
.channel_overrides_row,
.contents,
.btn_outline,
.notification_prefs_section .btn_outline,
.p-shortcuts_flexpane__shortcut_title,
.p-shortcuts_flexpane__title,
#prefs_a11y_font_size,
#prefs_a11y_animations,
#whats_new_tab p {
  color: $text !important;
}

.p-shortcuts_flexpane__shortcut:last-of-type {
  border: none;
}

.p-shortcuts_flexpane__shortcut_title {
  padding: 0 !important;
}

.p-shortcuts_flexpane__shortcut {
  border: none;
}

.p-flexpane_header {
  background: $bg !important;
  color: $text !important;
}

.message_body, .file_container, .initial_comment {
  font-weight: lighter !important;
  font-family: var(--font-family) !important;
  margin-left: 20px !important;
}

#search_container.onboarding .search_input_wrapper {
  background: $bg2 !important;
  border: 1px solid $bg2 !important;
}

.help {
  color: $textDim !important;
  border-top-color: $accent !important;

  i.callout {
    color: $accent !important;
  }

  h4 {
    color: $textDim !important;
  }
}

ts-memory-instrument {
  background: $bg !important;
  color: $text !important;
  border-color: $borderDim !important;
}

#recap_nav button {
  background: $bgLight !important;
  color: $text !important;

  &:hover {
    color: $primary !important;
  }


  &.disabled {
    background: $bg2 !important;
    color: $textDim !important;
  }
}

.zoom_level_indicator {
  background: $bg2 !important;
  color: $textBright !important;
}

.message_current_status,
.current_status {
  ts-icon {
    color: $text !important;
  }
}