::-webkit-scrollbar-thumb {
  color: $accent !important;
}

::-webkit-scrollbar-track {
  color: $accent !important;
  background: $accent !important;
}

::-webkit-scrollbar-corner {
  background: $accent !important;
}

.supports_custom_scrollbar {
  &:not(.slim_scrollbar) {
    #app_space_scroller_div,
    #archive_msgs_scroller_div,
    #msgs_scroller_div {
      &::-webkit-scrollbar-thumb, &::-webkit-scrollbar-track {
        color: $bg !important;
      }

      &::-webkit-scrollbar-track, &::-webkit-scrollbar-track, &::-webkit-scrollbar-track {
        background: $bg2 !important;
      }

      &::-webkit-scrollbar-thumb, &::-webkit-scrollbar-thumb, &::-webkit-scrollbar-thumb {
        background: $accent !important;
      }

      &::-webkit-scrollbar-corner, &::-webkit-scrollbar-corner, &::-webkit-scrollbar-corner {
        background: $bg !important;
      }
    }
  }
}


.supports_custom_scrollbar {
  &:not(.slim_scrollbar) .slack_scrollbar_theme {

    &::-webkit-scrollbar-thumb {
      color: $accent !important;
    }

    &::-webkit-scrollbar-track {
      color: $accent !important;
      background: $accent !important;
    }

    &::-webkit-scrollbar-corner {
      background: $accent !important;
    }
  }

  &.slim_scrollbar .slack_scrollbar_theme {
    margin-right: 2px;

    &::-webkit-scrollbar-thumb {
      background-color: $accent !important;
      color: $accent !important;

      &:hover {
        background-color: $accent !important;
      }
    }
  }

  &:not(.slim_scrollbar) .slack_scrollbar {
    &::-webkit-scrollbar-thumb {
      color: $accent !important;
    }

    &::-webkit-scrollbar-track {
      color: $accent !important;
      background: $accent !important;
    }

    &::-webkit-scrollbar-thumb {
      background: $accent !important;
    }

    &::-webkit-scrollbar-corner {
      background: $accent !important;
    }
  }

  &.slim_scrollbar .slack_scrollbar {
    &::-webkit-scrollbar-thumb {
      background-color: $accent !important;
      color: $accent !important;

      &:hover {
        background-color: $accent !important;
      }
    }
  }
}

div::-webkit-scrollbar-track,
#contents_container::-webkit-scrollbar-track,
.lfs_list::-webkit-scrollbar-track {
  display: none !important;
}

div::-webkit-scrollbar-thumb,
.lfs_list::-webkit-scrollbar-thumb,
#contents_container::-webkit-scrollbar-thumb {
  color: transparent !important;
  background-color: transparent !important;
}

/* new scrollbar */
.p-channel_sidebar div.c-custom_scrollbar__thumb_vertical,
.p-channel_sidebar div.c-scrollbar__bar {
  background: $accent !important;
}

.monkey_scroll_bar,
.monkey_scroll_bar_native_scrollbar_shim {
  background: $accent !important;
}

.monkey_scroll_handle_inner {
  border-color: $borderDim !important;
  background: $accent !important;
}

.monkey_scroll_handle_inner {
  border-color: $borderDim !important;
  background: $accent !important;
}

.flex_content_scroller {
  background: $bg !important;
  color: $text !important;
}

.c-scrollbar__bar {
  background: $accent !important;
}