.client_container {
  background: $bg !important;
}

.card,
nav.top.persistent,
nav.top.with_color {
  background: $bg2 !important;
  color: $text !important;
  border-color: $borderDim !important;
}

.find_team_flow_wrapper {
  color: $text !important;

  #get_started_card {
    background: $bg2 !important;
    color: $text !important;
    box-shadow: 0 0 5px $contrast !important;
    border-color: $bgLight !important;
  }

  .team_container {
    background: $bg2 !important;
    color: $text !important;
    border-color: $bgLight !important;

    .team_name {
      color: $textSpecial !important;
    }

    .member_count {
      color: $textDim !important;
    }

    .cta_subdomain {
      color: $text !important;
    }
  }

  .cta_lead {
    border-color: $bgLight !important;

    &:hover {
      background: $selection !important;
      color: $textBright !important;
    }

    .link_head {
      color: $text !important;
    }

    .descrip {
      color: $textDim !important;
    }

    .cta_subdomain {
      color: $primary !important;
    }
  }

  .unstyled_text_button {
    color: $primary !important;
  }
}

#header_plans_nav,
#header_team_nav {
  background: $bg2 !important;
  color: $text !important;
  border-color: $bgLight !important;

  li a:hover,
  li.active a {
    background: $selection !important;
    color: $textBright !important;
  }

  #add_team_option {
    border-top-color: $bgLight !important;
  }

  .team_icon.ts_icon_plus {
    background: $accent !important;
  }
}
