//:root {
//  /* Modify these to change your theme colors: */
//  --primary: #E5C17C;
//  --primaryT: #E5C17C90;
//  --accent: #2979ff;
//  --accentT: #2979ff90;
//  --accent2: #C679DD;
//  --accent2T: #C679DD90;
//  --bg: #282C34;
//  --fg: #979FAD;
//  --text: #767d8c;
//  --selectBg: #3A3F4B;
//  --selectFg: #FFF;
//  --button: #3A3F4B;
//  --secondBg: #2F333D;
//  --disabled: #6B727D;
//  --contrast: #21252B;
//  --active: #383E49;
//  --border: #282C34;
//  --hl: #383D48;
//  --tree: #3A3F4B70;
//  --notif: #282C34;
//  --excluded: #2f3240;
//
//  --yellow: #E5C17C;
//  --green: #98C379;
//  --cyan: #56B6C2;
//  --blue: #61AFEF;
//  --purple: #C679DD;
//  --red: #F07178;
//  --red2: #BE5046;
//  --orange: #D19A66;
//  --orange2: #E5707B;
//  --gray: #59626F;
//  --silver: #ABB2BF;
//  --black: #21252B;
//}
:root {
  --version: '%%GULP_INJECT_VERSION%%';
}

$primary: var(--primary);
$primaryT: var(--primaryT);
$accent: var(--accent);
$accentT: var(--accentT);
$accent2: var(--accent2);
$accent2T: var(--accent2T);
$bg: var(--bg);
$fg: var(--fg);
$text: var(--text);
$selectBg: var(--selectBg);
$selectFg: var(--selectFg2);
$button: var(--button);
$bg2: var(--secondBg);
$disabled: var(--disabled);
$contrast: var(--contrast);
$active: var(--active);
$border: var(--border);
$borderLight: var(--active);
$hl: var(--hl);
$tree: var(--tree);
$notif: var(--notif);
$excluded: var(--excluded);

$yellow: var(--yellow);
$green: var(--green);
$cyan: var(--cyan);
$blue: var(--blue);
$purple: var(--purple);
$red: var(--red);
$red2: var(--red2);
$orange: var(--orange);
$orange2: var(--orange2);
$gray: var(--gray);
$silver: var(--silver);
$black: var(--black);

$headerFont: var(--fontFamily, Slack-Larsseit, Helvetica Neue, Helvetica, Segoe UI, Tahoma, Arial, sans-serif);
$fontFamily: var(--fontFamily, Slack-Lato, appleLogo, sans-serif);
$monoFont: var(--monoFont, Monaco, Menlo, Consolas, 'Courier New', monospace !important);

@import 'core/index';
@import 'core/landing';
@import 'core/fonts';
#mtslack {
  @import 'main/index';
  @import 'app/index';
  @import 'settings/index';

  // Dim sidebar
  .mtslack--dim {
    .p-channel_sidebar__name.p-channel_sidebar__name--away,
    .p-channel_sidebar__name > .p-channel_sidebar__name--away {
      opacity: 0.4 !important;
    }

    .c-icon--presence-offline::before {
      position: absolute;
      content: '';
      width: 24px;
      height: 24px;
      left: -10px;
      top: -8px;
      background: $contrast;
      filter: opacity(0.5);
    }

    .p-channel_sidebar__list .p-channel_sidebar__channel:hover,
    .p-channel_sidebar__list .p-channel_sidebar__link:hover,
    .p-channel_sidebar__list .p-channel_sidebar__close_container:hover,
    .p-channel_sidebar__channel--selected,
    .p-channel_sidebar__channel--selected:hover,
    .p-channel_sidebar__link--selected,
    .p-channel_sidebar__link--selected:hover {
      .c-icon--presence-offline::before {
        position: absolute;
        content: '';
        width: 24px;
        height: 24px;
        left: -10px;
        top: -8px;
        background: $tree;
        filter: opacity(0.5);
      }
    }
  }

  // React overlay
  .mtslack--overlay.ReactModal__Body--open {
    .c-search_modal,
    .c-sk-overlay {
      &:before {
        background: rgba(0, 0, 0, 0.5) !important;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
      }
    }

    .c-dialog {
      background: rgba(0, 0, 0, 0.5) !important;
    }

    .c-coachmark__overlay {
      background-color: rgba(0, 0, 0, 0.25) !important;
    }
  }

  .mtslack--with_presence {
    .p-channel_sidebar__channel_icon_prefix--comfy {
      background: none !important;
      color: $fg !important;
      opacity: 1 !important;

      .p-channel_sidebar__channel--muted & {
        opacity: 0.64 !important;
      }

      .p-channel_sidebar__channel--unread & {
        color: $primary !important;
      }
    }

    .p-channel_sidebar__user_avatar {
      img {
        display: none;
      }

      .p-channel_sidebar__presence_icon {
        &.p-channel_sidebar__presence_icon--on-avatar-border {
          -webkit-text-stroke-width: 0px;
        }

        &.p-channel_sidebar__presence_icon--on-avatar {
          top: 0;
          left: 0;
          margin: 0 1px 0 -4px;

          &::before {
            font-size: 20px;
            line-height: 1;
          }
        }
      }
    }
  }

  .p-ia__view_header .p-classic_nav__model__title__name,
  .p-classic_nav__model__title__name,
  .p-ia__view_header__title {
    font-size: 24px; // todo use tweak for that?
  }
}
